<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)="backArrow()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-product-master-icon-36"></span>
              <div>
                <h2>{{'pw.inventoryMasters.product' | translate}}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{'pw.inventoryMasters.masters' | translate}}
                </h5>
              </div>
            </div>
          </div>
          <div class="col-auto pw-top-heading-container__right-content">
            <button class="pw-btn pw-accent-btn px-5" (click)="getProductCategoryCode('NEW')"
              routerLinkActive="router-link-active">
              {{'pw.productCategory.addNew' | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="row align-items-flex-end">
        <div class="col-auto">
          <div class="pw-mont-semibold-14">
            {{'pw.productCategory.productCategoryLabel' | translate}}
          </div>
        </div>
        <mat-form-field class="col-3 ml-auto pw-search-bar pw-form-field-padding-bottom-0" [formGroup]="searchForm">
          <input #searchBox matInput type="text" placeholder="{{'pw.productCategory.searchLabel' | translate}}"
            class="single-bordered-input" formControlName="searchValue" (keypress)="omit_special_char($event)" />
          <mat-icon matSuffix>
            <span class="pw-i-16 pw-search-icon-16" *ngIf="!searchForm.value.searchValue"></span>
          </mat-icon>
          <mat-icon matSuffix (click)="clearSearch()">
            <span *ngIf="searchForm.value.searchValue" class="pw-i-10 pw-close-icon-16"></span></mat-icon>
        </mat-form-field>
      </div>

      <poss-web-product-category-items [productCategoryDetailsList]="productCategoryListing$ | async"
        [count]="productCategoryCount$ | async" [pageEvent]="productCategoryPageEvent" (paginator)="paginate($event)"
        (productCategoryCode)="getProductCategoryCode($event)">
      </poss-web-product-category-items>
      <div *ngIf="(hasError$ | async)?.code === searchErrorCode && !(productCategoryListing$ | async)?.length"
        class="pw-message pw-text-center mg-t-100">
        {{ 'pw.productCategory.noSearchResultText' | translate }}
      </div>
    </div>
    <poss-web-loader *ngIf="(isLoading$|async)"> </poss-web-loader>
  </div>
</div>
