<ng-container>
  <div [formGroup]="itemForm" class="row pw-list-card">
    <div class="col-auto pw-list-card__item" *ngIf="cart == true">
      <mat-checkbox formControlName="isItemSelected" (change)="selectItem()">
      </mat-checkbox>
    </div>
    <div class="col-auto pw-list-card__item pw-thumbnail-img">
      <poss-web-thumbnail
        [thumbnailSrc]="item.imageURL"
        [imageSrc]="item.imageURL"
        [alt]="item.productCategory"
      >
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>Variant Code - {{ item.itemCode }}</p>
      </poss-web-thumbnail>
    </div>

    <div class="col-auto pw-list-card__item pw-width-120">
      <div class="pw-sub-heading">
        {{ item.itemCode }}
      </div>
      <p>{{ item.lotNumber }}</p>
      <p>{{ item.mfgDate.format('DD-MMM-YYYY') }}</p>
      <p>
        {{ item.itemValue | currency: 'INR' }}
      </p>
    </div>
    <div class=" col-1 pw-list-card__item">
      <div class="pw-sub-heading">{{ item.orderType }}</div>

      <p>{{ item.productGroup }}</p>
      <p>{{ item.productCategory }}</p>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        STN QUANTITY
      </div>
      <input
        type="number"
        class="pw-bg-input-box border-right pw-border-radius-left"
        formControlName="measuredQuantity"
        min="1"
        (keypress)="numberOnly($event)"
        [readonly]="readonlyData"
      />
    </div>
    <div class=" col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        STN WEIGHT
      </div>
      <input
        type="number"
        step="0.001"
        class="pw-bg-input-box border-right"
        formControlName="measuredWeight"
        (keypress)="numberOnly($event)"
        [readonly]="readonlyData"
      />
    </div>

    <div class=" col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        BIN
      </div>
      <input
        type="text"
        class="pw-bg-input-box pw-border-radius-right"
        value="{{ item.binCode }}"
        readonly
      />
    </div>
    <div class="col pw-text-right pw-sub-heading pw-list-card__item">
      <span
        *ngIf="
          itemForm.get('measuredWeight').dirty ||
          itemForm.get('measuredWeight').touched
        "
        class="pw-error-color"
      >
        {{ weightMismatchError }}
      </span>
      <span
        *ngIf="
          itemForm.get('measuredQuantity').dirty ||
          itemForm.get('measuredQuantity').touched
        "
        class="pw-error-color"
      >
        {{ quantityError }}
      </span>
    </div>
  </div>
</ng-container>
