<a
  (click)="
    user.isActive
      ? navigate.emit(user.employeeCode ? user.employeeCode : '')
      : ''
  "
>
  <div class="pw-list-card row">
    <div class="col" [class.disabled-block]="!user.isActive">
      <p class="pw-fourth-color">
        {{ 'pw.usermanagementlist.nameColumnTitle' | translate }}
      </p>
      <div>{{ user.empName ? user.empName : '--' }}</div>
    </div>
    <div class="col" [class.disabled-block]="!user.isActive">
      <p class="pw-fourth-color">
        {{ 'pw.usermanagementlist.empidColumnTitle' | translate }}
      </p>
      <div>{{ user.employeeCode ? user.employeeCode : '--' }}</div>
    </div>
    <div class="col" [class.disabled-block]="!user.isActive">
      <p class="pw-fourth-color">
        {{ 'pw.usermanagementlist.locationcodeColumnTitle' | translate }}
      </p>
      <div>{{ user.locationCode ? user.locationCode : '--' }}</div>
    </div>
    <div class="col" [class.disabled-block]="!user.isActive">
      <p class="pw-fourth-color">
        {{ 'pw.usermanagementlist.typeofroleColumnTitle' | translate }}
      </p>
      <div>
        {{
          user.userType
            ? ((storetype.includes(user.userType)
                ? 'pw.usermanagementlist.boutique'
                : 'pw.usermanagementlist.corporate') | translate)
            : '--'
        }}
      </div>
    </div>
    <div class="col" [class.disabled-block]="!user.isActive">
      <p class="pw-fourth-color">
        {{ 'pw.usermanagementlist.primaryroleColumnTitle' | translate }}
      </p>
      <div>{{ user.roleName ? user.roleName : '--' }}</div>
    </div>

    <div class="col-auto pw-list-card__right-container">
      <div
        class="pw-fourth-color pw-position-text pw-right-icons lock-pointer"
        [class.disabled-block]="!user.isActive || !user.isLocked"
        (click)="
          user.isActive && user.isLocked ? toggleUserLockevent($event) : '';
          $event.stopPropagation()
        "
      >
        <b [id]="user.employeeCode ? user.employeeCode : -1"
          >{{
            (user.isLocked
              ? 'pw.usermanagementlist.lockedQuickAction'
              : 'pw.usermanagementlist.unlockedQuickAction') | translate
          }}&nbsp;</b
        >
        <span
          class="pw-i-32"
          [ngClass]="user.isLocked ? 'pw-lock-icon-32' : 'pw-unlock-icon-32'"
        ></span>
      </div>
    </div>
  </div>
</a>
