<div class="pw-confirmation-box">
  <div class="row pw-confirmation-box__header">
    <div class="col-auto" *ngIf="dialogData.binGroupCode === 'NEW'">
      {{'pw.inventoryConfiguration.createHeading' | translate}}
    </div>
    <div class="col-auto" *ngIf="dialogData.binGroupCode !== 'NEW'">
      {{'pw.inventoryConfiguration.editHeading' | translate}}
    </div>
    <div class="col pw-text-right">
      <a class="sub-heading">
        <span (click)="onClose()" class="pw-i-10 pw-close-icon-16">
        </span>
      </a>
    </div>
  </div>
  <div class="pw-confirmation-box__body">
    <!-- <div class="pw-confirmation-box__body-item">
      <b *ngIf="dialogData.binGroupCode === 'NEW'">
        {{'pw.inventoryConfiguration.createSubHeading' | translate}}
      </b>
      <b *ngIf="dialogData.binGroupCode !== 'NEW'">
        {{'pw.inventoryConfiguration.editSubHeading' | translate}}
      </b>
    </div> -->
    <!-- <div [formGroup]="binGroupDetailsForm" class="row">

                  <mat-form-field class="col-12">
                      <input
                      matInput
                      type="text"
                      placeholder="{{'pw.inventoryConfiguration.binGroupCodeField' | translate}}"
                      class="pw-single-bordered-input"
                      formControlName="binGroupCode"
                      [readonly]="readOnly"
                    />
                    <mat-error
                    *ngIf="
                      this.binGroupDetailsForm.controls.binGroupCode.hasError(
                        'required'
                      )
                    "
                  >
                  {{'pw.inventoryMasterValidation.default_required' | translate}}
                  </mat-error>

                   <mat-error
                  *ngIf="binGroupDetailsForm.controls['binGroupCode'].errors?.minlength"
                >
                  {{ 'pw.inventoryMasterValidation.default_required' | translate }}
                </mat-error>

                <mat-error
                *ngIf="binGroupDetailsForm.controls['binGroupCode'].errors?.maxlength"
              >
                {{ 'pw.inventoryMasterValidation.default_required' | translate }}
              </mat-error>

                  </mat-form-field>


                    <mat-form-field class="col-12">
                        <textarea
                        matInput
                        type="text"
                        placeholder="{{'pw.inventoryConfiguration.descriptionField' | translate}}"
                        class="pw-single-bordered-input"
                        formControlName="description"
                      >
                      </textarea>

                      <mat-error
                      *ngIf="
                        this.binGroupDetailsForm.controls.description.hasError(
                          'required'
                        )
                      "
                    >
                    {{'pw.inventoryMasterValidation.default_required' | translate}}
                    </mat-error>
                    </mat-form-field>
           </div> -->

    <!-- <div class="pw-confirmation-box__footer pw-text-right">
            <div class="row justify-content-end">
              <div class="col-auto" (click)="onClear()">
                  <button class="pw-btn pw-primary-btn"> {{'pw.inventoryConfiguration.clearButton' | translate}}</button>
                </div>
                <div class="col-auto" *ngIf="dialogData.binGroupCode === 'NEW'" (click)="onCreate()">
                  <button [disabled]="this.binGroupDetailsForm.controls['binGroupCode' && 'description' ].invalid"
                  class="pw-btn pw-accent-btn">{{'pw.inventoryConfiguration.saveButton' | translate}} </button>
                </div>

                <div class="col-auto" *ngIf="dialogData.binGroupCode !== 'NEW'" (click)="onCreate()">
                  <button [disabled]="this.binGroupDetailsForm.controls['description'].invalid"
                  class="pw-btn pw-accent-btn">{{'pw.inventoryConfiguration.saveButton' | translate}}</button>
                </div>
              </div>
            </div> -->

    <poss-web-dynamic-form *ngIf="formFields" [style]="currentStyle" [formFields]="formFields" [disabled]="false"
      [enableSubmitOnInvalid]="true" [buttonNames]="['Cancel','Save']" (deleteForm)="deleteButton($event)"
      (addForm)="addButton($event)" (formGroupCreated)="formGroupCreated($event)">
    </poss-web-dynamic-form>

    <poss-web-loader *ngIf=" isLoading$ | async">
    </poss-web-loader>
  </div>
