.pw-bordered-card {
  background: rgba($sixth-color, 0.7);
  border-radius: 5px;
  border: 1px solid $fourth-color;
  margin: 20px 0;

  &__list {
    border-right: 1px solid $fourth-color;
    padding-right: 0;

    &:last-child {
      border-right: none;
    }
  }

  &__list-header {
    border-bottom: 1px solid $fourth-color;
    padding: 12px 0 5px;
    margin: 0;
  }

  &__lists {
    height: 33vh;
    overflow: auto;
  }

  &__list-item {
    font-size: em(18);
    padding: 10px 0;

    &.active {
      color: $fourth-color;
    }
  }

  &__sub-list-item {
    font-size: em(18);
    padding: 5px 0;

    &.active {
      color: $fourth-color;
    }
  }

  &__notification {
    margin: 0 auto;
    font-size: em(20);
    text-transform: uppercase;
    color: $fourth-color;
    font-weight: bold;
    align-self: center;
  }

  &__right-content {
    margin-left: auto;
  }

  &__header {
    font-family: $montserrat;
    font-weight: bold;
    text-transform: uppercase;
    color: $fourth-color;
    padding: 15px;
    border-bottom: 1px solid #7070704d;
  }

  &__accordion {
    text-transform: uppercase;
    padding: 10px 15px;
    border-bottom: 1px solid #7070704d;

    &.active {
      color: $fourth-color;
      border-bottom: 1px solid $fourth-color;
    }
  }

  &__accordion-body {
    border-bottom: 1px solid #7070704d;
  }

  &__accordion-body-head {
    margin: 10px 25px;
    border-bottom: 1px solid #7070704d;
    font-weight: bold;
    padding: 0 0 10px 0;
  }

  &__accordion-body-body {
    margin: 10px 10px;
  }

  &__accordion-item {
    margin-bottom: 10px;
  }
}
