// form-field
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
.mat-option.mat-active {
  background: $primary-color;
}

.pw-bg-input-box {
  background: $primary-color;
  border: none;
  padding: 0 5px;
  border-radius: 5px;
  outline: none;
  height: 35px;
  margin-top: 5px;
  width: 115px;
  font-size: em(12);

  &.bg1-input-box {
    background: $tenth-color;
  }

  &[readonly] {
    background: $ninth-color;
  }
}

.pw-input-group {
  .pw-bg-input-box {
    border-radius: 0;
  }

  .pw-border-radius-left {
    border-radius: 5px 0 0 5px;
  }

  .pw-border-radius-right {
    border-radius: 0 5px 5px 0;
  }

  .border-right {
    border-right: 1px solid #d8d8d7;
  }
}

.pw-checkbox {
  &__label {
    font-size: em(12);
  }
}

.mat-checkbox-frame {
  border-width: 1px !important;
  border-color: $fifth-color;
}

.mat-select-panel {
  margin-top: 25px;
}

.pw-panel-primary {
  &.mat-select-panel {
    background: $fourth-color;

    .mat-active {
      color: $sixth-color;
      background: $seventh-color;
    }

    :hover {
      color: $sixth-color;
      background: $seventh-color;
    }

    .mat-selected {
      color: $sixth-color !important;
      background: $seventh-color !important;
    }
  }
}

.mat-form-field-appearance-outline {
  .mat-form-field-infix {
    padding: 0 0 10px;
  }

  .mat-form-field-outline {
    color: $primary-color;
  }

  .mat-form-field-flex {
    .mat-form-field-outline-thick {
      color: $primary-color;
      opacity: 1;
      background: $primary-color;
      border-radius: 5px;
    }
  }

  &.pw-selectable-dropdown {
    .mat-form-field-flex {
      .mat-form-field-outline-thick {
        background: $fourth-color;
        border-radius: 5px;
        color: $sixth-color;
      }
    }

    .ma-fom-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-outline-end,
    .mat-form-field-outline-start {
      border-color: $fourth-color;
    }

    span {
      color: $sixth-color;
    }

    .mat-select-arrow {
      color: $sixth-color;
    }
  }

  &.mat-form-field-invalid.mat-form-field-invalid {
    .mat-form-field-outline-thick {
      color: $error-color;
      background-color: $error-color;
    }
  }
}

.pw-full-bordered-input-box {
  &.mat-form-field-appearance-outline {
    // width: 145px;

    .mat-form-field-infix {
      padding: 9px 0 6px;
      border-top: none;
    }

    .mat-form-field-flex {
      .mat-form-field-outline-thick {
        color: $fourth-color;
        opacity: 1;
        background: transparent;
        border-radius: 5px;
        //border: 1px solid #ccc;

        .mat-form-field-outline-start,
        .mat-form-field-outline-end {
          border-width: 1px;
        }
      }
    }

    .mat-form-field-outline {
      color: $fourth-color;
    }

    &.mat-form-field-invalid.mat-form-field-invalid {
      .mat-form-field-outline-thick {
        color: $error-color;
      }
    }

    .mat-form-field-subscript-wrapper {
      padding: 0;
      top: 23px;
    }
  }
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: none !important;
}

.mat-form-field {
  &.pw-white-form-field {
    .mat-form-field-ripple,
    .mat-form-field-ripple.mat-accent {
      background-color: $sixth-color;
    }

    .mat-form-field-underline {
      background-color: $sixth-color;
    }
  }
}

.pw-form-field-border-top-0 {
  .mat-form-field-infix {
    border-top: 0;
  }
}

.pw-form-field-padding-bottom-0 {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-infix {
    border-top: 0;
  }

  .mat-form-field-underline {
    bottom: 0;
  }
}

.pw-input-chip-box {
  .pw-search-icon-16 {
    top: 8px;
  }

  .mat-standard-chip {
    min-height: 24px;
    border-radius: 5px;
  }

  .mat-standard-chip.mat-chip-with-trailing-icon {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
    font-size: em(12);
    background: $fourth-color;
    color: $sixth-color;
  }

  .pw-close-icon-16 {
    top: -4px;
  }
}

.pw-radio-btn {
  position: relative;
  top: 2px;

  &__label {
    font-size: em(12);
  }
}

.mat-radio-outer-circle {
  border: 1px solid $secondary-color;
  border-width: 1px !important;
  height: 15px !important;
  left: 3px !important;
  top: 3px !important;
  width: 15px !important;
}

.mat-radio-inner-circle {
  height: 15px !important;
  left: 3px !important;
  top: 3px !important;
  width: 15px !important;
}

.mat-radio-checked {
  .mat-radio-label-content {
    font-weight: bold;
  }
}

.mat-select-panel-wrap {
  flex-basis: 94% !important;
  position: relative;
  left: 6px;
}

.mat-form-field .mat-form-field-label .mat-form-field-required-marker {
  color: $error-color;
}

.mat-placeholder-required.mat-form-field-required-marker {
  color: $error-color;
}

.mat-slide-toggle-bar {
  height: 17px !important;
  background-color: transparent;
  border: 1px solid $secondary-color;
}

mat-slide-toggle {
  position: relative;
  top: -3px;
}

.mat-slide-toggle-thumb {
  height: 15px !important;
  width: 15px !important;
  background-color: #ccc;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: transparent;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $fourth-color;
}

.mat-slide-toggle-thumb-container {
  top: 0 !important;
  height: 15px !important;
  width: 15px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(19px, 0, 0) !important;
}

.mat-checkbox-layout {
  white-space: unset !important;
}

.pw-otp-input {
  background: transparent;
  border: none;
  //border-bottom: 1px solid $fourth-color;
  margin: 0 15px 20px 0;
  width: 40px;
  outline: none;
  text-align: center;
}

textarea {
  resize: none !important;
}
