html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $ibm-plex-condensed;
  overflow-x: hidden;
  line-height: 1.3;
  position: relative;
}

poss-web-top-menu {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $ninth-color;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $fourth-color;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $seventh-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.mat-card {
  &:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }
}

// colors
.pw-primary-color {
  color: $primary-color;
}

.pw-secondary-color {
  color: $secondary-color;
}

.pw-fourth-color {
  color: $fourth-color;
}

.pw-fifth-color {
  color: $fifth-color;
}

.pw-sixth-color {
  color: $sixth-color;
}

.pw-seventh-color {
  color: $seventh-color;
}

.pw-eigth-color {
  color: $eigth-color;
}

.pw-success-color {
  color: $success-color;
}

.pw-error-color {
  color: $error-color;
}

.pw-warning-color {
  color: $warning-color;
}

.pw-error-message {
  color: $error-color;
  font-size: em(12);
}
// end

//width
.pw-w-100 {
  width: 100%;
}
//end

// fonts
.mat-h1,
.mat-headline,
h1 {
  font-family: $montserrat;
  font-size: em(48);
  font-weight: 900;

  span {
    font-family: $montserrat;
    font-size: inherit;
    font-weight: 900;
  }
}

.mat-h2,
.mat-title,
h2 {
  font-family: $montserrat;
  font-size: em(28);
  font-weight: 900;

  span {
    font-family: $montserrat;
    font-size: inherit;
    font-weight: 900;
  }
}

.mat-h3,
.mat-subheading-2,
h3 {
  font-family: $montserrat;
  font-size: em(18);
  font-weight: 900;

  span {
    font-family: $montserrat;
    font-size: inherit;
    font-weight: 900;
  }
}

button {
  font-family: $montserrat;
  font-size: em(14);
  font-weight: 700;

  span {
    font-family: $montserrat;
    font-size: inherit;
    font-weight: 700;
  }
}

h4 {
  font-family: $ibm-plex-condensed;
  font-size: em(16);
  font-weight: 600;

  span {
    font-family: $ibm-plex-condensed;
    font-size: inherit;
    font-weight: 600;
  }
}

h5 {
  font-family: $montserrat;
  font-size: em(14);
  font-weight: 900;

  span {
    font-family: $montserrat;
    font-size: inherit;
    font-weight: 900;
  }
}

h6 {
  font-size: em(12);
  color: $seventh-color;
  font-weight: 100;

  span {
    font-size: inherit;
    color: $seventh-color;
    font-weight: 100;
  }
}

p {
  font-size: em(12);
  font-family: $ibm-plex-condensed;

  span {
    font-size: inherit;
    font-family: $ibm-plex-condensed;
  }
}

.pw-sub-heading {
  font-family: $ibm-plex-condensed;
  font-size: em(12);
  font-weight: 600;
}

.pw-fith-heading {
  font-family: $montserrat;
  font-size: em(12);
}

.pw-font-24 {
  font-size: em(24);
}

.pw-mont-semibold-14 {
  font-family: $montserrat;
  font-size: em(14);
  font-weight: 600;
}

.pw-ibm-font14 {
  font-size: em(14);
  font-weight: 400;
  font-family: $ibm-plex-condensed;
}

.pw-success-message {
  font-weight: 700;
  font-size: em(14);
  color: $success-color;
}

.pw-message {
  font-size: em(16);
  font-weight: 700;
  font-family: $montserrat;
}

.pw-sb {
  font-weight: 600;
}

.pw-font-48 {
  font-size: 48px;
  font-weight: 600;
}

.mg-t-100 {
  margin-top: 100px;
}
// end

// text-alignment
.pw-text-right {
  text-align: right;
}

.pw-text-center {
  text-align: center;
}

.pw-text-left {
  text-align: left;
}

.pw-right-icons {
  width: 100px;
  display: inline-block;
  text-align: right;
}
// end

// active-bar css
.pw-is-active-bar {
  border-bottom: 1px solid $fourth-color;
  position: relative;
}
// end

// disable-style
.pw-disabled {
  opacity: 0.6;
}
// end

// backgrounds
.pw-bg-img {
  position: fixed;
  top: -185px;
  z-index: -1;
  left: -184px;
  max-width: 552px;
}

.pw-body-bg-img {
  background-image: url('./assets/img/landing-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.pw-error-page-bg {
  background-image: url('./assets/img/login-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
}

.pw-success-bg {
  background: $success-color;
  color: $sixth-color;

  span {
    color: $sixth-color;
  }
}

.pw-error-bg {
  background: $error-color;
  color: $sixth-color;

  span {
    color: $sixth-color;
  }
}

.pw-primary-bg {
  background: $fourth-color;
  color: $sixth-color;

  span {
    color: $sixth-color;
  }

  &::placeholder {
    color: $sixth-color;
  }
}
// end

//width
.pw-width-100 {
  width: 100px;
}

.pw-width-120 {
  width: 120px;
}

.pw-width-150 {
  width: 150px;
}

.pw-width-300 {
  width: 300px;
}

.pw-width-65 {
  width: 65px;
}
//end

// borders
.border-right {
  border-right: 0.1px solid #d8d8d7;
}

.border-bottom {
  padding-bottom: 2px;
  border-bottom: 1px solid #d8d8d7;
}

.pw-border-top-golden {
  border-top: 1px solid $fourth-color;
}

.pw-border-bottom-golden {
  border-bottom: 1px solid $fourth-color;
}
// end

//positions
.pw-relative {
  position: relative;
}

.pw-position-text {
  position: relative;
  top: -5px;
}
//end

// buttons
.pw-accent-btn {
  background: $fourth-color;
  color: $sixth-color;
  border: 1px solid $fourth-color;
  border-radius: 5px;
  padding: 8px 12px;
  position: relative;
  min-width: auto !important;

  &:disabled {
    opacity: 0.5;
  }
}

.pw-showmore-btn {
  background: transparent;
  border: 1px solid $fifth-color;
  padding: 7px 10px;
}

.pw-btn {
  border-radius: 5px;
  font-family: $montserrat;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.pw-primary-btn {
  color: $fourth-color;
  border: 1px solid $fourth-color !important;
  padding: 8px 12px;
  background: transparent;

  &:disabled {
    color: $fourth-color !important;
    opacity: 0.5;
    background: #f3f0f0;
  }
}

.pw-cta-btn {
  background: $fourth-color;
  color: $sixth-color;
  border: 1px solid $fourth-color;
  border-radius: 5px;
  padding: 8px 12px;
  position: relative;
  min-width: 200px !important;
}

.pw-small-btn {
  border-radius: 5px;
  font-family: $montserrat;
  font-size: 12px;
  border: 1px solid $fourth-color;
  background: transparent;
  color: $fourth-color;
  padding: 5px;
  margin-top: 10px;

  &.active {
    background: $fourth-color;
    color: $sixth-color;
  }
}
// end

//paginator
.pw-paginator {
  background: transparent;
  font-size: em(12);

  .mat-paginator-icon {
    width: 22px;
  }
}
//end

//filter-tab
.pw-dialog-container__tab {
  .mat-tab-label {
    opacity: 1 !important;
    padding-left: 0;
  }
}

//mat-dialog
.mat-dialog-container {
  padding: 15px !important;
  overflow-x: hidden !important;
  border: 2px solid $fourth-color;
}
//end

//overlay-notification-gutter
.pw-overlay-notification-gutter {
  margin-bottom: 100px;
}
//end

.pw-left-0 {
  left: 0;
}

.align-items-flex-end {
  align-items: flex-end;
}

a {
  cursor: pointer;
}

@media (max-width: 991px) {
  .border-right {
    border-right: none;
  }

  .pw-bold-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pw-body-bg-img {
    background-image: none;
  }

  .pw-bg-img {
    left: -1%;
    max-width: 782px;
    position: fixed;
    top: -35%;
  }

  .pw-overlay-notification-gutter {
    margin-bottom: 150px;
  }
}

@media (max-width: 599px) {
  .container-fluid,
  .mat-toolbar,
  .expansion-panel {
    width: 1050px;
  }

  body {
    overflow-x: auto;
  }
}
