.pw-search-box {
  width: 100%;
  position: relative;

  &__input {
    width: 100%;
    border: none;
    box-shadow: 0 3px 10px #7c5b2e29;
    height: 56px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 33px;
    font-size: em(16);

    &:focus {
      outline: none;
    }
  }

  .pw-search-icon-16 {
    top: 21px;
    left: 10px;
  }
}

.pw-bg-card {
  background: url('./assets/img/masters-card.svg');
  //background: #fff;
  width: 160px;
  height: 185px;
  -webkit-box-shadow: 0 3px 10px #725a2d10; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 3px 10px #725a2d10; /* Firefox 3.5 - 3.6 */
  box-shadow: 0 3px 10px #725a2d10; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  text-transform: uppercase;
  text-align: center;
  padding: 35px 0;
  //border: 3px solid $sixth-color;
  border-radius: 5px;
  margin: 5px 24px 24px 0;

  &:hover,
  &.active {
    border-bottom: 3px solid $fourth-color;
  }

  &__content1 {
    color: $fourth-color;
    text-transform: uppercase;
  }

  &__content2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.pw-bordered-list {
  border-top: 1px solid $fourth-color;

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-content: center;
  }

  &__inline {
    display: inline-block;
  }

  &__card {
    width: 160px;
    height: auto;
    background: $sixth-color;
    margin: 0 24px 24px 0;
    text-transform: uppercase;
    font-size: em(12);
    color: $fourth-color;
    padding: 21px 24px;
    -webkit-box-shadow: 0 3px 6px #00000024; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 3px 6px #00000024; /* Firefox 3.5 - 3.6 */
    box-shadow: 0 3px 6px #00000024; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    text-align: center;
    min-height: 74px;
    border: 1px solid $sixth-color;
    border-radius: 5px;

    &.active,
    &:hover {
      border: 1px solid $fourth-color;
    }
  }

  &__item {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: $fourth-color;
  }

  &.pw-no-border {
    border-top: none;
  }
}

.pw-fixed-width-content {
  width: 160px;
  margin: 5px 24px 24px 0;
  text-align: center;
  padding: 0 10px;
  word-break: break-word;
}
