.pw-slider {
  position: absolute;
  top: -51px;
  right: 30px;

  .pw-slider-btn {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 33%;

    .pw-rounded-btn {
      border-radius: 50%;
      border: 2px solid $fourth-color;
      width: 25px;
      height: 25px;
      font-size: em(12);
      color: $fourth-color;
      font-weight: bold;
      position: relative;
      background: $primary-color;
      z-index: 1;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    &::before {
      position: absolute;
      content: '';
      width: 35px;
      height: 35px;
      border: 1px solid transparent;
      border-radius: 50%;
      top: -5px;
      left: 69px;
      background: $primary-color;
    }

    &::after {
      position: absolute;
      content: '';
      border: 1px solid $fourth-color;
      width: 100%;
      top: 50%;
      left: 0%;
    }

    &.active,
    &:hover {
      .pw-rounded-btn {
        background: $fourth-color;
        color: $sixth-color;
        // width: 35px;
        // height: 35px;
        // border: 5px double $primary-color;
      }

      &::before {
        border: 1px solid $fourth-color;
        z-index: 1;
      }

      &::after {
        border: 2px solid $fourth-color;
      }
    }

    &:first-child {
      &::after {
        border: none;
      }
    }
  }
}
