<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-1"></div>
    <div class="col-12 col-lg-10">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a (click)="back()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-upload-icon-36"></span>
              <div>
                <h2>{{ 'pw.fileUpload.uploadTitle' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.fileUpload.uploadSubTitle' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-2"></div>
      <div class="row align-items-baseline">
        <div class="col-auto">
          <input
            class="pw-hidden"
            type="file"
            (change)="uploadFile($event)"
            #fileInput
          />
          <button class="pw-btn pw-primary-btn" (click)="fileInput.click()">
            {{ 'pw.fileUpload.uploadTitle' | translate }}
          </button>
          <!-- <button
            class="pw-btn pw-primary-btn ml-2"
            type="button"
            (click)="invoiceUpload()"
          >
            {{ 'pw.fileUpload.invoiceButtonText' | translate }}
          </button>
          <button
            class="pw-btn pw-primary-btn ml-2"
            type="button"
            (click)="STNUpload()"
          >
            {{ 'pw.fileUpload.STNButtonText' | translate }}
          </button> -->
        </div>
      </div>
      <!-- loader -->
      <poss-web-loader *ngIf="(isLoading$ | async)"> </poss-web-loader>
      <!-- <div class="mt-3">
        <span class="pw-i-16 pw-warning-icon-16"></span> Uploading failed due to
        ﬁle error. Correct the below listed errors and upload the ﬁle again.
      </div>
      <div class="pw-list-card row">
        <div class="col-3">
          Variant Code
        </div>
        <div class="col-3">
          Lot number
        </div>
        <div class="col-6 pw-error-color">
          Variant code is having space and not matching with standards.
        </div>
      </div>
      <div class="pw-list-card row">
        <div class="col-3">
          Variant Code
        </div>
        <div class="col-3">
          Lot number
        </div>
        <div class="col-6 pw-error-color">
          Variant code is having space and not matching with standards.
        </div>
      </div>
      <div class="pw-list-card row">
        <div class="col-3">
          Variant Code
        </div>
        <div class="col-3">
          Lot number
        </div>
        <div class="col-6 pw-error-color">
          Variant code is having space and not matching with standards.
        </div>
      </div>
      <div class="pw-list-card row">
        <div class="col-3">
          Variant Code
        </div>
        <div class="col-3">
          Lot number
        </div>
        <div class="col-6 pw-error-color">
          Variant code is having space and not matching with standards.
        </div>
      </div> -->
    </div>
  </div>
</div>
