<div
  class="container-fluid "
  [class.overlay-notifiaction-gutter]="hasNotification"
>
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item align-items-center mb-3">
          <div class="col-auto pr-0">
            <a>
              <span
                (click)="back()"
                class="pw-i-24 pw-back-arrow-icon-24"
              ></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-issue-stock-icon-36"></span>
              <div>
                  <h2>{{ 'pw.otherReceiptsIssues.title' | translate }}</h2>
                  <h5
                    class="pw-top-heading-container__sub-heading pw-fith-heading"
                  >
                    {{ 'pw.otherReceiptsIssues.receiptLableText' | translate }}
                  </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mb-3">{{otherIssuesTabEnumRef.PSV}}</h3>
        <poss-web-search-list
          placeholder="Start scanning or start typing with Variant code"
          [itemList]="psvSearchedItems$ | async"
          (search)="onSearch($event)"
          [multipleSelection]="true"
          (selected)="addToCart($event)"
          [hasResults]="!((hasSearchedPSVItem$|async)&&
                           (psvSearchedItems$ | async)?.length==0
                          && !isItemsInCart)"
        >
          <ng-template let-item="data">
            <poss-web-psv-receipt-item
              [item]="item"
              [hasRemove]="false"
              [selectionEvents]="selectionAllSubject.asObservable()"
            >
            </poss-web-psv-receipt-item>
          </ng-template>
        </poss-web-search-list>
      <div
      class="row pw-filter-box align-items-flex-end"
    >
      <div class="col-lg-7">
        <div class="row" [formGroup]="selectForm">
          <mat-radio-group
            aria-label="Select an option"
            class="col-auto"
            (change)="selectChange()"
            formControlName="selectRadioButton"
          >
            <mat-radio-button value="1" class="mr-3">
              <p>Select all products</p>
            </mat-radio-button>
          </mat-radio-group>
          <div class="col-auto ml-auto ml-lg-0">
            <a (click)="clearAll()">
              <p>
                <span class="pw-i-16 pw-clear-icon-16"></span>
                Clear All
              </p>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-5 mt-2 mt-lg-0">
        <div
          class="row pw-filter-box__right-content"
        >
          <!-- <div class="col-auto ml-lg-auto">
            <a (click)="sortByWeight()">
              <p>
                <span
                  class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"
                ></span>
                Sort by Weight
              </p>
            </a>
          </div> -->
          <div class="col-auto">
            <a (click)="openFilter()">
              <p>
                <span
                  class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"
                ></span>
                Filter
              </p>
            </a>
          </div>
          <div class="col-auto">
              <a (click)="openSort()">
                <p>
                  <span
                    class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"
                  ></span>
                  Sort
                </p>
              </a>
          </div>
          <poss-web-search
            class="col-lg-6 col-4 ml-auto ml-lg-0"
            placeholder="{{ 'pw.otherReceiptsIssues.searchByVariantCodePlaceholderText' | translate }}"
            (search)="searchInCart($event)"
            (clear)="clearSearchItems()"
          >
          </poss-web-search>
        </div>
      </div>
    </div>
    <poss-web-loader
        *ngIf="
          (isSearchingPSVItem$ | async) ||
          (isloadingPSV$ | async)
        "
      >
      </poss-web-loader>
      <poss-web-psv-receipt-item-list
      *ngIf="searchedPSVItemsInCartResults.length ===0 &&
             !hideSearchResults"
        [itemList]="itemList"
        (updateItem)="updateItems($event)"
        (removeItem)="removeItem($event)"
        [hasRemove]="true"
        (selection)="selectionEmit($event)"
        [selectionEvents]="selectionAllSubject.asObservable()"
        [binCodes]="binCodes"
        [binGroupCode]="binGroupCode"
      >
      </poss-web-psv-receipt-item-list>
     <!--  <poss-web-psv-receipt-item-list
        *ngIf="searchedPSVItemsInCartResults.length !==0"
        [itemList]="searchedPSVItemsInCartResults"
        (updateItem)="updateItems($event)"
        (removeItem)="removeItem($event)"
        [hasRemove]="true"
        (selection)="selectionEmit($event)"
        [selectionEvents]="selectionAllSubject.asObservable()"
      >
      </poss-web-psv-receipt-item-list> -->
      <div *ngIf="!hideSearchResults&&
                   (itemsInCart$|async)?.length==0"
           class="pw-success-color pw-message pw-text-center mg-t-100">
           {{'pw.otherReceiptsIssues.noProductsText'| translate}}
      </div>
      <div *ngIf="allItemsInCart?.length!==0 &&
                  itemList?.length==0"
           class="pw-success-color pw-message pw-text-center mg-t-100">
           {{'pw.otherReceiptsIssues.noDataFoundText'| translate}}
      </div>
    </div>
  </div>
</div>
