<div class="pw-list-header">
  <div class="row align-items-baseline">
    <div class="col-auto">
      <h5 class="pw-list-header__left-content">
        {{ 'pw.usermanagementform.employeedetailsTabText' | translate }}
      </h5>
    </div>
    <div class="row col-auto pw-list-header__right-content" *ngIf="user">
      <div class="col-auto">
        <p
          class="pw-fourth-color lock-icon"
          [class.disabled-block]="!userForm.controls['islocked'].value"
          (click)="
            userForm.controls['islocked'].value
              ? userForm.patchValue({
                  islocked: !userForm.controls['islocked'].value
                })
              : ''
          "
        >
          <b
            >{{
              (userForm.controls['islocked'].value
                ? 'pw.usermanagementform.lockedQuickAction'
                : 'pw.usermanagementform.unlockedQuickAction') | translate
            }}&nbsp;</b
          >
          <span
            class="pw-i-32"
            [ngClass]="
              userForm.controls['islocked'].value
                ? 'pw-lock-icon-32'
                : 'pw-unlock-icon-32'
            "
          ></span>
        </p>
      </div>
    </div>
  </div>
</div>

<form novalidate (ngSubmit)="validateForm()" [formGroup]="userForm">
  <div class="row">
    <div class="col-lg-3">
      <div class="pw-form-card pw-height-full">
        <mat-form-field class="user-form-fields">
          <input
            matInput
            maxlength="15"
            required
            [readonly]="user?.employeeCode.length > 0"
            placeholder="{{
              'pw.usermanagementform.employeeidPlaceholderText' | translate
            }}"
            formControlName="empid"
          />

          <mat-error *ngIf="userForm.get('empid').hasError('required')"
            >{{
              'pw.usermanagementform.employeeidRequiredErrorMessage' | translate
            }}
          </mat-error>
          <mat-error *ngIf="userForm.get('empid').hasError('pattern')"
            >{{
              'pw.usermanagementform.employeeidInvalidErrorMessage' | translate
            }}
          </mat-error>
          <mat-error
            *ngIf="
              userForm.get('empid').hasError('maxlength') &&
              !userForm.get('empid').hasError('pattern')
            "
            >{{
              'pw.usermanagementform.employeeidMaxLengthErrorMessage'
                | translate
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field
          *ngIf="userForm.controls['roletype'].value === 'BTQ'"
          class="user-form-fields"
        >
          <input
            matInput
            required
            [readonly]="isBTQUser"
            (blur)="locationCodeChange($event)"
            placeholder="{{
              'pw.usermanagementform.locationdetailsPlaceholderText' | translate
            }}"
            formControlName="locationcode"
          />

          <mat-error *ngIf="userForm.get('locationcode').hasError('required')">
            {{
              'pw.usermanagementform.locationdetailsRequiredErrorMessage'
                | translate
            }}
          </mat-error>
          <mat-error
            *ngIf="
              !validLocationCode &&
              !userForm.get('locationcode').hasError('required')
            "
          >
            {{
              'pw.usermanagementform.locationdetailsInvalidErrorMessage'
                | translate
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form-fields">
          <input
            matInput
            required
            maxlength="80"
            placeholder="{{
              'pw.usermanagementform.employeenamePlaceholderText' | translate
            }}"
            formControlName="fullname"
          />

          <mat-error
            *ngIf="
              userForm.get('fullname').hasError('maxlength') &&
              !userForm.get('fullname').hasError('pattern')
            "
            >{{
              'pw.usermanagementform.employeenameMaxLengthErrorMessage'
                | translate
            }}
          </mat-error>
          <mat-error *ngIf="userForm.get('fullname').hasError('required')"
            >{{
              'pw.usermanagementform.employeenameRequiredErrorMessage'
                | translate
            }}
          </mat-error>
          <mat-error *ngIf="userForm.get('fullname').hasError('pattern')"
            >{{
              'pw.usermanagementform.employeenameInvalidErrorMessage'
                | translate
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form-fields">
          <input
            matInput
            (click)="DOB.open()"
            placeholder="{{
              'pw.usermanagementform.dateofbirthPlaceholderText' | translate
            }}"
            [min]="maxPastDate"
            [max]="currentDate"
            [matDatepicker]="DOB"
            formControlName="dateofbirth"
          />
          <mat-icon matSuffix class="cal-icon" (click)="DOB.open()">
            <span class="pw-i-12 pw-calender-icon-12"></span>
          </mat-icon>
          <mat-datepicker #DOB></mat-datepicker>

          <mat-error *ngIf="userForm.get('dateofbirth').invalid">
            {{
              'pw.usermanagementform.dateofbirthInvalidErrorMessage' | translate
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form-fields">
          <input
            matInput
            type="tel"
            required
            maxlength="10"
            placeholder="{{
              'pw.usermanagementform.mobilenoPlaceholderText' | translate
            }}"
            formControlName="mobile"
            (blur)="
              user?.mobileNo !== $event.target.value
                ? validateEmailMobile.emit({
                    MOBILE: $event.target.value
                  })
                : ''
            "
          />

          <mat-error
            *ngIf="
              userForm.get('mobile').hasError('maxlength') &&
              !userForm.get('mobile').hasError('pattern')
            "
            >{{
              'pw.usermanagementform.mobilenoMaxLengthErrorMessage' | translate
            }}
          </mat-error>
          <mat-error
            *ngIf="
              userForm.get('mobile').hasError('minlength') &&
              !userForm.get('mobile').hasError('pattern')
            "
            >{{
              'pw.usermanagementform.mobilenoMinLengthErrorMessage' | translate
            }}
          </mat-error>
          <mat-error *ngIf="userForm.get('mobile').hasError('required')"
            >{{
              'pw.usermanagementform.mobilenoRequiredErrorMessage' | translate
            }}
          </mat-error>
          <mat-error
            *ngIf="
              !validMobile &&
              !(
                userForm.get('mobile').hasError('maxlength') ||
                userForm.get('mobile').hasError('minlength') ||
                userForm.get('mobile').hasError('required') ||
                userForm.get('mobile').hasError('pattern')
              )
            "
            >{{
              'pw.usermanagementform.mobilenoUniqueErrorMessage' | translate
            }}
          </mat-error>
          <mat-error *ngIf="userForm.get('mobile').hasError('pattern')"
            >{{
              'pw.usermanagementform.mobilenoInvalidErrorMessage' | translate
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form-fields">
          <input
            matInput
            type="email"
            placeholder="{{
              'pw.usermanagementform.emailPlaceholderText' | translate
            }}"
            formControlName="email"
            (blur)="
              user?.emailId !== $event.target.value
                ? validateEmailMobile.emit({
                    EMAIL: $event.target.value
                  })
                : null
            "
          />
          <mat-error *ngIf="userForm.get('email').hasError('email')"
            >{{ 'pw.usermanagementform.emailInvalidErrorMessage' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('email').hasError('pattern')"
            >{{
              'pw.usermanagementform.emailInvalidPatternErrorMessage'
                | translate
            }}
          </mat-error>
          <mat-error
            *ngIf="
              !validEmail &&
              !(
                userForm.get('email').hasError('email') ||
                userForm.get('email').hasError('pattern')
              )
            "
            >{{ 'pw.usermanagementform.emailUniqueErrorMessage' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="pw-form-card pw-height-full">
        <mat-form-field class="user-form-fields">
          <input
            matInput
            required
            maxlength="100"
            placeholder="{{
              'pw.usermanagementform.addressPlaceholderText' | translate
            }}"
            formControlName="address"
          />
          <mat-error *ngIf="userForm.get('address').hasError('pattern')"
            >{{
              'pw.usermanagementform.addressInvalidErrorMessage' | translate
            }}
          </mat-error>
          <mat-error *ngIf="userForm.get('address').hasError('required')"
            >{{
              'pw.usermanagementform.addressRequiredErrorMessage' | translate
            }}
          </mat-error>
          <mat-error
            *ngIf="
              userForm.get('address').hasError('maxlength') &&
              !userForm.get('address').hasError('pattern')
            "
            >{{
              'pw.usermanagementform.addressMaxLengthErrorMessage' | translate
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form-fields">
          <input
            matInput
            required
            maxlength="50"
            placeholder="{{
              'pw.usermanagementform.cityPlaceholderText' | translate
            }}"
            formControlName="city"
          />
          <mat-error *ngIf="userForm.get('city').hasError('pattern')"
            >{{ 'pw.usermanagementform.cityInvalidErrorMessage' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('city').hasError('required')"
            >{{ 'pw.usermanagementform.cityRequiredErrorMessage' | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              userForm.get('city').hasError('maxlength') &&
              !userForm.get('city').hasError('pattern')
            "
            >{{ 'pw.usermanagementform.cityMaxLengthErrorMessage' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form-fields">
          <input
            matInput
            required
            maxlength="10"
            placeholder="{{
              'pw.usermanagementform.pincodePlaceholderText' | translate
            }}"
            formControlName="pincode"
          />
          <mat-error *ngIf="userForm.get('pincode').hasError('pattern')"
            >{{
              'pw.usermanagementform.pincodeInvalidErrorMessage' | translate
            }}
          </mat-error>
          <mat-error *ngIf="userForm.get('pincode').hasError('required')"
            >{{
              'pw.usermanagementform.pincodeRequiredErrorMessage' | translate
            }}
          </mat-error>
          <mat-error
            *ngIf="
              userForm.get('pincode').hasError('maxlength') &&
              !userForm.get('pincode').hasError('pattern')
            "
            >{{
              'pw.usermanagementform.pincodeMaxLengthErrorMessage' | translate
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form-fields">
          <mat-label>{{
            'pw.usermanagementform.countryLabelText' | translate
          }}</mat-label>
          <mat-select
            disableOptionCentering
            #country
            required
            (selectionChange)="
              loadStates.emit($event.value);
              userForm.patchValue({
                state: ''
              })
            "
            formControlName="country"
          >
            <mat-option
              *ngFor="let country of countriesList"
              [value]="country.countryCode"
            >
              {{ country.description }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('country').hasError('required')"
            >{{
              'pw.usermanagementform.countryRequiredErrorMessage' | translate
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form-fields">
          <mat-label>{{
            'pw.usermanagementform.stateLabelText' | translate
          }}</mat-label>
          <mat-select
            required
            disableOptionCentering
            [disabled]="statesList ? statesList.length === 0 : true"
            formControlName="state"
          >
            <mat-option *ngFor="let state of statesList" [value]="state">
              {{ state }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('state').hasError('required')"
            >{{ 'pw.usermanagementform.stateRequiredErrorMessage' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="pw-form-card pw-height-half__upper">
        <div class="pw-form-card__header">
          {{ 'pw.usermanagementform.assignprimaryroleTabText' | translate }}
        </div>
        <mat-form-field class="user-form-fields">
          <mat-label>{{
            'pw.usermanagementform.assignedroleLabelText' | translate
          }}</mat-label>
          <input
            class="select-input"
            readonly
            matInput
            formControlName="roleName"
          />
          <mat-select
            required
            disableOptionCentering
            #role
            (selectionChange)="
              userForm.patchValue({
                role: $event.value,
                roleName: $event.source.triggerValue
              });
              userForm.get('secondaryroleName').updateValueAndValidity()
            "
          >
            <mat-option *ngFor="let role of rolesList" [value]="role.roleCode">
              {{ role.roleName }}
            </mat-option>
          </mat-select>

          <mat-error
            *ngIf="
              userForm.get('roleName').hasError('required') &&
              (userForm.get('roletype').value === 'BTQ'
                ? !userForm.get('locationcode').invalid
                : true)
            "
            >{{
              'pw.usermanagementform.primaryroleRequiredErrorMessage'
                | translate
            }}
          </mat-error>
          <mat-error
            *ngIf="
              userForm.get('locationcode').invalid &&
              userForm.get('roletype').value === 'BTQ'
            "
            >{{
              'pw.usermanagementform.locationdetailsInvalidErrorMessage'
                | translate
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="user-form-fields">
          <mat-label>{{
            'pw.usermanagementform.secondaryroleLabelText' | translate
          }}</mat-label>
          <input
            readonly
            class="select-input"
            matInput
            formControlName="secondaryroleName"
          />
          <mat-select
            disableOptionCentering
            #secondaryrole
            (selectionChange)="secondaryRoleCodeChange($event)"
          >
            <mat-option>{{
              'pw.usermanagementform.nosecondaryroleOptionText' | translate
            }}</mat-option>
            <mat-option
              *ngFor="let secondaryrole of rolesList"
              [value]="secondaryrole.roleCode"
            >
              {{ secondaryrole.roleName }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="userForm.get('secondaryroleName').hasError('samerole')"
            >{{
              'pw.usermanagementform.secondaryroleDuplicateErrorMessage'
                | translate
            }}
          </mat-error>
          <mat-error
            *ngIf="
              userForm.get('locationcode').invalid &&
              userForm.get('roletype').value === 'BTQ'
            "
            >{{
              'pw.usermanagementform.locationdetailsInvalidErrorMessage'
                | translate
            }}
          </mat-error>
        </mat-form-field>
        <div class="row">
          <mat-form-field class="user-form-fields col-6">
            <input
              matInput
              [readonly]="
                user?.secondaryRoleName ===
                  userForm.get('secondaryroleName').value &&
                !!user?.secondarystarttime
                  ? user.secondarystarttime < currentDate
                  : false
              "
              [required]="userForm.get('secondaryroleName').value?.length > 0"
              (click)="fromDate.open()"
              placeholder="{{
                'pw.usermanagementform.fromdatePlaceholderText' | translate
              }}"
              [min]="
                user?.secondaryRoleName ===
                  userForm.get('secondaryroleName').value &&
                !!user?.secondarystarttime &&
                user.secondarystarttime < currentDate
                  ? ''
                  : userForm.get('joiningdate').value < currentDate
                  ? currentDate
                  : userForm.get('joiningdate').value
              "
              [max]="userForm.get('resignationdate').value"
              [matDatepicker]="fromDate"
              formControlName="fromdate"
            />
            <mat-icon matSuffix class="cal-icon" (click)="fromDate.open()">
              <span class="pw-i-12 pw-calender-icon-12"></span>
            </mat-icon>
            <mat-datepicker
              #fromDate
              [disabled]="
                user?.secondaryRoleName ===
                  userForm.get('secondaryroleName').value &&
                !!user?.secondarystarttime
                  ? user.secondarystarttime < currentDate
                  : false
              "
            ></mat-datepicker>

            <mat-error *ngIf="userForm.get('fromdate').hasError('required')">
              {{
                'pw.usermanagementform.fromdateRequiredErrorMessage' | translate
              }}
            </mat-error>
            <mat-error
              *ngIf="
                userForm.get('fromdate').invalid &&
                !userForm.get('fromdate').hasError('required')
              "
            >
              {{
                'pw.usermanagementform.fromdateInvalidErrorMessage' | translate
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="user-form-fields col-6">
            <input
              matInput
              [required]="userForm.get('secondaryroleName').value?.length > 0"
              (click)="toDate.open()"
              placeholder="{{
                'pw.usermanagementform.tilldatePlaceholderText' | translate
              }}"
              [min]="
                currentDate < userForm.get('fromdate').value
                  ? userForm.get('fromdate').value
                  : currentDate
              "
              [max]="userForm.get('resignationdate').value"
              [matDatepicker]="toDate"
              formControlName="tilldate"
            />
            <mat-icon matSuffix class="cal-icon" (click)="toDate.open()">
              <span class="pw-i-12 pw-calender-icon-12"></span>
            </mat-icon>
            <mat-datepicker #toDate></mat-datepicker>
            <mat-error *ngIf="userForm.get('tilldate').hasError('required')">
              {{
                'pw.usermanagementform.tilldateRequiredErrorMessage' | translate
              }}
            </mat-error>
            <mat-error
              *ngIf="
                userForm.get('tilldate').invalid &&
                !userForm.get('tilldate').hasError('required')
              "
            >
              {{
                'pw.usermanagementform.tilldateInvalidErrorMessage' | translate
              }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="pw-form-card pw-height-half__lower">
        <mat-form-field
          *ngIf="!isBTQUser && !user; else roletypeLabel"
          class="user-form-fields"
        >
          <mat-label>{{
            'pw.usermanagementform.typeofrolePlaceholderText' | translate
          }}</mat-label>
          <mat-select
            disableOptionCentering
            required
            readonly
            (selectionChange)="roleTypeChanged($event.value)"
            formControlName="roletype"
          >
            <mat-option value="CORP">
              {{ 'pw.usermanagementform.corporate' | translate }}
            </mat-option>
            <mat-option value="BTQ">
              {{ 'pw.usermanagementform.boutique' | translate }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="userForm.get('roletype').hasError('required')"
            >{{
              'pw.usermanagementform.typeofroleRequiredErrorMessage' | translate
            }}
          </mat-error>
        </mat-form-field>
        <ng-template #roletypeLabel>
          <div class="col-12 form-label">
            <p class="pw-fourth-color">
              {{
                'pw.usermanagementform.typeofrolePlaceholderText' | translate
              }}*
            </p>
            <div>
              {{
                (userForm.controls['roletype'].value === 'BTQ'
                  ? 'pw.usermanagementform.boutique'
                  : 'pw.usermanagementform.corporate') | translate
              }}
            </div>
          </div>
        </ng-template>

        <div class="row">
          <mat-form-field class="user-form-fields col-6">
            <input
              matInput
              (click)="joinDate.open()"
              placeholder="{{
                'pw.usermanagementform.joiningdatePlaceholderText' | translate
              }}"
              [min]="userForm.get('dateofbirth').value"
              [matDatepicker]="joinDate"
              formControlName="joiningdate"
            />
            <mat-icon matSuffix class="cal-icon" (click)="joinDate.open()">
              <span class="pw-i-12 pw-calender-icon-12"></span>
            </mat-icon>
            <mat-datepicker #joinDate></mat-datepicker>

            <mat-error *ngIf="userForm.get('joiningdate').invalid">
              {{
                'pw.usermanagementform.joiningdateInvalidErrorMessage'
                  | translate
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="user-form-fields col-6">
            <input
              matInput
              (click)="resignDate.open()"
              placeholder="{{
                'pw.usermanagementform.resignationdatePlaceholderText'
                  | translate
              }}"
              [min]="userForm.get('joiningdate').value"
              [matDatepicker]="resignDate"
              formControlName="resignationdate"
            />
            <mat-icon matSuffix class="cal-icon" (click)="resignDate.open()">
              <span class="pw-i-12 pw-calender-icon-12"></span>
            </mat-icon>
            <mat-datepicker #resignDate></mat-datepicker>
            <mat-error *ngIf="userForm.get('resignationdate').invalid">
              {{
                'pw.usermanagementform.resignationdateInvalidErrorMessage'
                  | translate
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <p class="pw-fourth-color">
          {{
            'pw.usermanagementform.providelogincredentialsLabelText' | translate
          }}
        </p>
        <mat-radio-group class="row mt-2" formControlName="isLoginActive">
          <div class="col-auto">
            <mat-radio-button value="true">{{
              'pw.usermanagementform.logincredentialstrueOptionText' | translate
            }}</mat-radio-button>
          </div>
          <div class="col-auto">
            <mat-radio-button value="false">{{
              'pw.usermanagementform.logincredentialsfalseOptionText'
                | translate
            }}</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="row justify-content-end pw-footer-btn">
    <div class="col-auto">
      <button
        type="button"
        (click)="
          createUserForm(user); role.value = ''; secondaryrole.value = ''
        "
        class="pw-btn pw-primary-btn"
      >
        {{
          (user
            ? 'pw.usermanagementform.resetButtonText'
            : 'pw.usermanagementform.clearButtonText') | translate
        }}
      </button>
    </div>

    <div class="col-auto">
      <button type="submit" class="pw-btn pw-accent-btn">
        {{
          (user
            ? 'pw.usermanagementform.updateButtonText'
            : 'pw.usermanagementform.addnowButtonText') | translate
        }}
      </button>
    </div>
  </div>
</form>
