<mat-dialog-content class="pw-dialog-container">
    <div  class="pw-dialog-container__header">
        <button mat-icon-button mat-dialog-close="close" class="pw-dialog-container__icon-button">
            <mat-icon>
              <span class="pw-i-10 pw-close-icon-16"></span>
            </mat-icon>
          </button>
        </div>
        <h3 class="pw-dialog-container__title"> {{ translateService.instant('pw.sortPopup.tilte') }}</h3>
        <mat-divider></mat-divider>
  <div class="pw-dialog-container__body">
    <div class="row pw-dialog-container__body-content" *ngFor="let sortType of data.data">
      <mat-checkbox
        #checkbox
        [disabled]="
          selectedSortList.length === data.limit &&
          !checkedSortType(sortType.id)
        "
        [checked]="checkedSortType(sortType.id)"
        class="pw-checkbox__input col-4"
        (change)="updateSortList(sortType, $event)"
      >
        <span class="pw-checkbox__label pw-message">{{
          sortType.sortByColumnName
        }}</span></mat-checkbox
      >

      <mat-radio-group [disabled]="!checkbox.checked" class="col-8 row">
        <mat-radio-button
          [checked]="selectedOrder(sortType.id) === sortOrder"
          *ngFor="let sortOrder of data.description; let i = index"
          [value]="i === 0"
          class="col-6"
          (change)="updateOrderOptions(sortType, $event)"
          >{{ sortOrder }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions class="pw-dialog-container__footer">
  <button
    class="pw-btn pw-primary-btn"
    mat-raised-button
    (click)="selectedSortList = []"
  >
    {{ translateService.instant('pw.sortPopup.clearAction') }}
  </button>
  <button class="pw-btn pw-accent-btn" mat-raised-button (click)="closePopUp()">
    {{ translateService.instant('pw.sortPopup.applyAction') }}
  </button>
</div>
