<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)="backArrow()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>{{'pw.inventoryMasters.product' | translate}}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{'pw.inventoryMasters.masters' | translate}}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-flex-end">
        <div class="col-auto">
          <div class="pw-mont-semibold-14">
            {{ 'pw.itemMaster.itemMasterLabel' | translate }}
          </div>
        </div>

        <mat-form-field class="col-3 ml-auto pw-search-bar pw-form-field-padding-bottom-0" [formGroup]="searchForm">

          <input
          #searchBox
          matInput
           type="text"
           placeholder=" {{
                'pw.itemMaster.itemMastersearchItemCode' | translate
              }}"
              class="single-bordered-input"
              formControlName="searchValue"
              (keypress)="omit_special_char($event)" />

          <mat-icon matSuffix>
            <span class="pw-i-16 pw-search-icon-16" *ngIf="!searchForm.value.searchValue"></span>
          </mat-icon>
          <mat-icon matSuffix (click)="clearSearch()">
            <span *ngIf="searchForm.value.searchValue" class="pw-i-10 pw-close-icon-16"></span></mat-icon>
        </mat-form-field>

      </div>

      <poss-web-items [itemDetailsList]="itemListing$ | async" [count]="itemCount$ | async" [pageEvent]="itemPageEvent"
        (paginator)="paginate($event)" (itemCode)="getItemCode($event)">
      </poss-web-items>
      <poss-web-loader *ngIf="(isLoading$ | async)"> </poss-web-loader>
      <div *ngIf="(itemError$ | async)?.code === searchErrorCode && !(itemListing$ | async)?.length"
        class=" pw-message pw-text-center mg-t-100">
        {{ 'pw.itemMaster.noSearchResultText' | translate }}
      </div>
    </div>
  </div>
</div>
