<mat-sidenav-container class="sidenav-container" role="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="top-navbar__logo">
        <a [routerLink]="['inventory']" class="pw-i-64 pw-logo-icon-64"> </a>
      </span>
      <button class="hamberger" mat-icon-button title="Sub Menu">
        <mat-icon>
          <span class="pw-i-24 pw-menu-icon-24"></span>
        </mat-icon>
      </button>
      <poss-web-top-menu></poss-web-top-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <img src="./assets/img/bg-top.svg" class="pw-bg-img" alt="background_img" />

  <mat-sidenav #sidenav class="sidenav">
    <ul role="navigation" class="poss-web-navbar">
      <li>
        <a
          class="nav-link"
          [routerLink]="['inventory']"
          title="Inventory"
          routerLinkActive="is-active"
        >
          <span class="nav-link-inner">Inventory</span>
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          [routerLink]="['location']"
          title="Inventory"
          routerLinkActive="is-active"
        >
          <span class="nav-link-inner">Location Master</span>
        </a>
      </li>

    </ul>
  </mat-sidenav>
  <main class="sidenav-content" role="main">
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>
