.pw-thumbnail-img {
  width: 60px;
  height: 60px;
  max-width: 100%;
  cursor: pointer;
  border: 1px solid #dcdbdb;
  border-radius: 5px;
}

.pw-popup-img {
  max-height: 400px;
  max-width: 100%;
}
