<img
  class="pw-cursor pw-thumbnail-img"
  [src]="thumbnailSrc"
  (click)="showPopup()"
  (error)="defaultThumbnailImage()"
/>

<ng-template #popUpTemplate>
  <div class="pw-text-right">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>
        <span class="pw-i-10 pw-close-icon-16"></span>
      </mat-icon>
    </button>
  </div>
  <img class="mb-1 pw-popup-img" width="400px" [src]="imageSrc" (error)="defaultImage()" />
  <mat-divider></mat-divider>
  <ng-content></ng-content>
</ng-template>
