<div class="row">
  <div class="col-12 ">
    <div class="row">
      <div class="col-12">
        <div [ngSwitch]="page">
          <div *ngSwitchCase="1">
            <poss-web-residual-amount-step-one
              *ngIf="(residualAmount$ | async) !== (null || undefined || false)"
              [residualAmountS$]="residualAmount$"
              (tabOne)="addButton($event)"
            >
            </poss-web-residual-amount-step-one>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
