<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <!-- <div class="row m-0">
        <div class="pw-search-box">
          <span class="pw-i-16 pw-search-icon-16"></span>
          <input type="text" placeholder="Search Masters" class="pw-search-box__input" />
        </div>
      </div> -->
      <h4 class="pt-5 pb-2">
        {{'pw.inventoryMasters.titleMasterCategory' | translate}}
      </h4>
      <div class="d-flex flex-wrap">
        <a class="pw-bg-card {{ active[0] }}" (click)="productMasters()">
          <div>
            <span class="pw-i-64 pw-product-icon-64"></span>
          </div>
          <h4 class="pw-fourth-color">{{'pw.inventoryMasters.product' | translate}}</h4>
          <p class="mt-1">{{'pw.inventoryMasters.related' | translate}}</p>
        </a>
        <a class="pw-bg-card {{ active[1] }}" (click)="locationMasters()">
          <div>
            <span class="pw-i-64 pw-location-icon-64"></span>
          </div>
          <h4 class="pw-fourth-color">{{'pw.inventoryMasters.location' | translate}}</h4>
          <p class="mt-1">{{'pw.inventoryMasters.related' | translate}}</p>
        </a>
        <!-- <div class="pw-bg-card">
          <div>
            <span class="pw-i-64 pw-customer-icon-64"></span>
          </div>
          <h4 class="pw-fourth-color">Customer</h4>
          <p class="mt-1">Transactions</p>
        </div> -->
        <!-- <div class="pw-bg-card">
          <div>
            <span class="pw-i-64 pw-company-icon-64"></span>
          </div>
          <h4 class="pw-fourth-color">Company</h4>
          <p class="mt-1">Related</p>
        </div> -->
        <!-- <div class="pw-bg-card">
          <div>
            <span class="pw-i-64 pw-discount-icon-64"></span>
          </div>
          <h4 class="pw-fourth-color">Discount</h4>
          <p class="mt-1">Related</p>
        </div> -->

        <a class="pw-bg-card" [routerLink]="[lovMasterRouterLink]">
          <div>
            <span class="pw-i-64 pw-lov-icon-64"></span>
          </div>
          <h4 class="pw-fourth-color">{{'pw.inventoryMasters.listOfValue' | translate}}</h4>
          <p class="mt-1">{{'pw.inventoryMasters.related' | translate}}</p>
        </a>
      </div>
      <div class="pw-bordered-list">
        <div class="pw-bordered-list__container" [hidden]="locationMaster">
          <a [routerLink]="[locationRouterLink]" class="pw-bordered-list__card active">
            <div class="pw-bordered-list__item">
              {{'pw.inventoryMasters.location' | translate}} {{'pw.inventoryMasters.setup' | translate}}
            </div>
          </a>
          <a [routerLink]="[inventoryRouterLink]" class="pw-bordered-list__card ">
            <div class="pw-bordered-list__item">
              {{'pw.inventoryMasters.inventory' | translate}} {{'pw.inventoryMasters.configuration' | translate}}
            </div>
          </a>
          <!-- <a href="#" class="pw-bordered-list__card">
            <div class="pw-bordered-list__item">TAX</div>
          </a> -->
          <!-- <a [routerLink]="['/master/product/productCategory']" class="pw-bordered-list__card">
            <div class="pw-bordered-list__item">
              Product Category
            </div>
          </a> -->
        </div>
        <div class="pw-bordered-list">
          <div class="pw-bordered-list__container" [hidden]="productMaster">
            <a [routerLink]="[productMasterRouterLink]" class="pw-bordered-list__card active">
              <div class="pw-bordered-list__item">
                {{'pw.inventoryMasters.product' | translate}} {{'pw.inventoryMasters.master' | translate}}
              </div>
            </a>
            <!-- <a [routerLink]="" class="pw-bordered-list__card">
              <div class="pw-bordered-list__item">
                PRODUCT ATTRIBUTES
              </div>
            </a>
            <a href="#" class="pw-bordered-list__card">
              <div class="pw-bordered-list__item">PRODUCT PRICING</div>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>