<poss-web-loader *ngIf="(isLoading$ | async)"></poss-web-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container mb-3">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)="back()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>Item</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  Masters
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-3 pw-vertical-tab">
          <ul>
            <li class="mb-4">
              <a [routerLink]="[itemDetailsUrl]" routerLinkActive="active" class="pw-vertical-tab__item ">Item
                details</a>
            </li>
            <!-- <li class="mb-4">
              <a [routerLink]="['itemStones']" routerLinkActive="active"
                class="pw-vertical-tab__item">Stone details</a>
            </li>
            <li class="mb-4">
              <a [routerLink]="['itemMakingCharges']" routerLinkActive="active"
                class="pw-vertical-tab__item">Making charges details</a>
            </li> -->
          </ul>
        </div>
        <div class="col-lg-10 col-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>