<ng-container [formGroup]="form" [ngSwitch]="field.controlType">
  <!-- <div *ngSwitchCase="'datepicker'" [class]="field.label" class="{{ field.classNames.join(' ') }}">
    <mat-form-field class="{{ field.classNames.join(' ') }}">
      <input matInput [matDatepicker]="picker" [formControlName]="field.name" [placeholder]="field.label"
        [id]="field.name">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
  </div> -->

  <div *ngSwitchCase="'datepicker'" [class]="field.label">
    <mat-form-field>
      <!-- [(ngModel)]="datePicker"  -->
      <input matInput [required]="isRequired(field)" [formControlName]="field.name"
        placeholder="{{ field.label | translate }}" [id]="field.name" #dateInput />

      <poss-web-mat-date-picker matSuffix [field]="field" [datetime]="dateInput.value"
        (dateTimeSelectChange)="onDateSelectChange($event)">
      </poss-web-mat-date-picker>
    </mat-form-field>

    <mat-error>
      <poss-web-validation-errors [formId]="field.formId" [controlName]="field.name"
        [validationErrorMessages]="field.validationErrorMessages" [form]="form">
      </poss-web-validation-errors>
    </mat-error>
  </div>

  <div *ngSwitchCase="'datetimepicker'" [class]="field.label">
    <mat-form-field>
      <!-- class="{{ field.classNames.join(' ') }}" -->
      <!-- [(ngModel)]="dateTimePicker"  -->
      <input matInput [required]="isRequired(field)" [formControlName]="field.name"
        placeholder="{{ field.label | translate }}" [id]="field.name" #dateTimeInput />

      <poss-web-mat-datetime-picker matSuffix [field]="field" [datetime]="dateTimeInput.value"
        (dateTimeSelectChange)="onDateTimeSelectChange($event)">
      </poss-web-mat-datetime-picker>
    </mat-form-field>

    <mat-error>
      <poss-web-validation-errors [formId]="field.formId" [controlName]="field.name"
        [validationErrorMessages]="field.validationErrorMessages" [form]="form">
      </poss-web-validation-errors>
    </mat-error>
  </div>

  <div *ngSwitchCase="'text'" [class]="field.label">
    <mat-form-field>
      <input [required]="isRequired(field)" [formControlName]="field.name" placeholder="{{ field.label | translate }}"
        [id]="field.name" matInput />

      <mat-error *ngIf="field.invalid">
        <poss-web-validation-errors [formId]="field.formId" [controlName]="field.name"
          [validationErrorMessages]="field.validationErrorMessages" [form]="form">
        </poss-web-validation-errors>
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngSwitchCase="'outlineinput'" [class]="field.label">
    <div class="row">
      <div class="col-8">
        <label>{{ field.label | translate }}
          <span class="pw-error-color">{{
            isRequired(field) ? '*' : ''
          }}</span></label>
        <p>
          <mat-error>
            <poss-web-validation-errors [formId]="field.formId" [controlName]="field.name"
              [validationErrorMessages]="field.validationErrorMessages" [form]="form">
            </poss-web-validation-errors>
          </mat-error>
        </p>
      </div>
      <mat-form-field appearance="outline" class="col-4 ml-auto pw-full-bordered-input-box">
        <input [required]="isRequired(field)" [formControlName]="field.name" [id]="field.name" matInput />
      </mat-form-field>
    </div>
  </div>

  <div *ngSwitchCase="'textlabel'" [class]="field.label">
    <div class="row">
      <div class="col-7">
        <label>{{ field.label | translate }}
          <span class="pw-error-color">{{
            isRequired(field) ? '*' : ''
          }}</span></label>
        <p>
          <mat-error>
            <poss-web-validation-errors [formId]="field.formId" [controlName]="field.name"
              [validationErrorMessages]="field.validationErrorMessages" [form]="form">
            </poss-web-validation-errors>
          </mat-error>
        </p>
      </div>
      <!-- <mat-form-field appearance="outline" class="col-4 ml-auto pw-full-bordered-input-box {{
          field.classNames.join(' ')
        }}">
        <label [formControlName]="field.name" [id]="field.name"></label>
      </mat-form-field> -->
      <div class="col-5">
        <div class="pw-bordered-text-label">
          {{ field.value }}
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'textarea'" [class]="field.label">
    <mat-form-field>
      <textarea [required]="isRequired(field)" [formControlName]="field.name"
        placeholder="{{ field.label | translate }}" [id]="field.name" matInput>
      </textarea>
      <mat-error>
        <poss-web-validation-errors [formId]="field.formId" [controlName]="field.name"
          [validationErrorMessages]="field.validationErrorMessages" [form]="form">
        </poss-web-validation-errors>
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngSwitchCase="'select'" [class]="field.label">
    <mat-form-field>
      <mat-label>{{ field.label | translate }}</mat-label>

      <mat-select [required]="isRequired(field)" [formControlName]="field.name"
        (selectionChange)="onChange($event, field.name)" (valueChange)="onChange($event, field.name)">
        <mat-option *ngFor="let opt of field.options" [value]="opt.value">
          {{ opt.label | translate }}
        </mat-option>
      </mat-select>

      <mat-error>
        <poss-web-validation-errors [formId]="field.formId" [controlName]="field.name"
          [validationErrorMessages]="field.validationErrorMessages" [form]="form">
        </poss-web-validation-errors>
      </mat-error>
    </mat-form-field>
  </div>

  <!-- <div *ngSwitchCase="'checkbox'" [class]="field.label" class="{{ field.classNames.join(' ') }}">
    <div> <label> {{ field.label }} </label> </div>
    <mat-label [formArrayName]="field.name" *ngFor="let opt of checkBoxArray[field.name]; let i= index"
      class="pw-w-100 pb-2">
      <mat-checkbox class="pl-3 pr-1" [checked]="checkBoxArray[field.name][i].selectedKey" [formControlName]="i"
        [value]="checkBoxArray[field.name][i].value"
       (click)="checkClicked(field.name, i, checkBoxArray[field.name][i].value)"
        >
        {{ checkBoxArray[field.name][i].label }}
      </mat-checkbox>
    </mat-label>
  </div> -->
  <div *ngSwitchCase="'checkbox'" [class]="field.label">
    <div *ngIf="field.label">
      <label> {{ field.label | translate }}</label>
    </div>
    <mat-label [formArrayName]="field.name" *ngFor="let opt of field.options; let i = index"
      class="pw-w-100 mr-3 pb-2 {{ field.classNames.join(' ') }}">
      <!--[class]="field.classNames.join(' ')" -->
      <mat-checkbox [required]="isRequired(field)" class="pl-3 pr-1" [formControlName]="i"
        [value]="field.options[i].value" (click)="
          checkboxClick(field.name, field.options[i].value, field.options, i)
        ">
        {{ opt.label | translate }}
      </mat-checkbox>
    </mat-label>
  </div>

  <div *ngSwitchCase="'radio'" [class]="field.label">
    <div *ngIf="field.label">
      <label> {{ field.label | translate }} </label>
    </div>
    <mat-radio-group [formControlName]="field.name">
      <mat-radio-button [required]="isRequired(field)" *ngFor="let opt of field.options" [value]="opt.value"
        (click)="radioClick(field.name, opt.label)">
        {{ opt.label | translate }}
      </mat-radio-button>
      <mat-error>
        <poss-web-validation-errors [formId]="field.formId" [controlName]="field.name"
          [validationErrorMessages]="field.validationErrorMessages" [form]="form">
        </poss-web-validation-errors>
      </mat-error>
    </mat-radio-group>
  </div>

  <div *ngSwitchCase="'toggle'" [class]="field.label">
    <div *ngIf="field.label">
      <label> {{ field.label | translate }}</label>
    </div>
    <mat-label [formArrayName]="field.name" *ngFor="let opt of field.options; let i = index"
      class="pw-w-100 mr-3 pb-2 {{ field.classNames.join(' ') }}">
      <mat-slide-toggle class="pl-3 pr-1" [formControlName]="i" [required]="isRequired(field)"
        (click)="checkboxClick(field.name, field.options[i].value, field.options, i)">
        {{ opt.label | translate }}
      </mat-slide-toggle>
    </mat-label>
  </div>

  <div *ngSwitchCase="'subForm'" [class]="field.label">
    <div *ngIf="!field.hide" [formGroupName]="field.name">
      <div class="pw-form-card__header">
        {{ field.label | translate }}
      </div>
      <!-- <h4> {{ field.label }} </h4> -->
      <poss-web-dynamic-input *ngFor="let input of field.fields" [field]="input" [form]="form.get(field.name)"
        (selectChange)="innerSelectChange($event)" (radioChange)="innerRadioChange($event)"
        (checkboxChange)="innerCheckboxChanged($event, field.name)"></poss-web-dynamic-input>
    </div>
  </div>
</ng-container>