.lh4 {
  line-height: 4 !important;
}

.pw-bordered-text-label {
  border: 1px solid var(--fourth-color);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  word-wrap: break-word;
  min-height: 35px;
}

mat-form-field {
  width: 100%;
}
