<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a (click)="back($event)">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-issue-stock-icon-36"></span>
              <div>
                <h2>{{'pw.stockIssue.title' | translate}}</h2>
                <div *ngIf="type == 'factory'">
                  <h5 class="pw-top-heading-container__sub-heading pw-fith-heading">
                    {{'pw.stockIssue.toLabelText' | translate}}:
                    {{'pw.stockIssue.factoryLabelText' | translate}} <span class="pw-seventh-color"></span>
                  </h5>
                </div>
                <div *ngIf="type == 'boutique'">
                  <h5 class="pw-top-heading-container__sub-heading pw-fith-heading">
                    {{'pw.stockIssue.toLabelText' | translate}}:
                    {{'pw.stockIssue.boutiqueLabelText' | translate}}<span class="pw-seventh-color"></span>
                  </h5>
                </div>
                <div *ngIf="type == 'merchandise'">
                  <h5 class="pw-top-heading-container__sub-heading pw-fith-heading">
                    {{'pw.stockIssue.fromLabelText' | translate}}:
                    {{'pw.stockIssue.merchandiseLabelText' | translate}}<span class="pw-seventh-color"></span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- grid-card-list  -->

      <div class="row">
        <div class="col-lg-3 col-md-4 col-6 pw-grid-card">
          <div class="pw-grid-card__item pw-is-active-bar">
            <h4>Request No: {{selectedIssue?.reqDocNo}}</h4>
            <div>{{selectedIssue?.destLocationCode}}</div>
            <div class="mt-1">
              <p>{{selectedIssue?.totalAvailableQuantity + selectedIssue?.totalMeasuredQuantity}} Products |
                {{selectedIssue?.totalAvailableValue + selectedIssue?.totalMeasuredValue| currency: 'INR'}}</p>
              <p>
                <!-- {{'pw.stockIssue.fromLabelText' | translate}}: {{selectedIssue?.srcLocationCode}} | -->
                {{selectedIssue?.reqDocDate.format('DD-MMM-YYYY')}}
              </p>
              <div class="row">

                <div class="col-auto pw-text-right">
                  <b>{{selectedIssue?.orderType}}</b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-3">
          <div *ngIf="tab == 1">
            <!-- <div class="p-2">
              <p>
                {{'pw.stockIssue.measuredWeightLabelText' | translate}} : {{selectedIssue?.totalMeasuredWeight}}
                {{selectedIssue?.weightUnit}}
              </p>
              <p class="pt-2">
                {{'pw.stockIssue.measuredValueLabelText' | translate}} :
                {{selectedIssue?.totalMeasuredValue | currency: 'INR'}}
              </p>
            </div> -->
          </div>
        </div>

        <div class="col-lg-7 col-md-5 align-self-flex-end">
          <div class="pb-3 pw-mont-semibold-14">{{'pw.stockIssue.carrierDetailsText' | translate}}</div>
          <form [formGroup]="form">
            <div class="row">
              <mat-form-field class="col-lg-3 col-12">
                <mat-select (selectionChange)="loadForm($event)"
                  placeholder="{{'pw.stockIssue.selectCourierText' | translate}}" required>
                  <mat-option *ngFor="let carrier of courierDetails" [value]="carrier">
                    {{carrier}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="col-lg-9 col-12">
                <div formArrayName="formCollection">
                  <div *ngFor="let form of formList.controls; let i = index;">
                    <ng-container *ngIf="selectedFormName!=='HAND CARRY'; else formTwoBlock">
                      <div [formGroupName]="i" class="row">
                        <mat-form-field class="col-4 ">
                          <input matInput placeholder="{{'pw.stockIssue.courierDocketNumberText' | translate}}"
                            formControlName="courierDocketNumber" required />
                          <mat-error *ngIf=" (form.get('courierDocketNumber').dirty ||
                                                        form.get('courierDocketNumber').touched) &&
                                                        form.get('courierDocketNumber').hasError('required')">
                            {{'pw.stockIssue.formErrorMessageText1' | translate}}
                          </mat-error>
                          <mat-error *ngIf=" (form.get('courierDocketNumber').dirty ||
                                                        form.get('courierDocketNumber').touched) &&
                                                        form.get('courierDocketNumber').hasError('maxlength')">
                            {{'pw.stockIssue.formErrorMessageText2' | translate}}
                          </mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field class="col-4 ">
                          <input matInput class="pw-input-box"
                            placeholder="{{'pw.stockIssue.courierLockNumberText' | translate}}"
                            formControlName="courierLockNumber" required />
                          <mat-error *ngIf=" (form.get('courierLockNumber').dirty ||
                                                            form.get('courierLockNumber').touched) &&
                                                            form.get('courierLockNumber').hasError('required')">
                            {{'pw.stockIssue.formErrorMessageText1' | translate}}
                          </mat-error>
                          <mat-error *ngIf=" (form.get('courierLockNumber').dirty ||
                              form.get('courierLockNumber').touched) &&
                              form.get('courierLockNumber').hasError('maxlength')">
                            {{'pw.stockIssue.formErrorMessageText2' | translate}}
                          </mat-error>
                        </mat-form-field> -->
                        <mat-form-field class="col-4 ">
                          <input matInput class="pw-input-box"
                            placeholder="{{'pw.stockIssue.courierPermitNumber' | translate}}"
                            formControlName="courierRoadPermitNumber" required />
                          <mat-error *ngIf=" (form.get('courierRoadPermitNumber').dirty ||
                              form.get('courierRoadPermitNumber').touched) &&
                              form.get('courierRoadPermitNumber').hasError('required')">
                            {{'pw.stockIssue.formErrorMessageText1' | translate}}
                          </mat-error>
                          <mat-error *ngIf=" (form.get('courierRoadPermitNumber').dirty ||
                              form.get('courierRoadPermitNumber').touched) &&
                              form.get('courierRoadPermitNumber').hasError('maxlength')">
                            {{'pw.stockIssue.formErrorMessageText2' | translate}}
                          </mat-error>
                        </mat-form-field>
                        <div class="col-4 align-self-center">
                          <a class="pw-cta-button" (click)="popMeUp()">
                            <div *ngIf="boxDetails_count===0">Box Details</div>
                            <div *ngIf="boxDetails_count!==0">{{boxDetails_count }} Box Added</div>
                          </a>
                        </div>
                      </div>

                    </ng-container>
                    <ng-template #formTwoBlock>
                      <div [formGroupName]="i" class="row">
                        <!-- <mat-form-field class="col-4 ">
                          <input matInput class="pw-input-box"
                            placeholder="{{'pw.stockIssue.employeeIDText' | translate}}" formControlName="employeeID"
                            required />
                          <mat-error *ngIf=" (form.get('employeeID').dirty ||
                            form.get('employeeID').touched) &&
                            form.get('employeeID').hasError('required')">
                            {{'pw.stockIssue.formErrorMessageText1' | translate}}
                          </mat-error>
                          <mat-error *ngIf=" (form.get('employeeID').dirty ||
                               form.get('employeeID').touched) &&
                               form.get('employeeID').hasError('maxlength')">
                            {{'pw.stockIssue.formErrorMessageText2' | translate}}
                          </mat-error>
                        </mat-form-field> -->


                        <mat-form-field class="col-4">
                          <input type="text" placeholder="Employee ID" aria-label="Number" matInput
                            formControlName="employeeID" (input)="
                                employeeIDChange(form.get('employeeID').value)
                              " [matAutocomplete]="auto" required />
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="
                                  let employeeCode of (employeeCodesResponse$
                                    | async)
                                " [value]="employeeCode" (onSelectionChange)="
                                  employeeIDSelected($event, employeeCode)
                                ">
                              {{ employeeCode }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>



                        <mat-form-field class="col-4 ">
                          <input matInput class="pw-input-box"
                            placeholder="{{'pw.stockIssue.employeeNameText' | translate}}"
                            formControlName="employeeName" [readonly]="isReadOnly" required />
                          <mat-error *ngIf=" (form.get('employeeName').dirty ||
                              form.get('employeeName').touched) &&
                              form.get('employeeName').hasError('required')">
                            {{'pw.stockIssue.formErrorMessageText1' | translate}}
                          </mat-error>
                          <mat-error *ngIf=" (form.get('employeeName').dirty ||
                              form.get('employeeName').touched) &&
                              form.get('employeeName').hasError('maxlength')">
                            {{'pw.stockIssue.formErrorMessageText2' | translate}}
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-4 ">
                          <input matInput class="pw-input-box"
                            placeholder="{{'pw.stockIssue.mobileNoText' | translate}}"
                            formControlName="employeeMobileNumber" [readonly]="isReadOnly" required />
                          <mat-error *ngIf=" (form.get('employeeMobileNumber').dirty ||
                              form.get('employeeMobileNumber').touched) &&
                              form.get('employeeMobileNumber').hasError('required')">
                            {{'pw.stockIssue.formErrorMessageText1' | translate}}
                          </mat-error>
                          <mat-error *ngIf="
                              form.get('employeeMobileNumber').hasError('pattern')||
                              form.get('employeeMobileNumber').hasError('minlength')||
                              form.get('employeeMobileNumber').hasError('maxlength')">
                            {{'pw.stockIssue.formErrorMessageText3' | translate}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid" [class.pw-overlay-notification-gutter]="hasNotification">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">

      <div class="pw-filter-box">
        <div class="row">
          <div class="col-12">
            <ul class="pw-filter-box__sub-head-lists">
              <li class="pw-filter-box__list">
                <a [class.is-active]="tab == 0" class="pw-filter-box__heading is-active" (click)="changeType(0)">
                  {{'pw.stockIssue.listOfProductstabText' | translate}}
                  <span class="pw-fourth-color">({{approvedItemsTotalCount}})</span>
                </a>
              </li>
              <li class="pw-filter-box__list">
                <a [class.is-active]="tab == 1" (click)="changeType(1)" class="pw-filter-box__heading">
                  {{'pw.stockIssue.selectedProductsTabText' | translate}}
                  <span class="pw-fourth-color">({{selectedItemsTotalCount}})</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row align-items-flex-end">
        <div class="col-lg-7">
          <div class="row" [formGroup]="selectForm">
            <div *ngIf="(items$ | async).length>0">
              <mat-radio-group aria-label="Select an option" class="col-auto" (change)="selectChange()"
                formControlName="selectRadioButton">
                <mat-radio-button value="1" class="mr-3"
                  *ngIf="(tab==1 && filterSelectedProducts.length==0) || (tab==0 && filterApprovedProducts.length==0)">
                  <p>{{'pw.stockIssue.selectAllRadioButtonText' | translate}}</p>
                </mat-radio-button>
                <mat-radio-button value="2">
                  <p>{{'pw.stockIssue.selectCurrentPageRadioButtonText' | translate}}</p>
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-auto ml-auto ml-lg-0"
              *ngIf="selectForm.value.selectRadioButton === '1' || selectForm.value.selectRadioButton === '2' || itemIds.length>0">
              <a (click)="clearAll()">
                <p>
                  <span class="pw-i-16 pw-clear-icon-16"></span>
                  {{'pw.stockIssue.clearAllButtonText' | translate}}
                </p>
              </a>
            </div>
            <div class="col-auto" *ngIf="tab==1">
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="row pw-filter-box__right-content">
            <div class="col-auto">
              <a (click)="openFilter()">
                <p>
                  <span class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"></span>
                  {{ 'pw.stockIssue.productFilterLable' | translate }}
                </p>
              </a>
            </div>
            <div class="col-auto">
              <a (click)="openSort()">
                <p>
                  <span class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"></span>
                  {{ 'pw.stockIssue.sortLable' | translate }}
                </p>
              </a>
            </div>
            <poss-web-search class="ml-auto ml-lg-0 col-lg-6 col-4"
              placeholder="{{ 'pw.stockReceive.searchByVariantCodePlaceholderText' | translate }}"
              (search)="searchItems($event)" (clear)="clearSearchItems()">
            </poss-web-search>
          </div>
        </div>
      </div>
      <poss-web-stock-issue-item-list [tab]="tab" [count]="itemsCount$ | async" [itemList]="items$ | async"
        [pageSize]="pageSize" [pageEvent]="issueItemsPageEvent" (selection)="selectionEmit($event)"
        (paginator)="paginateIssueItems($event)" [selectionEvents]="selectionAllSubject.asObservable()"
        (update)="updateItem($event)" (parentFormDirty)="onParentFormDirty($event)">
      </poss-web-stock-issue-item-list>

      <div *ngIf="
                (isItemsLoaded$ | async) &&
                approvedItemsTotalCount === 0 &&
                tab == 0
              " class="pw-success-color pw-message pw-text-center mg-t-100">
        {{ 'pw.stockIssue.noApprovedItemsText' | translate }}
      </div>
      <div *ngIf="
                      (isItemsLoaded$ | async) &&
                      selectedItemsTotalCount === 0 &&
                      tab == 1
                    " class="pw-success-color pw-message pw-text-center mg-t-100">
        {{ 'pw.stockIssue.noProductsSelectedText' | translate }}
      </div>

      <div
        *ngIf="(isItemsLoaded$ | async) && (filterApprovedProducts.length>0 || itemCode) && (items$ | async)?.length==0 &&tab==0 &&((isLoading$ |async)===null || false || undefined) && approvedItemsTotalCount> 0"
        class="pw-success-color pw-message pw-text-center mg-t-100">
        <span class="pw-i-16 pw-success-icon-16"></span>
        {{ 'pw.stockIssue.noProductsFoundMsg' | translate }}
      </div>

      <div
        *ngIf="(isItemsLoaded$ | async) && (filterSelectedProducts.length>0 || itemCode) && (items$ | async)?.length==0 &&tab==1 &&((isLoading$ |async)===null || false || undefined) && selectedItemsTotalCount>0"
        class="pw-success-color pw-message pw-text-center mg-t-100">
        <span class="pw-i-16 pw-success-icon-16"></span>
        {{ 'pw.stockIssue.noProductsFoundMsg' | translate }}
      </div>
      <poss-web-loader
        *ngIf=" (isItemsLoading$ | async)  || (itemsTotalCountLoading$ | async) || (isLoadingSelectedIssue$ | async)">
      </poss-web-loader>
    </div>
  </div>
</div>
<ng-template #confirmSuccessNotificationTemplate>
  <div class="pw-text-center">
    <h3 class="pw-success-color">
      {{ 'pw.stockIssueNotificationMessages.confirmIssueSuccessMessage1' | translate }}
    </h3>
    <div class="pt-2">
      <!-- Check this Bin status in In-Stock management section -->
    </div>
    <h5 class="pw-success-color pt-2">{{ 'pw.stockIssueNotificationMessages.confirmIssueSuccessMessage2' | translate }}
      {{confirmationSrcDocNo}}</h5>
    <!-- <h6 class="pw-success-color pt-2"><span class="pw-i-16 pw-download-icon-16"></span> Download Report</h6> -->
  </div>
</ng-template>
