<div
  class="row pw-list-card"
  [formGroup]="itemForm"
  [ngClass]="disabled === true ? 'pw-disabled' : ''"
>
  <div class="col-auto pw-list-card__item">
    <mat-checkbox
      (change)="onSelectionEmit()"
      formControlName="isSelected"
    ></mat-checkbox>
  </div>
  <div class="col-auto pw-list-card__item pw-thumbnail-img">
    <poss-web-thumbnail
      [thumbnailSrc]="item.imageURL"
      [imageSrc]="item.imageURL"
      [alt]="item.productCategory"
    >
      <p class="pt-3">
        <b>{{ item.productCategory }}</b>
      </p>
      <p>
        {{ 'pw.stockIssueTepGep.variantCodeThumbnailText' | translate }} -
        {{ item.itemCode }}
      </p>
    </poss-web-thumbnail>
  </div>
  <div class="col-auto pw-list-card__item pw-width-120">
    <div class="pw-sub-heading">
      {{ item.itemCode }}
    </div>
    <p>{{ item.lotNumber }}</p>
    <p>{{ item.mfgDate.format(dateFormat$ | async) }}</p>
    <p>{{ item.availableValue | currency: item.currencyCode }}</p>
  </div>
  <div class="col-auto pw-list-card__item col-1">
    <p>{{ item.productGroup }}</p>
    <p>{{ item.productCategory }}</p>
  </div>
  <div class="col-auto pw-list-card__item">
    <div class="pw-sub-heading">
      <span>{{ 'pw.stockIssueTepGep.availableQuantityText' | translate }}</span>
      <span>{{ item.availableQuantity }}</span>
    </div>
    <input
      type="number"
      class="pw-bg-input-box"
      placeholder="{{
        'pw.stockIssueTepGep.availableQuantityPlaceHolderText' | translate
      }}"
      formControlName="totalQuantity"
      readonly
    />
  </div>
  <div class="col-auto pw-list-card__item">
    <div class="pw-sub-heading">
      <span>{{ 'pw.stockIssueTepGep.availableWeightText' | translate }}</span>
      <span>{{ item.availableWeight.toFixed(3) }}</span>
      <span>({{ item.weightUnit }})</span>
    </div>
    <input
      type="text"
      class="pw-bg-input-box"
      placeholder="{{
        'pw.stockIssueTepGep.totalWeightPlaceHolderText' | translate
      }}"
      formControlName="totalWeight"
      readonly
    />
  </div>
  <div class="col-auto pw-list-card__item">
    <div class="pw-sub-heading">
      {{ 'pw.stockIssueTepGep.binText' | translate }}
    </div>
    <input
      type="text"
      class="pw-bg-input-box"
      value="{{ item.binCode }}"
      placeholder="{{ 'pw.stockIssueTepGep.binPlaceHolderText' | translate }}"
      readonly
    />
  </div>
  <div
    class="col-auto pw-list-card__item pw-list-card__right-container pw-text-right"
    *ngIf="item.availableQuantity === 0"
  >
    <div class="pw-error-color">
      <span class="pw-i-16 pw-warning-icon-16"></span>
      {{ 'pw.stockIssueTepGep.outOfStockErrorMessage' | translate }}
    </div>
  </div>
</div>
