<mat-calendar [selected]="selectedDate" (selectedChange)="dateSelected($event)" startView="month" [minDate]="minDate"
    [maxDate]="maxDate">
</mat-calendar>
<mat-divider></mat-divider>

<br>
<div class="row">
    <div class="col">
        <mat-error *ngIf="errorCheck">
            {{ error }}
        </mat-error>
    </div>
    <div class="col">
        <div style="float: right;">
            <button mat-raised-button style="margin-right: 10px;" (click)="onNoClick()">Cancel</button>
            <button mat-raised-button color="primary" (click)="okClick()">Ok</button>
        </div>
    </div>
</div>
