.pw-dialog-container {
  overflow-x: hidden;

  &__header {
    text-align: right;
  }

  &__icon-button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;

    .pw-close-icon-16 {
      left: -2px;
    }
  }

  &__badge {
    background: var(--fouth-color);
    margin-left: 3px;

    .mat-badge-content {
      color: var(--sixth-color);
    }
  }

  &__chip-section {
    margin: 10px 0;
    height: 35px;
  }

  &__chip-box {
    .mat-standard-chip {
      min-height: 24px;
      border-radius: 5px;

      &.mat-chip-with-trailing-icon {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-right: 2px;
        font-size: 0.75em;
        color: var(--sixth-color);
      }
    }

    .pw-close-icon-16 {
      top: -4px;
    }
  }

  &__right-content {
    padding-left: 0;
    padding-top: 7px;
    text-align: right;
  }

  &__body {
    height: 280px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 15px;
  }

  &__body-content {
    margin-bottom: 10px;
  }

  &__footer {
    justify-content: flex-end;
  }
}
