<mat-dialog-content class="pw-dialog-container">
  <div class="pw-dialog-container__header">
    <button
      mat-icon-button
      mat-dialog-close="close"
      (click)="searchSubscription.unsubscribe()"
      class="pw-dialog-container__icon-button"
    >
      <mat-icon>
        <span class="pw-i-10 pw-close-icon-16"></span>
      </mat-icon>
    </button>
  </div>
  <mat-tab-group
    (focusChange)="onTabFocus($event)"
    class="pw-dialog-container__tab"
  >
    <mat-tab *ngFor="let filterType of filterTypes" [label]="filterType">
      <ng-template mat-tab-label>
        <div>{{ filterType }}</div>
        <div
          class="pw-dialog-container__badge"
          matBadge="{{ selectedFilterList[filterType]?.size }}"
          matBadgeOverlap="false"
        ></div>
      </ng-template>
      <div class="row no-gutters" *ngIf="data.showSearch">
        <mat-form-field
          class="col-12 pw-search-bar pw-form-field-padding-bottom-0"
          floatLabel="never"
        >
          <input matInput #searchBox type="text" placeholder="Search" />
          <mat-icon matSuffix>
            <span class="pw-i-16 pw-search-icon-16"></span>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="row no-wrap pw-dialog-container__chip-section no-gutters">
        <div class="col-9">
          <mat-chip-list class="pw-dialog-container__chip-box">
            <mat-tab-group
              class="col-12 group-pad chip-tab-group"
              disableRipple="true"
              backgroundColor="transparent"
            >
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-chip
                    *ngFor="
                      let chipitem of (selectedFilterList[filterType]
                        | keyvalue)
                    "
                    removable="true"
                    (removed)="removeFilterChip(filterType, chipitem.value)"
                    [value]="chipitem.value"
                  >
                    {{ chipitem.value.description }}
                    <mat-icon matChipRemove
                      ><span class="pw-i-10 pw-close-icon-16"></span
                    ></mat-icon>
                  </mat-chip>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </mat-chip-list>
        </div>
        <div
          class="col-3 pw-mont-semibold-14 pw-dialog-container__right-content"
        >
          {{ selectedFilterList[filterType]?.size }} of
          {{ data.filterlimit }} selected
        </div>
      </div>
      <div class="pw-dialog-container__body">
        <div class="row wrap">
          <mat-selection-list
            class="col-12"
            (selectionChange)="updateFilterList(filterType, $event)"
          >
            <ng-container
              *ngFor="let filteritem of filterOptionsData[filterType]"
            >
              <mat-list-option
                #listitem
                checkboxPosition="before"
                *ngIf="filteritem.description"
                [disabled]="
                  selectedFilterList[filterType]?.size === data.filterlimit &&
                  !listitem.selected
                "
                [selected]="selectedFilterList[filterType].get(filteritem.id)"
                [value]="filteritem"
              >
                {{ filteritem.description }}
              </mat-list-option>
            </ng-container>
          </mat-selection-list>
          <h3
            class="col-12 mg-t-100 pw-text-center"
            *ngIf="filterOptionsData[filterType].length === 0"
          >
            {{
              translateService.instant(
                'pw.filterPopup.emptyfilterdatasourcelistMessage'
              )
            }}
          </h3>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<div mat-dialog-actions class="pw-dialog-container__footer">
  <button
    class="pw-btn pw-primary-btn"
    mat-raised-button
    (click)="selectedFilterList[currentFilterType].clear()"
  >
    {{ translateService.instant('pw.filterPopup.clearAction') }}
  </button>
  <button class="pw-btn pw-accent-btn" mat-raised-button (click)="closePopUp()">
    {{ translateService.instant('pw.filterPopup.applyAction') }}
  </button>
</div>
