<div
  class="container-fluid"
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="row">
    <div class="col-lg-1 col-12"></div>
    <div class="col-lg-10 col-12 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a (click)="inStockUrl()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-instock-icon-36"></span>
              <div>
                <h2>{{ 'pw.instock.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.instock.titlehead' | translate }}
                </h5>
              </div>
            </div>
          </div>
          <div class="col-auto ml-auto">
            <button class="pw-btn pw-accent-btn" (click)="createRequest()">
              {{
                'pw.interboutiqueTransfer.sendNewRequestButtonText' | translate
              }}
            </button>
          </div>
        </div>
      </div>
      <h3 class="mb-3">
        {{ 'pw.instock.interBoutiqueTransferHeaderText' | translate }}
      </h3>
      <!-- tab -->
      <div class="pw-tab">
        <ul class="pw-tab__list">
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="
                interBoutiqueTransferRequestType ===
                interBoutiqueTransferRequestTypesEnumRef.SENT
              "
              (click)="
                changeInterBoutiqueTransferRequestType(
                  interBoutiqueTransferRequestTypesEnumRef.SENT
                )
              "
            >
              <h5 class="pw-tab__item">
                {{ 'pw.interboutiqueTransfer.tabText1' | translate }}
                <span class="pw-fourth-color"
                  >({{ requestSentListCount$ | async }})</span
                >
              </h5>
            </a>
          </li>
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="
                interBoutiqueTransferRequestType ==
                interBoutiqueTransferRequestTypesEnumRef.RECEIVED
              "
              (click)="
                changeInterBoutiqueTransferRequestType(
                  interBoutiqueTransferRequestTypesEnumRef.RECEIVED
                )
              "
            >
              <h5 class="pw-tab__item">
                {{ 'pw.interboutiqueTransfer.tabText2' | translate }}
                <span class="pw-fourth-color"
                  >({{ requestReceivedListCount$ | async }})</span
                >
              </h5></a
            >
          </li>
        </ul>
      </div>
      <!-- requests sent -->
      <poss-web-card-list
        *ngIf="
          interBoutiqueTransferRequestType ==
          interBoutiqueTransferRequestTypesEnumRef.SENT
        "
        [count]="requestSentListCount$ | async"
        [dataList]="requestSentList$ | async"
        [pageSize]="pageSize"
        (loadMore)="loadRequests($event)"
        (selected)="onRequestSelected($event)"
      >
        <ng-template let-item="data">
          <poss-web-card-title> {{ item.reqDocNo }}</poss-web-card-title>
          <poss-web-card-subtitle
            >{{ 'pw.interboutiqueTransfer.cardHeaderTextTo' | translate }}
            {{ item.srcLocationCode }}</poss-web-card-subtitle
          >
          <poss-web-card-content>
            <br />
            <p [ngClass]="getStatus(item.status)">
              {{ 'pw.interboutiqueTransfer.cardContent' | translate }}
              {{ status | titlecase }}
            </p>
            <p>
              {{ item.reqDocDate.fromNow() }}
            </p>
          </poss-web-card-content>
        </ng-template>
      </poss-web-card-list>
      <!-- requests received -->
      <poss-web-card-list
        *ngIf="
          interBoutiqueTransferRequestType ==
          interBoutiqueTransferRequestTypesEnumRef.RECEIVED
        "
        [count]="requestReceivedListCount$ | async"
        [dataList]="requestReceivedList$ | async"
        [pageSize]="pageSize"
        (loadMore)="loadRequests($event)"
        (selected)="onRequestSelected($event)"
      >
        <ng-template let-item="data">
          <poss-web-card-title> {{ item.reqDocNo }}</poss-web-card-title>
          <poss-web-card-subtitle
            >{{ 'pw.interboutiqueTransfer.cardHeaderTextFrom' | translate }}
            {{ item.destLocationCode }}</poss-web-card-subtitle
          >
          <poss-web-card-content>
            <p [ngClass]="getStatus(item.status)">
              {{ 'pw.interboutiqueTransfer.cardContent' | translate }}
              {{ status | titlecase }}
            </p>
            <p class="pw-success-color">
              {{ item.totalRequestedQuantity }}
              {{ 'pw.interboutiqueTransfer.productsText' | translate }}
            </p>
            <p>
              {{ item.reqDocDate.fromNow() }}
            </p>
          </poss-web-card-content>
        </ng-template>
      </poss-web-card-list>
      <!-- no data found -->
      <!-- request sent -->
      <h3
        class="pw-text-center m-5"
        *ngIf="
          !isLoading &&
          ((requestSentListCount$ | async) === 0 &&
            interBoutiqueTransferRequestType ===
              interBoutiqueTransferRequestTypesEnumRef.SENT)
        "
      >
        {{ 'pw.instock.noDataFoundText' | translate }}
      </h3>
      <!-- request received -->
      <h3
        class="pw-text-center m-5"
        *ngIf="
          !isLoading &&
          ((requestReceivedListCount$ | async) === 0 &&
            interBoutiqueTransferRequestType ===
              interBoutiqueTransferRequestTypesEnumRef.RECEIVED)
        "
      >
        {{ 'pw.instock.noDataFoundText' | translate }}
      </h3>
      <!-- loader -->
      <poss-web-loader *ngIf="isLoading"> </poss-web-loader>
    </div>

    <div class="mb-5"></div>

    <div class="col-lg-1 col-12"></div>
  </div>
</div>
