a {
  cursor: pointer;
}

.single-bordered-input {
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
  position: relative;
  font-size: em(12);
  padding-bottom: 5px;

  &:focus {
    border-bottom: 2px solid var(--fourth-color);
  }

  &[type='text'] {
    width: 100%;
    padding-right: 21px;
  }

  &[type='number'] {
    width: 60px;
  }
}
