<div class="container-fluid">

  <div class="row">
    <div class="col-12 ">
      <div class="row pw-slider">
        <!-- <div class="col-auto pr-0">
              <a href="location-main.html">
                <span class="pw-i-24 pw-back-arrow-icon-24"></span>
              </a>
            </div> -->
        <!-- <div class="col-auto pl-0">
              <div class="pw-top-heading-container__main-head">
                <span class="pw-i-36 pw-location-icon-36"></span>
                <div>
                  <h2>Location</h2>
                  <h5 class="pw-top-heading-container__sub-heading">
                    Masters <span class="seventh-color">(6)</span>
                  </h5>
                </div>
              </div>
            </div> -->
        <div class="col-auto ml-auto">
          <ul class="row align-items-center justify-content-end pw-width-300 pw-text-right mr-3">
            <li class="pw-slider-btn active">
              <button class="pw-rounded-btn" [routerLink]="[getGhsDetailsRouteUrl('1')]">
                1
              </button>
            </li>
            <li class="pw-slider-btn " [ngClass]="page == '2' || page == '3' ? 'active' : ''">
              <button class="pw-rounded-btn" [routerLink]="[getGhsDetailsRouteUrl('2')]">
                2
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
      
        <div class="col-12">
          <div [ngSwitch]="page">
            <div *ngSwitchCase="1">
              <poss-web-ghs-stepone *ngIf="(ghsData$ | async) && (baseCurrency$ | async) && (locationDetails$ | async)"
                [ghsData$]="ghsData$" (tabOne)="addButtonOne($event)" [baseCurrency$]="baseCurrency$"
                [locationDetails$]="locationDetails$">
              </poss-web-ghs-stepone>
            </div>
            <div *ngSwitchCase="2">
              <poss-web-ghs-steptwo *ngIf="(ghsData$ | async)" [ghsdata2$]="ghsData$" (tabTwo)="addButtonTwo($event)">
              </poss-web-ghs-steptwo>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>