.pw-confirmation-box {
  &__icon-btn {
    width: 25px;
    height: 25px;
    line-height: 30px;
    margin: 0;
  }

  &__card {
    box-shadow: 0 0 6px #00000029;
    border-radius: 5px;
    margin: 6px 12px 6px 5px;
    cursor: pointer;
    word-break: break-all;
  }

  &__body {
    padding: 5px 0;
  }

  button {
    margin: 0;
  }

  .pw-tab__content {
    padding: 5px 10px;
  }

  .pw-vertical-tab {
    &__content {
      padding: 10px;
      margin: 5px;
    }
  }

  .pw-tab--active {
    font-weight: bold;
  }

  mat-checkbox {
    margin-right: 10px;
  }

  &__footer {
    margin-top: 10px;
  }

  .pw-scrollable-item {
    height: 54.5vh;
    overflow-y: auto;
    margin-top: 5px;
  }

  .pw-scrollable-item1 {
    height: 57.5vh;
    overflow-y: auto;
    margin-top: 5px;
  }
}
