<div class="pw-confirmation-box pw-confirmation-box__fixed-width">
  <div class="row pw-confirmation-box__header">
    <div class="col-auto">
      {{ translateService.instant('pw.locationMapping.heading') }}
    </div>
    <div class="col pw-text-right">
      <button
        class="pw-confirmation-box__icon-btn"
        mat-icon-button
        (click)="close()"
      >
        <mat-icon>
          <span class="pw-i-10 pw-close-icon-16"></span>
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="pw-confirmation-box__body">
    <ng-container *ngIf="data.template">
      <ng-container [ngTemplateOutlet]="data.template"> </ng-container>
    </ng-container>
    <mat-tab-group #tabGroup class="pw-dialog-container__tab">
      <mat-tab>
        <ng-template mat-tab-label>
          <span [class.pw-tab--active]="tabGroup.selectedIndex == 0">
            {{
              translateService.instant(
                'pw.locationMapping.selectedLocationTabLable'
              )
            }}
            <span class="pw-fourth-color">
              ({{ selectedLocations.length }})
            </span></span
          >
        </ng-template>
        <div class="pw-tab__content">
          <ng-container *ngIf="selectedLocations.length === 0">
            <div class="pw-scrollable-item1">
              <div class="mg-t-100"></div>
              <h3 class="pw-fourth-color pw-text-center">
                {{
                  translateService.instant(
                    'pw.locationMapping.emptySelectedMessage'
                  )
                }}!
              </h3>
            </div>
          </ng-container>

          <ng-container *ngIf="selectedLocations.length">
            <mat-checkbox
              [(ngModel)]="selectAllOfSelectedTab"
              (change)="selectAll(tabGroup.selectedIndex, $event.checked)"
            >
              {{
                translateService.instant('pw.locationMapping.selectAllLable')
              }}
            </mat-checkbox>
            <div class="pw-scrollable-item">
              <div class="row no-gutters">
                <div
                  *ngFor="let location of selectedLocations"
                  class="col-lg-3 col-4"
                >
                  <mat-card
                    class="pw-confirmation-box__card"
                    (click)="
                      selectionChange(
                        location,
                        !location.isSelected,
                        tabGroup.selectedIndex
                      )
                    "
                  >
                    <mat-checkbox
                      [(ngModel)]="location.isSelected"
                      (change)="
                        selectionChange(
                          location,
                          location.isSelected,
                          tabGroup.selectedIndex
                        )
                      "
                      (click)="$event.stopPropagation()"
                    ></mat-checkbox>
                    {{ location.description }}
                  </mat-card>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span [class.pw-tab--active]="tabGroup.selectedIndex == 1">
            {{
              translateService.instant('pw.locationMapping.addLocationTabLable')
            }}
          </span>
        </ng-template>
        <div class="row no-gutters">
          <div
            class="col-lg-2 col-3 pw-vertical-tab "
            [formGroup]="locationFilterForm"
          >
            <div class="pw-vertical-tab__content d-flex flex-column">
              <mat-form-field class="pw-form-field-border-top-0">
                <mat-select
                  formControlName="brands"
                  disableOptionCentering
                  multiple
                  [placeholder]="
                    getLableWithSelectedOptionsCount(
                      'brands',
                      translateService.instant(
                        'pw.locationMapping.brandCodePlaceholder'
                      )
                    )
                  "
                >
                  <mat-option
                    *ngFor="let option of data.filterOptions.brands"
                    [value]="option.id"
                    [disabled]="
                      locationFilterForm.get('brands').value?.length >=
                        data.maxFilterOptionsSelection &&
                      !locationFilterForm
                        .get('brands')
                        .value?.includes(option.id)
                    "
                    >{{ option.description }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field class="pw-form-field-border-top-0">
                <mat-select
                  formControlName="regions"
                  disableOptionCentering
                  multiple
                  [placeholder]="
                    getLableWithSelectedOptionsCount(
                      'regions',
                      translateService.instant(
                        'pw.locationMapping.regionCodePlaceholder'
                      )
                    )
                  "
                >
                  <mat-option
                    *ngFor="let option of data.filterOptions.regions"
                    [value]="option.id"
                    [disabled]="
                      locationFilterForm.get('regions').value?.length >=
                        data.maxFilterOptionsSelection &&
                      !locationFilterForm
                        .get('regions')
                        .value?.includes(option.id)
                    "
                    >{{ option.description }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field class="pw-form-field-border-top-0">
                <mat-select
                  formControlName="levels"
                  disableOptionCentering
                  multiple
                  [placeholder]="
                    getLableWithSelectedOptionsCount(
                      'levels',
                      translateService.instant(
                        'pw.locationMapping.levelCodePlaceholder'
                      )
                    )
                  "
                >
                  <mat-option
                    *ngFor="let option of data.filterOptions.levels"
                    [value]="option.id"
                    [disabled]="
                      locationFilterForm.get('levels').value?.length >=
                        data.maxFilterOptionsSelection &&
                      !locationFilterForm
                        .get('levels')
                        .value?.includes(option.id)
                    "
                    >{{ option.description }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field class="pw-form-field-border-top-0">
                <mat-select
                  formControlName="countries"
                  disableOptionCentering
                  [placeholder]="
                    translateService.instant(
                      'pw.locationMapping.countryCodePlaceholder'
                    )
                  "
                >
                  <mat-option>{{
                    translateService.instant('pw.locationMapping.noneOption')
                  }}</mat-option>
                  <mat-option
                    *ngFor="let option of data.filterOptions.countries"
                    [value]="option.id"
                    >{{ option.description }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field class="pw-form-field-border-top-0">
                <mat-select
                  formControlName="states"
                  disableOptionCentering
                  [placeholder]="
                    translateService.instant(
                      'pw.locationMapping.stateCodePlaceholder'
                    )
                  "
                >
                  <mat-option>{{
                    translateService.instant('pw.locationMapping.noneOption')
                  }}</mat-option>
                  <mat-option
                    *ngFor="let option of data.filterOptions.states"
                    [value]="option.id"
                    >{{ option.description }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field class="pw-form-field-border-top-0">
                <mat-select
                  formControlName="towns"
                  disableOptionCentering
                  multiple
                  [placeholder]="
                    getLableWithSelectedOptionsCount(
                      'towns',
                      translateService.instant(
                        'pw.locationMapping.townCodePlaceholder'
                      )
                    )
                  "
                >
                  <mat-option
                    *ngFor="let option of data.filterOptions.towns"
                    [value]="option.id"
                    [disabled]="
                      locationFilterForm.get('towns').value?.length >=
                        data.maxFilterOptionsSelection &&
                      !locationFilterForm
                        .get('towns')
                        .value?.includes(option.id)
                    "
                    >{{ option.description }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <button
                mat-flat-button
                class="pw-btn pw-accent-btn"
                (click)="searchLocations()"
                [disabled]="locationFilterForm.invalid"
              >
                {{
                  translateService.instant(
                    'pw.locationMapping.searchButtonText'
                  )
                }}
              </button>
              <div class="pw-text-center">
                <a (click)="clearFilter()" class="pw-fourth-color">
                  <p class="pw-fourth-color pw-confirmation-box__footer">
                    {{
                      translateService.instant(
                        'pw.locationMapping.clearButtonText'
                      )
                    }}
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-10 col-9 pw-tab__content">
            <ng-container *ngIf="locationResults.length === 0">
              <div class="pw-scrollable-item1">
                <div class="mg-t-100"></div>
                <h3
                  class="pw-fourth-color pw-text-center"
                  *ngIf="!showSelectFilterMessage"
                >
                  {{
                    translateService.instant(
                      'pw.locationMapping.emptyLocationMessage'
                    )
                  }}!
                </h3>
                <h3
                  class="pw-fourth-color pw-text-center"
                  *ngIf="showSelectFilterMessage"
                >
                  {{
                    translateService.instant(
                      'pw.locationMapping.selectFilterMessage'
                    )
                  }}
                </h3>
              </div>
            </ng-container>
            <ng-container *ngIf="locationResults.length !== 0">
              <mat-checkbox
                [(ngModel)]="selectAllOfSearchTab"
                (change)="selectAll(tabGroup.selectedIndex, $event.checked)"
              >
                {{
                  translateService.instant('pw.locationMapping.selectAllLable')
                }}</mat-checkbox
              >
              <div class="pw-scrollable-item">
                <div class="row no-gutters ">
                  <div
                    *ngFor="let location of locationResults"
                    class="col-lg-3 col-4"
                  >
                    <mat-card
                      class="pw-confirmation-box__card"
                      (click)="
                        selectionChange(
                          location,
                          !location.isSelected,
                          tabGroup.selectedIndex
                        )
                      "
                    >
                      <mat-checkbox
                        [(ngModel)]="location.isSelected"
                        (change)="
                          selectionChange(
                            location,
                            location.isSelected,
                            tabGroup.selectedIndex
                          )
                        "
                        (click)="$event.stopPropagation()"
                      ></mat-checkbox>
                      {{ location.description }}
                    </mat-card>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="pw-confirmation-box__footer pw-text-right">
    <div class="row justify-content-end">
      <div class="col-auto">
        <button
          mat-flat-button
          class="pw-btn pw-primary-btn pw-width-100"
          (click)="updateSelectedLocations(tabGroup.selectedIndex)"
        >
          {{
            translateService.instant(
              tabGroup.selectedIndex == 1
                ? 'pw.locationMapping.addButtonText'
                : 'pw.locationMapping.removeButtonText'
            )
          }}
        </button>
      </div>
      <div class="col-auto" [hidden]="tabGroup.selectedIndex == 1">
        <button
          mat-flat-button
          class="pw-btn pw-accent-btn pw-width-100"
          (click)="applyLocations()"
        >
          {{ translateService.instant('pw.locationMapping.applyButtonText') }}
        </button>
      </div>
    </div>
  </div>
</div>
