<div class="pw-detail-card">
  <a>
    <div class="row align-items-center">
      <!-- <div class="col-auto">
        <input type="checkbox" />
      </div> -->
      <div class="col-auto">
        <p class="pw-fourth-color">
          {{ 'pw.courierDetails.courierName' | translate }}
        </p>
        <div class="mt-2">
          <b>{{ courierDetailsList.courierName }}</b>
        </div>
      </div>
      <div class="col-auto ml-auto">
        <a (click)="getCourierName(courierDetailsList.courierName)">
          <span
            class="pw-mont-semibold-14 pw-fourth-color pw-position-text a">{{ 'pw.courierDetails.edit' | translate }}</span>&nbsp;
          <span class="pw-i-24 pw-edit-icon-24"></span>
        </a>
      </div>
      <div class="col-auto">
        <mat-slide-toggle [checked]="courierDetailsList.isActive" (change)="change($event.checked)">
        </mat-slide-toggle>
      </div>
    </div>
  </a>
</div>