<div class="row pw-list-card">
  <div *ngIf="canSelect" class="col-auto pw-list-card__item">
    <mat-checkbox
      [checked]="item.isSelected"
      (change)="sendSelectionChangeEvent($event.checked)"
      [disabled]="item.isDisabled"
    >
    </mat-checkbox>
  </div>
  <div class="col-auto pw-list-card__item pw-thumbnail-img">
    <poss-web-thumbnail
      [thumbnailSrc]="item.imageURL"
      [imageSrc]="item.imageURL"
      [alt]="item.productCategory"
    >
      <p class="pt-3">
        <b>{{ item.productCategory }}</b>
      </p>
      <p>
        {{ 'pw.binToBinTransfer.variantCodeLableText' | translate }} -
        {{ item.itemCode }}
      </p>
    </poss-web-thumbnail>
  </div>

  <div class="col-auto pw-list-card__item pw-width-120">
    <div class="pw-sub-heading">
      {{ item.itemCode }}
    </div>
    <p>{{ item.lotNumber }}</p>
    <p *ngIf="item.mfgDate">{{ item.mfgDate.format('DD-MMM-YYYY') }}</p>
    <p>
      {{ item.stdValue | currency: item.currencyCode }}
    </p>
  </div>
  <div class="col-1 pw-list-card__item">
    <p>{{ item.productGroup }}</p>
    <p>{{ item.productCategory }}</p>
  </div>
  <div class="col-auto pw-list-card__item">
    <div class="row no-gutters pw-input-group">
      <div class="col-auto">
        <div class="pw-sub-heading">
          {{ 'pw.binToBinTransfer.itemQuantityLableText' | translate }}
        </div>
        <input
          readonly
          type="text"
          class="pw-bg-input-box border-right pw-border-radius-left"
          placeholder="{{
            'pw.binToBinTransfer.itemQuantityLableText' | translate
          }}"
          [value]="item.availableQuantity"
        />
      </div>
      <div class="col-auto">
        <div class="pw-sub-heading">
          {{ 'pw.binToBinTransfer.itemWeightLableText' | translate }} ({{
            item.weightUnit
          }})
        </div>
        <input
          readonly
          type="text"
          class="pw-bg-input-box"
          [class.border-right]="showSourceBin"
          [class.pw-border-radius-right]="!showSourceBin"
          placeholder="{{
            'pw.binToBinTransfer.itemWeightLableText' | translate
          }}
          "
          value="{{ item.availableWeight }}"
        />
      </div>
      <div class="col-auto" *ngIf="showSourceBin">
        <div class="pw-sub-heading">
          {{ 'pw.binToBinTransfer.sourceBinLableText' | translate }}
        </div>
        <input
          readonly
          type="text"
          class="pw-bg-input-box pw-border-radius-right"
          [value]="item.binCode"
          placeholder="{{
            'pw.binToBinTransfer.sourceBinLableText' | translate
          }}
          "
        />
      </div>
    </div>
  </div>
  <div
    class="col-auto pw-width-150 pw-list-card__item "
    *ngIf="showDestinationBin"
  >
    <div class="mb-1">
      <p>
        <b> {{ 'pw.binToBinTransfer.destinationBinLableText' | translate }} </b>
      </p>
    </div>
    <button
      mat-flat-button
      class="pw-btn pw-accent-btn pw-w-100"
      (click)="openBinSelectionPopup()"
    >
      <div class="row no-gutters pw-text-left">
        <div class="col pw-text-overflow-ellipisis">
          <p class="pw-text-overflow-ellipisis">
            <ng-container *ngIf="item.destinationBinCode; else showSelectBin">
              {{ item.destinationBinCode }}
            </ng-container>
            <ng-template #showSelectBin>
              {{ 'pw.binToBinTransfer.selectPlaceholderText' | translate }}
            </ng-template>
          </p>
        </div>
        <div class="col-auto ml-auto">
          <span class="pw-i-16 pw-bin-icon-16"></span>
        </div>
      </div>
    </button>
  </div>
  <div
    class="col-auto ml-lg-auto pw-list-card__item pw-error-color"
    *ngIf="showDestinationBin && item.isSelected && !item.destinationBinCode"
  >
    <p>
      <b>
        <span class="pw-i-16 pw-warning-icon-16"></span>
        {{ 'pw.binToBinTransfer.assignDestinationBinErrorMessage' | translate }}
      </b>
    </p>
  </div>

  <div
    *ngIf="canDelete"
    class="col-auto pw-list-card__item pw-list-card__right-container"
  >
    <span class="pw-i-24 pw-close-icon-24" (click)="deleteItem()"></span>
  </div>
</div>
