<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a [routerLink]="['/inventory']">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-receive-stock-icon-36"></span>
              <div>
                <h2>{{ 'pw.stockReceive.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.stockReceive.subTitle' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pw-tab">
        <ul class="pw-tab__list">
          <ng-container *ngIf="isL1L2Store">
            <li class="pw-tab__list-item">
              <a
                [class.pw-is-active-bar]="
                  stockReceiveType == stockReceiveEnumRef.FAC_BTQ
                "
                (click)="changeStockReceiveType(stockReceiveEnumRef.FAC_BTQ)"
              >
                <h5 class="pw-tab__item">
                  {{ 'pw.stockReceive.receiveFromFactoryTabText' | translate }}
                  <span class="pw-fourth-color"
                    >({{ pendingFactorySTNCount$ | async }})</span
                  >
                </h5>
              </a>
            </li>
            <li class="pw-tab__list-item">
              <a
                [class.pw-is-active-bar]="
                  stockReceiveType == stockReceiveEnumRef.BTQ_BTQ ||
                  stockReceiveType == stockReceiveEnumRef.MER_BTQ
                "
                (click)="changeStockReceiveType(otherBoutiqueFromControl.value)"
              >
                <h5 class="pw-tab__item">
                  {{
                    'pw.stockReceive.receiveFromBoutiquesTabText' | translate
                  }}
                  <span class="pw-fourth-color"
                    >({{
                      (pendingBoutiqueSTNCount$ | async) +
                        (pendingMerchandiseSTNcount$ | async)
                    }})</span
                  >
                </h5></a
              >
            </li>
          </ng-container>

          <ng-container *ngIf="isL3Store">
            <li class="pw-tab__list-item">
              <a
                [class.pw-is-active-bar]="
                  stockReceiveType == stockReceiveEnumRef.CFA_BTQ
                "
                (click)="changeStockReceiveType(stockReceiveEnumRef.CFA_BTQ)"
              >
                <h5 class="pw-tab__item">
                  {{
                    'pw.stockReceive.receiveInvoiceFromCFATabText' | translate
                  }}
                  <span class="pw-fourth-color"
                    >({{ pendingCFAInvoiceCount$ | async }})</span
                  >
                </h5>
              </a>
            </li>
          </ng-container>
          <mat-form-field
            class="ml-auto pt-1 pw-width-150 pw-form-field-padding-bottom-0"
            *ngIf="
              stockReceiveType == stockReceiveEnumRef.BTQ_BTQ ||
              stockReceiveType == stockReceiveEnumRef.MER_BTQ
            "
          >
            <mat-select
              [formControl]="otherBoutiqueFromControl"
              placeholder="Select type"
            >
              <mat-option
                *ngFor="let type of boutiqueTypes"
                [value]="type.value"
              >
                {{ type.translateKey | translate }} ({{ type.count | async }})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ul>
      </div>
      <div class="row">
        <mat-form-field
          class="col-lg-3 col-sm-4  ml-auto pw-search-bar"
          floatLabel="never"
        >
          <input
            #searchBox
            matInput
            class="pw-input-box"
            [placeholder]="
              (isL1L2Store
                ? 'pw.stockReceive.stnSearchPlaceholder'
                : 'pw.stockReceive.invoiceSearchPlaceholder') | translate
            "
            [formControl]="searchFromControl"
          />
          <mat-icon matSuffix>
            <span
              *ngIf="!searchFromControl.value"
              class="pw-i-16 pw-search-icon-16"
            ></span
          ></mat-icon>
          <mat-icon matSuffix (click)="clearSearch($event)">
            <span
              *ngIf="searchFromControl.value"
              class="pw-i-10 pw-close-icon-16"
            ></span
          ></mat-icon>
        </mat-form-field>
      </div>
      <ng-container *ngIf="!showNoResultsFoundNaN && isL1L2Store">
        <poss-web-card-list
          *ngIf="stockReceiveType == stockReceiveEnumRef.FAC_BTQ"
          [count]="
            (isSearchingStocks$ | async) === false &&
            (hasSearchStockResults$ | async) === false
              ? (pendingFactorySTNCount$ | async)
              : 0
          "
          [dataList]="
            (isSearchingStocks$ | async) === false &&
            (hasSearchStockResults$ | async) === false
              ? (pendingFactorySTN$ | async)
              : (searchStockResults$ | async)
          "
          [pageSize]="pageSize"
          (loadMore)="loadStocks($event)"
          (selected)="onSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title>
              <div class="row">
                <div class="col-auto">
                  <h4>{{ item.srcDocNo }}</h4>
                </div>
                <div class="col-auto ml-auto">
                  <p class="pw-seventh-color">
                    <b> {{ item.orderType }}</b>
                  </p>
                </div>
              </div>
            </poss-web-card-title>
            <poss-web-card-subtitle>{{
              item.srcLocationCode
            }}</poss-web-card-subtitle>
            <poss-web-card-content>
              <div class="mt-1">
                <p>
                  {{ item.totalAvailableQuantity }}
                  {{ 'pw.stockReceive.productsLableText' | translate }} |
                  {{ item.totalAvailableValue | currency: item.currencyCode }}
                </p>
                <p>
                  <!-- {{ 'pw.stockReceive.fromLableText' | translate }} :
                  {{ 'pw.stockReceive.factoryLableText' | translate }} | -->
                  {{ 'pw.stockReceive.stnDateLable' | translate }} :
                  {{ item.srcDocDate.format('DD-MMM-YYYY') }}
                </p>
                <p>
                  <ng-container
                    *ngIf="
                      item.courierDetails.type ==
                      stockReceiveCarrierTypesEnumRef.COURIER
                    "
                  >
                    {{ 'pw.stockReceive.courierLableText' | translate }} :
                    {{ item.courierDetails.data.companyName }}
                  </ng-container>
                  <ng-container
                    *ngIf="
                      item.courierDetails.type ==
                      stockReceiveCarrierTypesEnumRef.EMPLOYEE
                    "
                  >
                    {{ 'pw.stockReceive.employeeLableText' | translate }} :
                    {{ item.courierDetails.data.employeeName }}
                  </ng-container>
                </p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <poss-web-card-list
          *ngIf="
            stockReceiveType == stockReceiveEnumRef.BTQ_BTQ ||
            stockReceiveType == stockReceiveEnumRef.MER_BTQ
          "
          [count]="
            (isSearchingStocks$ | async) === false &&
            (hasSearchStockResults$ | async) === false
              ? stockReceiveType === stockReceiveEnumRef.BTQ_BTQ
                ? (pendingBoutiqueSTNCount$ | async)
                : (pendingMerchandiseSTNcount$ | async)
              : 0
          "
          [dataList]="
            (isSearchingStocks$ | async) === false &&
            (hasSearchStockResults$ | async) === false
              ? (pendingBoutiqueSTN$ | async)
              : (searchStockResults$ | async)
          "
          [pageSize]="pageSize"
          (loadMore)="loadStocks($event)"
          (selected)="onSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title>
              <div class="row">
                <div class="col-auto">
                  <h4>{{ item.srcDocNo }}</h4>
                </div>
                <div class="col-auto ml-auto">
                  <p class="pw-seventh-color">
                    <b> {{ item.orderType }}</b>
                  </p>
                </div>
              </div>
            </poss-web-card-title>
            <poss-web-card-subtitle>{{
              item.srcLocationCode
            }}</poss-web-card-subtitle>
            <poss-web-card-content>
              <div class="mt-1">
                <p>
                  {{ item.totalAvailableQuantity }}
                  {{ 'pw.stockReceive.productsLableText' | translate }} |
                  {{ item.totalAvailableValue | currency: item.currencyCode }}
                </p>
                <p>
                  <!-- {{ 'pw.stockReceive.fromLableText' | translate }} :
                  {{ 'pw.stockReceive.boutiqueLableText' | translate }} | -->
                  {{ 'pw.stockReceive.stnDateLable' | translate }} :
                  {{ item.srcDocDate.format('DD-MMM-YYYY') }}
                </p>
                <p>
                  <ng-container
                    *ngIf="
                      item.courierDetails.type ==
                      stockReceiveCarrierTypesEnumRef.COURIER
                    "
                  >
                    {{ 'pw.stockReceive.courierLableText' | translate }} :
                    {{ item.courierDetails.data.companyName }}
                  </ng-container>
                  <ng-container
                    *ngIf="
                      item.courierDetails.type ==
                      stockReceiveCarrierTypesEnumRef.EMPLOYEE
                    "
                  >
                    {{ 'pw.stockReceive.employeeLableText' | translate }} :
                    {{ item.courierDetails.data.employeeName }}
                  </ng-container>
                </p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <h3
          class="pw-text-center m-5"
          *ngIf="
            isLoadingPendingFactorySTN == false &&
            isLoadingPendingBoutiqueSTN == false &&
            (isSearchingStocks$ | async) === false &&
            ((stockReceiveType == stockReceiveEnumRef.FAC_BTQ &&
              (hasSearchStockResults$ | async) === false &&
              (pendingFactorySTN$ | async) &&
              (pendingFactorySTN$ | async).length === 0) ||
              ((stockReceiveType == stockReceiveEnumRef.BTQ_BTQ ||
                stockReceiveType == stockReceiveEnumRef.MER_BTQ) &&
                (hasSearchStockResults$ | async) === false &&
                (pendingBoutiqueSTN$ | async) &&
                (pendingBoutiqueSTN$ | async).length === 0) ||
              ((hasSearchStockResults$ | async) &&
                (searchStockResults$ | async) &&
                (searchStockResults$ | async).length === 0))
          "
        >
          {{ 'pw.stockReceive.noDataFoundText' | translate }}
        </h3>
      </ng-container>
      <ng-container *ngIf="!showNoResultsFoundNaN && isL3Store">
        <poss-web-card-list
          *ngIf="stockReceiveType == stockReceiveEnumRef.CFA_BTQ"
          [count]="
            (isSearchingInvoices$ | async) === false &&
            (hasSearchInvoiceResults$ | async) === false
              ? (pendingCFAInvoiceCount$ | async)
              : 0
          "
          [dataList]="
            (isSearchingInvoices$ | async) === false &&
            (hasSearchInvoiceResults$ | async) === false
              ? (pendingCFAInvoice$ | async)
              : (searchInvoiceResults$ | async)
          "
          [pageSize]="pageSize"
          (loadMore)="loadStocks($event)"
          (selected)="onSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title>
              <div class="row">
                <div class="col-auto">
                  <h4>{{ item.srcDocNo }}</h4>
                </div>
                <div class="col-auto ml-auto">
                  <p class="pw-seventh-color">
                    <b> {{ item.orderType }}</b>
                  </p>
                </div>
              </div>
            </poss-web-card-title>
            <poss-web-card-subtitle>{{
              item.srcLocationCode
            }}</poss-web-card-subtitle>
            <poss-web-card-content>
              <div class="mt-1">
                <p>
                  {{ item.totalAvailableQuantity }}
                  {{ 'pw.stockReceive.productsLableText' | translate }} |
                  {{ item.totalAvailableValue | currency: item.currencyCode }}
                </p>
                <p>
                  <!-- {{ 'pw.stockReceive.fromLableText' | translate }} :
                  {{ 'pw.stockReceive.cfaLableText' | translate }} | -->
                  {{ 'pw.stockReceive.invoiceDateLable' | translate }} :
                  {{ item.srcDocDate.format('DD-MMM-YYYY') }}
                </p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <h3
          class="pw-text-center m-5"
          *ngIf="
            isLoadingPendingCFAInvoice == false &&
            (isSearchingInvoices$ | async) === false &&
            ((stockReceiveType == stockReceiveEnumRef.CFA_BTQ &&
              (hasSearchInvoiceResults$ | async) === false &&
              (pendingCFAInvoice$ | async) &&
              (pendingCFAInvoice$ | async).length === 0) ||
              (searchFromControl.value &&
                (hasSearchInvoiceResults$ | async) &&
                (searchInvoiceResults$ | async) &&
                (searchInvoiceResults$ | async).length === 0))
          "
        >
          {{ 'pw.stockReceive.noDataFoundText' | translate }}
        </h3>
      </ng-container>

      <h3 *ngIf="showNoResultsFoundNaN" class="pw-text-center m-5">
        {{ 'pw.stockReceive.noDataFoundText' | translate }}
      </h3>

      <poss-web-loader
        *ngIf="
          isLoadingPendingFactorySTN ||
          isLoadingPendingBoutiqueSTN ||
          isLoadingPendingCFAInvoice ||
          (isLoadingCount$ | async)
        "
      >
      </poss-web-loader>

      <poss-web-loader
        *ngIf="(isSearchingStocks$ | async) || (isSearchingInvoices$ | async)"
      >
      </poss-web-loader>
    </div>
  </div>
</div>
