<div [formGroup]="itemForm">
  <div class="row pw-list-card">
    <div class="col-auto pw-list-card__item">
      <mat-checkbox (change)="selectionEmit()" formControlName="isItemSelected">
      </mat-checkbox>
    </div>

    <div class="col-auto pw-list-card__item pw-thumbnail-img">
      <poss-web-thumbnail
        [thumbnailSrc]="item.imageURL"
        [imageSrc]="item.imageURL"
        [alt]="item.productCategory"
      >
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>Variant Code - {{ item.itemCode }}</p>
      </poss-web-thumbnail>
    </div>

    <div class="col-auto pw-list-card__item pw-width-150">
      <div class="pw-sub-heading">
        {{ item.itemCode }}
      </div>
      <p>{{ item.lotNumber }}</p>
      <p>{{ item.mfgDate.format('DD-MMM-YYYY') }}</p>
      <p>{{ item.totalValue | currency: 'INR' }}</p>
    </div>
    <div class="col-1 pw-list-card__item">
      <div class="pw-sub-heading">
        {{ item.orderType }}
      </div>
      <p>{{ item.productGroup }}</p>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        Available Quantity: {{ item.availableQuantity }}
      </div>
      <!-- <div *ngIf="item.approvedQuantity>1; else nonEditable"> -->
      <input
        type="number"
        class="pw-bg-input-box"
        placeholder="Qty."
        min="1"
        max="item.availableQuantity"
        formControlName="issueQuantity"
        [readonly]="isReadOnly"
        (change)="onRequestedQuantityChange()"
        (keypress)="numberOnly($event)"
      />
      <!-- </div> -->
      <ng-template #nonEditable>
        <input
          type="number"
          class="pw-bg-input-box"
          placeholder="Qty."
          formControlName="issueQuantity"
          readonly
        />
      </ng-template>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        Available Wt: {{ item.availableWeight }} ({{ item.weightUnit }})
      </div>
      <input
        type="text"
        class="pw-bg-input-box"
        placeholder="Total Wt."
        formControlName="weight"
        readonly
      />
      <!-- <span>{{ item.weightUnit }}</span> -->
    </div>
    <div class="col pw-text-right pw-list-card__item ml-auto pw-sub-heading">
      <span
        *ngIf="
          (itemForm.get('issueQuantity').dirty ||
            itemForm.get('issueQuantity').touched) &&
          itemForm.get('issueQuantity').hasError('required')
        "
        class="pw-error-color"
      >
        Quantity is required
      </span>
      <span
        *ngIf="
          (itemForm.get('issueQuantity').dirty ||
            itemForm.get('issueQuantity').touched) &&
          itemForm.get('issueQuantity').hasError('min')
        "
        class="pw-error-color"
      >
        Quantit cannot be less than 1
      </span>
      <span
        *ngIf="
          (itemForm.get('issueQuantity').dirty ||
            itemForm.get('issueQuantity').touched) &&
          itemForm.get('issueQuantity').hasError('max')
        "
        class="pw-error-color"
      >
        Quantity cannot be greater than Available Quantity
      </span>

      <ng-container *ngIf="showUpdateStatus">
        <span class="pw-error-color" *ngIf="item.isUpdatingSuccess == false">
          Save Failed
        </span>
        <span class="pw-success-color" *ngIf="item.isUpdating">
          Saving...
        </span>
      </ng-container>
    </div>
  </div>
</div>
