<div class="pw-text-right">
  <span class="pw-i-10 pw-close-icon-16" (click)="onClose()"></span>
</div>
<div class="row">
  <div class="col-12 m-auto">
    <div class="pw-sub-heading">{{data.itemCode}}</div>
    <form [formGroup]="form">
      <div class="row pw-list-card">
        <div class="col-auto pw-list-card__item">
          <poss-web-thumbnail [thumbnailSrc]="data.imageURL" [imageSrc]="data.imageURL" [alt]="data.productCategory">
            <p class="pt-3">
              <b>{{ data.productCategory }}</b>
            </p>
            <p>
              {{ 'pw.stockReceive.variantCodeLableText' | translate }} -
              {{ data.itemCode }}
            </p>
          </poss-web-thumbnail>
        </div>
        <div class="col-auto pw-list-card__item">
          <div class="pw-sub-heading">
            {{data.productCategory}}
          </div>
          <p>{{data.itemCode}}</p>
        </div>
        <div class="col-auto pw-list-card__item">
          <div class="pw-sub-heading">
            Net Wt.
          </div>
          <input type="text" class="pw-bg-input-box" placeholder="Net Wt." formControlName="netWeight" readonly />
        </div>
        <div class="col-auto pw-list-card__item">
          <div class="pw-sub-heading">
            Stone Price.
          </div>
          <input type="text" class="pw-bg-input-box" placeholder="Stone Price" formControlName="stonePrice" readonly />
        </div>
        <div class="col-auto pw-list-card__item">
          <div class="pw-sub-heading">
            Complexity Code
          </div>
          <input type="text" class="pw-bg-input-box" placeholder="Complexity Code" formControlName="complexityCode"
            readonly />
        </div>
      </div>
      <hr />
      <div formArrayName="childItems">
        <div *ngFor="let form of childListForm.controls; let i = index;">
          <div [formGroupName]="i">
            <div class="row pw-list-card">

              <div class="col-auto pw-list-card__item">
                <poss-web-thumbnail [thumbnailSrc]="data.imageURL" [imageSrc]="data.imageURL"
                  [alt]="data.productCategory">
                  <p class="pt-3">
                    <b>{{ data.productCategory }}</b>
                  </p>
                  <p>
                    {{ 'pw.stockReceive.variantCodeLableText' | translate }} -
                    {{ data.itemCode }}
                  </p>
                </poss-web-thumbnail>
              </div>
              <div class="col-auto pw-list-card__item">
                <div class="pw-sub-heading">
                  Product
                </div>
                <input type="text" class="pw-bg-input-box" placeholder="Product" formControlName="product" />
              </div>
              <div class="col-auto pw-list-card__item">
                <div class="pw-sub-heading">
                  Item Code
                </div>
                <input type="text" class="pw-bg-input-box" placeholder="Item Code" formControlName="itemCode"
                  maxlength="14" readonly />
              </div>
              <div class="col-auto pw-list-card__item">
                <div class="pw-sub-heading">
                  Net Wt.
                </div>
                <input type="number" step="0.001" class="pw-bg-input-box" placeholder="Net Wt."
                  formControlName="netWeight" />
                <p *ngIf=" (form.get('netWeight').dirty ||
                              form.get('netWeight').touched) &&
                              form.get('netWeight').hasError('min')" class="pw-error-color">
                  Invalid Weight
                </p>
                <p *ngIf=" (form.get('netWeight').dirty ||
                                              form.get('netWeight').touched) &&
                                              form.get('netWeight').hasError('patterb')" class="pw-error-color">
                  Max 3 decimals allowed in Weight Field
                </p>
              </div>
              <div class="col-auto pw-list-card__item">
                <div class="pw-sub-heading">
                  Stone Price
                </div>
                <input type="number" step="0.001" class="pw-bg-input-box" placeholder="Stone Price"
                  formControlName="stonePrice" />
              </div>
              <div class="col-auto pw-list-card__item">
                <div class="pw-sub-heading">
                  Complexity Code
                </div>
                <input type="text" class="pw-bg-input-box" placeholder="Complexity Code"
                  formControlName="complexityCode" readonly />
              </div>
              <div class="col-auto pw-list-card__item">
                <div class="pw-sub-heading">
                  Sold
                </div>
                <mat-select class="mat-select-cls pw-bg-input-box pw-border-radius-right" formControlName="sold">
                  <mat-option value="Y">Yes</mat-option>
                  <mat-option value="N">No</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <mat-form-field class="col-12 pw-single-bordered-input">
          <textarea matInput placeholder="Remarks" formControlName="remarks"></textarea>
        </mat-form-field>
      </div>
    </form>
    <div class="row pw-text-right my-3">
      <div class="col-lg-4 col-sm-4 ml-auto pw-text-right">
        <button class="pw-btn pw-accent-btn" (click)="sendRequestNow()" [disabled]=form.invalid>
          SEND REQUEST NOW
        </button>
      </div>
    </div>
  </div>
</div>
