<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-1"></div>
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a (click)="inventoryUrl()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-instock-icon-36"></span>
              <div>
                <h2>{{ 'pw.instock.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.instock.titlehead' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pw-message mb-3">{{ 'pw.instock.subtitle' | translate }}</div>

      <div class="row pw-text-center pw-grid-card">
        <div class="col-lg-2 col-4">
          <a
            (click)="bintobinTransferUrl()"
            routerLinkActive="router-link-active"
          >
            <div class="pw-grid-card__item pw-grid-card-active px-1">
              <div class="mb-2">
                <span class="pw-i-32 pw-bbt-icon-32"></span>
              </div>

              <div class="mt-1 pw-sb pw-grid-card-active__items">
                <p>{{ 'pw.instock.binTobinTransferCardText' | translate }}</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-4" *ngIf="(storeType$ | async)">
          <a (click)="interBoutiqueTransferUrl()">
            <div class="pw-grid-card__item pw-grid-card-active px-1">
              <div class="mb-2">
                <span class="pw-i-32 pw-ibt-icon-32"></span>
              </div>
              <div class="mt-1 pw-sb pw-grid-card-active__items">
                <p class="pw-font-12">
                  {{ 'pw.instock.requestIBTCardText' | translate }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-4">
          <a (click)="conversionUrl()">
            <div class="pw-grid-card__item pw-grid-card-active px-1">
              <div class="mb-2">
                <span class="pw-i-32 pw-conversion-icon-32"></span>
              </div>
              <div class="mt-1 pw-sb pw-grid-card-active__items">
                <p>{{ 'pw.instock.conversionCardText' | translate }}</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-4">
          <a (click)="otherReceiptIssueUrl()">
            <div class="pw-grid-card__item pw-grid-card-active px-1">
              <div class="mb-2">
                <span class="pw-i-32 pw-other-issue-icon-32"></span>
              </div>
              <div class="mt-1 pw-sb pw-grid-card-active__items">
                <p>
                  {{ 'pw.instock.otherReceiptsAndIssuesCardText' | translate }}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div [hidden]="!show">
        <div class=" pw-message mb-3 pw-bold-padding">
          {{ 'pw.instock.statisticsOfYourBoutiqueHeaderText' | translate }}
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pw-font-48">
              {{ (data$ | async)?.totalProducCount }}
            </div>

            <p>
              {{ 'pw.instock.totalProductCountHeaderText' | translate }}
            </p>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pw-font-48">
              {{ (data$ | async)?.totalProductCategories }}
            </div>
            <p>
              {{ 'pw.instock.totalProductCategoriesHeaderText' | translate }}
            </p>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pw-font-48">
              {{ (data$ | async)?.totalBinGroups }}
            </div>
            <p>
              {{ 'pw.instock.totalBinGroupsHeaderText' | translate }}
            </p>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pw-font-48">
              {{ (data$ | async)?.totalBinCodes }}
            </div>
            <p>
              {{ 'pw.instock.totalBinCodeHeaderText' | translate }}
            </p>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="pw-font-48">
              ₹{{ (data$ | async)?.totalValueOfStock }}
            </div>
            <p>
              {{ 'pw.instock.totalValueOfTheStockHeaderText' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-1"></div>
  </div>
</div>
<div>
  <div *ngIf="(user$ | async)">
    <button
      mat-mini-fab
      color="primary"
      *ngIf="mobileQuery.matches"
      (click)="snav.toggle()"
      class="pw-bin-btn"
    >
      <span class="pw-i-14 pw-dots-icon-14"></span>
    </button>

    <mat-sidenav
      class="pw-right-drawer "
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches"
      fixedInViewport
      [fixedTopGap]="mobileQuery.matches ? 120 : 84"
    >
      <div class="pw-right-drawer__header pw-text-center">
        {{ 'pw.instock.binListHeader' | translate }}
        <a>
          <span class="pw-fourth-color"
            >( {{ 'pw.instock.Quantity' | translate }})</span
          >
        </a>
      </div>
      <ul
        class="pw-right-drawer__list"
        [ngClass]="mobileQuery.matches ? 'pw-right-drawer__list1' : ''"
      >
        <li
          class="pw-right-drawer__list-item"
          *ngFor="let item of (binCodes$ | async)"
        >
          {{ item.binCode | uppercase }}

          <span class="pw-fourth-color"> ({{ item.quantity }}) </span>
        </li>
      </ul>
      <div class="pw-right-drawer__footer pw-text-center">
        <button
          mat-button
          class="pw-btn pw-accent-btn"
          (click)="binRequestPopup()"
        >
          {{ 'pw.instock.requestForNewButtonText' | translate }}
        </button>
      </div>
    </mat-sidenav>

    <poss-web-loader *ngIf="isLoading"></poss-web-loader>
  </div>
</div>
