<div class="container-fluid">
  <div class="row">
    <div class="col-12 ">
      <div class="row pw-slider"></div>
      <div class="row">
        <div class="col-12">
          <poss-web-item-stepone [itemByItemCode$]="itemByItemCode$">
          </poss-web-item-stepone>
        </div>
      </div>
    </div>
  </div>
</div>
