<div *ngIf="hasForm===0">
  <div class="row pw-list-card" *ngIf="tab!==1">
    <div class=" col-auto pw-list-card__item pw-thumbnail-img">
      <poss-web-thumbnail [thumbnailSrc]="item.imageURL" [imageSrc]="item.imageURL" [alt]="item.productCategory">
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>
          {{ 'pw.conversion.variantCodeText' | translate }} -
          {{ item.itemCode }}
        </p>
      </poss-web-thumbnail>
    </div>
    <div class="col-auto pw-list-card__item pw-width-120">
      <div class="pw-sub-heading">
        {{item.productCategory}}
      </div>
      <p>{{ item.itemCode }}</p>
      <p>{{ item.lotNumber }}</p>
      <p>{{ item.stdValue | currency: 'INR'}}</p>
    </div>
    <div class="col-1 pw-list-card__item">
      <div class="pw-sub-heading">

      </div>
      <p>{{item?.productGroup}}</p>
      <p>{{item?.productType}}</p>
      <p>{{item?.description}}</p>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        {{ 'pw.conversion.itemQuantityText' | translate }}
      </div>
      <div *ngIf="isSearching">
        <input type="text" class="pw-bg-input-box" placeholder="Available Qty." value="{{item.availableQuantity}}"
          readonly />
      </div>
      <div *ngIf="!(isSearching)">
        <input type="text" class="pw-bg-input-box" placeholder="Item Qty." value="1" readonly />
      </div>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        {{ 'pw.conversion.itemWeightText' | translate }}
      </div>
      <input type="text" class="pw-bg-input-box" placeholder="Measured Wt." value="{{item.stdWeight}}" readonly />
    </div>

    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        {{ 'pw.conversion.binText' | translate }}
      </div>
      <input type="text" class="pw-bg-input-box" placeholder="Bin Code." value="{{item.binCode}}" readonly />
    </div>
    <div class="col-auto pw-list-card__right-container" *ngIf="showButton==true">
      <button class="pw-btn pw-primary-btn" (click)="checkIsSplitAvailable()">CHECK SPLIT OPTION</button>
    </div>
  </div>



  <div class="row pw-list-card" *ngIf="tab=='1'">
    <div class=" col-auto pw-list-card__item pw-thumbnail-img">
      <poss-web-thumbnail [thumbnailSrc]="item.imageURL" [imageSrc]="item.imageURL" [alt]="item.productCategory">
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>
          {{ 'pw.conversion.variantCodeText' | translate }} -
          {{ item.itemCode }}
        </p>
      </poss-web-thumbnail>
    </div>
    <div class="col-auto pw-list-card__item pw-width-120">
      <div class="pw-sub-heading">
        {{item.itemDetails.remarks}}
      </div>
      <p>{{ item.itemDetails.itemCode }}</p>
      <p>{{ item.itemDetails.lotNumber }}</p>
      <p>{{ item.stdValue | currency: 'INR'}}</p>
    </div>
    <div class="col-1 pw-list-card__item">
      <div class="pw-sub-heading">
      </div>
      <p>{{item.productGroup}}</p>
      <p>{{item.productCategory}}</p>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        {{ 'pw.conversion.itemQuantityText' | translate }}
      </div>
      <input type="text" class="pw-bg-input-box" placeholder="Item Qty." value="1" readonly />
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        {{ 'pw.conversion.itemWeightText' | translate }}
      </div>
      <input type="text" class="pw-bg-input-box" placeholder="Measured Wt." value="{{item.stdWeight}}" readonly />
    </div>

    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        {{ 'pw.conversion.binText' | translate }}
      </div>
      <input type="text" class="pw-bg-input-box" placeholder="Bin Code." value="{{item.binCode}}" readonly />
    </div>
  </div>
</div>


<div *ngIf="hasForm===1">
  <div [formGroup]="itemForm" *ngIf="tab!==1">
    <div class="row pw-list-card">
      <div class=" col-auto pw-list-card__item pw-thumbnail-img">
        <poss-web-thumbnail [thumbnailSrc]="item.imageURL" [imageSrc]="item.imageURL" [alt]="item.productCategory">
          <p class="pt-3">
            <b>{{ item.productCategory }}</b>
          </p>
          <p>
            {{ 'pw.conversion.variantCodeText' | translate }} -
            {{ item.itemCode }}
          </p>
        </poss-web-thumbnail>
      </div>
      <div class="col-auto pw-list-card__item pw-width-120">
        <div class="pw-sub-heading">
          {{item.productCategory}}
        </div>
        <p>{{ item.itemCode }}</p>
        <p>{{ item.lotNumber }}</p>
        <p>{{ item.stdValue | currency: 'INR'}}</p>
      </div>
      <div class="col-1 pw-list-card__item">
        <div class="pw-sub-heading">

        </div>
        <p>{{item?.productGroup}}</p>
        <p>{{item?.productType}}</p>
        <p>{{item?.description}}</p>
      </div>
      <div class="col-auto pw-list-card__item">
        <div class="pw-sub-heading">
          {{ 'pw.conversion.itemQuantityText' | translate }}
        </div>
        <input type="text" class="pw-bg-input-box" placeholder="Item Qty." formControlName="quantity" readonly />
      </div>
      <div class="col-auto pw-list-card__item">
        <div class="pw-sub-heading">
          {{ 'pw.conversion.itemWeightText' | translate }}
        </div>
        <input type="number" class="pw-bg-input-box" placeholder="Measured Wt." step="0.001" formControlName="weight" />
      </div>

      <div class="col-auto pw-list-card__item">
        <div class="pw-sub-heading">
          {{ 'pw.conversion.binText' | translate }}
        </div>
        <input type="text" class="pw-bg-input-box" placeholder="Bin Code." value="{{item.binGroupCode}}" readonly />
      </div>
      <div class="col-auto pw-text-right pw-list-card__right-container pw-sub-heading">
        <span *ngIf="
                            (itemForm.get('weight').dirty ||
                              itemForm.get('weight').touched) &&
                            (itemForm.get('weight').hasError('min') ||
                             itemForm.get('weight').invalid)
                          " class="pw-error-color">
          {{ 'pw.conversionNotificationMessages.invalidWeigtErrorMsg' | translate }}
        </span>
      </div>
    </div>
  </div>


  <div [formGroup]="itemForm" *ngIf="tab===1">
    <div class="row pw-list-card">
      <div class=" col-auto pw-list-card__item pw-thumbnail-img">
        <poss-web-thumbnail [thumbnailSrc]="item.imageURL" [imageSrc]="item.imageURL" [alt]="item.productCategory">
          <p class="pt-3">
            <b>{{ item.productCategory }}</b>
          </p>
          <p>
            {{ 'pw.conversion.variantCodeText' | translate }} -
            {{ item.itemCode }}
          </p>
        </poss-web-thumbnail>
      </div>
      <div class="col-auto pw-list-card__item pw-width-120">
        <div class="pw-sub-heading">
          {{item.itemDetails.remarks}}
        </div>
        <p>{{ item.itemDetails.itemCode }}</p>
        <p>{{ item.itemDetails.lotNumber }}</p>
        <p>{{ item.stdValue | currency: 'INR'}}</p>
      </div>
      <div class="col-1 pw-list-card__item">
        <div class="pw-sub-heading">
        </div>
        <p>{{item.productGroup}}</p>
        <p>{{item.productCategory}}</p>
      </div>
      <div class="col-auto pw-list-card__item">
        <div class="pw-sub-heading">
          {{ 'pw.conversion.itemQuantityText' | translate }}
        </div>
        <input type="text" class="pw-bg-input-box" placeholder="Item Qty." formControlName="quantity" readonly />
      </div>
      <div class="col-auto pw-list-card__item">
        <div class="pw-sub-heading">
          {{ 'pw.conversion.itemWeightText' | translate }}
        </div>
        <input type="number" class="pw-bg-input-box" step="0.001" placeholder="Measured Wt." formControlName="weight"
          readonly />
      </div>

      <div class="col-auto pw-list-card__item">
        <div class="pw-sub-heading">
          {{ 'pw.conversion.binText' | translate }}
        </div>
        <input type="text" class="pw-bg-input-box" placeholder="Bin Code." value="{{item.binCode}}" readonly />
      </div>

      <div class="col-auto pw-text-right pw-list-card__right-container pw-sub-heading">
        <span *ngIf="
                      (itemForm.get('weight').dirty ||
                        itemForm.get('weight').touched) &&
                      (itemForm.get('weight').hasError('min') ||
                       itemForm.get('weight').invalid)
                    " class="pw-error-color">
          {{ 'pw.conversionNotificationMessages.invalidWeigtErrorMsg' | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
