<div class="pw-top-menu">
  <div class="pw-top-menu__left-menu d-flex flex-row justify-content-start">
    <ul role="navigation" class="d-flex flex-row">
      <li *ngIf="hasPermission(['M'])">
        <a
          class="nav-link"
          title="inventory"
          [routerLink]="['master']"
          routerLinkActive="is-active"
          ><span class="nav-link-inner">Master</span></a
        >
      </li>

      <li *ngIf="hasPermission(['I'])">
        <a
          class="nav-link"
          title="inventory"
          [routerLink]="['inventory']"
          [class.is-active]="activated.inventory"
          ><span class="nav-link-inner">Inventory</span></a
        >
      </li>

      <li *ngIf="(storeType$ | async) && hasPermission(['I29'])">
        <a
          class="nav-link"
          title="approvals"
          [routerLink]="['inventory', 'approvals']"
          [class.is-active]="activated.approvals"
          ><span class="nav-link-inner">Request Approvals</span></a
        >
      </li>
      <li *ngIf="hasPermission(['U'])">
        <a
          class="nav-link"
          title="User Management"
          [routerLink]="['user-management']"
          routerLinkActive="is-active"
          ><span class="nav-link-inner">User Management</span></a
        >
      </li>
    </ul>
  </div>
  <div class="pw-top-menu__right-menu d-flex flex-row justify-content-end">
    <span class="pw-i-16 pw-user-icon-16"></span>
    <span class="pw-user-name nav-link-inner">{{ username$ | async }}</span>

    <button mat-icon-button>
      <mat-icon>
        <span class="pw-i-24 pw-dashboard-icon-24"></span>
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>
        <span class="pw-i-24 pw-notification-icon-24"></span>
      </mat-icon>
    </button>

    <button mat-icon-button (click)="logOut()">
      <mat-icon>
        <span class="pw-i-24 pw-signout-icon-24"></span>
      </mat-icon>
    </button>
  </div>
</div>
<poss-web-loader *ngIf="(isLoading$ | async)"></poss-web-loader>
