<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container mb-3">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)="back()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-product-master-icon-36"></span>
              <div>
                <h2>Product</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  Masters <span class="seventh-color"></span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <poss-web-cfa-productcode-stepone
          *ngIf="
            (CFAProduct$ | async) &&
            (productTypes$ | async) &&
            (materialTypes$ | async)
          "
          [CFAProduct$]="CFAProduct$"
          [productTypes$]="productTypes$"
          [materialTypes$]="materialTypes$"
          (CFAProductDetails)="addButton($event)"
        ></poss-web-cfa-productcode-stepone>
      </div>
      <!-- <poss-web-loader *ngIf="!(isLoadingCFAProduct | async)"> </poss-web-loader> -->
    </div>
  </div>
</div>
