<div class="pw-form-detail-popup-box">
  <form [formGroup]="carrierDetails">
    <div class="row pw-form-detail-popup-box__header">
      <div class="col-auto">
        Add Box Details
      </div>
      <div class="col pw-text-right">
        <a class="sub-heading" (click)="onClose()">
          <span class="pw-i-10 pw-close-icon-16"></span>
        </a>
      </div>
    </div>
    <div class="pw-form-detail-popup-box__body">
      <div class="row align-items-center">
        <div class="col-4 pw-form-detail-popup-box__input">
          <!-- <p class="pw-fourth-color">Add number of Boxes</p> -->

          <mat-form-field class="pw-single-bordered-input">
            <input matInput placeholder="Number of Boxes" formControlName="box_No" />

          </mat-form-field>
          <p *ngIf=" (carrierDetails.get('box_No').dirty ||
                              carrierDetails.get('box_No').touched) &&
                              carrierDetails.get('box_No').hasError('max')" class="pw-error-color">
            Cannot be more than 10
          </p>
          <p *ngIf=" (carrierDetails.get('box_No').dirty ||
                                        carrierDetails.get('box_No').touched) &&
                                      (carrierDetails.get('box_No').hasError('min') || carrierDetails.get('box_No').hasError('pattern'))"
            class="pw-error-color">
            Invalid value
          </p>
          <!-- <p *ngIf=" (carrierDetails.get('box_No').dirty ||
                                                  carrierDetails.get('box_No').touched) &&
                                                carrierDetails.get('box_No').hasError('pattern')"
            class="pw-error-color">
            Invalid value
          </p> -->
          <!-- <input class="pw-single-bordered-input" /> -->
        </div>
        <div class="col-auto">
          <!-- <span class="pw-i-24 pw-plus-icon-24" (click)="addRow()"></span> -->
          <button mat-mini-fab color="primary" (click)="addRow()" class="pw-mini-btn"
            [disabled]="carrierDetails.get('box_No').invalid">
            <mat-icon> +</mat-icon>
          </button>
        </div>
      </div>

      <div class="pw-form-detail-popup-box__grid">
        <div class="row pw-form-detail-popup-box__grid-header">
          <div class="col-1">
            No.
          </div>
          <div class="col-3">
            Box Number
          </div>
          <div class="col-3">
            Lock No
          </div>
          <div class="col-4">
            Box Weight
          </div>

          <div class="col-1"></div>
        </div>


        <div formArrayName="box_Details">
          <div *ngFor="let item of boxDetails.controls; let rowIndex=index" [formGroupName]="rowIndex">
            <div class="row pw-form-detail-popup-box__grid-body-item">
              <div class="col-1">
                {{rowIndex + 1}}
              </div>
              <div class="col-3">
                <input class="pw-bg-input-box" formControlName="boxNumber" />
                <p *ngIf=" (item.get('boxNumber').dirty ||
                  item.get('boxNumber').touched) &&
                  item.get('boxNumber').hasError('required')" class="pw-error-color">
                  Required Field
                </p>
                <p *ngIf=" (item.get('boxNumber').dirty ||
                    item.get('boxNumber').touched) &&
                  item.get('boxNumber').hasError('pattern')" class="pw-error-color">
                  Invalid value
                </p>
              </div>
              <div class="col-3">
                <input class="pw-bg-input-box" formControlName="lockNumber" />
                <p *ngIf=" (item.get('lockNumber').dirty ||
                                  item.get('lockNumber').touched) &&
                                  item.get('lockNumber').hasError('required')" class="pw-error-color">
                  Required Field
                </p>
                <p *ngIf=" (item.get('lockNumber').dirty ||
                                    item.get('lockNumber').touched) &&
                                  item.get('lockNumber').hasError('pattern')" class="pw-error-color">
                  Invalid value
                </p>
              </div>
              <div class="col-4">
                <input type="number" step="0.001" class="pw-bg-input-box" formControlName="boxWeight" />
                <p *ngIf=" (item.get('boxWeight').dirty ||
                                  item.get('boxWeight').touched) &&
                                  item.get('boxWeight').hasError('required')" class="pw-error-color">
                  Required Field
                </p>
                <p *ngIf=" (item.get('boxWeight').dirty ||
                                    item.get('boxWeight').touched) &&
                                  item.get('boxWeight').hasError('pattern')" class="pw-error-color">
                  Max 3 decimals allowed in Weight Field
                </p>
                <p *ngIf=" (item.get('boxWeight').dirty ||
                                                    item.get('boxWeight').touched) &&
                                                  item.get('boxWeight').hasError('min')" class="pw-error-color">
                  Invalid weight
                </p>
              </div>
              <div class="col-1">
                <a class="pw-i-24 pw-close-icon-red-24" (click)="deleteRow(rowIndex)"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
  <div class="pw-text-right">
    <button class="pw-btn pw-accent-btn" (click)="onSave()" [disabled]="carrierDetails.invalid">
      Add Details
    </button>
  </div>
</div>
