<div class="pw-dialog-box">
  <div class="row">
    <div class="col-auto pw-message">
      {{ 'pw.instock.requestPopuptitle' | translate }}
    </div>
    <div class="col-auto ml-auto">
      <a>
        <span class="pw-i-10 pw-close-icon-16" (click)="onClose()"></span>
      </a>
    </div>
  </div>
  <form [formGroup]="newBinRequestForm">
    <div mat-dialog-content class="pw-dialog-box__body">
      <div class="pw-search-bar row">
        <mat-form-field class="col-12">
          <input
            matInput
            formControlName="bin"
            placeholder="Bin Name"
            class="single-bordered-input"
          />
          <mat-error
          *ngIf="newBinRequestForm.controls['bin'].errors?.required">
            {{ 'pw.instock.popupContent' | translate }}
          </mat-error>
          <mat-error
          *ngIf="newBinRequestForm.controls['bin'].errors?.maxlength"
        >
        Maximum 20 characters required.
        </mat-error>
        <mat-error
        *ngIf="newBinRequestForm.controls['bin'].errors?.pattern"
      >
         Special Characters not allowed
      </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12">
          <textarea
            matInput
            formControlName="remarks"
            class="single-bordered-input mt-5"
            placeholder="Reason for Bin Request"
            rows="4"
          ></textarea>
          <mat-error
            *ngIf="newBinRequestForm.controls['remarks'].errors?.required"
          >
            {{ 'pw.instock.popupContent2' | translate }}
          </mat-error>

          <mat-error
            *ngIf="newBinRequestForm.controls['remarks'].errors?.maxlength"
          >
            {{ 'pw.instock.popupContent4' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <a>
      <div class="pw-text-right pt-3">
        <button mat-button (click)="requestBin()" class="pw-btn pw-accent-btn">
          <span class="pw-i-14 pw-exclamation-icon-14"></span>
          {{ 'pw.instock.popupButton' | translate }}
        </button>
      </div>
    </a>
  </form>
</div>
