<poss-web-expansion-panel>
  <poss-web-expansion-panel-summary>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-10 m-auto">
          <div class="row align-items-end">
            <div class="col-auto pr-0 align-self-center">
              <a [routerLink]="['/', 'inventory', 'stockreceive', type]">
                <span class="pw-i-24 pw-back-arrow-icon-24"></span>
              </a>
            </div>
            <div class="col-auto pl-0">
              <div
                class="pw-top-heading-container__main-head pw-main-heading-position"
              >
                <span class="pw-i-36 pw-receive-stock-icon-36"></span>
                <div>
                  <h2>{{ 'pw.stockReceive.title' | translate }}</h2>
                  <h5
                    class="pw-top-heading-container__sub-heading pw-fith-heading"
                  >
                    {{ 'pw.stockReceive.fromLableText' | translate }} :
                    <ng-container *ngIf="type == stockReceiveEnumRef.FAC_BTQ">
                      {{ 'pw.stockReceive.factoryLableText' | translate }}
                    </ng-container>
                    <ng-container *ngIf="type == stockReceiveEnumRef.BTQ_BTQ">
                      {{ 'pw.stockReceive.boutiqueLableText' | translate }}
                    </ng-container>
                    <ng-container *ngIf="type == stockReceiveEnumRef.MER_BTQ">
                      {{ 'pw.stockReceive.boutiqueLableText' | translate }}
                    </ng-container>
                    <ng-container *ngIf="type == stockReceiveEnumRef.CFA_BTQ">
                      {{ 'pw.stockReceive.cfaLableText' | translate }}
                    </ng-container>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <h4>{{ selectedStock?.srcDocNo }}</h4>
              <div>{{ selectedStock?.srcLocationCode }}</div>
            </div>
            <div class="col-auto">
              <p>
                {{ selectedStock?.totalAvailableQuantity }}
                {{ 'pw.stockReceive.productsLableText' | translate }} |
                {{
                  selectedStock?.totalAvailableValue
                    | currency: selectedStock?.currencyCode
                }}
              </p>
              <p class="mt-1" *ngIf="isL1L2Store">
                <ng-container
                  *ngIf="
                    selectedStock?.courierDetails.type ==
                    stockReceiveCarrierTypesEnumRef.COURIER
                  "
                >
                  {{ 'pw.stockReceive.courierLableText' | translate }} :
                  {{ selectedStock?.courierDetails.data.companyName }}
                </ng-container>
                <ng-container
                  *ngIf="
                    selectedStock?.courierDetails.type ==
                    stockReceiveCarrierTypesEnumRef.EMPLOYEE
                  "
                >
                  {{ 'pw.stockReceive.employeeLableText' | translate }} :
                  {{ selectedStock?.courierDetails.data.employeeName }}
                </ng-container>
              </p>
            </div>
            <div class="col">
              <p>
                {{ 'pw.stockReceive.totalReceivedWeightLableText' | translate }}
                :

                {{ selectedStock?.totalAvailableWeight }}
                {{ selectedStock?.weightUnit }}
              </p>
              <!-- <p class="mt-1">
                 {{
                          'pw.stockReceive.totalMeasuredWeightLableText' | translate
                        }}  :
                {{ selectedStock?.totalAvailableWeight }}
                {{ selectedStock?.weightUnit }}
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </poss-web-expansion-panel-summary>
  <poss-web-expansion-panel-content>
    <div class="container-fluid" [formGroup]="stockForm">
      <div class="row">
        <div class="col-12 col-lg-10 m-auto">
          <div class="pw-top-heading-container">
            <div class="row pw-top-heading-container__item">
              <div class="col-auto pr-0">
                <a [routerLink]="['/', 'inventory', 'stockreceive', type]">
                  <span class="pw-i-24 pw-back-arrow-icon-24"></span>
                </a>
              </div>
              <div class="col-auto pl-0">
                <div class="pw-top-heading-container__main-head">
                  <span class="pw-i-36 pw-receive-stock-icon-36"></span>
                  <div>
                    <h2>{{ 'pw.stockReceive.title' | translate }}</h2>
                    <h5
                      class="pw-top-heading-container__sub-heading pw-fith-heading"
                    >
                      {{ 'pw.stockReceive.fromLableText' | translate }} :

                      <ng-container *ngIf="type == stockReceiveEnumRef.FAC_BTQ">
                        {{ 'pw.stockReceive.factoryLableText' | translate }}
                      </ng-container>
                      <ng-container *ngIf="type == stockReceiveEnumRef.BTQ_BTQ">
                        {{ 'pw.stockReceive.boutiqueLableText' | translate }}
                      </ng-container>
                      <ng-container *ngIf="type == stockReceiveEnumRef.MER_BTQ">
                        {{ 'pw.stockReceive.boutiqueLableText' | translate }}
                      </ng-container>
                      <ng-container *ngIf="type == stockReceiveEnumRef.CFA_BTQ">
                        {{ 'pw.stockReceive.cfaLableText' | translate }}
                      </ng-container>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-4 col-6 pw-grid-card">
              <div class="pw-grid-card__item pw-is-active-bar mb-0">
                <div class="row">
                  <div class="col-auto">
                    <h4>{{ selectedStock?.srcDocNo }}</h4>
                  </div>
                  <div class="col-auto ml-auto">
                    <p class="pw-seventh-color">
                      <b>{{ selectedStock?.orderType }}</b>
                    </p>
                  </div>
                </div>

                <div>{{ selectedStock?.srcLocationCode }}</div>
                <div class="mt-1">
                  <p>
                    {{ selectedStock?.totalAvailableQuantity }}
                    {{ 'pw.stockReceive.productsLableText' | translate }} |
                    {{
                      selectedStock?.totalAvailableValue
                        | currency: selectedStock?.currencyCode
                    }}
                  </p>
                  <p>
                    <!-- {{ 'pw.stockReceive.fromLableText' | translate }} :
                    <ng-container *ngIf="type == stockReceiveEnumRef.FAC_BTQ">
                      {{ 'pw.stockReceive.factoryLableText' | translate }}
                    </ng-container>
                    <ng-container *ngIf="type == stockReceiveEnumRef.BTQ_BTQ">
                      {{ 'pw.stockReceive.boutiqueLableText' | translate }}
                    </ng-container>
                    <ng-container *ngIf="type == stockReceiveEnumRef.MER_BTQ">
                      {{ 'pw.stockReceive.boutiqueLableText' | translate }}
                    </ng-container>
                    <ng-container *ngIf="type == stockReceiveEnumRef.CFA_BTQ">
                      {{ 'pw.stockReceive.cfaLableText' | translate }}
                    </ng-container> 
                    |-->
                    {{ (isL1L2Store ? 'pw.stockReceive.stnDateLable' :  'pw.stockReceive.invoiceDateLable')| translate }} :
                    {{ selectedStock?.srcDocDate.format('DD-MMM-YYYY') }}
                  </p>
                  <p *ngIf="isL1L2Store">
                    <ng-container
                      *ngIf="
                        selectedStock?.courierDetails.type ==
                        stockReceiveCarrierTypesEnumRef.COURIER
                      "
                    >
                      {{ 'pw.stockReceive.courierLableText' | translate }} :
                      {{ selectedStock?.courierDetails.data.companyName }}
                    </ng-container>
                    <ng-container
                      *ngIf="
                        selectedStock?.courierDetails.type ==
                        stockReceiveCarrierTypesEnumRef.EMPLOYEE
                      "
                    >
                      {{ 'pw.stockReceive.employeeLableText' | translate }} :
                      {{ selectedStock?.courierDetails.data.employeeName }}
                    </ng-container>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-6 col-6 no-gutters align-self-center">
              <div class="">
                <ng-container *ngIf="isL1L2Store">
                  <div
                    class="row no-gutters"
                    *ngIf="
                      selectedStock?.courierDetails.type ==
                      stockReceiveCarrierTypesEnumRef.COURIER
                    "
                  >
                    <div class="col-sm-4 col-xs-auto">
                      <p>
                        {{
                          'pw.stockReceive.courierdocketNumberLableText'
                            | translate
                        }}
                      </p>
                    </div>
                    <div class="col-auto">
                      <p>
                        :
                        {{ selectedStock?.courierDetails.data.docketNumber }}
                      </p>
                    </div>
                  </div>
                </ng-container>
                <div class="row no-gutters mt-2">
                  <div class="col-sm-4 col-xs-auto">
                    <p>
                      {{
                        'pw.stockReceive.totalReceivedWeightLableText'
                          | translate
                      }}
                    </p>
                  </div>
                  <div class="col-auto">
                    <p>
                      : {{ selectedStock?.totalAvailableWeight }}
                      {{ selectedStock?.weightUnit }}
                    </p>
                  </div>
                </div>
                <!-- <div class="row no-gutters mt-1">
                    <div class="col-sm-4 col-xs-auto">
                      <p>
                        {{
                          'pw.stockReceive.totalMeasuredWeightLableText' | translate
                        }}
                      </p>
                    </div>
                    <div class="col-auto">
                      <p>
                        : {{ selectedStock?.totalAvailableWeight }}
                        {{ selectedStock?.weightUnit }}
                      </p>
                    </div>
                  </div> -->
                <div class="row no-gutters mt-1 align-items-baseline">
                  <div class="col-sm-4 col-xs-auto">
                    <p>
                      {{ 'pw.stockReceive.receivingDateLableText' | translate }}
                    </p>
                  </div>
                  <div class="col-auto">
                    <p>
                      :
                      <mat-form-field
                        floatLabel="never"
                        (click)="$event.stopPropagation()"
                        class="pw-form-field-border-top-0"
                      >
                        <input
                          matInput
                          placeholder=" {{
                            'pw.stockReceive.receivingDateLableText' | translate
                          }}"
                          [max]="currentDate"
                          [min]="selectedStock?.srcDocDate"
                          [matDatepicker]="datePickerExpanded"
                          formControlName="courierReceivedDate"
                        />

                        <mat-icon matSuffix (click)="datePickerExpanded.open()">
                          <span class="pw-i-12 pw-calender-icon-12"></span>
                        </mat-icon>
                        <mat-error
                          *ngIf="
                            stockForm
                              .get('courierReceivedDate')
                              .hasError('required')
                          "
                        >
                          {{ 'pw.stockReceive.requiredDateError' | translate }}
                        </mat-error>
                        <mat-error
                          *ngIf="
                            stockForm
                              .get('courierReceivedDate')
                              .hasError('matDatepickerMin')
                          "
                        >
                          {{
                            'pw.stockReceive.invalidMinDateError' | translate
                          }}
                          {{ selectedStock?.srcDocDate.format('DD-MMM-YYYY') }}
                        </mat-error>
                        <mat-error
                          *ngIf="
                            stockForm
                              .get('courierReceivedDate')
                              .hasError('matDatepickerMax')
                          "
                        >
                          {{
                            'pw.stockReceive.invalidMaxDateError' | translate
                          }}
                        </mat-error>
                        <mat-datepicker #datePickerExpanded></mat-datepicker>
                      </mat-form-field>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-4 col-5 ml-auto pw-text-right"
              *ngIf="
                (itemsTotalCountLoaded$ | async) &&
                nonVerifiedItemsTotalCount == 0 &&
                verifiedItemsTotalCount != 0 &&
                tab == stockReceiveTabEnumRef.VERIFIED &&
                !(filter.length > 0 || itemCode)
              "
            >
              <p class="pb-1">
                {{
                  'pw.stockReceive.assignBinCodeToAllDropDownText' | translate
                }}
              </p>
              <button
                mat-flat-button
                class="pw-btn pw-cta-btn"
                (click)="openBinSelectionPopup($event)"
              >
                <div class="row">
                  <div class="col-auto">
                    <p>
                      <ng-container *ngIf="selectedBinCode; else showSelectBin">
                        {{ selectedBinCode }}
                      </ng-container>
                      <ng-template #showSelectBin>
                        {{ 'pw.stockReceive.selectBinCodeLable' | translate }}
                      </ng-template>
                    </p>
                  </div>
                  <div class="col-auto ml-auto">
                    <span class="pw-i-16 pw-bin-icon-16"></span>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </poss-web-expansion-panel-content>
</poss-web-expansion-panel>

<div
  class="container-fluid "
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="row mt-2 mb-5">
    <div class="col-lg-10 col-12 m-auto">
      <div class="pw-filter-box">
        <div class="row align-items-end">
          <div class="col-lg-7">
            <ul class="pw-filter-box__sub-head-lists">
              <li class="pw-filter-box__list">
                <a
                  [class.is-active]="tab == stockReceiveTabEnumRef.NON_VERIFIED"
                  (click)="changeTab(stockReceiveTabEnumRef.NON_VERIFIED)"
                  class="pw-filter-box__heading "
                >
                  {{ 'pw.stockReceive.nonVerifiedProductsTabText' | translate }}
                  <span class="pw-fourth-color"
                    >({{ nonVerifiedItemsTotalCount }})</span
                  >
                </a>
              </li>
              <li class="pw-filter-box__list">
                <a
                  [class.is-active]="tab == stockReceiveTabEnumRef.VERIFIED"
                  (click)="changeTab(stockReceiveTabEnumRef.VERIFIED)"
                  class="pw-filter-box__heading"
                >
                  {{ 'pw.stockReceive.verifiedProductsTabText' | translate }}
                  <span class="pw-fourth-color"
                    >({{ verifiedItemsTotalCount }})</span
                  >
                </a>
              </li>
            </ul>
          </div>

          <div class="col-lg-5">
            <div class="row pw-filter-box__right-content align-items-baseline">
              <div class="col-auto">
                <a (click)="openFilter()">
                  <p>
                    <span
                      class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"
                    ></span>
                    {{ 'pw.stockReceive.filterLable' | translate }}
                  </p>
                </a>
              </div>
              <div class="col-auto">
                <a (click)="openSortDailog()">
                  <p>
                    <span
                      class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"
                    ></span>
                    {{ 'pw.stockReceive.sortLable' | translate }}
                  </p>
                </a>
              </div>

              <poss-web-search
                class="col-lg-6 col-4 ml-auto ml-lg-0"
                placeholder="{{
                  'pw.stockReceive.searchByVariantCodePlaceholderText'
                    | translate
                }}"
                (search)="searchItems($event)"
                (clear)="clearSearchItems()"
              >
              </poss-web-search>
            </div>
          </div>
        </div>
      </div>
      <poss-web-stock-receive-item-list
        [count]="itemsCount$ | async"
        [itemList]="items$ | async"
        [isVerified]="!(tab == stockReceiveTabEnumRef.NON_VERIFIED)"
        [binCodes]="binCodes"
        [binGroupCode]="binGroupCode"
        [remarks]="remarks$ | async"
        [tolerance]="tolerance$ | async"
        [pageEvent]="itemsPageEvent"
        (verify)="verifyItem($event)"
        (update)="updateItem($event)"
        (paginator)="paginate($event)"
        (parentFormDirty)="onParentFormDirty($event)"
        (validate)="validateItem($event)"
      >
      </poss-web-stock-receive-item-list>

      <div
        *ngIf="
          (isItemsLoaded$ | async) &&
          (items$ | async)?.length === 0 &&
          !(filter.length > 0 || itemCode || sortBy) &&
          tab == stockReceiveTabEnumRef.NON_VERIFIED
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        <span class="pw-i-16 pw-success-icon-16"></span>
        {{ 'pw.stockReceive.emptyNonVerifiedTabMessage' | translate }}
      </div>

      <div
        *ngIf="
          (isItemsLoaded$ | async) &&
          (items$ | async)?.length === 0 &&
          !(filter.length > 0 || itemCode || sortBy) &&
          tab == stockReceiveTabEnumRef.VERIFIED
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        {{ 'pw.stockReceive.emptyVerifiedTabMessage' | translate }}
      </div>

      <div
        *ngIf="
          (isItemsLoaded$ | async) &&
          (filter.length > 0 || itemCode || sortBy) &&
          (items$ | async)?.length == 0
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        {{ 'pw.stockReceive.emptySearchResultsMessage' | translate }}
      </div>
      <poss-web-loader
        *ngIf="
          (isLoadingBinGroups$ | async) ||
          (isLoadingSelectedStock$ | async) ||
          (isLoadingRemarks$ | async) ||
          (isLoadingTolerance$ | async) ||
          (itemsTotalCountLoading$ | async) ||
          (isItemsLoading$ | async)
        "
      >
      </poss-web-loader>
    </div>
  </div>
</div>

<ng-template #confirmSuccessNotificationTemplate>
  <div class="pw-text-center">
    <h3 class="pw-success-color">
      {{ selectedStock?.totalAvailableQuantity }}

      {{
        'pw.stockReceiveNotificationMessages.confirmReceiveSuccessMessageLine1'
          | translate
      }}
    </h3>
    <div class="pt-2">
      {{
        'pw.stockReceiveNotificationMessages.confirmReceiveSuccessMessageLine2'
          | translate
      }}
    </div>

    <h5 class="pw-success-color pt-2">
      {{
        'pw.stockReceiveNotificationMessages.confirmReceiveSuccessMessageLine3'
          | translate
      }}
      {{ destDocNo }}
    </h5>
    <!-- TODO : Uncomment when reports implemented -->
    <!-- <h6 class="pw-success-color pt-2">
      <span class="pw-i-16 pw-download-icon-16"></span>
      {{
        'pw.stockReceiveNotificationMessages.confirmReceiveSuccessMessageLine4'
          | translate
      }}
    </h6> -->
  </div>
</ng-template>
