// popup-box
.pw-overlay-notification {
  background: var(--secondary-color);
  color: var(--sixth-color);
  width: 100vw;
  position: relative;
  padding: 0 30px;

  .mat-icon-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .pw-btn {
    margin-left: 15px;
  }

  &__content {
    padding: 20px 0 15px;
  }

  &__container {
    position: relative;
  }

  .pw-white-form-field {
    padding: 0;
    background: var(--secondary-color);
    width: 25%;
    position: absolute;
    right: 200px;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;

    &.mat-focused {
      width: 50%;
      position: absolute;
      background: var(--secondary-color);
      z-index: 999;
    }
  }

  .pw-close-button {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

textarea {
  resize: none !important;
  overflow: hidden !important;
}

@media (max-width: 991px) {
  .pw-overlay-notification {
    .pw-white-form-field {
      &.mat-focused {
        width: 70%;
      }
    }
  }
}
