<mat-progress-bar
  *ngIf="
    data.type == overlayNotificationTypes.TIMER ||
    data.type == overlayNotificationTypes.PROGRESS
  "
  mode="indeterminate"
></mat-progress-bar>
<div class="pw-overlay-notification">
  <div class="container-fluid">
    <div class="row align-items-center pw-overlay-notification__container">
      <ng-container
        *ngIf="
          data.type != overlayNotificationTypes.CUSTOM &&
          data.type != overlayNotificationTypes.ERROR
        "
      >
        <div
          class="col-auto pw-overlay-notification__content"
          [class.col-8]="
            data.type == overlayNotificationTypes.ACTION && !data.hasRemarks
          "
          [class.col-4]="data.hasRemarks"
          [class.pw-success-color]="
            data.type == overlayNotificationTypes.SUCCESS
          "
        >
          {{ data.message }}
        </div>

        <ng-container *ngIf="data.hasRemarks">
          <mat-form-field
            [formGroup]="notificationForm"
            class="col-auto pw-white-form-field pw-form-field-border-top-0"
            floatLabel="never"
          >
            <textarea
              class="pw-textarea"
              formControlName="remarks"
              rows="1"
              matInput
              placeholder="
              {{
                (
                  translate.get('pw.overlayNotifcation.remarksPlaceholder')
                  | async
                )?.replace('{0}', remarksMaxCharLimit)
              }}
              "
              [required]="data.isRemarksMandatory"
            ></textarea>
            <mat-error class="pw-error-color">
              <ng-container
                *ngIf="notificationForm.get('remarks').hasError('required')"
              >
                {{
                  translate.get('pw.overlayNotifcation.remarksRequiredMessage')
                    | async
                }}
              </ng-container>
              <ng-container
                *ngIf="notificationForm.get('remarks').hasError('maxlength')"
              >
                {{
                  (
                    translate.get('pw.overlayNotifcation.maxCharErrorMessage')
                    | async
                  )?.replace(
                    '{0}',
                    notificationForm.get('remarks').getError('maxlength')[
                      'requiredLength'
                    ]
                  )
                }}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="data.type == overlayNotificationTypes.ACTION">
          <div class="col-auto ml-auto pw-overlay-notification__content">
            <button
              mat-raised-button
              class="pw-btn pw-accent-btn"
              (click)="emitEvent(eventTypes.TRUE)"
            >
              {{ data.buttonText }}
            </button>
          </div>
        </ng-container>

        <!-- TODO: TEMP action for Confirm transfer (bin to bin transfer ) -->
        <ng-container
          *ngIf="data.type == overlayNotificationTypes.CONFIRM_TRANSFER"
        >
          <div class="col-auto ml-auto pw-overlay-notification__content">
            <button
              mat-raised-button
              class="pw-btn pw-accent-btn"
              (click)="emitEvent(eventTypes.TRUE)"
            >
              CONFIRM TRANSFER
            </button>
            <button
              mat-raised-button
              class="pw-btn pw-primary-btn"
              (click)="emitEvent(eventTypes.FALSE)"
            >
              REMOVE
            </button>
          </div>
        </ng-container>

        <!-- TODO: TEMP action  (IBT ) -->
        <ng-container
          *ngIf="data.type == overlayNotificationTypes.REQUEST_ACTION"
        >
          <div class="col-auto ml-auto pw-overlay-notification__content">
            <button
              mat-raised-button
              class="pw-btn pw-primary-btn"
              (click)="emitEvent(eventTypes.FALSE)"
            >
              REJECT
            </button>
            <button
              mat-raised-button
              class="pw-btn pw-accent-btn"
              (click)="emitEvent(eventTypes.TRUE)"
            >
              ACCEPT
            </button>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="data.type == overlayNotificationTypes.CUSTOM">
        <div class="pw-overlay-notification__content m-auto">
          <ng-container [ngTemplateOutlet]="data.template"> </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="data.type == overlayNotificationTypes.ERROR">
        <div class="pw-overlay-notification__content pw-error-color">
          <ng-container *ngIf="data?.error?.traceId">
            (
            {{ translate.get('pw.overlayNotifcation.traceIdLable') | async }} :
            {{ data.error.traceId }} )
          </ng-container>
          {{ translate.get(translatedErrorMsgKey) | async }}
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="data.hasClose == true">
    <button
      mat-icon-button
      (click)="emitEvent(eventTypes.CLOSE)"
      class="pw-close-button"
    >
      <mat-icon> <span class="pw-i-10 pw-close-icon-white-16"></span></mat-icon>
    </button>
  </ng-container>
</div>
