<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)='back()'>
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>{{ 'pw.locationMaster.mainLocationlabel' | translate}}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.locationMaster.mainSetuplabel' | translate}}
                </h5>
              </div>
            </div>
          </div>
          <div class="col-auto ml-auto">
            <button class="pw-btn pw-accent-btn px-5" (click)="addnew()" routerLinkActive="router-link-active">
              {{ 'pw.locationMaster.addNew' | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="pw-filter-box">
        <div class="row align-items-flex-end">
          <div class="col-auto">
            <div class="pw-mont-semibold-14">
              {{'pw.locationMaster.mainLocationlabel' | translate}}
            </div>
          </div>
          <mat-form-field class="col-3 ml-auto pw-form-field-padding-bottom-0" [formGroup]="searchForm">
            <input #searchBox matInput type="text" placeholder=" {{ 'pw.locationMaster.searchPlaceholder' | translate}}"
              class="single-bordered-input" formControlName="searchValue"  (keypress)="omit_special_char($event)" />
            <mat-icon matSuffix>
              <span class="pw-i-16 pw-search-icon-16" *ngIf="!searchForm.value.searchValue"></span>
            </mat-icon>
            <mat-icon matSuffix (click)="clearSearch()">
              <span *ngIf="searchForm.value.searchValue" class="pw-i-10 pw-close-icon-16"></span></mat-icon>
          </mat-form-field>
        </div>
      </div>

      <poss-web-location-list-items [locationList]="locationList$ | async" [count]="totalCount$ | async"
        [pageEvent]="locationListingPageEvent" (paginator)="paginate($event)" (locationCode)="loadDetailsPage($event)"
        (emitCopyLocationData)="copyLocation($event)" [pageSize]='pageSize' (emitToggleValue)='updateIsActive($event)'>
      </poss-web-location-list-items>

      <div *ngIf="(hasError$ | async)?.code === searchErrorCode && !(locationList$ | async)?.length"
        class="pw-message pw-text-center mg-t-100">
        <h3 class="m-auto">{{ 'pw.locationMaster.noLocationText' | translate}}</h3>
      </div>
    </div>


    <poss-web-loader *ngIf="(isLoadingLocations$|async)"> </poss-web-loader>
  </div>
</div>
