
single-bordered-input {
  border: none;
  border-bottom: 1px solid rgba(94, 93, 86, 0.5);
  background: transparent;
  outline: none;
  position: relative;
  font-size: 0.8em;
  padding-bottom: 5px;
}
