.pw-confirmation-box {
  position: relative;

  &__header {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #e8e6e6;
    padding-bottom: 10px;
  }

  .mat-dialog-title {
    margin-bottom: 5px;
  }

  &__body {
    padding: 15px 0;
    margin: 0;
  }

  &__body-item {
    padding-bottom: 15px;
  }

  &__input {
    margin: 20px 15px 15px;

    .single-bordered-input {
      padding-left: 0;
    }
  }

  &__footer {
    margin-top: 50px;
  }

  .pw-btn {
    min-width: 100px !important;
  }
}

.pw-chip-box {
  .mat-standard-chip {
    min-height: 24px;
    border-radius: 16px;
    font-size: 0.75em;
    border: 1px solid var(--fourth-color);
    background: transparent;

    &.mat-chip-with-trailing-icon {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-right: 2px;
      font-size: 0.75em;
      color: var(--sixth-color);
    }
  }
}
