.pw-detail-card {
  background: $sixth-color;
  padding: 15px;
  margin: 10px 0;
  position: relative;
  word-break: break-all;

  &__body {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $fourth-color;
  }

  &__notification {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    color: $fourth-color;
  }

  &__list {
    margin-top: 25px;
    overflow: hidden;

    &__header {
      color: $fourth-color;
      padding: 10px 15px;
    }

    &__body {
      padding: 15px 15px 15px 0;
      border-bottom: 1px solid $fourth-color;

      // &:last-child {
      //   border-bottom: none;
      // }
    }
  }

  &__detail-header {
    border-right: 1px solid $fourth-color;
    color: $fourth-color;
    width: 130px;
    text-align: center;

    &:last-child {
      border-right: none;
    }
  }

  &__detail-body {
    margin-top: 10px;
    width: 130px;
    text-align: center;
  }

  &__fixed-hight {
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
  }
}

.pw-list-header {
  margin-top: 25px;
  margin-bottom: 20px;
  align-items: baseline;

  &__left-content {
    text-transform: uppercase;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: -5px;
      border: 1px solid $fourth-color;
      width: 40%;
    }
  }

  &__right-content {
    margin-left: auto;
    align-items: baseline;
  }

  .pw-i-32 {
    position: relative;
    top: 2px;
  }
}
