.pw-form-card {
  background: rgba($sixth-color, 0.7);
  border-radius: 5px;
  border: 1px solid $fourth-color;
  padding: 15px;
  margin-bottom: 15px;

  &__header {
    font-size: em(16);
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;

    &::before {
      position: absolute;
      content: "";
      bottom: -5px;
      border: 2px solid $fourth-color;
      width: 65%;
    }
  }

  &__border-right {
    border-right: 1px solid $fourth-color;
  }

  .single-bordered-input {
    border-width: 1px;
    font-size: em(14);
    padding-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }

  .pw-input-box {
    background: transparent;
    border: 1px solid $fourth-color;
    border-radius: 5px;
    padding: 4px;
    width: 100%;
    text-align: right;

    &:focus {
      outline: none;
    }
  }

  &__head {
    padding-bottom: 15px;
    border-bottom: 1px solid $fourth-color;
    margin-bottom: 15px;
  }

  &__footer {
    text-align: right;
  }

  &__fixed-hight {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
  }

  &__list {
    padding: 10px 0;
    border-top: 1px solid $eigth-color;
  }

  &__right-content {
    float: right;
  }

  &__right-text {
    position: relative;
    top: -7px;
  }

  &__input {
    position: relative;
  }

  &__button {
    position: absolute;
    right: 0;
    top: 13px;
    background: $fourth-color;
    border: $fourth-color;
    border-radius: 5px;
    color: $sixth-color;
    padding: 3px 10px;
    font-size: em(12);
    text-transform: uppercase;
  }

  .pw-approved-icon-12 {
    position: absolute;
    top: 20px;
    right: 0;
  }
}

.pw-scrollable-height {
  height: calc(100vh - 270px);
  overflow: auto;
}

.pw-scrollable-height1 {
  height: calc(100vh - 290px);
  overflow: auto;
}

@media (max-width: 991px) {
  .pw-form-card {
    &__border-right {
      border-right: none;
    }
  }
}
