.pw-form-detail-popup-box {
  &__header {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: $montserrat;
  }

  &__body {
    padding: 15px 0;
  }

  &__body-item {
    padding-bottom: 15px;
    align-items: baseline;
  }

  &__input {
    margin-bottom: 15px;

    .pw-single-bordered-input {
      padding-left: 0;
      width: 100%;
    }
  }

  &__grid-header {
    background: #e6e5e5;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    margin: 0;
  }

  &__grid-body-item {
    align-items: center;
    margin: 0;

    .pw-bg-input-box {
      width: 100%;
    }
  }

  &__grid-body {
    max-height: 250px;
    overflow-y: auto;
  }

  &__footer {
    margin-top: 15px;
  }
}
