.pw-filter-box {
  margin-top: 10px;

  &__heading {
    font-family: $montserrat;
    font-size: em(14);

    &.is-active {
      font-weight: bold;
    }
  }

  &__list {
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid $fifth-color;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: none;
    }
  }

  &__sub-head-lists {
    margin-bottom: 0;
    display: flex;
  }

  .pw-search-icon-16 {
    position: absolute;
    top: 10px;
    right: 0;
  }

  &__right-content {
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__icon {
    left: -6px;
  }

  // .pw-approved-icon-12 {
  //   position: absolute;
  //   top: -12px;
  //   left: 8px;
  // }
}

.pw-list-card {
  background: $sixth-color;
  padding: 15px 0;
  margin: 10px 0;
  word-wrap: break-word;
  position: relative;

  &__right-container {
    align-self: center;
    margin-left: auto;
  }

  &__item {
    padding: 0 10px;
    align-self: center;
  }

  // .pw-thumbnail-img {
  //   margin-right: 10px;
  //   width: 60px;
  //   height: 60px;
  //   overflow: hidden;
  // }

  .mat-select-cls {
    width: 100px;
    padding: 9px 9px;
    margin-top: 5px;
  }
}

.pw-dashed-list {
  padding: 20px 10px;
  margin: 10px 0;
  border: 2px dashed $fifth-color;
  align-items: center;
  border-radius: 5px;
  opacity: 0.6;

  .single-bordered-input {
    font-size: em(16);
  }
}

.pw-tooltip {
  position: absolute;
  right: -94px;
  top: 23px;
  background: $sixth-color;
  padding: 0 5px 5px 5px;
  z-index: 1;
  box-shadow: 0 2px 6px rgba($secondary-color, 0.16);

  &::after,
  &::before {
    top: -17px;
    left: 14%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: $sixth-color;
    border-width: 10px;
    margin-left: -10px;
  }

  &::before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: transparent;
    border-width: 10px;
    margin-left: -10px;
  }
}

.pw-grid-card {
  &__item {
    background: var(--sixth-color);
    padding: 16px 19px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover,
    &:focus,
    &.pw-is-active-bar {
      border-bottom: 1px solid var(--fourth-color);
      border-radius: 5px 5px 0 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

@media (max-width: 991px) {
  .pw-list-card {
    &__item {
      padding: 0 5px 10px;
    }

    .pw-primary-btn {
      margin-top: 20px;
    }
  }

  .pw-filter-box {
    &__right-content {
      justify-content: start;
      padding-left: 20px;
    }
  }
}

// @media (max-width: 767px) and (min-width: 600px) {
//   .pw-list-card {
//     &__item {
//       align-self: flex-end;

//       &:first-child {
//         align-self: center;
//       }
//     }

//     .pw-bg-input-box {
//       width: 74px !important;
//     }

//     .pw-input-group {
//       align-items: flex-end;

//       .pw-sub-heading {
//         max-width: 74px;
//       }
//     }

//     .pw-sub-heading {
//       max-width: 74px;
//     }

//     .pw-width-120,
//     .pw-width-150 {
//       max-width: 100px;
//     }
//   }
// }
