.login-bg {
  background-image: url('./assets/img/login-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  position: relative;

  &::before {
    position: absolute;
    content: ' ';
    background: $fourth-color;
    width: 50%;
    height: 100vh;
    right: 0;
    border-radius: 50% 0 0 50%;
  }
}

.pw-login {
  height: calc(100vh - 84px);
  align-items: center;

  &__caption {
    font-size: em(18);
  }

  &__sub-heading {
    font-size: em(16);
    margin-top: 40px;
  }

  &__heading {
    font-size: em(92);
    font-weight: 700;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      bottom: -10px;
      border: 8px solid $fourth-color;
      width: 203px;
    }
  }

  &__play-icon {
    width: 101px;
    height: 101px;
    background: url('./assets/img/play-icon.svg') 0 0;
    display: block;
  }

  &__icon {
    margin-top: 85px;
  }

  &__logo-icon {
    width: 255px;
    height: 205px;
    background: url('./assets/img/thanisq-logo.svg') 0 0;
    display: block;
    margin: auto;
    position: relative;
    top: -42px;
  }

  &__input {
    position: relative;

    .single-bordered-input {
      padding-left: 20px;
      padding-right: 0;
      width: 275px;
      margin-bottom: 20px;
      height: 40px;
    }

    .pw-user-icon-16,
    .pw-lock-icon-16 {
      position: absolute;
      top: 11px;
      left: 0;
    }
  }

  .pw-showmore-btn {
    width: 275px;
    margin-bottom: 20px;
  }

  &__header {
    border-bottom: 2px solid $fourth-color;
    display: inline-block;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__margin-bottom {
    margin-bottom: 20px;
  }

  &__sub-header {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .login-bg {
    &::before {
      position: absolute;
      content: ' ';
      background: #b0a16e;
      width: 100%;
      height: 50vh;
      border-radius: 50% 50% 0 0;
      //bottom: -90px;
      bottom: 0;
    }
  }

  .login-bg1 {
    &::before {
      bottom: -15px;
    }
  }

  .pw-login {
    // height: 100vh;

    &__icon {
      margin-top: 40px;
    }

    &__logo-icon {
      //top: 66px;
    }

    // &__input {
    //   justify-content: center;
    // }
  }
}

.pw-top-navbar {
  height: 84px;
  line-height: 84px;
  position: relative;

  &__menu-items {
    display: inline-flex;
  }

  &__login-menu {
    font-size: em(16);
    color: $secondary-color;
    //font-weight: bold;
    margin-right: 40px;

    a {
      position: relative;
    }

    .pw-next-arrow-icon-24 {
      top: 2px;
    }
  }

  &__menu {
    float: left;
    margin: 0 40px 0 0;
    font-size: em(13);
    color: #9c9c9c;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
  }

  .navbar-logo {
    float: left;
    margin: 10px 27px !important;
    position: relative;
  }
}

@media (max-width: 991px) {
  .pw-top-navbar {
    &__login-menu {
      margin-left: 15px;
    }

    .navbar-logo {
      position: absolute;
      margin: 10px 0;
      left: 41%;
    }
  }

  .pw-login {
    align-items: baseline;
  }
}
