.pw-sidenav {
  background: $sixth-color;
  width: 220px;

  &__header {
    background: $primary-color;
  }

  &__close-icon {
    padding: 5px;
    text-align: right;
  }

  &__btn {
    background: transparent;
    border: 1px solid $fifth-color;
    padding: 6px 12px 4px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;

    &.is-active {
      background: $fourth-color;
      border-color: $fourth-color;
      color: $sixth-color;
    }
  }

  &__expansion-panel {
    box-shadow: none !important;
    background: transparent;
    border-bottom: 1px solid $ninth-color;

    .mat-content {
      overflow: visible;
    }

    .mat-expansion-panel-body {
      padding: 0;
      // background: $ninth-color;
    }

    .mat-expansion-indicator::after {
      border-width: 0 1px 1px 0;
      padding: 2px;
    }
  }

  &__sub-panel {
    .mat-expansion-panel-body {
      background: $ninth-color;
      padding: 8px 27px 8px;
    }
  }

  &__expansion-title {
    position: relative;
  }

  &__header-title {
    margin-left: 10px;
    position: relative;
    top: -10px;
    font-weight: bold;
  }

  &__profile {
    padding: 0 20px;
    height: 40px;
  }

  &__logout {
    padding: 8px 27px 8px;
    background: $ninth-color;
  }

  &__list-header {
    color: $fourth-color;
    font-size: em(12);
    text-transform: uppercase;
    // margin: 10px 20px;
    padding: 10px;
    border-bottom: 1px solid transparent;

    &:hover,
    &.active {
      background: $ninth-color;
      border-bottom: 1px solid $fourth-color;
    }
  }

  &__sub-text {
    position: absolute;
    bottom: -5px;
    left: 33px;
  }

  &__expansion-header {
    font-size: em(12);
    font-weight: 600;
  }

  &__body {
    .pw-sidenav__expansion-header {
      height: 35px !important;
      line-height: 35px;

      &.mat-expanded {
        background: $ninth-color;

        &:hover {
          background: $ninth-color;
        }
      }

      &:hover {
        background: $ninth-color;
      }

      .mat-icon {
        width: 20px;
      }
    }
  }

  .mat-expansion-panel-spacing {
    margin: 0;
  }

  &__list {
    padding: 0 24px;
    font-size: em(11);
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid $ninth-color;

    .mat-icon {
      width: 17px;
    }

    &:hover {
      background: $ninth-color;
    }
  }

  .mat-icon-button {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  &__sub-list {
    padding-left: 15px;
    font-size: 12px;
  }
}
