.pw-tab {
  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
  }

  &__list-item {
    display: flex;
    margin: 0 40px 0 0;
  }

  &__item {
    font-weight: 400;

    span {
      font-weight: 400;
    }
  }

  .pw-is-active-bar {
    .pw-tab__item {
      font-weight: 700;
      padding-bottom: 5px;

      span {
        font-weight: 700;
      }
    }
  }
}

.pw-sub-tab {
  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
  }

  &__list-item {
    display: flex;
    margin: 0 40px 0 0;
  }

  &__item {
    font-weight: 400;
  }

  .pw-is-active {
    .pw-sub-tab__item {
      font-weight: 700;
    }
  }
}

.pw-card {
  background: $sixth-color;
  margin: 0 0 15px;
  border-radius: 5px;
  overflow: hidden;

  &__border {
    border-right: 1px solid $ninth-color;
  }

  &__header {
    padding: 10px;
    border-bottom: 1px solid $ninth-color;
  }

  &__body {
    padding: 15px 10px;
  }

  .pw-bg-input-box {
    width: 100%;
  }

  &__minus-icon {
    position: absolute;
    top: 10px;
    right: 65px;
    font-size: 27px;
    background: $eigth-color;
    width: 25px;
    height: 25px;
    line-height: 21px;
    border-radius: 50%;
    text-align: center;
  }

  &__plus-icon {
    position: absolute;
    top: 10px;
    right: 27px;
    font-size: 21px;
    background: $eigth-color;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    font-weight: normal;
  }
}

.pw-list {
  position: absolute;
  background: $sixth-color;
  width: 100%;
  box-shadow: 0 3px 6px rgba($secondary-color, 0.16);
  border-radius: 5px;
  z-index: 99;
  left: 0;
  top: 37px;

  &__item {
    padding: 10px;
    border-bottom: 1px solid $ninth-color;
  }
}
