.pw-top-heading-container {
  position: relative;

  &__item {
    position: relative;
    padding: 0 0 15px;
    align-items: center;
  }

  &__sub-heading {
    position: relative;
    top: -2px;
    border-bottom: 3px solid $fourth-color;
    display: inline-block;
  }

  &__main-head {
    display: flex;
  }

  &__form {
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__right-content {
    margin-left: auto;
    margin-right: 15px;
  }
}

.pw-main-heading-position {
  position: relative;
  top: 5px;
}

.pw-next-arrow {
  padding-right: 30px;
}

.pw-search-bar {
  position: relative;

  .pw-search-icon-16 {
    top: 10px;
  }

  .pw-close-icon-16 {
    right: -8px;
  }
}

// .subnav-bg {
//   background: rgba(255, 255, 255, 0.5);
//   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
// }

.pw-dropdown {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 9;
  border-radius: 5px;
  padding: 0 30px;

  &__item {
    padding: 8px 10px;
    border-top: 0.2px solid $primary-color;
    text-align: left;
    font-family: $ibm-plex-condensed;
    font-weight: 500;
    font-size: em(16);
  }
}

@media (max-width: 991px) {
  .pw-top-heading-container {
    &__back {
      margin: 0 15px 15px 0;
    }
  }
}
