.pw-vertical-list {
  background: rgba($sixth-color, 0.7);
  border-radius: 5px;
  border: 1px solid $fourth-color;
  margin-bottom: 30px;

  &__header {
    border-bottom: 1px solid $fourth-color;
    text-transform: uppercase;
    padding: 15px;
  }

  &__right-content {
    margin-left: auto;
  }

  &__body-item {
    padding: 10px 0;
    border-bottom: 1px solid $eigth-color;
    align-items: center;
    margin: 0 15px;

    &:last-child {
      border-bottom: none;
    }
  }

  .pw-bg-input-box {
    width: 40px;
    text-align: center;
    border: 1px solid $fourth-color;
    background: transparent;
    margin-top: 0;
    height: 30px;
    line-height: 30px;
  }

  &__box {
    border: 1px solid $fourth-color;
    border-radius: 5px;
    padding: 15px;
  }
}
