<ng-container>
  <div [formGroup]="itemForm" class="row pw-list-card">
    <div class="col-auto pw-list-card__item" *ngIf="cart == true">
      <mat-checkbox formControlName="isItemSelected" (change)="selectItem()">
      </mat-checkbox>
    </div>
    <div class="col-auto pw-list-card__item pw-thumbnail-img">
      <poss-web-thumbnail
        [thumbnailSrc]="item.imageURL"
        [imageSrc]="item.imageURL"
        [alt]="item.productCategory"
      >
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>
          {{ 'pw.returnInvoiceCFA.variantCodeLableText' | translate }} -
          {{ item.itemCode }}
        </p>
      </poss-web-thumbnail>
    </div>

    <div class="col-auto pw-list-card__item pw-width-120">
      <div class="pw-sub-heading">
        {{ item.itemCode }}
      </div>
      <p>{{ item.lotNumber }}</p>
      <p>{{ item.mfgDate.format('DD-MMM-YYYY') }}</p>
      <p>
        {{ item.itemValue | currency: item.currencyCode }}
      </p>
    </div>
    <div class=" col-1 pw-list-card__item">
      <div class="pw-sub-heading">{{ item.orderType }}</div>

      <p>{{ item.productGroup }}</p>
      <p>{{ item.productCategory }}</p>
    </div>

    <div class="col-auto pw-list-card__item">
      <div class="row no-gutters pw-input-group">
        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.returnInvoiceCFA.itemQuantityLableText' | translate }}
            <span>{{ item.availableQuantity }} </span>
          </div>
          <input
            type="number"
            class="pw-bg-input-box border-right pw-border-radius-left"
            formControlName="measuredQuantity"
            readonly
          />
        </div>
        <div class=" col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.returnInvoiceCFA.itemWeightLableText' | translate }}
            <span>{{ item.availableWeight }} </span>
          </div>
          <input
            type="number"
            class="pw-bg-input-box border-right"
            formControlName="measuredWeight"
            readonly
          />
        </div>

        <div class=" col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.returnInvoiceCFA.binPlaceHolderText' | translate }}
          </div>
          <input
            type="text"
            class="pw-bg-input-box pw-border-radius-right"
            value="{{ item.binGroupCode }}"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="col pw-text-right pw-sub-heading pw-list-card__item">
      <span
        *ngIf="
          (itemForm.get('measuredQuantity').dirty ||
            itemForm.get('measuredQuantity').touched) &&
          itemForm.get('measuredQuantity').hasError('required')
        "
        class="pw-error-color"
      >
        {{ 'pw.returnInvoiceCFA.errorMsgQtyRequired' | translate }}
      </span>
      <span
        *ngIf="
          (itemForm.get('measuredQuantity').dirty ||
            itemForm.get('measuredQuantity').touched) &&
          itemForm.get('measuredQuantity').hasError('min')
        "
        class="pw-error-color"
      >
        {{ 'pw.returnInvoiceCFA.errorMsgQtyInvalid' | translate }}
      </span>
      <span
        *ngIf="
          (itemForm.get('measuredQuantity').dirty ||
            itemForm.get('measuredQuantity').touched) &&
          itemForm.get('measuredQuantity').hasError('max')
        "
        class="pw-error-color"
      >
        {{ 'pw.returnInvoiceCFA.errorMsgQtyMisMatch' | translate }}
      </span>
      <span *ngIf="item.availableQuantity == 0" class="pw-error-color ">
        <span class="pw-i-16 pw-warning-icon-16"></span> Out of Stock
      </span>
    </div>
    <div
      *ngIf="cart"
      class="col-auto pw-list-card__right-container  pw-list-card__item"
    >
      <button mat-icon-button (click)="removeItem()">
        <mat-icon> <span class="pw-i-24 pw-close-icon-24"></span> </mat-icon>
      </button>
    </div>
  </div>
</ng-container>
