<div class="add-new-button col-auto pw-top-heading-container__right-content">
  <button class="pw-btn pw-accent-btn" (click)="updateRole.emit('')">
    {{ 'pw.rolemanagementlist.addnewroleButtonText' | translate }}
  </button>
</div>

<div class="pw-search-box">
  <span class="pw-i-16 pw-search-icon-16"></span>
  <input
    #searchBox
    type="text"
    placeholder="{{
      'pw.rolemanagementlist.searchBoxPlaceholderText' | translate
    }}"
    class="pw-search-box__input"
  />
</div>

<div class="pw-tab">
  <ul class="pw-tab__list">
    <li class="pw-tab__list-item">
      <a [routerLink]="[]" class="pw-is-active-bar">
        <h5 class="pw-tab__item">
          {{ 'pw.rolemanagementlist.addremoveroleTabText' | translate }}
        </h5>
      </a>
    </li>
    <!-- <li class="pw-tab__list-item">
      <a>
        <h5 class="pw-tab__item">
          {{ 'pw.rolemanagementlist.boutiquerolelimitTabText' | translate }}
        </h5></a
      >
    </li> -->
  </ul>
</div>

<ng-container *ngIf="rolesList.length > 0; else emptyList">
  <poss-web-role-list-item
    *ngFor="let role of rolesList"
    [role]="role"
    (updateRole)="updateRole.emit($event)"
    (toggleRole)="toggleRole.emit($event)"
  ></poss-web-role-list-item>

  <mat-paginator
    class="pw-paginator"
    *ngIf="rolesListSize > minPageSize && rolesList.length > 0"
    [length]="rolesListSize"
    [pageSize]="pageEvent.pageSize"
    [pageIndex]="pageEvent.pageIndex"
    showFirstLastButtons
    [pageSizeOptions]="pageSizeOptions"
    (page)="paginateRolesList.emit($event)"
  >
  </mat-paginator>
</ng-container>

<ng-template #emptyList>
  <div class="mg-t-100"></div>
  <div class="pw-text-center pw-fourth-color">
    <div class="pw-font-24">
      <b>{{ 'pw.rolemanagementlist.emptyrolesMessage' | translate }}</b>
    </div>
    <div>{{ 'pw.rolemanagementlist.emptycreaterolesMessage' | translate }}</div>
  </div>
</ng-template>
