<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-12 col-lg-1"></div> -->
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a [routerLink]="['/inventory/instock']">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>

          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-instock-icon-36"></span>
              <div>
                <h2>{{ 'pw.otherReceiptsIssues.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.otherReceiptsIssues.subTitle' | translate }}
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-auto pw-top-heading-container__right-content pw-text-right">
            <mat-form-field
              *ngIf="type == otherIssuesTabEnumRef.OTHER_RECEIPTS"
              appearance="outline"
              floatLabel="never"
              class="pw-selectable-dropdown"
              (click)="$event.stopPropagation()"
            >
              <mat-select
                disableOptionCentering
                panelClass="pw-panel-primary"
                (selectionChange)="createNewOtherReceipts($event)"
                placeholder="New Other Receipts"
              >
                <mat-option value="{{otherIssuesTabEnumRef.ADJUSTMENT}}">{{otherIssuesTabEnumRef.ADJUSTMENT | uppercase}}</mat-option>
                <mat-option value="{{otherIssuesTabEnumRef.PSV}}">{{otherIssuesTabEnumRef.PSV}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              *ngIf="type == 'otherissues'"
              appearance="outline"
              floatLabel="never"
              class=" pw-selectable-dropdown"
              (click)="$event.stopPropagation()"
            >
              <mat-select
                disableOptionCentering
                panelClass="pw-panel-primary"
                (selectionChange)="createNewOtherIssue($event)"
                placeholder="New Other Issues"
              >
                <mat-option value="{{otherIssuesTabEnumRef.EXHIBITION}}">{{otherIssuesTabEnumRef.EXHIBITION | uppercase}}</mat-option>
                <mat-option value="{{otherIssuesTabEnumRef.LOAN_TYPE}}">{{otherIssuesTabEnumRef.LOAN}}</mat-option>
                <mat-option value="{{otherIssuesTabEnumRef.ADJUSTMENT}}">{{otherIssuesTabEnumRef.ADJUSTMENT | uppercase}}</mat-option>
                <mat-option value="{{otherIssuesTabEnumRef.PSV}}">{{otherIssuesTabEnumRef.PSV}}</mat-option>
                <mat-option value="{{otherIssuesTabEnumRef.LOSS}}">{{otherIssuesTabEnumRef.LOSS_TYPE}}</mat-option>
                <mat-option value="{{otherIssuesTabEnumRef.FOC}}">{{otherIssuesTabEnumRef.FOC}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="pw-tab">
        <ul class="pw-tab__list align-items-flex-end mb-0">
          <ng-container>
            <li class="pw-tab__list-item">
              <a
                [class.pw-is-active-bar]="type == 'otherreceipts'"
                (click)="onTabSelection(otherIssuesTabEnumRef.OTHER_RECEIPTS)"
              >
                <h5 class="pw-tab__item pb-1">
                  {{ 'pw.otherReceiptsIssues.otherReceipts' | translate }}
                  <span class="pw-fourth-color"
                    >({{ otherReceiptsCount$ | async }})</span
                  >
                </h5>
              </a>
            </li>

            <li class="pw-tab__list-item">
              <a
                [class.pw-is-active-bar]="type == 'otherissues'"
                (click)="onTabSelection(otherIssuesTabEnumRef.OTHER_ISSUES)"
              >
                <h5 class="pw-tab__item pb-1">
                  {{ 'pw.otherReceiptsIssues.otherIssues' | translate }}
                  <span class="pw-fourth-color"
                    >({{ otherIssuesCount$ | async }})</span
                  >
                </h5></a
              >
            </li>
          </ng-container>

          <mat-form-field
            class="ml-auto pt-1 pw-width-150 pw-form-field-padding-bottom-0"
          >
            <mat-select
              [formControl]="transferTypeDropDown"
              placeholder="Select Type"
              (selectionChange)="onFilterSelect($event.value)"
            >
              <ng-container *ngIf="type == 'otherreceipts'">
                <mat-option
                  *ngFor="let dropdowndata of (otherReceiptsDropDown$ | async)"
                  [value]="dropdowndata.type"
                >
                  {{ dropdowndata.type }} ({{ dropdowndata.count }})
                </mat-option>
              </ng-container>
              <ng-container *ngIf="type == 'otherissues'">
                <mat-option
                  *ngFor="let dropdowndata of (otherIssueDropDown$ | async)"
                  [value]="dropdowndata.type"
                >
                  {{ dropdowndata.type }} ({{ dropdowndata.count }})
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </ul>
      </div>
      <div class="row">
        <mat-form-field
          [formGroup]="searchForm"
          class="col-lg-3 col-4 ml-auto pw-form-field-border-top-0"
          floatLabel="never"
        >
          <input
            #searchBox
            matInput
            class="pw-input-box"
            [placeholder]="'pw.otherReceiptsIssues.search' | translate"
            formControlName="searchValue"
          />

          <mat-icon matSuffix>
            <span
              *ngIf="!searchForm.get('searchValue').value"
              class="pw-i-16 pw-search-icon-16"
            ></span
          ></mat-icon>
          <mat-icon matSuffix (click)="clearSearch()">
            <span
              *ngIf="searchForm.get('searchValue').value"
              class="pw-i-10 pw-close-icon-16"
            ></span
          ></mat-icon>
          <mat-error
            *ngIf="searchForm.get('searchValue').hasError('nan')"
            class="pw-error-color"
          >
            {{ searchForm.get('searchValue').getError('nan') | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <ng-container>
        <poss-web-card-list
          #otherReceiptsCardList
          *ngIf="type == 'otherreceipts'"
          [count]="
          ((isSearchingStocks$ | async) === false) && ((hasSearchStockResults$ | async) === (false||null))
              ? (totalReceiptsElementCount$ | async)
              : 0
          "
          [dataList]="
          ((isSearchingStocks$ | async) === false) && ((hasSearchStockResults$ | async) === (false||null))
              ? (otherReceiptsList$ | async)
              : (searchStockResults$ | async)
          "
          [pageSize]="pageSize"
          (loadMore)="loadStockList($event)"
          (selected)="onReceiptCardSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title> {{ item.srcDocNo }}</poss-web-card-title>
            <poss-web-card-subtitle
              >{{
                transferType
              }}</poss-web-card-subtitle
            >
            <poss-web-card-content>
              <!-- TODO : ADD CURRENCY PIPE-->
              <p>
                {{ item.totalAvailableQuantity }}
                {{ 'pw.otherReceiptsIssues.productsLableText' | translate }} |
                {{ item.totalAvailableValue | currency: 'INR' }}
              </p>
              <p>
                <!-- {{ 'pw.stockReceive.fromLableText' | translate }} :
                {{ 'pw.stockReceive.factoryLableText' | translate }} | -->
                {{ 'pw.otherReceiptsIssues.dateLableText' | translate }}
                {{ item.srcDocDate.format('DD-MMM-YYYY') }}
              </p>
              <div class="row">
                <!-- <div class="col-auto mr-auto">
                  <p *ngIf="item.transferType !== 'LOAN'">
                    {{ 'pw.stockReceive.courierLableText' | translate }} :
                    {{ item.courierDetails.courierCompany }}
                  </p>
                </div> -->
                <div class="col-auto pw-text-right">
                  <!-- <b> {{ item.orderType }}</b> -->
                </div>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>
        <poss-web-card-list
          #otherIssuesCardList
          *ngIf="type == 'otherissues'"
          [count]="
          ((isSearchingStocks$ | async) === false) && ((hasSearchStockResults$ | async) === (false||null))
              ? (totalIssueElementCount$ | async)
              : 0
          "
          [dataList]="
          ((isSearchingStocks$ | async) === false ) && ((hasSearchStockResults$ | async) === (false||null))
              ? (otherIssuesList$ | async)
              : (searchOtherissueStockResults$ | async)
          "
          [pageSize]="pageSize"
          (loadMore)="loadStockList($event)"
          (selected)="onIssueCardSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title> {{ item.reqDocNo }}</poss-web-card-title>
            <poss-web-card-subtitle>
              {{
                transferType
              }}
            </poss-web-card-subtitle
            >
            <poss-web-card-content>
              <p>
                {{ item.totalAvailableQuantity }}
                {{ 'pw.otherReceiptsIssues.productsLableText' | translate }} |
                {{ item.totalAvailableValue | currency: 'INR' }}
              </p>
              <p>
                <!-- {{ 'pw.stockReceive.fromLableText' | translate }} :
                {{ 'pw.stockReceive.boutiqueLableText' | translate }} | -->
                {{ 'pw.otherReceiptsIssues.dateLableText' | translate }}
                {{ item.reqDocDate.format('DD-MMM-YYYY') }}
              </p>
              <div class="row">
                <div
                  class="col-auto mr-auto"
                  *ngIf="
                    item.status == otherIssuesTabEnumRef.APVL_PENDING_STATUS
                  "
                >
                  <p
                    [ngClass]="
                      getStatusColor(item.status) === true
                        ? 'pw-success-color'
                        : 'pw-error-color'
                    "
                  >
                    {{ 'pw.otherReceiptsIssues.status' | translate }} :
                    {{
                      'pw.otherReceiptsIssues.approvalPendingStatus' | translate
                    }}
                  </p>
                </div>
                <div
                  class="col-auto mr-auto"
                  *ngIf="item.status == otherIssuesTabEnumRef.APPROVED_STATUS"
                >
                  <p
                    [ngClass]="
                      getStatusColor(item.status) === true
                        ? 'pw-success-color'
                        : 'pw-error-color'
                    "
                  >
                    {{ 'pw.otherReceiptsIssues.status' | translate }} :
                    {{ 'pw.otherReceiptsIssues.approvedStatus' | translate }}
                  </p>
                </div>
                <div class="col-auto pw-text-right">
                  <!-- <b> {{ item.orderType }}</b> -->
                </div>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <h3
          class="pw-text-center m-5"
          *ngIf="
            (isLoadingOtherReceiptsSTN$ | async) === false &&
            (isLoadingOtherIssuesSTN$ | async) === false &&
            (isSearchingStocks$ | async) === false &&
            ((type == 'otherreceipts' &&
              (hasSearchStockResults$ | async) === false &&
              (otherReceiptsList$ | async) &&
              (otherReceiptsList$ | async).length === 0) ||
              (type == 'otherissues' &&
                (hasSearchStockResults$ | async) === false &&
                (otherIssuesList$ | async) &&
                (otherIssuesList$ | async).length === 0) ||
              ((hasSearchStockResults$ | async) &&
                ((searchStockResults$ | async).length === 0 &&
                  (searchOtherissueStockResults$ | async).length === 0)))
          "
        >
          {{ 'pw.otherReceiptsIssues.noDataFoundText' | translate }}
        </h3>
      </ng-container>

      <!-- <div
        *ngIf="
          (isLoadingOtherReceiptsSTN$ | async) ||
          (isLoadingOtherIssuesSTN$ | async) ||
          (isSearchingStocks$ | async)
        "
        class="pw-text-center"
      >
        <button class="pw-btn pw-showmore-btn">
          {{ 'pw.otherReceiptsIssues.loadingText' | translate }} ...
        </button>
      </div> -->

      <poss-web-loader
        *ngIf="
          (isLoadingOtherReceiptsSTN$ | async) ||
          (isLoadingOtherIssuesSTN$ | async) ||
          (isSearchingStocks$ | async)
        "
      >
      </poss-web-loader>

      <poss-web-loader *ngIf="(isSearchingStocks$ | async)"> </poss-web-loader>
    </div>
  </div>
</div>
