<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a [routerLink]="['/inventory']">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-issue-stock-icon-36"></span>
              <div>
                <h2>{{ 'pw.stockIssue.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.stockIssue.subTitle' | translate }}
                </h5>
              </div>
            </div>
          </div>

          <div *ngIf="type === 'factory' || type === 'cfa'" class="col-lg-3 col-md-4 col-6 ml-auto">
            <div class="row justify-content-center" *ngIf="isL1L2Store()">
              <mat-form-field appearance="outline" floatLabel="never" class="col-auto pw-selectable-dropdown"
                (click)="$event.stopPropagation()" [formGroup]="transferTypeForm">
                <mat-select formControlName="selectedTransferType" disableOptionCentering panelClass="pw-panel-primary"
                  (selectionChange)="createStockIssueTransferType()" placeholder="Select Issue Type">
                  <!-- <mat-option *ngIf="isL3Store()" value="NEW_ISSUE_TO_CFA"
                    >New Issue to CFA</mat-option
                  > -->
                  <mat-option value="TEP_PLAIN">{{ 'pw.stockIssue.tepPlainText' | translate }}</mat-option>
                  <mat-option value="TEP_STUDDED"> {{ 'pw.stockIssue.tepStuddedtext' | translate }}</mat-option>
                  <mat-option value="GEP">{{ 'pw.stockIssue.gepText' | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="isL1L2Store()">
        <div class="pw-tab">

          <ul class="pw-tab__list">
            <li class="pw-tab__list-item">
              <a [class.pw-is-active-bar]="type == 'factory'" (click)="changeStockIssueType('factory')">
                <h5 class="pw-tab__item">
                  {{ 'pw.stockIssue.issueToFactoryTabText' | translate }}
                  <span class="pw-fourth-color">({{ BTQ_FAC_IssuePendingSTNCount$ | async }})</span>
                </h5>
              </a>
            </li>
            <li class="pw-tab__list-item">
              <a [class.pw-is-active-bar]="type != 'factory'" (click)="changeStockIssueType('boutique')">
                <h5 class="pw-tab__item">
                  {{ 'pw.stockIssue.issueToBoutiqueTabText' | translate }}
                  <span
                    class="pw-fourth-color">({{( BTQ_BTQ_IssuePendingSTNCount$ | async)+(BTQ_MER_IssuePendingSTNCount$ | async  ) }})</span>
                </h5>
              </a>
            </li>
            <li class="pw-tab__list-item">
              <!-- <a [class.pw-is-active-bar]="type == 'merchandise'" (click)="changeStockIssueType('merchandise')">
                <h5 class="pw-tab__item">
                  Issue from Merchandise
                  <span class="pw-fourth-color">({{ BTQ_MER_IssuePendingSTNCount$ | async }})</span>
                </h5>
              </a> -->
            </li>
            <mat-form-field class="pw-tab__list-item ml-auto pt-1 pw-width-150 pw-form-field-padding-bottom-0"
              *ngIf="type!=='factory'" [formGroup]="requestTypeForm">
              <mat-select placeholder="Select Type" formControlName="selectedRequestType">
                <mat-option value='boutique'>IBT ({{BTQ_BTQ_IssuePendingSTNCount$ | async}})</mat-option>
                <mat-option value='merchandise'>MER ({{BTQ_MER_IssuePendingSTNCount$ | async}})</mat-option>
              </mat-select>
            </mat-form-field>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1 col-12 pr-lg-0"></div>
    <div class="col-lg-10 col-12 m-auto">
      <div class="row" [ngClass]="{'hidden':isL3Store()}">

        <mat-form-field [formGroup]="searchForm" class="col-lg-3 col-sm-4  ml-auto pw-search-bar" floatLabel="never">
          <input #searchBox matInput class="pw-input-box" [placeholder]="'pw.stockIssue.search' | translate"
            formControlName="searchValue" />
          <mat-icon matSuffix>
            <span *ngIf="!searchForm.get('searchValue').value" class="pw-i-16 pw-search-icon-16"></span></mat-icon>
          <mat-icon matSuffix (click)="clearSearch()">
            <span *ngIf="searchForm.get('searchValue').value" class="pw-i-10 pw-close-icon-16"></span></mat-icon>
          <mat-error *ngIf="searchForm.get('searchValue').hasError('nan')" class="pw-error-color">
            {{ searchForm.get('searchValue').getError('nan') | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="pw-scrollable">
        <ng-container *ngIf="isL1L2Store()">
          <poss-web-card-list *ngIf="type == 'factory'" [count]="
              !searchForm.get('searchValue').value
                ? (BTQ_FAC_IssuePendingSTNCount$ | async)
                : 0
            " [dataList]="
              !searchForm.get('searchValue').value
                ? (BTQ_FAC_PendingSTN$ | async)
                : (searchIssueSTNResult$ | async)
            " [pageSize]="pageSize" (loadMore)="loadStocks($event)" (selected)="onSelected($event)">
            <ng-template let-item="data">
              <poss-web-card-title>Request No: {{ item.reqDocNo }}</poss-web-card-title>
              <poss-web-card-subtitle>{{
                item.destLocationCode
              }}</poss-web-card-subtitle>
              <poss-web-card-content>
                <p>
                  {{item.totalAvailableQuantity + item.totalMeasuredQuantity}} Products |
                  {{ (item.totalAvailableValue + item.totalMeasuredValue).toFixed(2) | currency: 'INR' }}
                </p>
                <p>Total Weight: {{(item.totalAvailableWeight + item.totalMeasuredWeight).toFixed(3)}}
                  {{item.weightUnit}}</p>
                <p>
                  <!-- {{ 'pw.stockIssue.toLabelText' | translate }} : {{ 'pw.stockIssue.factoryLabelText' | translate }} | -->
                  {{ item.reqDocDate.format('DD-MM-YYYY') }}
                </p>
                <div class="row">
                  <div class="col">
                    <!-- <p>Courier :</p> -->
                  </div>
                </div>
              </poss-web-card-content>
            </ng-template>
          </poss-web-card-list>

          <poss-web-card-list *ngIf="type == 'boutique'" [count]="
              !searchForm.get('searchValue').value
                ? (BTQ_BTQ_IssuePendingSTNCount$ | async)
                : 0
            " [dataList]="
              !searchForm.get('searchValue').value
                ? (BTQ_BTQ_PendingSTN$ | async)
                : (searchIssueSTNResult$ | async)
            " [pageSize]="pageSize" (loadMore)="loadStocks($event)" (selected)="onSelected($event)">
            <ng-template let-item="data">
              <poss-web-card-title>Request No:{{ item.reqDocNo }}</poss-web-card-title>
              <poss-web-card-subtitle>{{
                item.destLocationCode
              }}</poss-web-card-subtitle>
              <poss-web-card-content>
                <p>Total Weight: {{(item.totalAvailableWeight + item.totalMeasuredWeight).toFixed(3)}}
                  {{item.weightUnit}}</p>
                <p [ngClass]="{
                    'pw-success-color': item.status === 'APPROVED',
                    'pw-error-color': item.status !== 'APPROVED'
                  }">
                  {{ 'pw.stockIssue.toLabelText' | translate }} :{{ item.status }}
                </p>
                <div class="row">
                  <div class="col">
                    <p>{{ item.reqDocDate.fromNow() }}</p>
                  </div>
                </div>
              </poss-web-card-content>
            </ng-template>
          </poss-web-card-list>

          <poss-web-card-list *ngIf="type == 'merchandise'" [count]="
              !searchForm.get('searchValue').value
                ? (BTQ_MER_IssuePendingSTNCount$ | async)
                : 0
            " [dataList]="
              !searchForm.get('searchValue').value
                ? (BTQ_MER_PendingSTN$ | async)
                : (searchIssueSTNResult$ | async)
            " [pageSize]="pageSize" (loadMore)="loadStocks($event)" (selected)="onSelected($event)">
            <ng-template let-item="data">
              <poss-web-card-title>Request No: {{ item.reqDocNo }}</poss-web-card-title>
              <poss-web-card-subtitle>{{
                item.destLocationCode
              }}</poss-web-card-subtitle>
              <poss-web-card-content>
                <p>
                  {{item.totalAvailableQuantity + item.totalMeasuredQuantity}} Products |
                  {{ (item.totalAvailableValue + item.totalMeasuredValue).toFixed(2) | currency: 'INR' }}
                </p>
                <p>Total Weight: {{(item.totalAvailableWeight + item.totalMeasuredWeight).toFixed(3)}}
                  {{item.weightUnit}}</p>
                <p>
                  <!-- {{ 'pw.stockIssue.toLabelText' | translate }} : {{ 'pw.stockIssue.boutiqueLabelText' | translate }}t | -->
                  {{ item.reqDocDate.format('DD-MM-YYYY') }}
                </p>
                <div class="row">
                  <div class="col">
                    <!-- <p>Courier :</p> -->
                  </div>
                </div>
              </poss-web-card-content>
            </ng-template>
          </poss-web-card-list>

          <h3 class="pw-text-center m-5" *ngIf="
              isLoadingBTQ_BTQ_STN == false &&
              isLoadingBTQ_MER_STN == false &&
              isLoadingBTQ_FAC_STN == false &&
              ((type == 'factory' &&
                !searchForm.get('searchValue').value &&
                (BTQ_FAC_PendingSTN$ | async).length === 0) ||
                (type == 'boutique' &&
                  !searchForm.get('searchValue').value &&
                  (BTQ_BTQ_PendingSTN$ | async).length === 0) ||
                (type == 'merchandise' &&
                  !searchForm.get('searchValue').value &&
                  (BTQ_MER_PendingSTN$ | async).length === 0) ||
                (searchForm.get('searchValue').value &&
                  (hasSearchIssueResults$ | async) &&
                  (searchIssueSTNResult$ | async).length === 0))
            ">
            {{ 'pw.stockIssue.noDataFoundText' | translate }}
          </h3>
        </ng-container>

        <ng-container *ngIf="isL3Store()">
          <div class="row pw-text-center pw-grid-card">
            <div class="col-lg-3 col-4">
              <a (click)="newIssueToCFA()" routerLinkActive="router-link-active">
                <div class="pw-grid-card__item pw-grid-card-active ">
                  <div class="mb-2">
                    <span class="pw-i-64 pw-issue-cfa-icon-64"></span>
                  </div>

                  <div class="mt-1 pw-sb pw-grid-card-active__items">
                    <p>
                      {{ 'pw.stockIssue.newIssuetoCFAText' | translate }}
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-4">
              <a (click)="
                  getIssueTEPGEPUrl(stockIssueTEPGEPTypesEnumRef.TEP_PLAIN)
                ">
                <div class="pw-grid-card__item pw-grid-card-active ">
                  <div class="mb-2">
                    <span class="pw-i-64 pw-tep-plain-icon-64"></span>
                  </div>
                  <div class="mt-1 pw-sb pw-grid-card-active__items">
                    <p>{{ 'pw.stockIssueTepGep.TEPSubTitle1' | translate }}</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-4">
              <a (click)="
                  getIssueTEPGEPUrl(stockIssueTEPGEPTypesEnumRef.TEP_STUDDED)
                ">
                <div class="pw-grid-card__item pw-grid-card-active ">
                  <div class="mb-2">
                    <span class="pw-i-64 pw-tep-studded-icon-64"></span>
                  </div>
                  <div class="mt-1 pw-sb pw-grid-card-active__items">
                    <p>{{ 'pw.stockIssueTepGep.TEPSubTitle2' | translate }}</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-lg-3 col-4">
              <a (click)="getIssueTEPGEPUrl(stockIssueTEPGEPTypesEnumRef.GEP)">
                <div class="pw-grid-card__item pw-grid-card-active ">
                  <div class="mb-2">
                    <span class="pw-i-64 pw-gep-icon-64"></span>
                  </div>
                  <div class="mt-1 pw-sb pw-grid-card-active__items">
                    <p>
                      {{ 'pw.stockIssueTepGep.GEPSubTitle' | translate }}
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </ng-container>

        <poss-web-loader *ngIf="
            isLoadingBTQ_BTQ_STN ||
            isLoadingBTQ_CFAInvoice ||
            isLoadingBTQ_FAC_STN ||
            isLoadingBTQ_MER_STN ||
            (isLoadingCount$ | async)
          ">
        </poss-web-loader>
        <poss-web-loader *ngIf="(isSearchingIssues$ | async) || (isSearchingInvoices$ | async)"></poss-web-loader>
      </div>
    </div>
    <div class="col-lg-1 col-12"></div>
  </div>
</div>
