<div
  class="container-fluid pw-main-container"
  [formGroup]="binToBinTransferForm"
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="row">
    <div class="col-12 col-lg-1"></div>
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)="back()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-instock-icon-36"></span>
              <div>
                <h2>{{ 'pw.binToBinTransfer.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.binToBinTransfer.subTitle' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>
        {{ 'pw.binToBinTransfer.heading' | translate }}
      </h3>
      <div class="pw-mont-semibold-14 mt-3 mb-1">
        {{ selectByKeyMap.get(type) | translate }}
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-6 pw-grid-card">
          <div class="pw-grid-card__item pw-is-active-bar">
            <h4>{{ itemGroup?.name }}</h4>
            <div>
              {{ itemGroup?.products }}
              {{ 'pw.binToBinTransfer.porductsLableText' | translate }}
            </div>
            <div class="mt-3">
              <p>
                {{ itemGroup?.totalValue | currency: itemGroup?.currencyCode }}
              </p>
              <p>{{ itemGroup?.totalWeight }} {{ itemGroup?.weightUnit }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 px-0">
          <div class="p-2">
            <div class="row">
              <div class="col-6">
                <p>
                  {{
                    'pw.binToBinTransfer.selectedProductsQuantityLableText'
                      | translate
                  }}
                </p>
              </div>
              <div class="col-6">
                <p>: {{ selectedQuantity }}</p>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-6">
                <p>
                  {{
                    'pw.binToBinTransfer.selectedProductsValueLableText'
                      | translate
                  }}
                </p>
              </div>
              <div class="col-6">
                <p>: {{ selectedValue | currency: itemGroup?.currencyCode }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-5 ml-auto pw-text-right">
          <p class="pb-1">
            {{
              'pw.binToBinTransfer.selectDestinationBinLableText' | translate
            }}
          </p>
          <button
            mat-flat-button
            class="pw-btn pw-cta-btn"
            (click)="openBinSelectionPopup()"
          >
            <div class="row">
              <div class="col-auto">
                <p>
                  <ng-container *ngIf="selectedBin; else showSelectBin">
                    {{ selectedBin.binCode }}
                  </ng-container>
                  <ng-template #showSelectBin>
                    {{
                      'pw.binToBinTransfer.selectDestinationBinLableText'
                        | translate
                    }}
                  </ng-template>
                </p>
              </div>
              <div class="col-auto ml-auto">
                <span class="pw-i-16 pw-bin-icon-16"></span>
              </div>
            </div>
          </button>
        </div>
      </div>

      <div class="row align-items-flex-end pw-filter-box">
        <div class="col-lg-7">
          <div class="row align-items-baseline">
            <mat-radio-group class="col-auto" formControlName="selectItems">
              <mat-radio-button
                class="mr-3"
                value="selectAll"
                [disabled]="itemCode != null || filter.length > 0"
              >
                <p>
                  {{ 'pw.binToBinTransfer.selectAllCheckBoxLable' | translate }}
                </p>
              </mat-radio-button>
              <mat-radio-button value="selectCurrentPage">
                <p>
                  {{
                    'pw.binToBinTransfer.selectCurrentPageProductsCheckBoxLable'
                      | translate
                  }}
                </p>
              </mat-radio-button>
            </mat-radio-group>
            <div
              class="col-auto ml-auto ml-lg-0"
              *ngIf="selectedItems.length > 0 && itemList.length > 1"
            >
              <a (click)="resetSelection()" class="pw-clickable">
                <p>
                  <span class="pw-i-16 pw-clear-icon-16"></span>
                  {{ 'pw.binToBinTransfer.clearAllLable' | translate }}
                </p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="row pw-filter-box__right-content align-items-flex-end">
            <div class="col-auto">
              <a (click)="openFilter()">
                <p>
                  <span
                    class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"
                  ></span>
                  {{ 'pw.binToBinTransfer.filterLable' | translate }}
                </p>
              </a>
            </div>
            <div class="col-auto">
              <a (click)="openSortDailog()">
                <p>
                  <span
                    class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"
                  ></span>
                  {{ 'pw.binToBinTransfer.sortLable' | translate }}
                </p>
              </a>
            </div>
            <poss-web-search
              class="col-lg-6 col-4 ml-auto ml-lg-0"
              placeholder="{{
                'pw.binToBinTransfer.searchByVariantCodePlaceholderText'
                  | translate
              }}"
              (search)="search($event)"
              (clear)="onSearchClear()"
            >
            </poss-web-search>
          </div>
        </div>
      </div>
      <poss-web-bin-to-bin-transfer-item-list
        [count]="itemsTotalCount"
        [itemList]="itemList"
        [canSelect]="true"
        [showSourceBin]="showSourceBin"
        [pageEvent]="itemListPageEvent"
        (updateItem)="onUpdateItem($event)"
        (paginator)="paginate($event)"
      ></poss-web-bin-to-bin-transfer-item-list>

      <poss-web-loader *ngIf="(isLoadingItems$ | async)"> </poss-web-loader>

      <h3
        class="pw-text-center m-5"
        *ngIf="
          (isLoadingItems$ | async) === false &&
          (isLoadingItemsSuccess$ | async) &&
          isItemsLoadedOnce &&
          itemList.length == 0
        "
      >
        {{ 'pw.binToBinTransfer.noResultsFoundMessage' | translate }}
      </h3>
    </div>
    <div class="col-12 col-lg-1"></div>
  </div>
</div>
