<ul *ngFor="let product of (products$ | async)">
  <li>{{ product.Name }}</li>
</ul>
<div *ngIf="(setting$ | async) as setting; else NoSeletedData">
  {{ setting.theme }}
  {{ setting.language }}
</div>
<ng-template #NoSeletedData>
  Setting not loaded.
</ng-template>
<!-- <div class="form_container">
  <dynamic-form
    [style]="currentStyle"
    [formFields]="formFields"
    class="employeeForm"
  ></dynamic-form>
</div> -->

<!-- (customValidation)="customValidation($event)"
    (addForm)="addButton($event)"
    (deleteForm)="deleteButton($event)" -->
