<div class="pw-confirmation-box">
  <div class="row pw-confirmation-box__header">
    <div class="col-auto" *ngIf="data.mode === 'new'">
      {{'pw.corporateTown.corporateCreateHeading' | translate}}
    </div>

    <div class="col-auto" *ngIf="data.mode === 'edit'">
      {{'pw.corporateTown.corporateEditHeading' | translate}}
    </div>
    <div class="col pw-text-right">
      <a class="sub-heading">
        <span (click)="onClose()" class="pw-i-10 pw-close-icon-16">
        </span>
      </a>
    </div>
  </div>
  <div class="pw-confirmation-box__body">
    <!-- <div class="pw-confirmation-box__body-item" *ngIf="data.mode === 'new'">
            <b >
              {{'pw.corporateTown.corporateSubHeading' | translate}}
            </b>
          </div>

          <div class="pw-confirmation-box__body-item" *ngIf="data.mode === 'edit'">
            <b >
              {{'pw.corporateTown.corporateEditSubHeading' | translate}}
            </b>
          </div>
           <div [formGroup]="corporateTownForm" class="row">

            <mat-form-field class="col-12" *ngIf="data.mode === 'edit'">
              <input
              matInput
              type="text"
              placeholder="{{'pw.corporateTown.townCodeField' | translate}}"
              class="pw-single-bordered-input"
              formControlName="townCode"
              readonly
            >
          </mat-form-field>


                  <mat-form-field class="col-12">
                    <mat-select class="pw-single-bordered-input"
                    disableOptionCentering
                    placeholder="  {{'pw.corporateTown.dropDownLabel1' | translate}}"
                    formControlName="stateCode"
                    [disabled] = "readOnly">
                    <mat-option *ngFor="let option of stateDropdown"
                   [value]="option.stateCode"
                  >
                     {{option.description}}
                   </mat-option>
                 </mat-select>
                    <mat-error
                    *ngIf="
                      this.corporateTownForm.controls.stateCode.hasError(
                        'required'
                      )
                    "
                  >
                  {{'pw.inventoryMasterValidation.default_required' | translate}}
                  </mat-error>
                  </mat-form-field>


                  <mat-form-field class="col-12">
                    <mat-select class="pw-single-bordered-input"
                    disableOptionCentering
                    placeholder="  {{'pw.corporateTown.dropDownLabel2' | translate}}"
                    formControlName="regionCode"
                    >
                    <mat-option *ngFor="let option of regionDropdown"
                   [value]="option.regionCode"
                  >
                     {{option.description}}
                   </mat-option>
                 </mat-select>
                    <mat-error
                    *ngIf="
                      this.corporateTownForm.controls.regionCode.hasError(
                        'required'
                      )
                    "
                  >
                  {{'pw.inventoryMasterValidation.default_required' | translate}}
                  </mat-error>
                  </mat-form-field>


                    <mat-form-field class="col-12">
                        <textarea
                        matInput
                        type="text"
                        placeholder="{{'pw.corporateTown.townNameField' | translate}}"
                        class="pw-single-bordered-input"
                        formControlName="description"

                      >
                      </textarea>

                      <mat-error
                      *ngIf="
                        this.corporateTownForm.controls.description.hasError(
                          'required'
                        )
                      "
                    >
                    {{'pw.inventoryMasterValidation.default_required' | translate}}
                    </mat-error>
                    </mat-form-field>
           </div>
           <div class="pw-confirmation-box__footer pw-text-right">
            <div class="row justify-content-end">
              <div class="col-auto" (click)="onClear()">
                  <button class="pw-btn pw-primary-btn"> {{'pw.inventoryConfiguration.clearButton' | translate}}</button>
                </div>
                <div class="col-auto" (click)="onSave()">
                  <button *ngIf="this.dialogData.regionCode === null"
                  [disabled]="this.corporateTownForm.controls['stateCode' && 'regionCode' && 'description' ].invalid"
                  class="pw-btn pw-accent-btn">{{'pw.inventoryConfiguration.saveButton' | translate}} </button>
                </div>

                <div class="col-auto" (click)="onSave()">
                  <button *ngIf="this.dialogData.regionCode !== null"
                  [disabled]="this.corporateTownForm.controls[ 'regionCode' && 'description' ].invalid"
                  class="pw-btn pw-accent-btn">{{'pw.inventoryConfiguration.saveButton' | translate}} </button>
                </div>
              </div>
            </div> -->
    <poss-web-dynamic-form *ngIf="formFields" [style]="currentStyle" [formFields]="formFields" [disabled]="false"
      [enableSubmitOnInvalid]="true" [buttonNames]="['Cancel','Save']" (deleteForm)="deleteButton($event)"
      (addForm)="addButton($event)">
    </poss-web-dynamic-form>
  </div>
