<form class="form" [formGroup]="form">
  <div>
    <div [ngSwitch]="formTemplate">
      <!-- Template 1 -->
      <div *ngSwitchCase="templateConst.TEMPLATE1">
        <mat-card class="mat-elevation-z8" style="padding: 30px;">
          <mat-card-title>{{ formName }}</mat-card-title>
          <mat-card-subtitle>{{ formDesc }}</mat-card-subtitle>
          <mat-divider></mat-divider>
          <br />
          <mat-card-content>
            <div class="row">
              <div class="errorMessage" *ngFor="let error of (form.errors | objIterator)">
                <poss-web-error-message [formId]="formId" [error]="error">
                  <!-- *ngIf="form.touched" -->
                </poss-web-error-message>
              </div>

              <div class="col">
                <div *ngFor="let field of (fields | nonsubformfilter)">
                  <!-- for mainform -->
                  <div class="row">
                    <poss-web-dynamic-input [style]="style" [field]="field" [form]="form"
                      (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                      (checkboxChange)="checkBoxChange($event)">
                    </poss-web-dynamic-input>
                  </div>
                </div>
              </div>
              <div class="col">
                <div *ngFor="let field of (fields | subformfilter)">
                  <!-- for subform -->
                  <div class="row">
                    <poss-web-dynamic-input [style]="style" [field]="field" [form]="form"
                      (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                      (checkboxChange)="checkBoxChange($event)">
                    </poss-web-dynamic-input>
                  </div>
                </div>
              </div>
              <br />
              <div class="col-12">
                <div *ngIf="addFormButton" style="float: right; margin: 5px;">
                  <button type="submit" mat-raised-button color="primary" (click)="onAddForm()"
                    [disabled]="!form.valid">
                    Add
                  </button>
                </div>

                <div *ngIf="deleteFormButton" style="float: right; margin: 5px;">
                  <button type="button" mat-raised-button color="warn" (click)="onDeleteForm()"
                    [disabled]="!form.valid">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Template 2 -->
      <div *ngSwitchCase="templateConst.TEMPLATE2">
        <mat-card class="mat-elevation-z8" style="padding: 30px;">
          <mat-card-title>{{ formName }}</mat-card-title>
          <mat-card-subtitle>{{ formDesc }}</mat-card-subtitle>
          <mat-divider></mat-divider>
          <br />
          <mat-card-content>
            <div class="row">
              <div class="errorMessage" *ngFor="let error of (form.errors | objIterator)">
                <poss-web-error-message [formId]="formId" [error]="error">
                  <!-- *ngIf="form.touched" -->
                </poss-web-error-message>
              </div>

              <div class="col">
                <poss-web-dynamic-input [style]="style" [field]="field" [form]="form" *ngFor="let field of fields"
                  (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                  (checkboxChange)="checkBoxChange($event)">
                </poss-web-dynamic-input>
              </div>

              <br />
              <div class="col-12">
                <div *ngIf="addFormButton" style="float: right; margin: 5px;">
                  <button type="submit" mat-raised-button color="primary" (click)="onAddForm()"
                    [disabled]="!form.valid">
                    Add
                  </button>
                </div>

                <div *ngIf="deleteFormButton" style="float: right; margin: 5px;">
                  <button type="button" mat-raised-button color="warn" (click)="onDeleteForm()"
                    [disabled]="!form.valid">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Template 3 -->
      <div *ngSwitchCase="templateConst.TEMPLATE3">
        <mat-card class="mat-elevation-z8" style="padding: 30px;">
          <mat-card-title>{{ formName }}</mat-card-title>
          <mat-card-subtitle>{{ formDesc }}</mat-card-subtitle>
          <mat-divider></mat-divider>
          <br />
          <mat-card-content>
            <div class="row">
              <div class="errorMessage" *ngFor="let error of (form.errors | objIterator)">
                <poss-web-error-message [formId]="formId" [error]="error">
                  <!-- *ngIf="form.touched" -->
                </poss-web-error-message>
              </div>

              <div *ngFor="let field of (fields | subformfilter)">
                <div class="col">
                  <div class="borderCls">
                    <!-- for subform -->
                    <poss-web-dynamic-input [style]="style" [field]="field" [form]="form"
                      (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                      (checkboxChange)="checkBoxChange($event)">
                    </poss-web-dynamic-input>
                  </div>
                </div>
              </div>

              <br />
              <div class="col-12">
                <div *ngIf="addFormButton" style="float: right; margin: 5px;">
                  <button type="submit" mat-raised-button color="primary" (click)="onAddForm()"
                    [disabled]="!form.valid">
                    Add
                  </button>
                </div>

                <div *ngIf="deleteFormButton" style="float: right; margin: 5px;">
                  <button type="button" mat-raised-button color="warn" (click)="onDeleteForm()"
                    [disabled]="!form.valid">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Template 4 -->
      <div *ngSwitchCase="templateConst.TEMPLATE4">
        <div class="row">
          <div class="errorMessage" *ngFor="let error of (form.errors | objIterator)">
            <poss-web-error-message [formId]="formId" [error]="error">
              <!-- *ngIf="form.touched" -->
            </poss-web-error-message>
          </div>

          <div *ngFor="let field of (fields | subformfilter)">
            <div class="col-lg-4 col-6">
              <div class="borderCls pw-form-card">
                <!-- for subform -->
                <poss-web-dynamic-input [style]="style" [field]="field" [form]="form"
                  (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                  (checkboxChange)="checkBoxChange($event)">
                </poss-web-dynamic-input>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-auto ml-auto">
            <div class="row justify-content-end">
              <button type="button" *ngIf="deleteFormButton" class="pw-btn pw-primary-btn col-auto mr-3"
                (click)="onDeleteForm()" [disabled]="!form.valid">
                {{ buttonNames[0] | translate }}
              </button>
              <button type="submit" *ngIf="addFormButton" class="pw-btn pw-accent-btn col-auto mr-3"
                (click)="onAddForm()" [disabled]="!form.valid">
                {{ buttonNames[1] | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Template 5 -->
      <div *ngSwitchCase="templateConst.TEMPLATE5">
        <!-- <div class="row pw-scrollable-height"> -->
        <div class="row">
          <div class="errorMessage" *ngFor="let error of (form.errors | objIterator)">
            <poss-web-error-message [formId]="formId" [error]="error">
              <!-- *ngIf="form.touched" -->
            </poss-web-error-message>
          </div>

          <!-- <ng-container *ngFor="let field of fields | subformfilter; let i=index;"> -->
          <div class="col-lg-6 col-12  ">
            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 0">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[0]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 1">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[1]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 2">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[2]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
          </div>
          <!-- </ng-container> -->
        </div>
        <div class="row mt-4 mb-4" *ngIf="!disabled && !disableSubmit">
          <div class="col-auto ml-auto">
            <div class="row justify-content-end">
              <button type="button" class="pw-btn pw-primary-btn col-auto mr-3" (click)="onDeleteForm()" [disabled]="
                  (!form.valid && !enableSubmitOnInvalid) || !form.dirty
                ">
                {{ buttonNames[0] | translate }}
              </button>
              <button type="submit" class="pw-btn pw-accent-btn col-auto mr-3" (click)="onAddForm()" [disabled]="
                  (!form.valid && !enableSubmitOnInvalid) || !form.dirty
                ">
                {{ buttonNames[1] | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Template 6 -->
      <div *ngSwitchCase="templateConst.TEMPLATE6">
        <!-- <div class="row pw-scrollable-height"> -->
        <div class="row">
          <div class="errorMessage" *ngFor="let error of (form.errors | objIterator)">
            <poss-web-error-message [formId]="formId" [error]="error">
              <!-- *ngIf="form.touched" -->
            </poss-web-error-message>
          </div>

          <!-- <ng-container *ngFor="let field of fields | subformfilter; let i=index;"> -->
          <div class="col-lg-6 col-12  ">
            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 0">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[0]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>

            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 3">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[3]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 1">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[1]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 2">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[2]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
          </div>
          <!-- </ng-container> -->
        </div>
        <div class="row mt-4 mb-4" *ngIf="!disabled && !disableSubmit">
          <div class="col-auto ml-auto">
            <div class="row justify-content-end">
              <button type="button" class="pw-btn pw-primary-btn col-auto mr-3" (click)="onDeleteForm()" [disabled]="
                  (!form.valid && !enableSubmitOnInvalid) || !form.dirty
                ">
                {{ buttonNames[0] | translate }}
              </button>
              <button type="submit" class="pw-btn pw-accent-btn col-auto mr-3" (click)="onAddForm()" [disabled]="
                  (!form.valid && !enableSubmitOnInvalid) || !form.dirty
                ">
                {{ buttonNames[1] | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Template 7 -->
      <div *ngSwitchCase="templateConst.TEMPLATE7">
        <!-- <div class="row pw-scrollable-height"> -->
        <div class="row">
          <div class="errorMessage" *ngFor="let error of (form.errors | objIterator)">
            <poss-web-error-message [formId]="formId" [error]="error">
              <!-- *ngIf="form.touched" -->
            </poss-web-error-message>
          </div>

          <!-- <ng-container *ngFor="let field of fields | subformfilter; let i=index;"> -->
          <div class="col-lg-6 col-12  ">
            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 0">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[0]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>

            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 2">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[2]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 1">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[1]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
            <div class="borderCls mb-4 pw-form-card" *ngIf="fields.length > 3">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="fields[3]" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
          </div>
          <!-- </ng-container> -->
        </div>
        <div class="row mt-4 mb-4" *ngIf="!disabled && !disableSubmit">
          <div class="col-auto ml-auto">
            <div class="row justify-content-end">
              <button type="button" class="pw-btn pw-primary-btn col-auto mr-3" (click)="onDeleteForm()" [disabled]="
                  (!form.valid && !enableSubmitOnInvalid) || !form.dirty
                ">
                {{ buttonNames[0] | translate }}
              </button>
              <button type="submit" class="pw-btn pw-accent-btn col-auto mr-3" (click)="onAddForm()" [disabled]="
                  (!form.valid && !enableSubmitOnInvalid) || !form.dirty
                ">
                {{ buttonNames[1] | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Template 8 -->
      <div *ngSwitchCase="templateConst.TEMPLATE8">
        <div class="row">
          <!-- <div class="row pw-scrollable-height"> -->

          <div class="errorMessage" *ngFor="let error of (form.errors | objIterator)">
            <poss-web-error-message [formId]="formId" [error]="error">
              <!-- *ngIf="form.touched" -->
            </poss-web-error-message>
          </div>

          <!-- <ng-container *ngFor="let field of fields | subformfilter; let i=index;"> -->
          <div *ngFor="let field of (fields | nonsubformfilter)" class="{{ field.classNames.join(' ') }}">
            <!-- for mainform -->
            <poss-web-dynamic-input [style]="style" [field]="field" [form]="form" (selectChange)="selectChange($event)"
              (radioChange)="radioChange($event)" (checkboxChange)="checkBoxChange($event)">
            </poss-web-dynamic-input>
          </div>
          <div *ngFor="let field of (fields | subformfilter)" class="{{ field.classNames.join(' ') }}">
            <!-- for subform -->
            <poss-web-dynamic-input [style]="style" [field]="field" [form]="form" (selectChange)="selectChange($event)"
              (radioChange)="radioChange($event)" (checkboxChange)="checkBoxChange($event)">
            </poss-web-dynamic-input>
          </div>
          <!-- </ng-container> -->
        </div>
        <br />
        <div class="row" *ngIf="!disabled && !disableSubmit">
          <div class="col-auto ml-auto">
            <div class="row justify-content-end">
              <button type="button" class="pw-btn pw-primary-btn col-auto mr-3" (click)="onDeleteForm()" [disabled]="
                  (!form.valid && !enableSubmitOnInvalid) || !form.dirty
                ">
                {{ buttonNames[0] | translate }}
              </button>
              <button type="submit" class="pw-btn pw-accent-btn col-auto mr-3" (click)="onAddForm()" [disabled]="
                  (!form.valid && !enableSubmitOnInvalid) || !form.dirty
                ">
                {{ buttonNames[1] | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Template 9 -->
      <div *ngSwitchCase="templateConst.TEMPLATE9">
        <div class="borderCls mb-4 pw-form-card">
          <div class="pw-form-card__header">
            {{ formName | translate }}
          </div>
          <div class="row">
            <div class="errorMessage" *ngFor="let error of (form.errors | objIterator)">
              <poss-web-error-message [formId]="formId" [error]="error">
                <!-- *ngIf="form.touched" -->
              </poss-web-error-message>
            </div>

            <div *ngFor="let field of (fields | nonsubformfilter)" class="{{ field.classNames.join(' ') }}">
              <!-- for mainform -->
              <poss-web-dynamic-input [style]="style" [field]="field" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
            <div *ngFor="let field of (fields | subformfilter)" class="{{ field.classNames.join(' ') }}">
              <!-- for subform -->
              <poss-web-dynamic-input [style]="style" [field]="field" [form]="form"
                (selectChange)="selectChange($event)" (radioChange)="radioChange($event)"
                (checkboxChange)="checkBoxChange($event)">
              </poss-web-dynamic-input>
            </div>
          </div>
        </div>
        <br />
        <div class="row mt-4 mb-4" *ngIf="!disabled && !disableSubmit">
          <div class="col-auto ml-auto">
            <div class="row justify-content-end">
              <button type="button" class="pw-btn pw-primary-btn col-auto mr-3" (click)="onDeleteForm()" [disabled]="
                  (!form.valid && !enableSubmitOnInvalid) || !form.dirty
                ">
                {{ buttonNames[0] | translate }}
              </button>
              <button type="submit" class="pw-btn pw-accent-btn col-auto mr-3" (click)="onAddForm()" [disabled]="
                  (!form.valid && !enableSubmitOnInvalid) || !form.dirty
                ">
                {{ buttonNames[1] | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>