<div class="container-fluid pt-4">
  <div class="row">
    <div
      class="col-12 col-lg-10 m-auto"
      (keydown)="this.keyManager.onKeydown($event)"
    >
      <h4 class="mb-3">
        {{ 'pw.userrolemgmntdashboard.title' | translate }}
      </h4>
      <div class="d-flex flex-wrap">
        <poss-web-uam-card
          tabindex="-1"
          class="pw-bg-card"
          [class.active]="selectedtab === 'addremove'"
          (click)="selectedtab = 'addremove'"
          (keydown.enter)="selectedtab = 'addremove'"
        >
          <div>
            <span class="pw-i-64 pw-product-icon-64"></span>
          </div>
          <div class="pw-bg-card__content1">
            {{ 'pw.userrolemgmntdashboard.createeditCardtext' | translate }}
          </div>
          <div class="pw-bg-card__content2">
            {{ 'pw.userrolemgmntdashboard.userroleCardText' | translate }}
          </div>
        </poss-web-uam-card>

        <!-- navigate('access-control') -->
        <poss-web-uam-card
          tabindex="-1"
          class="pw-bg-card"
          [class.active]="selectedtab === 'access'"
          (click)="selectedtab = 'access'"
          (keydown.enter)="selectedtab = 'access'"
        >
          <div>
            <span class="pw-i-64 pw-location-icon-64"></span>
          </div>
          <div class="pw-bg-card__content1">
            {{ 'pw.userrolemgmntdashboard.accessCardText' | translate }}
          </div>
          <div class="pw-bg-card__content2">
            {{ 'pw.userrolemgmntdashboard.controlCardText' | translate }}
          </div>
        </poss-web-uam-card>
      </div>
      <div class="d-flex flex-wrap">
        <div
          class="pw-fixed-width-content"
          [class.pw-fourth-color]="selectedtab === 'addremove'"
        >
          <p>
            {{
              'pw.userrolemgmntdashboard.createeditFeatureDescription'
                | translate
            }}
          </p>
        </div>
        <div
          class="pw-fixed-width-content"
          [class.pw-fourth-color]="selectedtab === 'access'"
        >
          <p>
            {{
              'pw.userrolemgmntdashboard.accessFeatureDescription' | translate
            }}
          </p>
        </div>
      </div>
      <div
        class="pw-bordered-list pw-bordered-list__inline"
        *ngIf="selectedtab.length > 0"
      >
        <div
          class="pw-bordered-list__container"
          *ngIf="selectedtab === 'addremove'"
        >
          <poss-web-uam-card
            tabindex="-1"
            class="pw-bordered-list__card"
            (keydown.enter)="navigate('users')"
            (click)="navigate('users')"
          >
            <div class="pw-bordered-list__item">
              {{ 'pw.userrolemgmntdashboard.newuserCardText' | translate }}
            </div>
          </poss-web-uam-card>

          <poss-web-uam-card
            tabindex="-1"
            class="pw-bordered-list__card"
            (keydown.enter)="navigate('roles')"
            (click)="navigate('roles')"
          >
            <div class="pw-bordered-list__item">
              {{ 'pw.userrolemgmntdashboard.newroleCardText' | translate }}
            </div>
          </poss-web-uam-card>
        </div>
      </div>
    </div>
  </div>
</div>
