<!-- <div [ngClass]="item.availableQuantity>0 ? '' : 'pw-disabled'"> -->
<div [formGroup]="itemForm">
  <div class="row pw-list-card">
    <div class="col-auto pw-list-card__item">
      <mat-checkbox formControlName="isItemSelected" (change)="selectItem()">
      </mat-checkbox>
    </div>

    <div class="col-auto pw-list-card__item pw-thumbnail-img">
      <poss-web-thumbnail [thumbnailSrc]="item.imageURL" [imageSrc]="item.imageURL" [alt]="item.productCategory">
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>
          {{ 'pw.stockIssue.varientCodeText' | translate }} -
          {{ item.itemCode }}
        </p>
      </poss-web-thumbnail>
    </div>

    <div class="col-auto pw-list-card__item pw-width-150">
      <div class="pw-sub-heading">
        {{ item.itemCode }}
      </div>
      <p>{{ item.lotNumber }}</p>
      <!-- <p>{{ item.mfgDate.format('DD-MMM-YYYY') }}</p> -->
      <p>{{ item.availableValue | currency: 'INR' }}</p>
    </div>
    <div class="col-1 pw-list-card__item">
      <div class="pw-sub-heading">
        {{ item.orderType }}
      </div>
      <p>{{ item.productGroup }}</p>
      <p>{{ item.productCategory }}</p>
    </div>


    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading"> Available Qty: {{ item.availableQuantity }}</div>
      <div *ngIf="item.availableQuantity > 1 && tab == 1; else nonEditable">
        <input type="number" class="pw-bg-input-box" placeholder="Qty." formControlName="issueQuantity" />
      </div>
      <ng-template #nonEditable>
        <input type="number" class="pw-bg-input-box" placeholder="Qty." formControlName="issueQuantity" readonly />
      </ng-template>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <!-- {{ 'pw.stockIssue.measuredWeightLabelText' | translate }} ({{
          item.weightUnit
        }}) -->
        Item Wt. ({{itemWeight}} {{item.weightUnit}})
      </div>
      <div *ngIf="tab == 1 && item.availableQuantity>0; else nonEditableWeight">
        <input type="number" step="0.001" class="pw-bg-input-box" placeholder="Total Wt." formControlName="weight" />

      </div>
      <ng-template #nonEditableWeight>
        <input type="number" class="pw-bg-input-box" placeholder="Total Wt." formControlName="weight" readonly />
      </ng-template>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        {{ 'pw.stockIssue.binLabelText' | translate }}
      </div>
      <input type="text" class="pw-bg-input-box" formControlName="bin" readonly />
    </div>
    <!-- Error here  -->
    <div class="col-auto pw-text-right pw-list-card__right-container pw-sub-heading">
      <span
        *ngIf="itemForm.get('weight').dirty || itemForm.get('weight').touched && itemForm.get('weight').value!==null && itemForm.get('issueQuantity').valid"
        class="pw-error-color">
        {{ weightErrorMsg }}
      </span>
      <span
        *ngIf="(itemForm.get('weight').dirty || itemForm.get('weight').touched) && itemForm.get('weight').value==null && itemForm.get('issueQuantity').valid && weightErrorMsg===''"
        class="pw-error-color">
        Enter the measured weight
      </span>
      <span *ngIf="
          (itemForm.get('issueQuantity').dirty ||
            itemForm.get('issueQuantity').touched) &&
          itemForm.get('issueQuantity').hasError('required')
        " class="pw-error-color">
        {{ 'pw.stockIssue.errorMsg-QtyRequired' | translate }}
      </span>
      <span *ngIf="
          (itemForm.get('issueQuantity').dirty ||
            itemForm.get('issueQuantity').touched) &&
          itemForm.get('issueQuantity').hasError('min') ||
           itemForm.get('issueQuantity').hasError('max')
        " class="pw-error-color">
        Invalid Quantity
      </span>
      <ng-container *ngIf="showUpdateStatus">
        <!-- <span class="pw-success-color" *ngIf="item.isUpdatingSuccess">
          Save Successfull
        </span> -->
        <span class="pw-error-color" *ngIf="item.isUpdatingSuccess == false">
          {{ 'pw.stockIssue.saveFailedNotificationText' | translate }}
        </span>
        <span class="pw-success-color" *ngIf="item.isUpdating">
          {{ 'pw.stockIssue.savingNotificationText' | translate }}
        </span>
        <span *ngIf="item.availableQuantity == 0" class="pw-error-color ">
          <span class="pw-i-16 pw-warning-icon-16"></span> Out of Stock
        </span>
      </ng-container>
    </div>
  </div>
</div>
<!-- </div> -->
