<form
  [formGroup]="loginForm"
  (ngSubmit)="loginForm.invalid ? '' : login.emit(loginForm.value)"
>
  <div class="pw-login__input row">
    <mat-form-field
      class="pw-input-box col-lg-7 col-sm-7 col-8"
      floatLabel="never"
    >
      <input
        matInput
        type="text"
        placeholder="{{ 'pw.login.loginIdLable' | translate }}"
        formControlName="name"
      />
      <mat-icon matPrefix>
        <span class="pw-i-16 pw-user-icon-16"></span>
      </mat-icon>

      <mat-error *ngIf="loginForm.get('name').hasError('required')"
        >{{ 'pw.login.loginidRequiredErrorMessage' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="pw-login__input row">
    <mat-form-field
      class="pw-input-box col-lg-7 col-sm-7 col-8"
      floatLabel="never"
    >
      <input
        matInput
        type="password"
        placeholder="{{ 'pw.login.passwordLable' | translate }}"
        formControlName="password"
      />
      <mat-icon matPrefix>
        <span class="pw-i-16 pw-lock-icon-16"></span>
      </mat-icon>

      <mat-error *ngIf="loginForm.get('password').hasError('required')"
        >{{ 'pw.login.passwordRequiredErrorMessage' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="pw-login__input row m-auto pr-2 ">
    <button
      class="col-lg-7 mt-3 col-sm-7 col-8 pw-btn pw-accent-btn pw-login-btn"
      type="submit"
      [disabled]="!IsValid"
    >
      {{ 'pw.login.loginButtonText' | translate }}
    </button>
  </div>
  <div class="p-1">
    <a [routerLink]="['../generate-otp']">{{
      'pw.login.forgotPasswordLinkText' | translate
    }}</a>
    &nbsp;
    <a [routerLink]="['../activate-user']">{{
      'pw.login.newuseractivationLinkText' | translate
    }}</a>
  </div>
</form>
