<div
  class="container-fluid"
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a [routerLink]="['../']">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>Give Access</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  Permanent
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pw-tab">
        <ul class="pw-tab__list">
          <li class="pw-tab__list-item">
            <a class="pw-is-active-bar">
              <h5 class="pw-tab__item">
                Role
              </h5></a
            >
          </li>
        </ul>
      </div>

      <poss-web-access-control-list
        [rolesList]="rolesList$ | async"
        [modulesList]="modulesList$ | async"
        [subModulesList]="submodulesList$ | async"
        [aclList]="aclList$ | async"
        (loadModules)="loadModules($event)"
        (loadSubModules)="loadSubModules($event)"
        (loadACL)="loadACL($event)"
      ></poss-web-access-control-list>
    </div>
  </div>
</div>
<poss-web-loader *ngIf="(isLoading$ | async)"></poss-web-loader>
