<div class="container-fluid">
    <div *ngIf="(isLoading$ | async)">
        <poss-web-loader></poss-web-loader>
      </div>
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a (click)="back()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>{{ 'pw.weighttolerance.inventoryLable' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.weighttolerance.configurationLable' | translate }}
                </h5>
              </div>
            </div>
          </div>
          <div class="col-auto pw-top-heading-container__right-content">
            <button class="pw-btn pw-accent-btn" (click)="addNew()">
              {{ 'pw.weighttolerance.addNewLable' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-auto mb-3">
          <div class="pw-mont-semibold-14">
            {{ 'pw.weighttolerance.weightTolerance' | translate }}
          </div>
        </div>
      </div>

      <poss-web-weight-tolerance-edit-item
        *ngIf="
          (configDetails$ | async) &&
          (toleranceItem$ | async) &&
          (productCategoryCode | async) &&
          productGroupCode &&
          rangeWeight
        "
        [productCategoryCode]="productCategoryCode|async"
        [configDetails]="configDetails$ | async"
        [toleranceItem]="toleranceItem$ | async"
        [productGroupCode]="productGroupCode"
        [rangeWeight]="rangeWeight"
        (emitToleranceData)="saveTolerance($event)"
        (emitEditEnable)="enableEdit($event)"
        (updateToleranceData)="updateTolerance($event)"
        (updateIsActive)='updateIsActive($event)'
      >
      </poss-web-weight-tolerance-edit-item>

      <div class="row mt-3">
        <div class="col-auto ml-auto">
          <button class="pw-btn pw-primary-btn" (click)="openLocationMapping()">
            {{ 'pw.weighttolerance.locationMapping' | translate }}
          </button>
        </div>
      </div>
      <div class="mt-3"></div>
    </div>
  </div>
</div>
