<poss-web-expansion-panel>
  <poss-web-expansion-panel-summary>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-10 m-auto">
          <div class="row align-items-end">
            <div class="col-auto pr-0 align-self-center">
              <a
                [routerLink]="[
                  '/inventory/instock/other-receipts-issues-list/otherreceipts/',
                  type
                ]"
              >
                <span class="pw-i-24 pw-back-arrow-icon-24"></span>
              </a>
            </div>

            <div class="col-auto pl-0">
              <div
                class="pw-top-heading-container__main-head pw-main-heading-position"
              >
                <span class="pw-i-36 pw-receive-stock-icon-36"></span>
                <div>
                  <h2>{{ 'pw.otherReceiptsIssues.title' | translate }}</h2>
                  <h5
                    class="pw-top-heading-container__sub-heading pw-fith-heading"
                  >
                    {{ 'pw.otherReceiptsIssues.receiptLableText' | translate }}
                  </h5>
                </div>
              </div>
            </div>

            <div class="col-auto">
              <h4>{{ selectedStock?.srcDocNo }}</h4>
              <ng-container *ngIf="selectedStock?.transactionType == 'EXH'">
                <div>{{ 'pw.otherReceiptsIssues.EXH' | translate }}</div>
              </ng-container>

              <ng-container *ngIf="selectedStock?.transactionType == 'LOAN'">
                <div>{{ 'pw.otherReceiptsIssues.loan' | translate }}</div>
              </ng-container>
            </div>

            <div class="col-auto">
              <p>
                {{ selectedStock?.totalAvailableQuantity }}
                {{ 'pw.otherReceiptsIssues.productsLableText' | translate }} |
                {{ selectedStock?.totalAvailableValue | currency: 'INR' }}
              </p>
              <p class="mt-1">
                <ng-container>
                  {{ 'pw.otherReceiptsIssues.dateLableText' | translate }} :
                  {{ selectedStock?.srcDocDate.format('DD-MMM-YYYY') }}
                </ng-container>
              </p>
            </div>

            <div class="col">
              <p>
                Total Received Weight :
                {{ selectedStock?.totalAvailableWeight }}
                {{ selectedStock?.weightUnit }}
              </p>
              <!-- <p class="mt-1">
                Total Measured Weight :
                {{ selectedStock?.totalWeight }}
                {{ 'pw.otherReceiptsIssues.weightUnit' | translate }}
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </poss-web-expansion-panel-summary>

  <poss-web-expansion-panel-content>
    <div class="container-fluid" [formGroup]="stockForm">
      <div class="row">
        <div class="col-12 col-lg-10 m-auto">
          <div class="pw-top-heading-container">
            <div class="row pw-top-heading-container__item">
              <div class="col-auto pr-0">
                <a
                  [routerLink]="[
                    '/inventory/instock/other-receipts-issues-list/otherreceipts/',
                    type
                  ]"
                >
                  <span class="pw-i-24 pw-back-arrow-icon-24"></span>
                </a>
              </div>
              <div class="col-auto pl-0">
                <div class="pw-top-heading-container__main-head">
                  <span class="pw-i-36 pw-receive-stock-icon-36"></span>
                  <div>
                    <h2>{{ 'pw.otherReceiptsIssues.title' | translate }}</h2>
                    <h5 class="pw-top-heading-container__sub-heading">
                      {{
                        'pw.otherReceiptsIssues.receiptLableText' | translate
                      }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-4 col-6 pw-grid-card">
              <div class="pw-grid-card__item pw-is-active-bar mb-0">
                <h4>{{ selectedStock?.srcDocNo }}</h4>
                <ng-container *ngIf="selectedStock?.transactionType == 'EXH'">
                  <div>{{ 'pw.otherReceiptsIssues.EXH' | translate }}</div>
                </ng-container>

                <ng-container *ngIf="selectedStock?.transactionType == 'LOAN'">
                  <div>{{ 'pw.otherReceiptsIssues.loan' | translate }}</div>
                </ng-container>
                <!-- <div>{{ selectedStock?.transferType }}</div> -->
                <div class="mt-1">
                  <p>
                    {{ selectedStock?.totalAvailableQuantity }}
                    {{
                      'pw.otherReceiptsIssues.productsLableText' | translate
                    }}
                    |
                    {{ selectedStock?.totalAvailableValue | currency: 'INR' }}
                  </p>

                  <div class="row">
                    <div class="col-auto mr-auto">
                      <p>
                        <ng-container>
                          {{
                            'pw.otherReceiptsIssues.dateLableText' | translate
                          }}
                          :
                          {{ selectedStock?.srcDocDate.format('DD-MMM-YYYY') }}
                        </ng-container>
                      </p>
                    </div>
                    <div class="col-auto pw-text-right">
                      <b>{{ selectedStock?.orderType }} </b>
                    </div>

                    <!--
                        <div class="col-auto mr-auto">
                          <p>
                            <ng-container>
                              {{ 'pw.stockReceive.LableText' | translate }}
                              :
                              {{ selectedStock?.courierDetails.courierCompany }}
                            </ng-container>
                          </p>
                        </div> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- TODO : Translate -->
            <div class="col-lg-5 col-md-6 col-6 no-gutters align-self-center">
              <div class="pw-grid-card__no-bg">
                <!-- <ng-container *ngIf="selectedStock?.transferType !== 'LOAN'">
                    <div class="row no-gutters">
                      <div class="col-sm-4 col-xs-auto">
                        <p>Docket Number</p>
                      </div>
                      <div class="col-auto">
                        <p>
                          :
                          {{
                            selectedStock?.courierDetails.data.courierDocketNumber
                          }}
                        </p>
                      </div>
                    </div>
                  </ng-container> -->

                <div class="row no-gutters mt-1">
                  <!-- <div class="col-sm-4 col-xs-auto">
                        <p>
                          Total Measured Weight
                        </p>
                      </div>
                      <div class="col-auto">
                        <p>
                          : {{ selectedStock?.totalWeight }}
                          {{ 'pw.otherReceiptsIssues.weightUnit' | translate }}
                        </p>
                      </div> -->
                </div>

                <div class="row no-gutters mt-1">
                  <div class="col-sm-4 col-xs-auto">
                    <p>Total Received Weight</p>
                  </div>
                  <div class="col-auto">
                    <p>
                      : {{ selectedStock?.totalAvailableWeight }}
                      {{ selectedStock?.weightUnit }}
                    </p>
                  </div>
                </div>

                <div class="row no-gutters mt-1 align-items-baseline">
                  <div class="col-sm-4 col-xs-auto">
                    <p>
                      {{
                        'pw.otherReceiptsIssues.receivingDateLableText'
                          | translate
                      }}
                    </p>
                  </div>
                  <div class="col-auto">
                    <p>
                      :
                      <mat-form-field
                        floatLabel="never"
                        (click)="$event.stopPropagation()"
                        class="pw-form-field-border-top-0"
                      >
                        <input
                          matInput
                          placeholder="{{
                            'pw.otherReceiptsIssues.receivingDateLableText'
                              | translate
                          }}"
                          [max]="maxDate"
                          [min]="selectedStock?.srcDocDate"
                          [matDatepicker]="datePickerExpanded"
                          formControlName="courierReceivedDate"
                        />

                        <mat-icon matSuffix (click)="datePickerExpanded.open()">
                          <span class="pw-i-12 pw-calender-icon-12"></span>
                        </mat-icon>
                        <mat-datepicker #datePickerExpanded></mat-datepicker>
                      </mat-form-field>
                    </p>
                  </div>
                </div>

                <div
                  class="row no-gutters mt-1 align-items-baseline"
                  *ngIf="stockForm.hasError('hasRasonForDelay')"
                >
                  <div class="col-sm-4 col-xs-auto">
                    <p>
                      {{
                        'pw.otherReceiptsIssues.reasonForDelayLableText'
                          | translate
                      }}
                    </p>
                  </div>
                  <div class="col-auto">
                    <p>
                      :
                      <mat-form-field
                        floatLabel="never"
                        (click)="$event.stopPropagation()"
                        class="pw-form-field-border-top-0"
                      >
                        <textarea
                          matInput
                          rows="1"
                          placeholder=" {{
                            'pw.otherReceiptsIssues.reasonForDelayLableText'
                              | translate
                          }}"
                          formControlName="reasonForDelay"
                          (click)="$event.stopPropagation()"
                        ></textarea>
                        <mat-error
                          class="pw-error-color"
                          *ngIf="
                            stockForm
                              .get('reasonForDelay')
                              .hasError('reasonForDelay')
                          "
                        >
                          {{
                            stockForm
                              .get('reasonForDelay')
                              .getError('reasonForDelay') | translate
                          }}
                        </mat-error>
                      </mat-form-field>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-auto ml-auto pw-text-right">
              <div
                class="row justify-content-end mb-2"
                *ngIf="
                  (itemsTotalCountLoaded$ | async) &&
                  nonVerifiedItemsTotalCount == 0 &&
                  verifiedItemsTotalCount != 0 &&
                  (hasSearchedItems$ | async) === false &&
                  (isSearchingItems$ | async) === false &&
                  (isVerifiedItemsLoading$ | async) === false &&
                  tab == 'verified'
                "
              >
                <div class="col-auto">
                  <p class="pt-3">
                    <b>
                      {{
                        'pw.otherReceiptsIssues.assignBinCodeToAllDropDownText'
                          | translate
                      }}
                    </b>
                  </p>
                </div>

                <mat-form-field
                  appearance="outline"
                  floatLabel="never"
                  class="col-auto pw-selectable-dropdown"
                  (click)="$event.stopPropagation()"
                >
                  <mat-select
                    disableOptionCentering
                    panelClass="pw-panel-primary"
                    placeholder="{{
                      'pw.otherReceiptsIssues.selectPlaceholderText' | translate
                    }}"
                    formControlName="binCode"
                  >
                    <mat-option
                      class="pw-selectable-option"
                      *ngFor="let binCode of (binCodes$ | async)"
                      [value]="binCode.binCode"
                    >
                      {{ binCode.binCode }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </poss-web-expansion-panel-content>
</poss-web-expansion-panel>

<div
  class="container-fluid "
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="row mt-2 mb-5">
    <div class="col-lg-10 col-12 m-auto">
      <mat-accordion *ngIf="selectedStock?.transferType === 'LOAN'">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="row pw-accordion">
                <div class="col-auto">
                  <p>
                    {{
                      'pw.otherReceiptsIssues.employeeDetailsLabelText'
                        | translate
                    }}
                  </p>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container-fluid">
            <div class="row">
              <mat-form-field class="col-3">
                <input
                  readonly
                  matInput
                  placeholder="Employee Id"
                  value="{{ selectedStock?.courierDetails.data.employeecode }}"
                />
              </mat-form-field>

              <mat-form-field class="col-3">
                <input
                  readonly
                  matInput
                  placeholder="Employee Name"
                  value="{{ selectedStock?.courierDetails.data.employeename }}"
                />
              </mat-form-field>

              <mat-form-field class="col-3">
                <input
                  readonly
                  matInput
                  placeholder="Designation"
                  value="{{ selectedStock?.courierDetails.data.designation }}"
                />
              </mat-form-field>

              <mat-form-field class="col-3">
                <input
                  readonly
                  matInput
                  placeholder="Mobile No"
                  value="{{ selectedStock?.courierDetails.data.contactno }}"
                />
              </mat-form-field>

              <mat-form-field class="col-3">
                <input
                  readonly
                  matInput
                  placeholder="Email Id"
                  value="{{ selectedStock?.courierDetails.data.emailid }}"
                />
              </mat-form-field>

              <mat-form-field class="col-3">
                <input readonly matInput placeholder="Brand" value="" />
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="row mb-4"></div>
      <div class="pw-filter-box">
        <div class="row align-items-end">
          <div class="col-lg-7">
            <ul class="pw-filter-box__sub-head-lists">
              <li class="pw-filter-box__list">
                <a
                  [class.is-active]="tab == 'nonverified'"
                  (click)="changeTab('nonverified')"
                  class="pw-filter-box__heading "
                >
                  {{
                    'pw.otherReceiptsIssues.nonVerifiedProductsTabText'
                      | translate
                  }}
                  <span class="pw-fourth-color"
                    >({{ nonVerifiedItemsTotalCount }})</span
                  >
                </a>
              </li>
              <li class="pw-filter-box__list">
                <a
                  [class.is-active]="tab == 'verified'"
                  (click)="changeTab('verified')"
                  class="pw-filter-box__heading"
                >
                  {{
                    'pw.otherReceiptsIssues.verifiedProductsTabText' | translate
                  }}
                  <span class="pw-fourth-color"
                    >({{ verifiedItemsTotalCount }})</span
                  >
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-5">
            <div class="row pw-filter-box__right-content align-items-end">
              <div class="col-auto">
                <a (click)="openFilter()">
                  <p>
                    <span
                      class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"
                    ></span>
                    {{ 'pw.otherReceiptsIssues.filterLable' | translate }}
                  </p>
                </a>
              </div>
              <div class="col-auto">
                <a (click)="openSort()">
                  <p>
                    <span
                      class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"
                    ></span>
                    {{ 'pw.otherReceiptsIssues.sortLable' | translate }}
                  </p>
                </a>
              </div>
              <poss-web-search
                class="col-lg-6 col-4 ml-auto ml-lg-0"
                placeholder="{{
                  'pw.otherReceiptsIssues.searchByVariantCodePlaceholderText'
                    | translate
                }}"
                (search)="searchItems($event)"
                (clear)="clearSearchItems()"
              >
              </poss-web-search>
            </div>
          </div>
        </div>
      </div>

      <poss-web-other-receipt-item-list
        *ngIf="
          (hasSearchedItems$ | async) === false &&
          (isSearchingItems$ | async) === false &&
          tab == 'nonverified'
        "
        [count]="itemsCountNonVerified$ | async"
        [itemList]="nonVerifiedItems$ | async"
        [isVerified]="false"
        [binCodes]="binCodes$ | async"
        [binGroupCode]="binGroupCode"
        [remarks]="remarks$ | async"
        [tolerance]="tolerance$ | async"
        [pageSize]="pageSize"
        [pageEvent]="nonVerifiedItemsPageEvent"
        (verify)="verifyItem($event)"
        (paginator)="paginateNonVerifedItems($event)"
        (parentFormDirty)="onParentFormDirty($event)"
      ></poss-web-other-receipt-item-list>

      <div
        *ngIf="
          (isNonVerifiedItemsLoaded$ | async) &&
          (nonVerifiedItems$ | async)?.length === 0 &&
          !(filterNonVerified.length > 0 || itemCode || sortMapNonverified.size>0) &&
          tab == 'nonverified'
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        <span class="pw-i-16 pw-success-icon-16"></span>
        {{ 'pw.otherReceiptsIssues.emptyNonVerifiedTabMessage' | translate }}
      </div>
      <div
      *ngIf="
        (isNonVerifiedItemsLoaded$ | async) &&
        (filterNonVerified.length > 0 || itemCode || sortMapNonverified.size>0) &&
        (nonVerifiedItems$ | async)?.length == 0 &&
        tab == 'nonverified'
      "
      class="pw-success-color pw-message pw-text-center mg-t-100"
    >
      {{ 'pw.otherReceiptsIssues.emptySearchResultsMessage' | translate }}
    </div>
      <poss-web-other-receipt-item-list
        *ngIf="
          (hasSearchedItems$ | async) === false &&
          (isSearchingItems$ | async) === false &&
          tab == 'verified'
        "
        [count]="itemsCountVerified$ | async"
        [itemList]="verifiedItems$ | async"
        [binCodes]="binCodes$ | async"
        [binGroupCode]="binGroupCode"
        [remarks]="remarks$ | async"
        [isVerified]="true"
        [tolerance]="tolerance$ | async"
        [pageSize]="pageSize"
        [pageEvent]="verifiedItemsPageEvent"
        (update)="updateItem($event)"
        (paginator)="paginateVerifedItems($event)"
        (parentFormDirty)="onParentFormDirty($event)"
      ></poss-web-other-receipt-item-list>

      <!-- TODO : ask for error message -->
      <div
        *ngIf="
          (isVerifiedItemsLoaded$ | async) &&
          (verifiedItems$ | async)?.length === 0 &&
          !(filterVerified.length > 0 || itemCode || sortMapVerified.size>0) &&
          tab == 'verified'
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        {{ 'pw.otherReceiptsIssues.emptyVerifiedTabMessage' | translate }}
      </div>
      <div
      *ngIf="
        (isVerifiedItemsLoaded$ | async) &&
        (filterVerified.length > 0 || itemCode || sortMapVerified.size>0) &&
        (verifiedItems$ | async)?.length == 0 &&
        tab == 'verified'
      "
      class="pw-success-color pw-message pw-text-center mg-t-100"
    >
      {{ 'pw.otherReceiptsIssues.emptySearchResultsMessage' | translate }}
    </div>
      <!-- <div
        *ngIf="
          (isLoading$ | async) ||
          (itemsTotalCountLoading$ | async) ||
          (isNonVerifiedItemsLoading$ | async) ||
          (isVerifiedItemsLoading$ | async)
        "
        class="pw-text-center mb-3"
      >
        <button class="pw-btn pw-showmore-btn">
          LOADING...
        </button>
      </div> -->

      <poss-web-loader
        *ngIf="
          (isLoadingBinGroups$ | async) ||
          (isLoadingSelectedStock$ | async) ||
          (isLoadingRemarks$ | async) ||
          (isLoadingTolerance$ | async) ||
          (itemsTotalCountLoading$ | async) ||
          (isNonVerifiedItemsLoading$ | async) ||
          (isVerifiedItemsLoading$ | async)
        "
      >
      </poss-web-loader>
      <div
        *ngIf="
          (hasSearchedItems$ | async) && (searchedItems$ | async)?.length == 0
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        {{ 'pw.otherReceiptsIssues.emptySearchResultsMessage' | translate }}
      </div>

       <poss-web-loader *ngIf="(isSearchingItems$ | async)"> </poss-web-loader>
    </div>
  </div>
</div>
