<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)="backArrow()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-lov-icon-36"></span>
              <div>
                <h2>{{ 'pw.lovmaster.lovLabel' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  Masters
                </h5>
              </div>
            </div>
          </div>
          <div class="col-auto pw-top-heading-container__right-content">
            <button class="pw-btn pw-accent-btn px-5" (click)="lovMasterItemEdit()"
              routerLinkActive="router-link-active">
              {{'pw.productCategory.addNew' | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="row align-items-flex-end">
        <div class="col-auto">
          <div class="pw-mont-semibold-14">
            {{ 'pw.lovmaster.lovLabel' | translate }}
          </div>
        </div>

      </div>

      <poss-web-lovmaster-items [lovMasterList]="lovMasterListing$ | async" [lovMasterTypes]="lovMasterTypes$ | async"
        [isLoading]="isLoading$ | async" (lovTypeSelect)="getLovTypeSelect($event)"
        (lovMasterItemEdit)="lovMasterItemEdit($event)" (lovMasterSwitch)="toggleChange($event)"
        (searchKey)="lovSearch($event)">
      </poss-web-lovmaster-items>
    </div>
    <poss-web-loader *ngIf="(isLoading$|async)"></poss-web-loader>
  </div>
</div>