<div class="d-flex">
  <mat-form-field class="flex-fill pw-form-field-padding-bottom-0" [formGroup]="searchForm" floatLabel="never">
    <input
      #searchBox
      matInput
      [placeholder]="placeholder"
      formControlName="searchValue"
      [autocomplete]="autocomplete"
    />
    <mat-icon matSuffix *ngIf="!searchForm.get('searchValue').value">
      <span class="pw-i-16 pw-search-icon-16"></span
    ></mat-icon>
    <mat-icon
      matSuffix
      (click)="clearSearch($event)"
      *ngIf="searchForm.get('searchValue').value"
    >
      <span class="pw-i-10 pw-close-icon-16"></span
    ></mat-icon>
  </mat-form-field>
</div>
