<div class="pw-confirmation-box">
  <div class="row pw-confirmation-box__header">
    <div class="col-auto">
      <b>Confirmation Failed</b>
    </div>
    <div class="col pw-text-right ">
      <a class="pw-sub-heading">
        <span class="pw-i-10 pw-close-icon-16" (click)="onClose()"></span>
      </a>
    </div>
  </div>
  <div class="pw-confirmation-box__body">
    <div class="pw-confirmation-box__body-item ">
      <b>
        Please remove below out of stock items and try again.
      </b>
    </div>
    <div class="pw-confirmation-box__scrollable-item">
      <div class="row no-gutters pw-confirmation-box__list-item" *ngFor="let item of data">
        <p class="col-4">
          <span class="pw-fourth-color"> Variant Code </span> <b> : {{ item.itemCode }}</b>
        </p>
        <p class="col-4">
          <span class="pw-fourth-color"> Lot Number </span> <b> : {{ item.lotNumber }}</b>
        </p>
        <p class="col-2">
          <span class="pw-fourth-color"> Available Qty </span> <b> : {{ item.availableQuantity }}</b>
        </p>
        <p class="col-2">
          <span class="pw-fourth-color"> Measured Qty </span> <b> : {{ item.selectedQuantity }}</b>
        </p>
      </div>
    </div>
    <div class="pw-confirmation-box__footer pw-text-right">
      <button mat-button class="pw-btn pw-accent-btn" (click)="removeProducts()">
        Remove Products
      </button>
    </div>
  </div>
</div>
