<div
  class="container-fluid"
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a [routerLink]="['../']">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>
                  {{ 'pw.usermanagementlist.addRemoveTiTle' | translate }}
                </h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.usermanagementlist.usermanagementTitle' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
        <poss-web-user-list
          [isSearch]="
            employeeCode.length > 0 ||
            error.length > 0 ||
            (userListSize$ | async) === 0
          "
          [usersList]="usersList$ | async"
          [userListSize]="userListSize$ | async"
          [pageSizeOptions]="pageSizeOptions"
          [pageEvent]="usersPageEvent"
          [minPageSize]="minPageSize"
          [isBTQUser]="isBTQUser"
          (paginateUsersList)="paginateUsersList($event)"
          (toggleUserLock)="toggleUserLock($event)"
          (searchUser)="searchUser($event)"
          (navigate)="navigate($event)"
          (filter)="openFilterDialog()"
          (locationSelection)="openLocationSelection()"
        ></poss-web-user-list>
      </div>
    </div>
  </div>
</div>
<poss-web-loader *ngIf="(isLoading$ | async)"></poss-web-loader>
