<div class="container-fluid">
  <div class="row  ">
    <div class="col-12 ">
      <div class="row">

        <div class="col-12">

          <div [ngSwitch]="page">

            <div>
              <poss-web-print-stepone
              *ngIf="(printDetails$|async)"
              [printDetails$] = 'printDetails$'
              (tabOne)="addButtonOne($event)"></poss-web-print-stepone>
            </div>
            <!-- <div *ngSwitchCase="2">
              <poss-web-print-steptwo
              *ngIf="(printDetails$|async)"
              [print$] = 'printDetails$'
              (tabTwo)="addButtonTwo($event)"></poss-web-print-steptwo>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
