
<div class="pw-error-page-bg">
  <img
    src="../../assets/img/bg-top.svg"
    class="pw-bg-img"
    alt="background_img"
  />
  <!-- <mat-toolbar>
    <mat-toolbar-row>
      <span class="top-navbar__logo">
        <a class="pw-i-64 pw-logo-icon-64"> </a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar> -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-12 m-auto">
        <div class="pw-text-center" *ngIf="errorCode === '404'">
            <div>
                <img
                  src="../../assets/img/404-error.svg"
                  alt="404-error image"
                  width="300px"
                />
              </div>
          <h1 class="pw-top-heading-container__sub-heading">
              404 Error!
          </h1>
          <div class="pw-font-24">
              We can’t find the page you are looking for
            </div>
          <button class="pw-btn pw-accent-btn mt-4" (click)="back()">Take Me Home</button>
        </div>

        <div class="pw-text-center" *ngIf="errorCode === '500'">
            <div class="mb-4">
                <img
                  src="../../assets/img/500-server-error.svg"
                  alt="404-error image"
                  width="250px"
                />
              </div>
              <h1 class="pw-top-heading-container__sub-heading">
                  500 Internal Server Error!
                </h1>
                <div class="pw-font-24">
                  The server has been deserted for a while, Try again later
                </div>
          <button class="pw-btn pw-accent-btn mt-4" (click)="back()">Take Me Home</button>
        </div>
      </div>
    </div>
  </div>
</div>