<ng-container>
  <ng-container *ngFor="let item of itemList">
    <poss-web-return-invoice-cfa-item
      [item]="item"
      (updateItem)="updateItems($event)"
      (remove)="remove($event)"
      (selection)="selectionEmit($event)"
      [selectionEvents]="selectionAllSubject.asObservable()"
    >
    </poss-web-return-invoice-cfa-item>
  </ng-container>
  <mat-paginator
    *ngIf="haspaginator && count > minPageSize"
    class="pw-paginator"
    [length]="count"
    [pageSize]="pageEvent.pageSize"
    [pageIndex]="pageEvent.pageIndex"
    showFirstLastButtons
    [pageSizeOptions]="pageSizeOptions"
    (page)="paginate($event)"
  >
  </mat-paginator>
</ng-container>
