<ng-container *ngFor="let error of control.errors | objIterator">
  <poss-web-error-message *ngIf="control.touched" [formId]="formId" [controlName]="controlName" [error]="error"
    [validationErrorMessages]="validationErrorMessages">
  </poss-web-error-message>
</ng-container>