<ng-container *ngIf="count != 0">
  <ng-container *ngFor="let item of itemList; trackBy: trackBy">
    <ng-container
      *ngTemplateOutlet="itemTemplate; context: { item: item }"
    ></ng-container>
  </ng-container>

  <ng-template #itemTemplate let-item="item">
    <poss-web-stock-receive-item
      [item]="item"
      [isVerified]="isVerified"
      [binGroupCode]="binGroupCode"
      [binCodes]="binCodes"
      [remarks]="remarks"
      [tolerance]="tolerance"
      [parentForm]="parentForm"
      (verify)="verifyItem($event)"
      (update)="updateItem($event)"
      (validate)="validateItem($event)"
    >
    </poss-web-stock-receive-item>
  </ng-template>

  <mat-paginator
    class="pw-paginator"
    *ngIf="count > minPageSize && itemList.length > 0"
    [length]="count"
    [pageSize]="pageEvent.pageSize"
    [pageIndex]="pageEvent.pageIndex"
    showFirstLastButtons
    [pageSizeOptions]="pageSizeOptions"
    (page)="paginate($event)"
  >
  </mat-paginator>
</ng-container>
