<poss-web-list-item *ngFor="let itemDetail of itemDetailsList"
  [itemDetailsList]="itemDetail"  (itemCode)="emitItemCode($event)" >
</poss-web-list-item>
<mat-paginator class="pw-paginator" *ngIf="count > minPageSize"
  [length]="count" [pageSize]="pageEvent.pageSize" [pageIndex]="pageEvent.pageIndex" showFirstLastButtons
  [pageSizeOptions]="pageSizeOptions" (page)="paginator.emit($event)">
</mat-paginator>
