<h5 class="pw-login__header">
  {{ 'pw.login.forgotChangePasswordTabText' | translate }}
</h5>
<div class="pw-login__input row">
  <mat-form-field
    class="pw-input-box col-lg-7 col-sm-7 col-8"
    floatLabel="never"
  >
    <input
      matInput
      type="text"
      placeholder="{{ 'pw.login.loginidPlaceholderText' | translate }}"
      [formControl]="name"
    />
    <mat-icon matPrefix>
      <span class="pw-i-16 pw-user-icon-16"></span>
    </mat-icon>

    <mat-error *ngIf="name.hasError('required')"
      >{{ 'pw.login.loginidRequiredErrorMessage' | translate }}
    </mat-error>
    <mat-error *ngIf="name.hasError('pattern')"
      >{{ 'pw.login.loginidPatternErrorMessage' | translate }}
    </mat-error>
    <mat-error *ngIf="name.hasError('maxlength') && !name.hasError('pattern')"
      >{{ 'pw.login.loginidMaxLengthErrorMessage' | translate }}
    </mat-error>
  </mat-form-field>
</div>

<button
  (click)="generateOtp.emit(name.value)"
  [disabled]="name.invalid"
  class="pw-btn pw-accent-btn pw-login-btn"
>
  {{ 'pw.login.generateOtpButtonText' | translate }}
</button>
