<div class="pw-confirmation-box">
  <div class="row pw-confirmation-box__header">
    <div class="col-auto" *ngIf="dialogData.productCategoryCode === 'NEW'">
      {{ 'pw.productCategory.createHeading' | translate }}
    </div>
    <div class="col-auto" *ngIf="dialogData.productCategoryCode !== 'NEW'">
      {{ 'pw.productCategory.editHeading' | translate }}
    </div>
    <div class="col pw-text-right">
      <a class="sub-heading">
        <span (click)="onClose()" class="pw-i-10 pw-close-icon-16"> </span>
      </a>
    </div>
  </div>
  <div class="pw-confirmation-box__body">
    <!-- <div class="pw-confirmation-box__body-item">
      <b *ngIf="dialogData.productCategoryCode === 'NEW'">
        {{ 'pw.productCategory.createSubHeading' | translate }}
      </b>
      <b *ngIf="dialogData.productCategoryCode !== 'NEW'">
        {{ 'pw.productCategory.editSubHeading' | translate }}
      </b>
    </div>
    <div [formGroup]="productCategoryDetailsForm" class="row">
      <mat-form-field class="col-12">
        <input
          matInput
          type="text"
          placeholder="{{
            'pw.productCategory.productCategoryCodeField' | translate
          }}"
          class="pw-single-bordered-input"
          formControlName="productCategoryCode"
          [readonly]="readOnly"
        />
        <mat-error
          *ngIf="
            productCategoryDetailsForm.controls['productCategoryCode'].errors ?.required
          "
        >
          {{ 'pw.productCategory.requiredField' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-12">
        <textarea
          matInput
          type="text"
          placeholder="{{ 'pw.productCategory.descriptionField' | translate }}"
          class="pw-single-bordered-input"
          formControlName="description"
        >
        </textarea>

        <mat-error
          *ngIf="
            productCategoryDetailsForm.controls['description'].errors?.required
          "
        >
          {{ 'pw.productCategory.requiredField' | translate }}
        </mat-error>
      </mat-form-field>
      <div class="col-4">
        <mat-checkbox formControlName="isActive">{{
          'pw.productCategory.isActiveLabel' | translate
        }}</mat-checkbox>
      </div>
      <div class="col-8">
        <mat-checkbox formControlName="isAlddFrDmyStdASSM">{{
          'pw.productCategory.isAssmLabel' | translate
        }}</mat-checkbox>
      </div>
    </div>
    <div class="pw-confirmation-box__footer pw-text-right">
      <div class="row justify-content-end">
        <div class="col-auto" (click)="onClear()">
          <button class="pw-btn pw-primary-btn">
            {{ 'pw.productCategory.clearButton' | translate }}
          </button>
        </div>
        <div
          class="col-auto"
          *ngIf="dialogData.productCategoryCode === 'NEW'"
          (click)="onCreate()"
        >
          <button
            [disabled]="
              productCategoryDetailsForm.controls[
                'productCategoryCode' && 'description'
              ].invalid
            "
            class="pw-btn pw-accent-btn"
          >
            {{ 'pw.productCategory.saveButton' | translate }}
          </button>
        </div>

        <div
          class="col-auto"
          *ngIf="dialogData.productCategoryCode !== 'NEW'"
          (click)="onCreate()"
        >
          <button
            [disabled]="
              productCategoryDetailsForm.controls['description'].invalid
            "
            class="pw-btn pw-accent-btn"
          >
            {{ 'pw.productCategory.saveButton' | translate }}
          </button>
        </div>
      </div>
    </div> -->

    <poss-web-dynamic-form *ngIf="formFields" [style]="currentStyle" [formFields]="formFields" [disabled]="false"
      [enableSubmitOnInvalid]="true" [buttonNames]="['Cancel','Save']" (deleteForm)="deleteButton($event)"
      (addForm)="addButton($event)" (formGroupCreated)="formGroupCreated($event)">
    </poss-web-dynamic-form>
  </div>
</div>