.pw-confirmation-box {
  position: relative;

  &__header {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #fafafa;
    padding-bottom: 10px;
  }

  .mat-dialog-title {
    margin-bottom: 5px;
  }

  &__body {
    padding: 15px 0;
    margin: 0;
  }

  &__body-item {
    padding-bottom: 15px;
  }

  &__input {
    margin: 20px 15px 15px;

    .single-bordered-input {
      padding-left: 0;
    }
  }

  &__footer {
    margin-top: 50px;
  }
}

.pw-cursor {
  cursor: pointer;
}

a {
  cursor: pointer;
}
