<div
  class="container-fluid"
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a [routerLink]="['../']">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>
                  {{ 'pw.rolemanagementlist.addremoveTitle' | translate }}
                </h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.rolemanagementlist.roleTitle' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <poss-web-role-list
        (updateRole)="editAddRole($event)"
        (toggleRole)="toggleRole($event)"
        (paginateRolesList)="paginateRolesList($event)"
        [rolesList]="rolesList$ | async"
        [pageSizeOptions]="pageSizeOptions"
        [pageEvent]="rolesPageEvent"
        [rolesListSize]="roleListSize$ | async"
        (searchRole)="searchRole($event)"
      ></poss-web-role-list>
    </div>
  </div>
</div>
<poss-web-loader *ngIf="(isLoading$ | async)"></poss-web-loader>
