<div class="row pw-selection-dialog">
  <div class="col-auto pw-message">
    {{ data.title }}
  </div>
  <button class="ml-auto" mat-icon-button (click)="close()">
    <mat-icon>
      <span class="pw-i-10 pw-close-icon-16"></span>
    </mat-icon>
  </button>
</div>
<div class="d-flex">
  <mat-form-field class="flex-fill" [formGroup]="searchForm" floatLabel="never">
    <input
      #searchBox
      matInput
      [placeholder]="data.placeholder"
      formControlName="searchValue"
    />
    <mat-icon matSuffix *ngIf="!searchForm.get('searchValue').value">
      <span class="pw-i-16 pw-search-icon-16"></span
    ></mat-icon>
    <mat-icon
      matSuffix
      (click)="clearSearch()"
      *ngIf="searchForm.get('searchValue').value"
    >
      <span class="pw-i-10 pw-close-icon-16"></span
    ></mat-icon>
  </mat-form-field>
</div>

<div class="pw-selection-dialog__list">
  <p
    possWebSelectionDialogOption
    *ngFor="let option of filteredOptions"
    class="d-flex pw-selection-dialog__list-item"
    (click)="onSelect(option)"
  >
    {{ option.description }}
  </p>

  <div
    *ngIf="filteredOptions.length == 0"
    class="pw-selection-dialog__no-result-text"
  >
    No results found
  </div>
</div>
