<div class="pw-white-overlay-box">
  <form [formGroup]="newBinRequestForm">
    <div class="pw-confirmation-box">
      <div class="row pw-confirmation-box__header">
        <div *ngIf="data.status === 'approve'" class="col-auto">
          <b>Confirm Bin Requested</b>
        </div>
        <div *ngIf="data.status === 'reject'" class="col-auto">
          <b> {{ 'pw.instock.rejectPopup1' | translate }}</b>
        </div>
        <div class="col pw-text-right ">
          <a class="pw-sub-heading">
            <span class="pw-i-10 pw-close-icon-16" (click)="onClose()"></span>
          </a>
        </div>
      </div>
      <div mat-dialog-content class="pw-confirmation-box__body">
        <div class="pw-confirmation-box__body-item ">
          <b>
            Are you sure you want to {{ data.status }} Request
            <span class="pw-seventh-color">{{ data.reqDocNo }}</span> Document
            Number ?
          </b>
        </div>

        <div class="pw-confirmation-box__input">
          <div class="row">
            <mat-form-field class="col-12">
              <textarea
                matInput
                formControlName="remarks"
                class="single-bordered-input"
                placeholder="Enter Your Remarks"
                rows="4"
              ></textarea>
              <mat-error
                *ngIf="newBinRequestForm.controls['remarks'].errors?.required"
              >
                {{ 'pw.instock.popupContent2' | translate }}
              </mat-error>
              <mat-error
                *ngIf="newBinRequestForm.controls['remarks'].errors?.minlength"
              >
                {{ 'pw.instock.popupContent3' | translate }}
              </mat-error>
              <mat-error
                *ngIf="newBinRequestForm.controls['remarks'].errors?.maxlength"
              >
                {{ 'pw.instock.popupContent4' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="pw-confirmation-box__footer pw-text-right">
        <button mat-button
          *ngIf="data.status === 'approve'"
          class="pw-btn pw-accent-btn"
          (click)="approved()"
        >
          CONFIRM
        </button>
        <button mat-button
          *ngIf="data.status === 'reject'"
          class="pw-btn pw-accent-btn"
          (click)="rejected()"
        >
          {{ 'pw.instock.Reject' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
