// .pw-confirmation-box__header {
//   padding-bottom: 20px;
// }

// .pw-confirmation-box__body-item {
//   padding-bottom: 10px;
// }

.pw-confirmation-box {
  position: relative;
  margin: auto;
  overflow: hidden;

  &__header {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #fafafa;
    padding-bottom: 10px;
  }

  &__body {
    padding: 15px 25px;
  }

  // &__body-item {
  //   padding: 0 15px;
  // }

  &__input {
    margin: 15px 0;

    .single-bordered-input {
      padding-left: 0;
    }
  }

  &__footer {
    margin-top: 15px;
  }
}

a {
  cursor: pointer;
}
