<div class="pw-body-bg-img">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-1"></div>
      <div class="col-12 col-lg-10 m-auto pw-inv-cta">
        <div class="row">
          <div
            *ngIf="!isISCMUser()"
            class="col-xl-3 col-lg-4 pw-inv-cta__item border-right"
          >
            <a (click)="stockReceiveUrl()">
              <span class="pw-i-64 pw-receive-stock-icon-64"></span>
              <h1 class="mt-3">
                {{ 'pw.landingPage.stockReceiveTitle' | translate }}
              </h1>
              <h3 class="pw-inv-cta__sub-heading">
                {{ 'pw.landingPage.stockReceiveSubTitle' | translate }}
              </h3>
              <h6 class="mt-3">
                <ng-container *ngIf="isL1L2Store()">
                  {{ stockTransferNoteCount$ | async }}
                </ng-container>
                <ng-container *ngIf="isL3Store()">
                  {{ receiveInvoiceCount$ | async }}
                </ng-container>
                {{
                  'pw.landingPage.stockReceivePendingCountLable' | translate
                }}
              </h6>
              <!-- <h6>Some Other Notification</h6> -->
            </a>
          </div>
          <div
            *ngIf="!isISCMUser()"
            class="col-xl-3 col-lg-4 pw-inv-cta__item offset-xl-1 border-right"
          >
            <a (click)="inStockUrl()">
              <span class="pw-i-64 pw-instock-icon-64"></span>
              <h1 class="mt-3">
                {{ 'pw.landingPage.inStocktitle' | translate }}
              </h1>
              <h3 class="pw-inv-cta__sub-heading">
                {{ 'pw.landingPage.inStockSubTitle' | translate }}
              </h3>
              <!-- <h6 class="mt-3">4 Batches to move to BINS</h6> -->
            </a>
          </div>
          <div
            *ngIf="!isISCMUser()"
            class="col-xl-3 col-lg-4 pw-inv-cta__item offset-xl-1"
          >
            <!-- <a [routerLink]="['/inventory/stockissue']"> -->
            <a (click)="stockIssueUrl()">
              <span class="pw-i-64 pw-issue-stock-icon-64"></span>
              <h1 class="mt-3">
                {{ 'pw.landingPage.issueTitle' | translate }}
              </h1>
              <h3 class="pw-inv-cta__sub-heading">
                {{ 'pw.landingPage.stockSubTitle' | translate }}
              </h3>
              <!-- <h6 class="mt-3">3 Batches ready in SALES BIN</h6> -->
              <h6 class="mt-3">
                <ng-container *ngIf="isL1L2Store()">
                  {{ issueTransferNoteCount$ | async }} Requests Pending
                </ng-container>
              </h6>
            </a>
          </div>
          <div
            *ngIf="isISCMUser()"
            class="col-xl-3 col-lg-4 pw-inv-cta__item border-right"
          >
            <a (click)="fileInput.click()">
              <input
                class="pw-hidden"
                type="file"
                (change)="uploadFile($event)"
                #fileInput
              />

              <div class="pw-icon-card">
                <div class="pw-icon-card__icon">
                  <span class="pw-i-64 pw-upload-icon-64"></span>
                </div>
                <div class="pw-icon-card__text">
                  <h2>FIR/MER Upload</h2>
                </div>
              </div>
            </a>
          </div>
          <div
            *ngIf="isISCMUser()"
            class="col-xl-3 col-lg-4 pw-inv-cta__item border-right"
          >
            <a (click)="fileInput.click()">
              <input
                class="pw-hidden"
                type="file"
                (change)="invoiceUpload($event)"
                #fileInput
              />
              <!-- <a (click)="invoiceUpload()"> -->
              <div class="pw-icon-card">
                <div class="pw-icon-card__icon">
                  <span class="pw-i-64 pw-upload-icon-64"></span>
                </div>
                <div class="pw-icon-card__text">
                  <h2>Process Invoice</h2>
                </div>
              </div>
            </a>
          </div>
          <div *ngIf="isISCMUser()" class="col-xl-3 col-lg-4 pw-inv-cta__item">
            <a (click)="fileInput.click()">
              <input
                class="pw-hidden"
                type="file"
                (change)="STNUpload($event)"
                #fileInput
              />
              <!-- <a (click)="STNUpload()"> -->
              <div class="pw-icon-card">
                <div class="pw-icon-card__icon">
                  <span class="pw-i-64 pw-upload-icon-64"></span>
                </div>
                <div class="pw-icon-card__text">
                  <h2>Process STN</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- loader -->
      <poss-web-loader *ngIf="(isLoading$ | async) && isISCMUser()">
      </poss-web-loader>
      <div class="col-12 col-lg-1"></div>
    </div>
  </div>

  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 col-12"></div>
      <div class="col-lg-10 col-12 m-auto">
        <div class="pw-quick-link">
          <a href="#">
            <span class="pw-i-24 pw-quick-link-icon-24"></span>
            <span class="pw-quick-link__caption">Quick Links</span></a>
        </div>
      </div>
      <div class="col-lg-1 col-12"></div>
    </div>
  </div>
 -->
</div>
