<div
  class="container-fluid "
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-12 col-lg-10 m-auto">
        <div class="pw-top-heading-container">
          <div
            class="row pw-top-heading-container__item"
          >
            <div class="col-auto pr-0">
              <a>
                <span
                  (click)="back()"
                  class="pw-i-24 pw-back-arrow-icon-24"
                ></span>
              </a>
            </div>
            <div class="col-auto pl-0">
              <div class="pw-top-heading-container__main-head">
                <span class="pw-i-36 pw-issue-stock-icon-36"></span>
                <div>
                  <h2>{{ 'pw.otherReceiptsIssues.title' | translate }}</h2>
                  <h5
                    class="pw-top-heading-container__sub-heading pw-fith-heading"
                    >
                    {{ 'pw.otherReceiptsIssues.issueLableText' | translate }}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="mb-3">{{otherIssuesTabEnumRef.ADJUSTMENT}}</h3>
       
        <mat-accordion>
            <mat-expansion-panel
              class="pw-expansion-panel-other-issues"
              [expanded]="true"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="row pw-accordion">
                    <div class="col-auto">
                      <p>Approval Details</p>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form [formGroup]="adjustmentForm">
                <div class="row">
                      <mat-form-field class="col-lg-3 col-5">
                        <input
                          class="pw-input-box"
                          matInput
                          placeholder="Approval Code"
                          formControlName="approvalCode"
                          required
                        />
                        <mat-error *ngIf="this.adjustmentForm.controls.approvalCode.hasError('required')">
                          Required
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="col-lg-3 col-5">
                        <input
                          class="pw-input-box"
                          matInput
                          placeholder="Approved By"
                          formControlName="approvedBy"
                          required
                        />
                        <mat-error *ngIf="this.adjustmentForm.controls.approvedBy.hasError('required')">
                          Required
                        </mat-error>
                      </mat-form-field>
                    </div>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="mt-3"></div>
              <poss-web-search-list
                placeholder="Start scanning or start typing with Variant code"
                [itemList]="searchResult"
                [multipleSelection]="true"
                (search)="onSearch($event)"
                (selected)="addToCart($event)"
                [hasResults]="!((hasSearchedAdjustmentItem$|async)&&
                               searchResult.length==0
                              && !isItemsInCart)"
                class="col-12 px-0"
              >
                <ng-template let-item="data">
                  <poss-web-adjsutment-issue-item
                    [cart]="false"
                    [item]="item"
                    (selection)="selectionEmit($event)"
                    [selectionEvents]="selectionAllSubject.asObservable()"
                  >
                  </poss-web-adjsutment-issue-item>
                </ng-template>
              </poss-web-search-list>
          <div class="pw-filter-box">
        <div
          class="row align-items-flex-end"
        >
          <div class="col-lg-7">
            <div class="row" [formGroup]="selectForm">
              <mat-radio-group
                aria-label="Select an option"
                class="col-auto"
                (change)="selectChange()"
                formControlName="selectRadioButton"
              >
                <mat-radio-button value="1" class="mr-3">
                  <p>Select all products</p>
                </mat-radio-button>
              </mat-radio-group>
              <div class="col-auto ml-auto ml-lg-0">
                <a (click)="clearAll()">
                  <p>
                    <span class="pw-i-16 pw-clear-icon-16"></span>
                    Clear All
                  </p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-5">
            <div
              class="row pw-filter-box__right-content"
            >
              <!-- <div class="col-auto ml-lg-auto">
                <a (click)="sortByWeight()">
                  <p>
                    <span
                      class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"
                    ></span>
                    Sort by Weight
                  </p>
                </a>
              </div> -->
              <div class="col-auto">
                <a (click)="openFilter()">
                  <p>
                    <span
                      class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"
                    ></span>
                    Filter
                  </p>
                </a>
              </div>
              <div class="col-auto">
                  <a (click)="openSort()">
                    <p>
                      <span
                        class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"
                      ></span>
                      Sort
                    </p>
                  </a>
              </div>
              <poss-web-search
                class="col-lg-6 col-4 ml-auto ml-lg-0"
                placeholder="{{ 'pw.otherReceiptsIssues.searchByVariantCodePlaceholderText' | translate }}"
                (search)="searchInCart($event)"
                (clear)="clearSearchItems()"
              >
              </poss-web-search>
            </div>
          </div>
          </div>
        </div>
        <poss-web-loader
        *ngIf="
          (isSearchingAdjustmentItem$ | async) ||
          (isloadingAdjsutment$ | async)
        "
      >
      </poss-web-loader>
        <poss-web-adjsutment-issue-item-list
        [itemList]="itemList"
        (updateItem)="updateItem($event)"
        (removeItem)="removeItem($event)"
        (selection)="selectionEmit($event)"
        [selectionEvents]="selectionAllSubject.asObservable()"
      >
      </poss-web-adjsutment-issue-item-list>
      <!-- <poss-web-adjsutment-issue-item-list
        *ngIf="searchedAdjustmentItemsInCartResults.length !==0"
        [itemList]="searchedAdjustmentItemsInCartResults"
        (updateItem)="updateItem($event)"
        (removeItem)="removeItem($event)"
        (selection)="selectionEmit($event)"
        [selectionEvents]="selectionAllSubject.asObservable()"
      >
      </poss-web-adjsutment-issue-item-list> -->
      <div *ngIf="!hideSearchResults &&
                   (itemsInCart$|async)?.length==0"
           class="pw-success-color pw-message pw-text-center mg-t-100">
           {{'pw.otherReceiptsIssues.noProductsText'| translate}}
      </div>
      <div *ngIf="allItemsInCart?.length!==0 &&
                 itemList?.length==0"
           class="pw-success-color pw-message pw-text-center mg-t-100">
           {{'pw.otherReceiptsIssues.noDataFoundText'| translate}}
      </div>
      </div>
    </div>
  </div>
</div>
