<div *ngIf="item.status==='APVL_PENDING'">
<form [formGroup]="newIbtRequestForm">
  <div class="row pw-list-card">
    <div class="col-auto pw-list-card__item">
      <mat-checkbox formControlName="selected" [checked]="item.isSelected" (change)="updateItem()"> </mat-checkbox>
    </div>
    <div class="col-auto pw-list-card__item pw-thumbnail-img">
      <poss-web-thumbnail [thumbnailSrc]="item.imageURL" [imageSrc]="item.imageURL" [alt]="item.productCategory">
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>{{ 'pw.binToBinTransfer.variantCodeLable' |translate}}- {{ item.itemCode }}</p>
      </poss-web-thumbnail>
    </div>
    <div class="col-auto pw-list-card__item pw-width-120">
      <div class="pw-sub-heading">
        {{ item.productCategory }}
      </div>
      <p>
        {{ item.itemCode }}
      </p>
      <p>{{ item.lotNumber }}</p>
      <p>{{ item.stdValue | currency: item.currencyCode }}</p>
    </div>
    <div class="pw-list-card__item col-1">
      <div class="pw-sub-heading">
        {{ item.productGroup }}
      </div>
      <!-- TODO : Check the icon List -->
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <p>{{'pw.instock.binListHeader'|translate}}</p>
      </div>
      <input type="text" class="pw-bg-input-box" value="{{ item.binCode }}" placeholder="BinCode" readonly />
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <p>{{'pw.stockIssueNotificationMessages.weightLabel'|translate}}</p>
      </div>
      <input type="text" class="pw-bg-input-box" value="{{ item.stdWeight }}" placeholder="stdWeight" readonly />
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <p>{{'pw.stockIssue.requestedQuantityLabelText'|translate}}</p>
      </div>
      <input
        type="text"
        class="pw-bg-input-box"
        value="{{ item.requestedQuantity }}"
        placeholder="requestedQuantity"
        readonly
      />
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <p>{{'pw.statusMessages.ACCEPTED' |translate}}  {{'pw.instock.Quantity' |translate}}</p>
      </div>
      <input
        type="text"
        class="pw-bg-input-box"
        value="{{ item.acceptedQuantity }}"
        placeholder="acceptedQuantity"
        readonly
      />
    </div>
    <div class="col-auto pw-list-card__item" >
      <div class="pw-sub-heading">
        <p>{{'pw.otherReceiptsIssues.approvedStatus'|translate}}{{'pw.instock.Quantity'|translate}}</p>
      </div>
      <input

        type="number"

        class="pw-bg-input-box"
        value="{{ item.approvedQuantity }}"
        placeholder="approvedQuantity"
        readonly
      />
    </div>
    <!-- <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <p>APPROVED QTY.</p>
      </div>
      <input
        type="number"
        type="text"
        class="pw-bg-input-box"
        value="{{ item.approvedQuantity }}"
        placeholder="approvedQuantity"
        readonly
      />
    </div> -->

    <!-- Quantity Edit -->

    <!-- <div class="col-auto pw-list-card__item" *ngIf="!quantity">
      <div class="pw-sub-heading">
        <p>APPROVED QTY.</p>
      </div>
      <input
        formControlName="appQuantity"
        type="number"
        type="text"
        class="pw-bg-input-box"
        [ngModel]="item.availableQuantity"
        placeholder="approvedQuantity"
        (keypress)="numberOnly($event)"
        (change)="onQuantityChange()"

      />
    </div>
    <div class="col-auto pw-list-card__right-container">
      <!-- <p class="pw-error-color pw-sub-heading" *ngIf="newIbtRequestForm.controls['appQuantity'].errors?.required">
            Qty is required
          </p> -->
    <!-- <p class="pw-error-color pw-sub-heading" *ngIf="newIbtRequestForm.controls['appQuantity'].errors?.required">
            Qty required
          </p>
      <p class="pw-error-color pw-sub-heading" *ngIf="newIbtRequestForm.controls['appQuantity'].errors?.min">
        Minimum Qty is 1
      </p>
      <p
        class="pw-error-color pw-sub-heading"
        *ngIf="newIbtRequestForm.controls['appQuantity'].errors?.max"
      >
        Max qty is {{ qty }}
      </p>
</div> -->

    <!-- <mat-error
        *ngIf="newIbtRequestForm.controls['appQuantity'].errors?.required"
      >
        Quantity required
      </mat-error>
      <mat-error *ngIf="newIbtRequestForm.controls['appQuantity'].errors?.min">
        Minimum Qty is 1
      </mat-error>
      <mat-error *ngIf="newIbtRequestForm.controls['appQuantity'].errors?.max">
        Max qty is {{ item.availableQuantity }}
      </mat-error> -->
  </div>
</form>
</div>
