<div
  class="container-fluid"
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item justify-content-between">
          <div class="col-auto">
            <div class="pw-top-heading-container__main-head">
              <a (click)="back()">
                <span class="pw-i-24 pw-back-arrow-icon-24"></span>
              </a>
              <span class="pw-i-36 pw-issue-stock-icon-36"></span>
              <div>
                <h2>{{ 'pw.stockIssueTepGep.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.stockIssueTepGep.factorySubTitle' | translate }}
                  <span
                    *ngIf="
                      transferType === stockIssueTEPGEPTypesEnumRef.TEP_PLAIN
                    "
                    class="pw-seventh-color"
                    >({{
                      'pw.stockIssueTepGep.TEPSubTitle1' | translate
                    }})</span
                  >
                  <span
                    *ngIf="
                      transferType === stockIssueTEPGEPTypesEnumRef.TEP_STUDDED
                    "
                    class="pw-seventh-color"
                    >({{
                      'pw.stockIssueTepGep.TEPSubTitle2' | translate
                    }})</span
                  >
                  <span
                    *ngIf="transferType === stockIssueTEPGEPTypesEnumRef.GEP"
                    class="pw-seventh-color"
                    >({{ 'pw.stockIssueTepGep.GEPSubTitle' | translate }})</span
                  >
                </h5>
              </div>
            </div>
          </div>
          <!-- carrier details -->
          <div class="col-lg-8 mt-2 mt-lg-0">
            <div class="pb-2 pw-mont-semibold-14">
              {{ 'pw.stockIssue.carrierDetailsText' | translate }}
            </div>
            <form [formGroup]="form">
              <div class="row">
                <mat-form-field class="col-3">
                  <mat-select
                    (selectionChange)="loadForm($event)"
                    placeholder="{{
                      'pw.stockIssue.selectCourierText' | translate
                    }}"
                    disableOptionCentering
                    required
                  >
                    <mat-option
                      *ngFor="let carrier of (courierDetailsResponse$ | async)"
                      [value]="carrier"
                    >
                      {{ carrier }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="col-9">
                  <div class="row" formArrayName="formCollection">
                    <div *ngFor="let form of formList.controls; let i = index">
                      <ng-container
                        *ngIf="
                          selectedFormName !==
                            stockIssueTEPGEPCarrierTypesEnumRef.HandCarry;
                          else formTwoBlock
                        "
                      >
                        <div [formGroupName]="i">
                          <mat-form-field class="col-4">
                            <input
                              matInput
                              placeholder="{{
                                'pw.stockIssue.courierDocketNumberText'
                                  | translate
                              }}"
                              formControlName="courierDocketNumber"
                              required
                            />
                            <mat-error
                              *ngIf="
                                (form.get('courierDocketNumber').dirty ||
                                  form.get('courierDocketNumber').touched) &&
                                form
                                  .get('courierDocketNumber')
                                  .hasError('required')
                              "
                            >
                              {{
                                'pw.stockIssue.formErrorMessageText1'
                                  | translate
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                (form.get('courierDocketNumber').dirty ||
                                  form.get('courierDocketNumber').touched) &&
                                form
                                  .get('courierDocketNumber')
                                  .hasError('maxlength')
                              "
                            >
                              {{
                                'pw.stockIssue.formErrorMessageText2'
                                  | translate
                              }}
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field class="col-4">
                            <input
                              matInput
                              class="pw-input-box"
                              placeholder="{{
                                'pw.stockIssue.courierLockNumberText'
                                  | translate
                              }}"
                              formControlName="courierLockNumber"
                              required
                            />
                            <mat-error
                              *ngIf="
                                (form.get('courierLockNumber').dirty ||
                                  form.get('courierLockNumber').touched) &&
                                form
                                  .get('courierLockNumber')
                                  .hasError('required')
                              "
                            >
                              {{
                                'pw.stockIssue.formErrorMessageText1'
                                  | translate
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                (form.get('courierLockNumber').dirty ||
                                  form.get('courierLockNumber').touched) &&
                                form
                                  .get('courierLockNumber')
                                  .hasError('maxlength')
                              "
                            >
                              {{
                                'pw.stockIssue.formErrorMessageText2'
                                  | translate
                              }}
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field class="col-4">
                            <input
                              matInput
                              class="pw-input-box"
                              placeholder="{{
                                'pw.stockIssue.courierPermitNumber' | translate
                              }}"
                              formControlName="courierRoadPermitNumber"
                              required
                            />
                            <mat-error
                              *ngIf="
                                (form.get('courierRoadPermitNumber').dirty ||
                                  form.get('courierRoadPermitNumber')
                                    .touched) &&
                                form
                                  .get('courierRoadPermitNumber')
                                  .hasError('required')
                              "
                            >
                              {{
                                'pw.stockIssue.formErrorMessageText1'
                                  | translate
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                (form.get('courierRoadPermitNumber').dirty ||
                                  form.get('courierRoadPermitNumber')
                                    .touched) &&
                                form
                                  .get('courierRoadPermitNumber')
                                  .hasError('maxlength')
                              "
                            >
                              {{
                                'pw.stockIssue.formErrorMessageText2'
                                  | translate
                              }}
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </ng-container>
                      <ng-template #formTwoBlock>
                        <div [formGroupName]="i">
                          <mat-form-field class="col-4">
                            <input
                              type="text"
                              placeholder="Employee ID"
                              aria-label="Number"
                              matInput
                              formControlName="employeeID"
                              (input)="
                                employeeIDChange(form.get('employeeID').value)
                              "
                              [matAutocomplete]="auto"
                              required
                            />
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option
                                *ngFor="
                                  let employeeCode of (employeeCodesResponse$
                                    | async)
                                "
                                [value]="employeeCode"
                                (onSelectionChange)="
                                  employeeIDSelected($event, employeeCode)
                                "
                              >
                                {{ employeeCode }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>

                          <mat-form-field class="col-4">
                            <input
                              matInput
                              class="pw-input-box"
                              placeholder="{{
                                'pw.stockIssue.employeeNameText' | translate
                              }}"
                              formControlName="employeeName"
                              [readonly]="isReadOnly"
                              required
                            />
                            <mat-error
                              *ngIf="
                                (form.get('employeeName').dirty ||
                                  form.get('employeeName').touched) &&
                                form.get('employeeName').hasError('required')
                              "
                            >
                              {{
                                'pw.stockIssue.formErrorMessageText1'
                                  | translate
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                (form.get('employeeName').dirty ||
                                  form.get('employeeName').touched) &&
                                form.get('employeeName').hasError('maxlength')
                              "
                            >
                              {{
                                'pw.stockIssue.formErrorMessageText2'
                                  | translate
                              }}
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field class="col-4">
                            <input
                              matInput
                              class="pw-input-box"
                              placeholder="{{
                                'pw.stockIssue.mobileNoText' | translate
                              }}"
                              formControlName="employeeMobileNumber"
                              [readonly]="isReadOnly"
                              required
                            />
                            <mat-error
                              *ngIf="
                                (form.get('employeeMobileNumber').dirty ||
                                  form.get('employeeMobileNumber').touched) &&
                                form
                                  .get('employeeMobileNumber')
                                  .hasError('required')
                              "
                            >
                              {{
                                'pw.stockIssue.formErrorMessageText1'
                                  | translate
                              }}
                            </mat-error>
                            <mat-error
                              *ngIf="
                                form
                                  .get('employeeMobileNumber')
                                  .hasError('pattern') ||
                                form
                                  .get('employeeMobileNumber')
                                  .hasError('minlength') ||
                                form
                                  .get('employeeMobileNumber')
                                  .hasError('maxlength')
                              "
                            >
                              {{
                                'pw.stockIssue.formErrorMessageText3'
                                  | translate
                              }}
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-6 pw-grid-card">
            <div class="pw-grid-card__item pw-is-active-bar">
              <h4>To:</h4>
              <p>
                {{ factoryAddress?.description }} ({{
                  factoryAddress?.locationCode
                }})
              </p>
              <p>{{ factoryAddress?.address }}</p>
            </div>
          </div>
        </div>
        <!-- list-card-component -->
        <div class="pw-filter-box">
          <div class="row">
            <div class="col-12">
              <ul class="pw-filter-box__sub-head-lists">
                <li class="pw-filter-box__list">
                  <a
                    [class.is-active]="
                      selectedProductsTabType ===
                      stockIssueTEPGEPTabTypesEnumRef.ALLPRODUCTS
                    "
                    (click)="
                      changeProductsTab(
                        stockIssueTEPGEPTabTypesEnumRef.ALLPRODUCTS
                      )
                    "
                    class="pw-filter-box__heading"
                  >
                    {{ 'pw.stockIssue.listOfProductstabText' | translate }}
                    <span class="pw-fourth-color"
                      >({{ totalItemsCountDisplay }})</span
                    >
                  </a>
                </li>
                <li class="pw-filter-box__list">
                  <a
                    [class.is-active]="
                      selectedProductsTabType ===
                      stockIssueTEPGEPTabTypesEnumRef.SELECTEDPRODUCTS
                    "
                    (click)="
                      changeProductsTab(
                        stockIssueTEPGEPTabTypesEnumRef.SELECTEDPRODUCTS
                      )
                    "
                    class="pw-filter-box__heading"
                  >
                    {{ 'pw.stockIssue.selectedProductsTabText' | translate }}
                    <span class="pw-fourth-color"
                      >({{ totalStockIssueItemsCountDisplay }})</span
                    >
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row align-items-flex-end">
          <div class="col-lg-7">
            <!-- radio-buttons -->
            <div class="row" [formGroup]="itemForm">
              <mat-radio-group
                class="col-auto"
                aria-label="Select an option"
                (change)="selectRadioButtonChange()"
                formControlName="selectRadioButton"
              >
                <mat-radio-button
                  class="mr-3"
                  value="1"
                  [disabled]="
                    itemCode != null ||
                    filterDataItemsByMap.size != 0 ||
                    filterDataStockIssueItemsByMap.size != 0
                  "
                  ><p>
                    {{ 'pw.stockIssue.selectAllRadioButtonText' | translate }}
                  </p>
                </mat-radio-button>
                <mat-radio-button value="2"
                  ><p>
                    {{
                      'pw.stockIssue.selectCurrentPageRadioButtonText'
                        | translate
                    }}
                  </p>
                </mat-radio-button>
              </mat-radio-group>
              <div
                *ngIf="selectedItemIds.length !== 0"
                class="col-auto ml-auto ml-lg-0"
              >
                <a (click)="clearAll()">
                  <p>
                    <span class="pw-i-16 pw-clear-icon-16"></span>
                    {{ 'pw.stockIssue.clearAllButtonText' | translate }}
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="row pw-filter-box__right-content">
              <!-- filter -->
              <div class="col-auto">
                <a (click)="openFilter()">
                  <p>
                    <span
                      class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"
                    ></span>
                    {{ 'pw.stockIssue.productFilterLable' | translate }}
                  </p>
                </a>
              </div>
              <!-- sort -->
              <div class="col-auto">
                <a (click)="openSort()">
                  <p>
                    <span
                      class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"
                    ></span>
                    {{ 'pw.stockIssue.sortLable' | translate }}
                  </p>
                </a>
              </div>
              <!-- search form -->
              <poss-web-search
                class="ml-auto ml-lg-0 col-lg-6 col-4"
                placeholder="{{
                  'pw.stockReceive.searchByVariantCodePlaceholderText'
                    | translate
                }}"
                (search)="searchItems($event)"
                (clear)="clearSearch()"
              >
              </poss-web-search>
            </div>
          </div>
        </div>
        <!-- loader -->
        <poss-web-loader *ngIf="(isLoading$ | async)"> </poss-web-loader>

        <!-- no items -->
        <div
          *ngIf="
            (isLoading$ | async) === false &&
            ((getStockIssueItems$ | async).length === 0 &&
              selectedProductsTabType ===
                stockIssueTEPGEPTabTypesEnumRef.SELECTEDPRODUCTS)
          "
          class="pw-success-color pw-message pw-text-center mg-t-100"
        >
          <span class="pw-i-16 pw-success-icon-16"></span>
          {{ 'pw.stockIssue.noProductsFoundText' | translate }}
        </div>
        <div
          *ngIf="
            (isLoading$ | async) === false &&
            ((getItems$ | async).length === 0 &&
              selectedProductsTabType ===
                stockIssueTEPGEPTabTypesEnumRef.ALLPRODUCTS)
          "
          class="pw-success-color pw-message pw-text-center mg-t-100"
        >
          {{ 'pw.stockIssue.noProductsFoundText' | translate }}
        </div>

        <!-- load items -->
        <poss-web-stock-issue-tep-gep-item-list
          *ngIf="
            selectedProductsTabType ===
            stockIssueTEPGEPTabTypesEnumRef.ALLPRODUCTS
          "
          [items]="getItems$"
          [totalItemsCount]="totalItemsCount"
          [pageEvent]="itemsPageEvent"
          [selectionEvents]="selectionAllSubject.asObservable()"
          (selection)="onSelectionEmit($event)"
          (paginator)="itemsListPaginate($event)"
        >
        </poss-web-stock-issue-tep-gep-item-list>
        <poss-web-stock-issue-tep-gep-item-list
          *ngIf="
            selectedProductsTabType ===
            stockIssueTEPGEPTabTypesEnumRef.SELECTEDPRODUCTS
          "
          [items]="getStockIssueItems$"
          [totalItemsCount]="totalStockIssueItemsCount"
          [pageEvent]="stockIssueItemsPageEvent"
          [selectionEvents]="selectionAllSubject.asObservable()"
          (selection)="onSelectionEmit($event)"
          (paginator)="stockIssueItemsListPaginate($event)"
        >
        </poss-web-stock-issue-tep-gep-item-list>

        <ng-template #confirmSuccessNotificationTemplate>
          <div class="pw-text-center">
            <h3 class="pw-success-color">
              {{ totalStockIssueItemsCount }}
              {{
                'pw.stockIssueNotificationMessages.confirmSuccessMessage1'
                  | translate
              }}
            </h3>
            <!-- <div class="pt-2">
              {{
                'pw.stockIssueNotificationMessages.confirmSuccessMessage2'
                  | translate
              }}
            </div> -->
            <h5 class="pw-success-color pt-2">
              {{
                'pw.stockIssueNotificationMessages.confirmSuccessMessage3'
                  | translate
              }}
              {{ srcDocNo }}
            </h5>
            <!-- <h6 class="pw-success-color pt-2">
              <span class="pw-i-16 pw-download-icon-16"></span
              >{{
                'pw.stockIssueNotificationMessages.confirmSuccessMessage4'
                  | translate
              }}
            </h6> -->
          </div>
        </ng-template>
      </div>
      <div class="col-12 col-lg-1"></div>
    </div>
  </div>
</div>
