<ng-container *ngIf="!otpVerified; else otpverified">
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="submitform()">
      <div class="col-lg-12">
        <h5 class="pw-login__header">
          {{ 'pw.login.verifyotpTabText' | translate }}
        </h5>
        <div class="row">
          <div class="col-8">
            <div class="pw-login__sub-header">
              {{ 'pw.login.verifyotpInfoText' | translate }}
            </div>
          </div>
        </div>

        <div class="row">
          <mat-form-field class="col-auto">
            <input
              matInput
              maxlength="6"
              type="text"
              placeholder="{{
                'pw.login.verifyotpPlaceholderText' | translate
              }}"
              formControlName="otp"
            />
            <mat-error *ngIf="form.get('otp').hasError('required')"
              >{{ 'pw.login.verifyotpRequiredErrorMessage' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('otp').hasError('minlength')"
              >{{ 'pw.login.verifyotpMinLengthErrorMessage' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('otp').hasError('maxlength')"
              >{{ 'pw.login.verifyotpMaxLengthErrorMessage' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="pw-login__margin-bottom">
          {{ 'pw.login.verifyotpresendMessage' | translate }}
          <a (click)="generateOtp.emit(userName)"
            ><span class="pw-fourth-color">{{
              'pw.login.verifyotpresendLinkText' | translate
            }}</span></a
          >
        </div>
      </div>
      <div class="col-lg-12">
        <div class="pw-login__sub-header">
          {{ 'pw.login.newpasswordTitleText' | translate }}
        </div>
        <div class="row">
          <mat-form-field class="col-lg-8 pw-login__input" floatLabel="never">
            <input
              matInput
              type="password"
              placeholder="{{
                'pw.login.newpasswordPlaceholderText' | translate
              }}"
              formControlName="newPassword"
              (blur)="form.get('retypepassword').updateValueAndValidity()"
            />
            <mat-icon matPrefix>
              <span class="pw-i-16 pw-lock-icon-16"></span>
            </mat-icon>

            <mat-error *ngIf="form.get('newPassword').hasError('required')"
              >{{ 'pw.login.newpasswordRequiredErrorMessage' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('newPassword').hasError('minlength')"
              >{{ 'pw.login.newpasswordMinLengthErrorMessage' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-lg-8 pw-login__input" floatLabel="never">
            <input
              matInput
              type="password"
              placeholder="{{
                'pw.login.retypepasswordPlaceholderText' | translate
              }}"
              formControlName="retypepassword"
            />
            <mat-icon matPrefix>
              <span class="pw-i-16 pw-lock-icon-16"></span>
            </mat-icon>

            <mat-error *ngIf="form.get('retypepassword').hasError('required')"
              >{{ 'pw.login.retypepasswordRequiredErrorMessage' | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                form.get('retypepassword').hasError('retype') &&
                !form.get('retypepassword').hasError('required')
              "
              >{{ 'pw.login.retypepasswordRetypeErrorMessage' | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                form.get('retypepassword').hasError('parent') &&
                !form.get('retypepassword').hasError('required')
              "
              >{{ 'pw.login.retypepasswordParentErrorMessage' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col-auto">
            <button
              type="submit"
              [disabled]="form.invalid"
              class="pw-btn pw-accent-btn"
            >
              {{ 'pw.login.continueButtonText' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-template #otpverified>
  <h5 class="pw-login__header">
    {{ 'pw.login.verifyotpsuccessTabText' | translate }}
  </h5>
  <div class="row">
    <div class="col-6">
      <div class="pw-login__sub-header">
        {{ 'pw.login.verifyotpsuccessMessage' | translate }}
      </div>
    </div>
  </div>

  <button [routerLink]="['../login']" class="pw-btn pw-accent-btn pw-login-btn">
    {{ 'pw.login.verifyotpsuccessButtonText' | translate }}
  </button>
</ng-template>
