<div class="d-flex flex-column pw-selection-panel pw-relative">
  <poss-web-search
    class="flex-fill"
    [placeholder]="placeholder"
    [autocomplete]="autocomplete"
    [class.pw-selection-panel__search-box]="
      itemCheckList.length > 0 || !hasResults
    "
    (search)="onSearch($event)"
    (clear)="clearResults()"
  >
  </poss-web-search>

  <div class="pw-selection-panel__container">
    <div class="pw-selection-panel__content" *ngIf="itemCheckList.length > 0">
      <div class="pw-selection-panel__list">
        <ng-container>
          <div class="pw-selection-panel__list-item">
            <ng-container
              *ngFor="let selectableItem of itemCheckList; let last = last"
            >
              <div class="row no-gutters align-items-center">
                <mat-checkbox
                  *ngIf="multipleSelection"
                  class="col-auto pw-selection-panel__checkbox"
                  [(ngModel)]="selectableItem.isSelected"
                  (change)="onSelectionChange($event.checked)"
                ></mat-checkbox>
                <div class="col">
                  <ng-container
                    *ngTemplateOutlet="
                      templateRef;
                      context: { data: selectableItem.item }
                    "
                  >
                  </ng-container>
                </div>
                <button
                  *ngIf="!multipleSelection"
                  class="pw-btn pw-primary-btn ml-auto "
                  (click)="add(selectableItem.item)"
                >
                  Select item
                </button>
              </div>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div
        class="pw-selection-panel__footer"
        *ngIf="!hasResults || selectedLength > 0"
      >
        <div class="row no-gutters align-items-center">
          <ng-container *ngIf="selectedLength > 0">
            <div class="col pw-mont-semibold-14">
              {{ selectedLength }} item(s) selected
            </div>
            <button
              class="pw-btn pw-primary-btn col-2 ml-auto"
              (click)="multipleAdd()"
            >
              Add to list
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <div
      class="pw-text-center pw-selection-panel__content pw-selection-panel__no-result"
      *ngIf="!hasResults"
    >
      No results found
    </div>
  </div>
</div>
