<div class="pw-detail-card">
  <a>
    <div class="row align-items-center">
      <div class="col-3">
        <p class="pw-fourth-color">{{'pw.productCategory.productCategoryCodeField' | translate}}</p>
        <div class="mt-2">
          <b>{{ productCategoryDetailsList.productCategoryCode }}</b>
        </div>
      </div>

      <div class="col-lg-8 col-7">
        <p class="pw-fourth-color">{{'pw.productCategory.description' | translate}}</p>
        <p class="mt-2">
          <b>{{ productCategoryDetailsList.description }}</b>
        </p>
      </div>
      <div class="col-auto ml-auto align-self-center">
        <a (click)="getProductCategoryCode(productCategoryDetailsList.productCategoryCode)">
          <span
            class="pw-mont-semibold-14 pw-fourth-color pw-position-text a">
            {{'pw.productCategory.edit' | translate}}  &nbsp;</span>
          <span class="pw-i-24 pw-edit-icon-24"></span>
        </a>
      </div>
    </div>
  </a>
</div>
