<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <!-- <div class="row m-0">
        <div class="pw-search-box">
          <span class="pw-i-16 pw-search-icon-16"></span>
          <input type="text" placeholder="Search Masters" class="pw-search-box__input" />
        </div>
      </div> -->
      <div class="row pt-5 pb-2">
        <div class="col-auto pr-0">
          <a (click)="backArrow()">
            <span class="pw-i-24 pw-back-arrow-icon-24"></span>
          </a>
        </div>
        <div class="col-auto pl-0">
          <h4>
            {{'pw.inventoryMasters.location' | translate}} {{'pw.inventoryMasters.setup' | translate}}
          </h4>
        </div>
      </div>
      <div class="pw-bordered-list pw-no-border">
        <div class="d-flex flex-wrap mt-4 align-content-center">
          <a [routerLink]="[locationListUrl]" class="pw-bordered-list__card active">
            <div class="pw-bordered-list__item">
              {{'pw.inventoryMasters.location' | translate}}
            </div>
          </a>
          <!-- <a href="#" class="pw-bordered-list__card">
            <div class="pw-bordered-list__item">
              Market Code
            </div>
          </a> -->
          <a [routerLink]="[corporateTownListUrl]" class="pw-bordered-list__card">
            <div class="pw-bordered-list__item"> {{'pw.inventoryMasters.corporateTown' | translate}}
              {{'pw.inventoryMasters.master' | translate}}</div>
          </a>
          <!-- <a href="#" class="pw-bordered-list__card">
            <div class="pw-bordered-list__item">Region</div>
          </a>
          <a href="#" class="pw-bordered-list__card">
            <div class="pw-bordered-list__item">
              Sub-Region
            </div>
          </a> -->
          <!-- <a href="#" class="pw-bordered-list__card">
            <div class="pw-bordered-list__item">
              Location group
            </div>
          </a>
          <a href="#" class="pw-bordered-list__card">
            <div class="pw-bordered-list__item">Location Type</div>
          </a>
          <a href="#" class="pw-bordered-list__card">
            <div class="pw-bordered-list__item">Owner Info</div>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>