<div class="row pw-selection-dialog">
  <div class="col-auto pw-message my-auto">
    {{ 'pw.stockReceive.reasonForDelayPopupTitle' | translate }}
  </div>
  <button class="ml-auto" mat-icon-button (click)="close()">
    <mat-icon>
      <span class="pw-i-10 pw-close-icon-16"></span>
    </mat-icon>
  </button>
</div>
<div class="d-flex">
  {{ 'pw.stockReceive.reasonForDelayPopupStnDateLable' | translate }} :
  {{ data.format('DD-MMM-YYYY') }}
</div>
<div class="d-flex">
  <mat-form-field
    floatLabel="never"
    class="flex-fill"
    [formGroup]="reasonForDelayForm"
  >
    <textarea
      matInput
      rows="4"
      placeholder="{{
        'pw.stockReceive.reasonForDelayPopupPlaceholder' | translate
      }}
      "
      formControlName="reason"
      required
    ></textarea>
    <mat-error class="pw-error-color">
      <ng-container
        *ngIf="reasonForDelayForm.get('reason').hasError('required')"
      >
        {{
          'pw.stockReceive.reasonForDelayPopupRequiredErrorMessage' | translate
        }}
      </ng-container>
      <ng-container
        *ngIf="reasonForDelayForm.get('reason').hasError('maxlength')"
      >
        {{
          (
            'pw.stockReceive.reasonForDelayPopupMaxCharErrorMessage' | translate
          )?.replace('{0}', reasonMaxCharLimit)
        }}
      </ng-container>
    </mat-error>
  </mat-form-field>
</div>

<div class="d-flex">
  <button
    class="pw-btn pw-accent-btn ml-auto"
    (click)="confirm()"
    [disabled]="reasonForDelayForm.invalid"
  >
    {{ 'pw.stockReceive.reasonForDelayPopupConfirmButton' | translate }}
  </button>
</div>
