<div class="row pw-detail-card__list__body">
  <div class="col-2">
    <b>{{ lovMasterItem.lovName }}</b>
  </div>
  <div class="col-7">
    <p>
      <b>{{ lovMasterItem.description }}</b>
    </p>
  </div>
  <div class="col-auto ml-auto align-self-center">
    <a (click)="getLovCode()" class="mr-2">
      <span
        class="pw-mont-semibold-14 pw-fourth-color pw-position-text">{{ 'pw.lovmaster.editLink' | translate }}</span>
      <span class="pw-i-24 pw-edit-icon-24"></span>
    </a>
  </div>
  <div class="col-auto align-self-center">
    <mat-slide-toggle [checked]="lovMasterItem.isActive" (toggleChange)="toggleChange(lovMasterItem)">
    </mat-slide-toggle>
  </div>
</div>