.pw-grid-card {
  &__item {
    background: var(--sixth-color);
    padding: 16px 19px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover,
    &:focus,
    &.pw-is-active-bar {
      border-bottom: 1px solid var(--fourth-color);
      border-radius: 5px 5px 0 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
