<div class="row">
  <div class="col-12 ">
    <div class="row">
      <div class="col-12">
          <div [ngSwitch]="page">
              <div *ngSwitchCase="1">
        <poss-web-cmsmsconfiguration    *ngIf='(CMSMSConfigurationDetails$|async)'  [CMSMSConfigurationDetails$]='CMSMSConfigurationDetails$' (tabOne)="addButton($event)"> </poss-web-cmsmsconfiguration>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
