<div
  class="container-fluid "
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="row mt-2 mb-5">
    <div class="col-lg-10 col-12 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a
              [routerLink]="[
                '/inventory/instock/other-receipts-issues-list/otherissues/',
                transferType
              ]"
            >
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-issue-stock-icon-36"></span>
              <div>
                <h2>{{ 'pw.otherReceiptsIssues.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.otherReceiptsIssues.issueLableText' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mb-3">{{ transferType }}</h3>
      <!-- for Exhibition -->
      <mat-accordion *ngIf="transferType == otherIssuesTabEnumRef.EXHIBITION">
        <mat-expansion-panel
          class="pw-expansion-panel-other-issues"
          [expanded]="true"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="row pw-accordion">
                <div class="col-auto">
                  <p>Enter Address To Send</p>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="addressForm">
            <div class="row wrap">
              <div class="col-lg-9 pw-card__border">
                <div class="row">
                  <mat-form-field class="col-6">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Address 1"
                      formControlName="address1"
                    />
                    <mat-error
                      *ngIf="
                        this.addressForm.controls.address1.hasError('required')
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-6">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Address 2"
                      formControlName="address2"
                    />
                    <mat-error
                      *ngIf="
                        this.addressForm.controls.address2.hasError('required')
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-4">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="State"
                      formControlName="state"
                    />
                    <mat-error
                      *ngIf="
                        this.addressForm.controls.state.hasError('required')
                      "
                    >
                      Required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        this.addressForm.controls.state.hasError('pattern')
                      "
                    >
                      Alphabets only
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-4">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="City"
                      formControlName="city"
                    />
                    <mat-error
                      *ngIf="
                        this.addressForm.controls.city.hasError('required')
                      "
                    >
                      Required
                    </mat-error>
                    <mat-error
                      *ngIf="this.addressForm.controls.city.hasError('pattern')"
                    >
                      Alphabets only
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-4">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Pin Code"
                      formControlName="pinCode"
                    />
                    <mat-error
                      *ngIf="
                        this.addressForm.controls.pinCode.hasError('required')
                      "
                    >
                      Required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        this.addressForm.controls.pinCode.hasError('pattern')
                      "
                    >
                      Numbers only
                    </mat-error>
                    <mat-error></mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <mat-form-field class="col-12">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Approval Code"
                      formControlName="approvalCode"
                    />
                    <mat-error
                      *ngIf="
                        this.addressForm.controls.approvalCode.hasError(
                          'required'
                        )
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-12">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Approved By"
                      formControlName="approvedBy"
                    />
                    <mat-error
                      *ngIf="
                        this.addressForm.controls.approvedBy.hasError(
                          'required'
                        )
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- for Loan -->
      <mat-accordion *ngIf="transferType == otherIssuesTabEnumRef.LOAN_TYPE">
        <mat-expansion-panel
          class="pw-expansion-panel-other-issues"
          [expanded]="true"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="row pw-accordion">
                <div class="col-auto">
                  <p>Employee Details</p>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="employeeForm">
            <div class="row wrap">
              <div class="col-lg-9 pw-card__border">
                <div class="row">
                  <mat-form-field class="col-4">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Employee Id"
                      formControlName="employeeId"
                    />
                    <mat-error
                      *ngIf="
                        this.employeeForm.controls.employeeId.hasError(
                          'required'
                        )
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-4">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Employee Name"
                      formControlName="employeeName"
                    />
                    <mat-error
                      *ngIf="
                        this.employeeForm.controls.employeeName.hasError(
                          'required'
                        )
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-4">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Designation"
                      formControlName="designation"
                    />
                    <mat-error
                      *ngIf="
                        this.employeeForm.controls.designation.hasError(
                          'required'
                        )
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-4">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Email Id"
                      formControlName="emailId"
                    />
                    <mat-error
                      *ngIf="
                        this.employeeForm.controls.emailId.hasError('required')
                      "
                    >
                      Required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        this.employeeForm.controls.emailId.hasError('pattern')
                      "
                    >
                      Invalid Email
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-4">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Mobile No"
                      formControlName="mobileNo"
                    />
                    <mat-error
                      *ngIf="
                        this.employeeForm.controls.mobileNo.hasError('required')
                      "
                    >
                      Required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        this.employeeForm.controls.mobileNo.hasError('pattern')
                      "
                    >
                      Valid 10 Digit Numbers Only
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-4">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Brand"
                      formControlName="brand"
                    />
                    <mat-error
                      *ngIf="
                        this.employeeForm.controls.brand.hasError('required')
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <mat-form-field class="col-12">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Approval Code"
                      formControlName="approvalCode"
                    />
                    <mat-error
                      *ngIf="
                        this.employeeForm.controls.approvalCode.hasError(
                          'required'
                        )
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-12">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Approved By"
                      formControlName="approvedBy"
                    />
                    <mat-error
                      *ngIf="
                        this.employeeForm.controls.approvedBy.hasError(
                          'required'
                        )
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- for Loss -->
      <mat-accordion *ngIf="transferType == otherIssuesTabEnumRef.LOSS">
        <mat-expansion-panel
          class="pw-expansion-panel-other-issues"
          [expanded]="true"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="row pw-accordion">
                <div class="col-auto">
                  <p>Approval Details</p>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="lossForm">
            <div class="row">
                  <mat-form-field class="col-lg-3 col-5">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Approval Code"
                      formControlName="approvalCode"
                    />
                    <mat-error
                      *ngIf="
                        this.lossForm.controls.approvalCode.hasError('required')
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-lg-3 col-5">
                    <input
                      class="pw-input-box"
                      matInput
                      required
                      placeholder="Approved By"
                      formControlName="approvedBy"
                    />
                    <mat-error
                      *ngIf="
                        this.lossForm.controls.approvedBy.hasError('required')
                      "
                    >
                      Required
                    </mat-error>
                  </mat-form-field>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="row mb-4"></div>
      <div class="pw-filter-box">
        <div class="row">
          <div class="col-9">
            <ul class="pw-filter-box__sub-head-lists">
              <li class="pw-filter-box__list">
                <a
                  [class.is-active]="tab === otherIssuesTabEnumRef.ALL"
                  (click)="changeTab(otherIssuesTabEnumRef.ALL)"
                  class="pw-filter-box__heading pw-cursor"
                >
                  {{
                    'pw.otherReceiptsIssues.ListOfProductsLabelText' | translate
                  }}
                  <span class="pw-fourth-color"
                    >({{ allOtherIssuesCreateCount }})</span
                  >
                </a>
              </li>
              <li class="pw-filter-box__list">
                <a
                  [class.is-active]="
                    tab == otherIssuesTabEnumRef.SELECTED_PRODUCTS
                  "
                  (click)="changeTab(otherIssuesTabEnumRef.SELECTED_PRODUCTS)"
                  class="pw-filter-box__heading pw-cursor"
                >
                  {{
                    'pw.otherReceiptsIssues.SelectedProductsLabeltext'
                      | translate
                  }}
                  <span class="pw-fourth-color"
                    >({{ selectedOtherIssuesCreateCount }})</span
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pw-filter-box">
        <div class="row align-items-flex-end" [formGroup]="itemForm">
            <div class="col-lg-7">
                <div class="row">
          <mat-radio-group
            aria-label="Select an option"
            (change)="selectChange()"
            formControlName="selectRadioButton"
            class="col-auto"
          >
            <mat-radio-button
              value="1"
              class="mr-3"
              [disabled]="
                itemCode != null ||
                (tab == otherIssuesTabEnumRef.ALL
                  ? filterAllProducts.length > 0
                  : filterSelectedProducts.length > 0)
              "
              ><p *ngIf="tab == otherIssuesTabEnumRef.ALL">
                Select all products
              </p>
              <p *ngIf="tab == otherIssuesTabEnumRef.SELECTED_PRODUCTS">
                Select all products
              </p>
            </mat-radio-button>
            <mat-radio-button value="2"
              ><p *ngIf="tab == otherIssuesTabEnumRef.ALL">
                Select all products from current page
              </p>
              <p *ngIf="tab == otherIssuesTabEnumRef.SELECTED_PRODUCTS">
                Select all products from current page
              </p></mat-radio-button
            >
          </mat-radio-group>
          <div
            class="col-auto ml-auto ml-lg-0 pw-cursor"
            *ngIf="selectedItemids.length !== 0"
          >
            <a (click)="clearAll()">
              <p>
                <span class="pw-i-16 pw-clear-icon-16"></span>
                Clear All
              </p>
            </a>
          </div>
          </div>
            </div>
          <div class="col-lg-5 pw-text-right">
            <div class="row pw-filter-box__right-content">
              <div class="col-auto">
                <a (click)="openFilter()">
                  <p>
                    <span
                      class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"
                    ></span>
                    filter
                  </p>
                </a>
              </div>
              <div class="col-auto">
                <a (click)="openSort()">
                  <p>
                    <span
                      class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"
                    ></span>
                    sort
                  </p>
                </a>
              </div>
              <poss-web-search
                class="col-lg-6 col-4 ml-auto ml-lg-0"
                placeholder="{{
                  'pw.otherReceiptsIssues.searchByVariantCodePlaceholderText'
                    | translate
                }}"
                (search)="searchItems($event)"
                (clear)="clearSearchItems()"
              >
              </poss-web-search>
            </div>
          </div>
        </div>
      </div>
      <poss-web-loader
        *ngIf="
          (isAllOtherIssueCreateItemsLoading$ | async) ||
          (isSelectedOtherIssueCreateItemsLoading$ | async) ||
          (isOtherIssueCreateItemsTotalCountLoading$ | async) ||
          (isSearchingOtherIssueCreateItems$ | async) ||
          (isSelectedOtherIssueCreateItemsLoading$ | async)
        "
      >
      </poss-web-loader>
      <poss-web-exhibition-issue-create-item-list
        *ngIf="
          (hasSearchedOtherIssueCreateItems$ | async) === false &&
          (isSearchingOtherIssueCreateItems$ | async) === false &&
          tab == otherIssuesTabEnumRef.ALL
        "
        [count]="allProdctsTabTotalCountforPagination"
        [itemList]="AllOtherIssueCreateItems$ | async"
        [pageSize]="pageSize"
        [pageEvent]="AllOtherIssueItemsPageEvent"
        (paginator)="paginateAllOtherIssueCreateItems($event)"
        (selection)="selectionEmit($event)"
        [SelectedTab]="otherIssuesTabEnumRef.ALL"
        (quantity)="quantity($event)"
        [selectionEvents]="selectionAllSubject.asObservable()"
      >
      </poss-web-exhibition-issue-create-item-list>
      <div
        *ngIf="
          (isOtherIssueCreateItemsTotalCountLoaded$ | async) &&
          allOtherIssuesCreateCount == 0 &&
          tab == otherIssuesTabEnumRef.ALL
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        <span class="pw-i-16 pw-success-icon-16"></span>
        {{ 'pw.otherReceiptsIssues.emptyListOfProductsMessage' | translate }}
      </div>
      <div
        *ngIf="
          (isOtherIssueCreateItemsTotalCountLoaded$ | async) &&
          allOtherIssuesCreateCount !== 0 &&
          (AllOtherIssueCreateItems$ | async)?.length == 0 &&
          tab == otherIssuesTabEnumRef.ALL
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        {{ 'pw.stockReceive.emptySearchResultsMessage' | translate }}
      </div>
      <poss-web-exhibition-issue-create-item-list
        *ngIf="
          (hasSearchedOtherIssueCreateItems$ | async) === false &&
          (isSearchingOtherIssueCreateItems$ | async) === false &&
          tab == otherIssuesTabEnumRef.SELECTED_PRODUCTS
        "
        [count]="selectedTabTotalCountforPagination"
        [itemList]="SelectedOtherIssueCreateItems$ | async"
        [pageSize]="pageSize"
        [pageEvent]="selectedOtherIssueItemsPageEvent"
        (paginator)="paginateSelectedOtherIssueCreateItems($event)"
        (selection)="selectionEmit($event)"
        [SelectedTab]="otherIssuesTabEnumRef.SELECTED_PRODUCTS"
        (quantity)="quantity($event)"
        [selectionEvents]="selectionAllSubject.asObservable()"
      >
      </poss-web-exhibition-issue-create-item-list>
      <div
        *ngIf="
          (isOtherIssueCreateItemsTotalCountLoaded$ | async) &&
          selectedOtherIssuesCreateCount == 0 &&
          tab == otherIssuesTabEnumRef.SELECTED_PRODUCTS
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        <span class="pw-i-16 pw-success-icon-16"></span>
        {{ 'pw.otherReceiptsIssues.emptySelectedTabMessage' | translate }}
      </div>
      <div
        *ngIf="
          (isOtherIssueCreateItemsTotalCountLoaded$ | async) &&
          selectedOtherIssuesCreateCount !== 0 &&
          (SelectedOtherIssueCreateItems$ | async)?.length == 0 &&
          tab == otherIssuesTabEnumRef.SELECTED_PRODUCTS
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        {{ 'pw.stockReceive.emptySearchResultsMessage' | translate }}
      </div>
      <!--  <poss-web-exhibition-issue-create-item-list
        [count]="(searchedOtherIssueCreateItems$ | async)?.length"
        [itemList]="searchedOtherIssueCreateItems$ | async"
        [pageSize]="pageSize"
        [pageEvent]="
          tab == otherIssuesTabEnumRef.ALL
            ? AllOtherIssueItemsPageEvent
            : selectedOtherIssueItemsPageEvent
        "
        (paginator)="
          tab == otherIssuesTabEnumRef.ALL
            ? paginateAllOtherIssueCreateItems($event)
            : paginateSelectedOtherIssueCreateItems($event)
        "
        (selection)="selectionEmit($event)"
        [SelectedTab]="tab"
        (quantity)="quantity($event)"
        [selectionEvents]="selectionAllSubject.asObservable()"
      >
      </poss-web-exhibition-issue-create-item-list> -->
      <!-- <div
        *ngIf="
          (hasSearchedOtherIssueCreateItems$ | async) &&
          (searchedOtherIssueCreateItems$ | async)?.length == 0
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        {{ 'pw.stockReceive.emptySearchResultsMessage' | translate }}
      </div> -->
    </div>
  </div>
</div>
