<div
  class="container-fluid"
  [class.overlay-notifiaction-gutter]="hasNotification"
>
  <div class="row">
    <div class="col-12 col-lg-1"></div>
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item align-items-center mb-3">
          <div class="col-auto pr-0">
            <a (click)="back()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-instock-icon-36"></span>
              <div>
                <h2>{{ 'pw.instock.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.instock.titlehead' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h3 class="mb-3">
        {{ 'pw.instock.interBoutiqueTransferHeaderText' | translate }}
      </h3>
      <div
        *ngIf="requestType == interBoutiqueTransferRequestTypesEnumRef.SENT"
        class="mb-2"
      >
        {{ 'pw.interboutiqueTransfer.detailsTabText1' | translate }}
      </div>
      <div
        *ngIf="requestType == interBoutiqueTransferRequestTypesEnumRef.RECEIVED"
        class="mb-2"
      >
        {{ 'pw.interboutiqueTransfer.detailsTabText2' | translate }}
      </div>
      <!-- grid-card -->
      <div class="pw-grid-card">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-6">
            <div class="pw-grid-card__item pw-is-active-bar">
              <h4>{{ selectedRequest?.reqDocNo }}</h4>
              <div
                *ngIf="
                  requestType == interBoutiqueTransferRequestTypesEnumRef.SENT
                "
              >
                {{ 'pw.interboutiqueTransfer.cardHeaderTextTo' | translate }}
                {{ selectedRequest?.srcLocationCode }}
              </div>
              <div
                *ngIf="
                  requestType ==
                  interBoutiqueTransferRequestTypesEnumRef.RECEIVED
                "
              >
                {{ 'pw.interboutiqueTransfer.cardHeaderTextFrom' | translate }}
                {{ selectedRequest?.destLocationCode }}
              </div>

              <div class="mt-4">
                <p [ngClass]="getStatus(selectedRequest?.status)">
                  {{ 'pw.interboutiqueTransfer.cardContent' | translate }}
                  {{ status | titlecase }}
                </p>
                <p>{{ selectedRequest?.reqDocDate?.fromNow() }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- item-list  -->
      <poss-web-inter-boutique-transfer-item-list
        [itemList$]="itemList$"
        [requestType]="requestType"
        [selectedRequestStatus]="selectedRequestStatus"
        [selectedItemCodeEvents]="selectedItemCode$.asObservable()"
        (isSelected)="isSelectedChange($event)"
        (isSelectedItem)="isSelectedItemChange($event)"
      ></poss-web-inter-boutique-transfer-item-list>
      <!-- no data found -->
      <div
        class="pw-text-center m-5"
        *ngIf="!isLoading && (itemList$ | async).length === 0"
      >
        <button class="pw-btn pw-showmore-btn">
          {{ 'pw.instock.noDataFoundText' | translate }}
        </button>
      </div>
      <!-- loader -->
      <poss-web-loader *ngIf="isLoading"> </poss-web-loader>
    </div>
    <div class="col-12 col-lg-1"></div>
  </div>
</div>
<div class="mg-t-100"></div>
