<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-1"></div>
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a [routerLink]="['/inventory/instock']">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-instock-icon-36"></span>
              <div>
                <h2>In Stock</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  Management
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mb-3">{{ 'pw.conversion.title' | translate }}</h3>
      <div class="pw-tab">
        <ul class="pw-tab__list">
          <li class="pw-tab__list-item">
            <a [class.pw-is-active-bar]="tab === 'search'" (click)="changeType('search')">
              <h5 class="pw-tab__item">
                {{ 'pw.conversion.searchByVariantTabText' | translate }}
              </h5>
            </a>
          </li>
          <li class="pw-tab__list-item">
            <a [class.pw-is-active-bar]="tab === 'requests'" (click)="changeType('requests')">
              <h5 class="pw-tab__item">
                {{ 'pw.conversion.requestSentTabText' | translate }}
                <span class="pw-fourth-color">({{conversionRequestsCount}})</span>
              </h5>
            </a>
          </li>
        </ul>
      </div>
      <div class="row mb-3" [ngClass]="{ 'hidden':tab!='requests'}">
        <mat-form-field [formGroup]="searchForm"
          class="col-lg-3 col-sm-4  ml-auto pw-search-bar pw-form-field-border-top-0" floatLabel="never">
          <input #searchBox matInput class="pw-input-box"
            [placeholder]="('pw.conversion.searchPlaceholderText' | translate)" formControlName="searchValue" />
          <mat-icon matSuffix>
            <span *ngIf="!searchForm.get('searchValue').value" class="pw-i-16 pw-search-icon-16"></span></mat-icon>
          <mat-icon matSuffix (click)="clearSearch()">
            <span *ngIf="searchForm.get('searchValue').value" class="pw-i-10 pw-close-icon-16"></span></mat-icon>
          <mat-error *ngIf="searchForm.get('searchValue').hasError('nan')" class="pw-error-color">
            {{ searchForm.get('searchValue').getError('nan') | translate }}
          </mat-error>
        </mat-form-field>
      </div>


      <div class="row mt-3" *ngIf="tab==='search'">
        <poss-web-search-list [placeholder]="('pw.conversion.searchListPlaceholderText' | translate)"
          (search)="search($event)" [itemList]="searchedItemsList"
          [hasResults]="!((hasSearchedItems$ | async) && searchedItemsList.length == 0)"
          (selected)="onSearchItemsSelected($event)" class="col-12 m-auto">
          <ng-template let-item="data">
            <poss-web-conversion-item [item]="item" [tab]="0" [hasForm]="0" [isSearching]=true>
            </poss-web-conversion-item>
          </ng-template>
        </poss-web-search-list>
      </div>
      <div *ngIf="(hasItem$ | async) && tab==='search'" class="mt-3">
        <div><b>{{ 'pw.conversion.yourProductIsHereText' | translate }}</b></div>

        <p class="pt-2">{{ 'pw.conversion.parentVariantText' | translate }}</p>
        <poss-web-conversion-item [item]="parentItem" [tab]="0" [showButton]="true"
          (isSplitAvailable)="isSplitAvailable($event)" [hasForm]="0">
        </poss-web-conversion-item>

        <ng-container *ngIf="showChildItems==true">
          <div class="pt-4">
            <b>{{ 'pw.conversion.availableSplitOptionsText' | translate }}</b>
          </div>
          <ng-container *ngFor="let item of selectedItem.childItems">
            <poss-web-conversion-item [item]="item" [tab]=0 [parentForm]="parentForm" [hasForm]="1">
            </poss-web-conversion-item>
          </ng-container>




          <div class="row">
            <mat-form-field class="col-4" [formGroup]="rsoForm">
              <mat-select required [placeholder]="('pw.conversion.selectRsoText' | translate)"
                formControlName="rsoName">
                <mat-option *ngFor="let rso of rsoNames" [value]="rso">{{ rso }}</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-12 col-lg-1"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-12 m-auto">
      <div class="row">
      </div>
      <div class="pw-scrollable">

        <div *ngIf="tab == 'requests'">
          <poss-web-card-list [count]="!searchForm.get('searchValue').value? conversionRequestsCount :0"
            [dataList]="!searchForm.get('searchValue').value? (conversionRequests$ | async):(searchedRequestResult$ |async)"
            [pageSize]="pageSize" (loadMore)="loadRequests($event)" (selected)="onSelected($event)">
            <ng-template let-item="data">
              <poss-web-card-title>{{ item.srcDocNo }}</poss-web-card-title>
              <poss-web-card-subtitle>
                <!-- {{item.reqLocationCode}} -->
              </poss-web-card-subtitle>
              <poss-web-card-content>
                <p>
                  {{ item.totalQuantity }} Products |
                  {{ item.totalValue | currency: 'INR' }}
                </p>
                <div class="mt-1"></div>
                <p [ngClass]="getStatus(item.status)">
                  Status: {{status}}</p>
                <p>
                  {{ item.createdDate.fromNow() }}
                </p>
                <div class="row">
                  <div class="col">
                    <!-- <p>Courier :</p> -->
                  </div>
                </div>
              </poss-web-card-content>
            </ng-template>
          </poss-web-card-list>
        </div>
        <h3 class="pw-text-center m-5" *ngIf="
          tab!='search' &&
                        (isLoadingConversionRequests$ | async) === false &&
                         ((!searchForm.get('searchValue').value &&
                          (conversionRequests$ | async).length === 0) ||
                          (searchForm.get('searchValue').value &&
                            ( hasSearchedRequests$ | async) &&
                            (searchedRequestResult$| async).length === 0))
                      ">
          {{ 'pw.conversion.noDataFoundText' | translate }}
        </h3>
        <poss-web-loader
          *ngIf="(isLoadingConversionRequests$ |async) || (isLoadingCount$ |async) ||(isLoadingConversionItems$ | async) || (isSearchingRequests$ | async) || (isLoadingRsoDetails$ |async)">
        </poss-web-loader>

      </div>
    </div>
  </div>
</div>

<ng-template #confirmSuccessNotificationTemplate>
  <div class="pw-text-center">
    <h3 class="pw-success-color">
      {{ 'pw.conversionNotificationMessages.convertNowSuccessOverlayMessage1' | translate }}
    </h3>
    <div class="pt-2">
      {{ 'pw.conversionNotificationMessages.convertNowSuccessOverlayMessage2' | translate }}
    </div>
    <h5 class="pw-success-color pt-2">
      {{ 'pw.conversionNotificationMessages.convertNowSuccessOverlayMessage3' | translate }}{{this.conversionDocNo}}
    </h5>
    <!-- <h6 class="pw-success-color pt-2"><span class="pw-i-16 pw-download-icon-16"></span> {{ 'pw.conversionNotificationMessages.downloadReportText' | translate }}</h6> -->
  </div>
</ng-template>

<ng-template #confirmRequestSuccessNotificationTemplate>
  <div class="pw-text-center">
    <h3 class="pw-success-color">
      {{ 'pw.conversionNotificationMessages.sendRequestSuccessOverlayMessage1' | translate }}

    </h3>
    <div class="pt-2">
      {{ 'pw.conversionNotificationMessages.sendRequestSuccessOverlayMessage3' | translate }}
    </div>
    <h5 class="pw-success-color pt-2">
      {{ 'pw.conversionNotificationMessages.sendRequestSuccessOverlayMessage3' | translate }}{{sendReqDocNo}}</h5>
    <!-- <h6 class="pw-success-color pt-2"><span class="pw-i-16 pw-download-icon-16"></span> {{ 'pw.conversionNotificationMessages.downloadReportText' | translate }}</h6> -->
  </div>
</ng-template>


<br>
<br>
<br>
<br>
