<div
  class="container-fluid  pw-overlay-notification-gutter"
  [class.pw-overlay-notification-gutter]="hasNotification"
>
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a (click)="back()" routerLinkActive="router-link-active">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>{{ 'pw.weighttolerance.inventoryLable' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.weighttolerance.configurationLable' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-auto mb-3">
          <div class="pw-mont-semibold-14">
            {{ 'pw.weighttolerance.weightTolerance' | translate }}
          </div>
        </div>
      </div>

      <div class="pw-scrollable-height">
        <div class="pw-form-card" [formGroup]="form">
          <div class="row">
            <mat-form-field class="col-lg-4 col-6">
              <input
                matInput
                type="text"
                placeholder="Config ID"
                class="pw-single-bordered-input"
                formControlName="configId"
                required
              />
              <mat-error
                class="error-color"
                *ngIf="form.get('configId').hasError('required')"
              >
                {{ 'pw.inventoryMasterValidation.default_required' | translate }}
              </mat-error>
            <mat-error
              class="error-color"
              *ngIf="form.get('configId').hasError('pattern')"
            >
              {{ 'pw.weighttolerance.configIdValidation' | translate }}
            </mat-error>
            </mat-form-field>

            <mat-form-field class="col-lg-4 col-6">
              <mat-select
                disableOptionCentering
                placeholder="Product Category Code"
                class="pw-single-bordered-input"
                formControlName="productCategoryCode"
                required
              >
                <mat-option
                  *ngFor="let productCategoryCode of productCategoryCode"
                  [value]="productCategoryCode.productCategoryCode"
                >
                  {{ productCategoryCode.description }}
                </mat-option>
              </mat-select>

              <mat-error
                class="error-color"
                *ngIf="form.get('productCategoryCode').hasError('required')"
              >
                {{ 'pw.inventoryMasterValidation.default_required' | translate }}
              </mat-error>
            </mat-form-field>

            <div class="col-auto ml-auto">
              <mat-slide-toggle
                (change)="change($event.checked)"
                (click)="$event.stopPropagation()"
              >
              </mat-slide-toggle>
            </div>
            <!-- <mat-form-field class="col-3">
              <mat-select
                disableOptionCentering
                placeholder=" Organisation Code"
                class="pw-single-bordered-input"
                formControlName="OrganisationCode"
                required
              >
                <mat-option
                  *ngFor="let orgCodes of orgCodes"
                  [value]="orgCodes"
                >
                  {{ orgCodes }}
                </mat-option>
              </mat-select>

              <mat-error
                class="error-color"
                *ngIf="form.get('OrganisationCode').hasError('required')"
              >
                {{ 'pw.inventoryMasterValidation.default_required' | translate }}
              </mat-error>
            </mat-form-field> -->
          </div>
          <div class="row">
            <mat-form-field class="col-lg-8 ">
              <input
                matInput
                type="text"
                placeholder="Description"
                class="pw-single-bordered-input"
                formControlName="description"
                required
              />

              <mat-error
                class="error-color"
                *ngIf="form.get('OrganisationCode').hasError('required')"
              >
                {{ 'pw.inventoryMasterValidation.default_required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-auto ml-auto">
          <button [disabled]="true" class="pw-btn pw-primary-btn">
            {{ 'pw.weighttolerance.locationMapping' | translate }}
          </button>
        </div>
        <div class="col-auto ">
          <button
            (click)="cancel()"
            class="pw-btn pw-primary-btn"
            [disabled]="!form.valid"
          >
            {{ 'pw.weighttolerance.cancelLable' | translate }}
          </button>
        </div>
        <div class="col-auto ">
          <button
            (click)="saveConfigDetials()"
            class="pw-btn pw-accent-btn"
            [disabled]="!form.valid"
          >
            {{ 'pw.weighttolerance.saveLable' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
