<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)="back()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>{{ 'pw.inventoryMasters.inventory' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.inventoryMasters.configuration' | translate }}
                  <span class="seventh-color"></span>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-auto ml-auto">
            <button class="pw-btn pw-accent-btn px-5" (click)="addnew()" routerLinkActive="router-link-active">
              {{ 'pw.courierDetails.addNewButtonText' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="row align-items-flex-end">
        <div class="col-auto">
          <div class="pw-mont-semibold-14">
            {{ 'pw.courierDetails.courierDetailsLabel' | translate }}
          </div>
        </div>
        <mat-form-field class="col-3 ml-auto pw-search-bar pw-form-field-padding-bottom-0" [formGroup]="searchForm">
          <input #searchBox matInput type="text" placeholder="{{ 'pw.courierDetails.searchLabelText' | translate }}"
            class="single-bordered-input" formControlName="searchValue"  (keypress)="omit_special_char($event)"/>
          <mat-icon matSuffix>
            <span class="pw-i-16 pw-search-icon-16" *ngIf="!searchForm.value.searchValue"></span>
          </mat-icon>
          <mat-icon matSuffix (click)="clearSearch()">
            <span *ngIf="searchForm.value.searchValue" class="pw-i-10 pw-close-icon-16"></span></mat-icon>
        </mat-form-field>
      </div>

      <poss-web-courier-details-listing-items [courierDetailsList]="courierDetailsListing$ | async"
        [count]="totalCourierDetailsCount$ | async" [pageEvent]="courierDetailsPageEvent" (paginator)="paginate($event)"
        (courierName)="getCourierName($event)" [pageSizeOptions]="pageSizeOptions" [minPageSize]="minPageSize"
        (isActive)="isActive($event)">
      </poss-web-courier-details-listing-items>
      <poss-web-loader *ngIf="(hasLoaded$ | async)"> </poss-web-loader>
      <div *ngIf="(hasError$ | async)?.code === searchErrorCode && !(courierDetailsListing$ | async)?.length"
        class="pw-message pw-text-center mg-t-100">
        {{ 'pw.courierDetails.noSearchResultText' | translate }}
      </div>
    </div>
  </div>
</div>
