<ng-container *ngIf="count != 0">
  <ng-container *ngFor="let item of itemList; let i = index">
    <poss-web-other-issues-approvals-item
      [item]="item"
      [count]="count"
      [selectionEvents]="selectionAllSubject.asObservable()"
      [requestId]="requestId"
      (isSelected)="isSelect($event)"
    >
    </poss-web-other-issues-approvals-item>
  </ng-container>

  <mat-paginator
    class="pw-paginator"
    *ngIf="count > pageEvent.pageSize && count > 0"
    [length]="count"
    [pageSize]="pageEvent.pageSize"
    [pageIndex]="pageEvent.pageIndex"
    showFirstLastButtons
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="paginate($event)"
  >
  </mat-paginator>
</ng-container>
