<!-- Navbar component  -->
<div class="login-bg">
  <div class="pw-top-navbar">
    <ul class="pw-top-navbar__menu-items">
      <li class="navbar-logo">
        <a href="user/login" class="pw-i-64 pw-logo-icon-64"> </a>
      </li>
      <li class="pw-top-navbar__login-menu">
        {{ 'pw.login.welcomeMessage' | translate }}
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="row pw-login">
      <div class="col-lg-6">
        <poss-web-login-form
          *ngIf="pageUrl.includes('login')"
          (login)="login($event)"
        ></poss-web-login-form>

        <poss-web-otp-generation-form
          *ngIf="pageUrl.includes('generate-otp')"
          (generateOtp)="generateOtp($event)"
        ></poss-web-otp-generation-form>

        <poss-web-otp-verification-form
          *ngIf="pageUrl.includes('verify-otp')"
          (validateOtp)="validateOtp($event)"
          (generateOtp)="generateOtp($event)"
          [otpVerified]="otpVerified$ | async"
          [userName]="username$ | async"
        ></poss-web-otp-verification-form>

        <poss-web-new-user-activation-form
          *ngIf="pageUrl.includes('activate-user')"
          (validateOtp)="validateNewUserOtp($event)"
        >
        </poss-web-new-user-activation-form>
      </div>
      <div class="col-lg-6 align-self-center">
        <div>
          <span class="pw-login__logo-icon"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<poss-web-loader
  *ngIf="(loginLoad$ | async) || (otpLoad$ | async)"
></poss-web-loader>
