<ul role="navigation" class="poss-web-navbar">
  <li>
    <a class="nav-link" routerLink="/inventory">
      <span class="nav-link-inner">Inventory</span>
    </a>
  </li>
   <li>
    <a class="nav-link" routerLink="/location">
      <span class="nav-link-inner">Location Master</span>
    </a>
  </li>
</ul>
