<div class="pw-grid-card">
  <div #cardList class="row pw-grid-card__list">
    <ng-container *ngFor="let data of dataList; let index = index">
      <poss-web-card
        [data]="data"
        [index]="index"
        [isSelected]="index === selectedIndex"
        class="col-6 col-md-4 col-lg-3 "
        (selected)="onSelected($event)"
      >
        <ng-container *ngTemplateOutlet="templateRef; context: { data: data }">
        </ng-container>
      </poss-web-card>
    </ng-container>
  </div>
  <div class="row pw-grid-card__margin">
    <ng-container *ngIf="dataList.length > 0 && count - dataList.length > 0">
      <poss-web-card
        class="pw-grid-card__square-box"
        (selected)="onClickLoadMore()"
        class="col-auto"
      >
        <div class="pw-grid-card__square-box">
          <span class="pw-plus-icon-18"></span>
          <h2 class="pw-grid-card__square-box__heading">
            {{ count - dataList.length }}
          </h2>
          <p>Show More</p>
        </div>
      </poss-web-card>
    </ng-container>
  </div>
</div>
