<div class="pw-confirmation-box" [formGroup]="form">
  <div class="row pw-confirmation-box__header">
    <div class="col">
     <b>COPY LOCATION DETAILS TO:</b>
    </div>

    <div class="col-auto">
      <span class="pw-i-10 pw-close-icon-16" (click)="onNoClick()"></span>
    </div>
  </div>
  <div mat-dialog-content class="pw-confirmation-box__body row no-gutters">
    <mat-form-field class="col-12">
      <mat-label>New Location Code</mat-label>
      <input matInput class="single-bordered-input" formControlName="locationCode"  (keypress)="omit_special_char($event)"  />
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="row pw-confirmation-box__footer">
    <div class="col-auto ml-auto">
      <button mat-button class="pw-btn pw-primary-btn mr-2" (click)="clear()">
        CLEAR
      </button>
      <button mat-button class="pw-btn pw-accent-btn" (click)="create()">
        PASTE & CREATE
      </button>
    </div>
  </div>
</div>
