<div class="pw-list-card px-3 pw-cursor" (click)="loadDetailsPage()">
  <div class="row">
    <div class="col-lg-4 col-6" >
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.locationMaster.locationCode' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.locationCode }}</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.locationMaster.brandCode' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.brandCode }}</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.locationMaster.townCode' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.townCode }}</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.locationMaster.stateCode' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
            <b>{{ listItem.stateCode }}</b>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-6">
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.locationMaster.locationType' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.locationTypeCode }}</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.locationMaster.subRegion' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
            <b>{{ listItem.regionCode }}</b>
          </p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">Legal Entity</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
            <b>{{ listItem.legalEntity }}</b>
          </p>
        </div>
      </div> -->
    </div>

    <div class="col-auto ml-auto align-self-center">
      <a class="mr-2" (click)="openDialog();$event.stopPropagation()">
        <span class="pw-mont-semibold-14 pw-fourth-color pw-position-text">{{'pw.locationMaster.copyDetails' | translate}}</span>
        <span class="pw-i-24 pw-copy-icon-24"></span>
      </a>
      <a>
     <!-- <mat-slide-toggle (click)='$event.stopPropagation()'(change)="change($event)" [checked]='checked'> </mat-slide-toggle> -->
      </a>
    </div>
  </div>
</div>
