  <div class="pw-detail-card">
        <div class="row align-items-center">
          <div class="col-lg-4 col-5">
            <div class="row no-gutters align-items-baseline">
              <div class="col-4">
                <p class="pw-fourth-color"> {{'pw.corporateTown.townCodeLabel' | translate}}</p>
              </div>
              <div class="col-auto">
                <span class="pw-fourth-color">:</span>
              </div>
              <div class="col-auto px-1">
                <p><b> {{corporateTownItem.townCode}}</b></p>
              </div>
            </div>
            <div class="row no-gutters align-items-baseline">
              <div class="col-4">
                <p class="pw-fourth-color">{{'pw.corporateTown.townNameLabel' | translate}}</p>
              </div>
              <div class="col-auto">
                <span class="pw-fourth-color">:</span>
              </div>
              <div class="col-auto px-1">
                <p><b>{{corporateTownItem.description}}</b></p>
              </div>
            </div>
            <div class="row no-gutters align-items-baseline">
              <div class="col-4">
                <p class="pw-fourth-color">{{'pw.corporateTown.stateCodeLabel' | translate}}</p>
              </div>
              <div class="col-auto">
                <span class="pw-fourth-color">:</span>
              </div>
              <div class="col-auto px-1">
                <p>
                  <b>{{corporateTownItem.stateCode}}</b>
                </p>
              </div>
            </div>
          </div>
          <div class="col-auto ml-auto">
            <a (click) = "onEdit(corporateTownItem.townCode)">
              <span
                class="pw-mont-semibold-14 pw-fourth-color pw-position-text"
                >{{'pw.corporateTown.edit' | translate}}
                </span>
              <span class="pw-i-24 pw-edit-icon-24"></span>
            </a>
          </div>
        </div>
      </div>
