<div class="container-fluid">
  <div class="row ">
    <div class="col-12 ">
      <div class="row pw-slider">
        <div class="col-auto ml-auto">
          <ul class="row align-items-center justify-content-end pw-width-300 pw-text-right">
            <li class="pw-slider-btn active">
              <button class="pw-rounded-btn" [routerLink]="[getGrnDetailsRouteUrl('1')]">
                1
              </button>
            </li>
            <li class="pw-slider-btn " [ngClass]="page == '2' ? 'active' : ''">
              <button class="pw-rounded-btn" [routerLink]="[getGrnDetailsRouteUrl('2')]">
                2
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div [ngSwitch]="page">
            <div *ngSwitchCase="1">
              <poss-web-grn-ibt-inventory-step-one *ngIf="(GRNIBTDetails$ | async)" [GRNIBTDetails$]="GRNIBTDetails$"
                [locationDetails$]="locationDetails$" (tabOne)="UpdateGRNOne($event)">
              </poss-web-grn-ibt-inventory-step-one>
            </div>
            <div *ngSwitchCase="2">
              <poss-web-grn-ibt-inventory-step-two *ngIf="(GRNIBTDetails$ | async)" [GRNIBTDetails$]="GRNIBTDetails$"
                (tabTwo)="UpdateGRNTwo($event)"></poss-web-grn-ibt-inventory-step-two>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>