<ng-container>
  <div class="row pw-list-card">
    <div
      [formGroup]="selectForm"
      *ngIf="hasRemove"
      class="col-auto pw-list-card__item"
    >
      <mat-checkbox formControlName="isItemSelected" (change)="selectItem()">
      </mat-checkbox>
    </div>
    <div class="col-auto pw-list-card__item pw-thumbnail-img">
      <poss-web-thumbnail
        [thumbnailSrc]="item.imageURL"
        [imageSrc]="item.imageURL"
        [alt]="item.productCategory"
      >
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>Variant Code - {{ item.itemCode }}</p>
      </poss-web-thumbnail>
    </div>

    <div class="col-auto pw-list-card__item pw-width-120">
      <div class="pw-sub-heading">
        {{ item.itemCode }}
      </div>
      <p>{{ item.lotNumber }}</p>
      <p>{{ item.mfgDate.format('DD-MMM-YYYY') }}</p>
      <p>
        {{ item.itemValue | currency: 'INR' }}
      </p>
    </div>
    <div class=" col-1 pw-list-card__item">
      <div class="pw-sub-heading">{{ item.orderType }}</div>

      <p>{{ item.productGroup }}</p>
      <p>{{ item.productCategory }}</p>
    </div>
    <ng-container [formGroup]="itemForm">
      <div class="col-auto pw-list-card__item">
        <div class="row no-gutters pw-input-group">
          <div class="col-auto">
            <div class="pw-sub-heading">
              Item Qty
            </div>
            <input
              type="number"
              min="1"
              class="pw-bg-input-box border-right pw-border-radius-left pw-width-65"
              formControlName="measuredQuantity"
              [readonly]="readonlyData"
            />
          </div>
          <div class=" col-auto">
            <div class="pw-sub-heading">
              Item Wt:({{ item.weightUnit }})
            </div>
            <input
              type="number"
              step="0.001"
              min="0.001"
              class="pw-bg-input-box border-right"
              formControlName="measuredWeight"
              [readonly]="readonlyData"
            />
          </div>

          <div class=" col-auto" *ngIf="!readonlyData">
            <div class="pw-sub-heading">
              Assigned Bin
            </div>

            <mat-select
              formControlName="assignedBin"
              class="mat-select-cls pw-bg-input-box pw-border-radius-right"
              value="STN"
              placeholder="Select"
            >
              <mat-option value="STN">STN</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <!-- <div class="col-auto pw-list-card__item" *ngIf="!readonlyData">
        <div class="pw-sub-heading">
          Assingned Bin Code
        </div>
        <mat-select
          formControlName="assignedBinCode"
          disableOptionCentering
          class="mat-select-cls pw-bg-input-box"
          placeholder="Select"
          (selectionChange)="change($event)"
        >
          <mat-option *ngFor="let bin of binGroups" [value]="bin">
            {{ bin }}
          </mat-option>
        </mat-select>
      </div> -->
      <div
      class="col-auto pw-width-150 pw-list-card__item "
      *ngIf="!readonlyData"
    >
      <div class="pw-sub-heading">
        {{ 'pw.otherReceiptsIssues.assginedBinCodeLableText' | translate }}
      </div>
      <button
        mat-flat-button
        class="pw-btn pw-accent-btn pw-w-100"
        (click)="openBinSelectionPopup()"
      >
        <div class="row no-gutters pw-text-left">
          <div class="col pw-text-overflow-ellipisis">
            <p>
              <ng-container *ngIf="selectedBinCode; else showSelectBin">
                {{ selectedBinCode }}
              </ng-container>
              <ng-template #showSelectBin>
                {{ 'pw.otherReceiptsIssues.selectBinCodeLable' | translate }}
              </ng-template>
            </p>
          </div>
          <div class="col-auto ml-auto">
            <span class="pw-i-16 pw-bin-icon-16"></span>
          </div>
        </div>
      </button>
    </div>
      <div class="col pw-text-right pw-sub-heading pw-list-card__item">
        <span
          *ngIf="
            itemForm.get('measuredWeight').dirty ||
            itemForm.get('measuredWeight').touched
          "
          class="pw-error-color"
        >
          {{ weightMismatchError }}
        </span>
        <span
          *ngIf="
            itemForm.get('measuredQuantity').dirty ||
            itemForm.get('measuredQuantity').touched
          "
          class="pw-error-color"
        >
          {{ quantityError }}
        </span>
      </div>
    </ng-container>
  </div>
</ng-container>
