<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a>
              <span class="pw-i-24 pw-back-arrow-icon-24" (click)="back()"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-company-icon-36"></span>
              <div>
                <h2>{{ 'pw.instock.request' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.instock.approval' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center">
        <!-- <div class="col-auto pw-mont-semibold-14">
              Approval Requests
            </div> -->
        <div class="col-auto ml-auto">
          <button *ngIf="!locationCode" mat-flat-button class="pw-btn pw-cta-btn" (click)="openBinSelectionPopup()">
            <div class="row">
              <div class="col-auto">
                <p>
                  {{ 'pw.instock.locationBtn' | translate }}
                </p>
              </div>
              <div class="col-auto ml-auto">
                <span class="pw-i-16 pw-location-icon-16"></span>
              </div>
            </div>
          </button>

          <button *ngIf="locationCode" mat-flat-button class="pw-btn pw-cta-btn">
            <div class="row">
              <div class="col-auto">
                <p>
                  {{ selectedLocation.description }}
                </p>
              </div>
              <div class="col-auto ml-auto">
                <a>
                  <span class="pw-i-10 pw-close-icon-16" (click)="clearPopup()"></span>
                </a>
              </div>
            </div>
          </button>
        </div>

        <mat-form-field
          [formGroup]="searchForm"
          class="col-lg-3 col-sm-4 pw-search-bar pw-form-field-padding-bottom-0"
          floatLabel="never"
        >
          <input
            #searchBox
            matInput
            class="pw-input-box"
            placeholder="Search by request Doc No."
            formControlName="searchValue"
          />

          <mat-icon matSuffix>
            <a> <span *ngIf="!searchForm.get('searchValue').value" class="pw-i-16 pw-search-icon-16"></span></a
          ></mat-icon>
          <mat-icon matSuffix (click)="clearSearch()">
            <a><span *ngIf="searchForm.get('searchValue').value" class="pw-i-10 pw-close-icon-16"></span></a
          ></mat-icon>
          <mat-error *ngIf="searchForm.get('searchValue').hasError('nan')" class="pw-error-color">
            {{ searchForm.get('searchValue').getError('nan') | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="pw-tab mt-2">
        <ul class="pw-tab__list">
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="reqApprovalsType === reqApprovalsTypeRef.BIN_COR"
              (click)="changeReqApprovalsType(reqApprovalsTypeRef.BIN_COR)"
            >
              <h5 class="pw-tab__item">
                {{ 'pw.instock.approvalsTitle' | translate }}
                <span class="pw-fourth-color">({{ binRequestApprovalsCount$ | async }})</span>
              </h5></a
            >
          </li>
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="reqApprovalsType === reqApprovalsTypeRef.IBT_COR"
              (click)="changeReqApprovalsType(reqApprovalsTypeRef.IBT_COR)"
            >
              <h5 class="pw-tab__item">
              {{'pw.instock.interTect'|translate}}
                <span class="pw-fourth-color">({{ ibtRequestApprovalsCount$ | async }})</span>
              </h5></a
            >
          </li>
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="reqApprovalsType === reqApprovalsTypeRef.Other_Issues"
              (click)="changeReqApprovalsType(reqApprovalsTypeRef.Other_Issues)"
            >
              <h5 class="pw-tab__item">
                {{'pw.stockIssue.otherInvoice'|translate}}
                <span class="pw-fourth-color">({{ otherIssuesCount | async }})</span>
              </h5></a
            >
          </li>
        </ul>
      </div>

      <div *ngIf="reqApprovalsType == reqApprovalsTypeRef.Other_Issues" class="pw-tab mt-1">
        <ul class="pw-tab__list">
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="reqType == reqApprovalsTypeRef.ADJ"
              (click)="changeReqType(reqApprovalsTypeRef.ADJ)"
            >
              <h5 class="pw-tab__item">
                {{'pw.stockIssue.adjText'|translate}}
                <span class="pw-fourth-color">({{ adjCount | async }})</span>
              </h5></a
            >
          </li>
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="reqType == reqApprovalsTypeRef.LOAN"
              (click)="changeReqType(reqApprovalsTypeRef.LOAN)"
            >
              <h5 class="pw-tab__item">
                {{'pw.stockIssue.loanText'|translate}}
                <span class="pw-fourth-color">({{ loanCount | async }})</span>
              </h5></a
            >
          </li>
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="reqType == reqApprovalsTypeRef.FOC"
              (click)="changeReqType(reqApprovalsTypeRef.FOC)"
            >
              <h5 class="pw-tab__item">
                {{'pw.stockIssue.focText'|translate}}
                <span class="pw-fourth-color">({{ focCount | async }})</span>
              </h5></a
            >
          </li>
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="reqType == reqApprovalsTypeRef.LOSS"
              (click)="changeReqType(reqApprovalsTypeRef.LOSS)"
            >
              <h5 class="pw-tab__item">
                {{'pw.stockIssue.lossText'|translate}}
                <span class="pw-fourth-color">({{ lossCount | async }})</span>
              </h5></a
            >
          </li>
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="reqType == reqApprovalsTypeRef.PSV"
              (click)="changeReqType(reqApprovalsTypeRef.PSV)"
            >
              <h5 class="pw-tab__item">
                {{'pw.stockIssue.psvText'|translate}}
                <span class="pw-fourth-color">({{ psvCount | async }})</span>
              </h5></a
            >
          </li>
          <li class="pw-tab__list-item">
            <a
              [class.pw-is-active-bar]="reqType == reqApprovalsTypeRef.EXH"
              (click)="changeReqType(reqApprovalsTypeRef.EXH)"
            >
              <h5 class="pw-tab__item">
                {{'pw.stockIssue.exhText'|translate}}
                <span class="pw-fourth-color">({{ exhCount | async }})</span>
              </h5></a
            >
          </li>
        </ul>
      </div>
      <div class="pw-text-right pw-fourth-color">
        <!-- <a href="bin-history.html" class="pw-border-bottom-golden"
            >Show History</a
          > -->
      </div>
      <div
        *ngIf="reqApprovalsType == reqApprovalsTypeRef.BIN_COR"
        [class.pw-overlay-notification-gutter]="hasNotification"
      >
        <poss-web-bin-request-item-list
          [count]="binRequestApprovalsCount$ | async"
          [itemList]="Items$ | async"
          (approvalsValue)="approvals($event)"
          [pageEvent]="itemsPageEvent"
          (paginator)="paginateItems($event)"
        ></poss-web-bin-request-item-list>

        <div
          *ngIf="(binRequestApprovalsCount$ | async)===0"
          class="pw-success-color pw-message pw-text-center mg-t-100"
        >
          <span class="pw-i-16 "></span>
          {{ 'pw.instock.noRequestText' | translate }}
        </div>

        <poss-web-loader *ngIf="(isItemsLoading$ | async) || isLocationLoading"> </poss-web-loader>
      </div>

      <div>
        <poss-web-card-list
          *ngIf="reqApprovalsType == reqApprovalsTypeRef.IBT_COR"
          [count]="ibtRequestApprovalsCount$ | async"
          [dataList]="ibtCard$ | async"
          [pageSize]="pageSize"
          (loadMore)="loadRequests($event)"
          (selected)="onSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title>
              <div class="row">
                <div class="col-auto">
                  <h4>  Request No. {{ item.reqDocNo }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <p class="pw-success-color">
                    <b> {{ item.srcLocationCode }}</b>
                  </p>
                </div>
              </div>
              <div class="col-auto ml-auto">
                <!-- <p class="pw-seventh-color">
                  <b> {{ item.srcLocationCode }}</b>
                </p> -->
              </div>
            </poss-web-card-title>
            <poss-web-card-subtitle>
              <p>
                {{ item.destLocationCode }}
              </p></poss-web-card-subtitle
            >
            <poss-web-card-content>
              <div class="mt-1">
                <p>{{ item.totalAcceptedQuantity}} Products |  {{ item.totalAcceptedValue |currency : item.currencyCode}}</p>
                <p>
                  {{ item.reqDocDate.fromNow() }}
                </p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <poss-web-card-list
          *ngIf="reqType == reqApprovalsTypeRef.ADJ && reqApprovalsType == reqApprovalsTypeRef.Other_Issues"
          [count]="adjCount | async"
          [dataList]="adj$ | async"
          [pageSize]="pageSize"
          (loadMore)="loadRequests($event)"
          (selected)="onOtherIssuesSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title>
              <div class="row">
                <div class="col-auto">
                  <h4> Request No. {{ item.reqDocNo }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <p class="pw-success-color">
                    <b> {{ item.destLocationCode }}</b>
                  </p>
                </div>
              </div>
              <div class="col-auto ml-auto">
                <!-- <p class="pw-seventh-color">
            <b> {{ item.srcLocationCode }}</b>
          </p> -->
              </div>
            </poss-web-card-title>

            <poss-web-card-content>
              <div class="mt-1">
                <p>{{ item.totalRequestedQuantity }} products | {{item.totalRequestedWeight}} {{item.weightUnit}}</p>
                <p>{{item.totalRequestedValue| currency : item.currencyCode}}</p>
              </div>
              <div class="mt-1">


                <p>Request Date : {{ item.reqDocDate.fromNow() }}</p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <poss-web-card-list
          *ngIf="reqType == reqApprovalsTypeRef.LOAN && reqApprovalsType == reqApprovalsTypeRef.Other_Issues"
          [count]="loanCount | async"
          [dataList]="loan$ | async"
          [pageSize]="pageSize"
          (loadMore)="loadRequests($event)"
          (selected)="onOtherIssuesSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title>
              <div class="row">
                <div class="col-auto">
                  <h4>Request No. {{ item.reqDocNo }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <p class="pw-success-color">
                    <b> {{ item.destLocationCode }}</b>
                  </p>
                </div>
              </div>
              <div class="col-auto ml-auto">
                <!-- <p class="pw-seventh-color">
            <b> {{ item.srcLocationCode }}</b>
          </p> -->
              </div>
            </poss-web-card-title>

            <poss-web-card-content>
              <div class="mt-1">
                <p>{{ item.totalRequestedQuantity}} products | {{item.totalRequestedWeight}} {{item.weightUnit}}</p>
                <p>{{item.totalRequestedValue| currency : item.currencyCode}}</p>
              </div>
              <div class="mt-1">


                <p>Request Date : {{ item.reqDocDate.fromNow() }}</p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <poss-web-card-list
          *ngIf="reqType == reqApprovalsTypeRef.FOC && reqApprovalsType == reqApprovalsTypeRef.Other_Issues"
          [count]="focCount | async"
          [dataList]="foc$ | async"
          [pageSize]="pageSize"
          (loadMore)="loadRequests($event)"
          (selected)="onOtherIssuesSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title>
              <div class="row">
                <div class="col-auto">
                  <h4>Request No. {{ item.reqDocNo }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <p class="pw-success-color">
                    <b> {{ item.destLocationCode }}</b>
                  </p>
                </div>
              </div>
              <div class="col-auto ml-auto">
                <!-- <p class="pw-seventh-color">
            <b> {{ item.srcLocationCode }}</b>
          </p> -->
              </div>
            </poss-web-card-title>

            <poss-web-card-content>
              <div class="mt-1">
                <p>{{ item.totalRequestedQuantity }} products | {{item.totalRequestedWeight}} {{item.weightUnit}}</p>
                <p>{{item.totalRequestedValue| currency : item.currencyCode}}</p>
              </div>
              <div class="mt-1">

                <p>Request Date : {{ item.reqDocDate.fromNow() }}</p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <poss-web-card-list
          *ngIf="reqType == reqApprovalsTypeRef.LOSS && reqApprovalsType == reqApprovalsTypeRef.Other_Issues"
          [count]="lossCount | async"
          [dataList]="loss$ | async"
          [pageSize]="pageSize"
          (loadMore)="loadRequests($event)"
          (selected)="onOtherIssuesSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title>
              <div class="row">
                <div class="col-auto">
                  <h4> Request No. {{ item.reqDocNo }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <p class="pw-success-color">
                    <b> {{ item.destLocationCode }}</b>
                  </p>
                </div>
              </div>
              <div class="col-auto ml-auto">
                <!-- <p class="pw-seventh-color">
            <b> {{ item.srcLocationCode }}</b>
          </p> -->
              </div>
            </poss-web-card-title>

            <poss-web-card-content>
              <div class="mt-1">
                <p>{{ item.totalRequestedQuantity }} products | {{item.totalRequestedWeight}} {{item.weightUnit}}</p>
                <p>{{item.totalRequestedValue| currency : item.currencyCode}}</p>
              </div>
              <div class="mt-1">

                <p>Request Date : {{ item.reqDocDate.fromNow() }}</p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <poss-web-card-list
          *ngIf="reqType == reqApprovalsTypeRef.PSV && reqApprovalsType == reqApprovalsTypeRef.Other_Issues"
          [count]="psvCount | async"
          [dataList]="psv$ | async"
          [pageSize]="pageSize"
          (loadMore)="loadRequests($event)"
          (selected)="onOtherIssuesSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title>
              <div class="row">
                <div class="col-auto">
                  <h4> Request No. {{ item.reqDocNo }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <p class="pw-success-color">
                    <b> {{ item.destLocationCode }}</b>
                  </p>
                </div>
              </div>
              <div class="col-auto ml-auto">
                <!-- <p class="pw-seventh-color">
            <b> {{ item.srcLocationCode }}</b>
          </p> -->
              </div>
            </poss-web-card-title>

            <poss-web-card-content>
              <div class="mt-1">
                <p>{{ item.totalRequestedQuantity}} products | {{item.totalRequestedWeight}} {{item.weightUnit}}</p>
                <p>{{item.totalRequestedValue| currency : item.currencyCode}}</p>
              </div>
              <div class="mt-1">

                <p>Request Date : {{ item.reqDocDate.fromNow() }}</p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <poss-web-card-list
          *ngIf="reqType == reqApprovalsTypeRef.EXH && reqApprovalsType == reqApprovalsTypeRef.Other_Issues"
          [count]="exhCount | async"
          [dataList]="exh$ | async"
          [pageSize]="pageSize"
          (loadMore)="loadRequests($event)"
          (selected)="onOtherIssuesSelected($event)"
        >
          <ng-template let-item="data">
            <poss-web-card-title>
              <div class="row">
                <div class="col-auto">
                  <h4>Request No. {{ item.reqDocNo }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <p class="pw-success-color">
                    <b> {{ item.destLocationCode }}</b>
                  </p>
                </div>
              </div>
              <div class="col-auto ml-auto">
                <!-- <p class="pw-seventh-color">
            <b> {{ item.srcLocationCode }}</b>
          </p> -->
              </div>
            </poss-web-card-title>

            <poss-web-card-content>
              <div class="mt-1">
                <p>{{ item.totalRequestedQuantity}} products | {{item.totalRequestedWeight}} {{item.weightUnit}}</p>
                <p>{{item.totalRequestedValue| currency : item.currencyCode}}</p>
              </div>
              <div class="mt-1">

                <p>Request Date : {{ item.reqDocDate.fromNow() }}</p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>

        <div
          class="pw-text-center m-5"
          *ngIf="
            ((isIbtLoading$ | async)===false &&
              (reqApprovalsType === reqApprovalsTypeRef.IBT_COR && (ibtRequestApprovalsCount$ | async) === 0)) ||
            ((isFocLoading$ | async)===false &&
              (reqApprovalsType === reqApprovalsTypeRef.Other_Issues &&
                reqType === reqApprovalsTypeRef.FOC &&
                (focCount | async)===0)) ||
            ((isAdjLoading$ | async)===false &&
              (reqApprovalsType === reqApprovalsTypeRef.Other_Issues &&
                reqType === reqApprovalsTypeRef.ADJ &&
                (adjCount | async)===0)) ||
            ((isLossLoading$ | async)===false &&
              (reqApprovalsType === reqApprovalsTypeRef.Other_Issues &&
                reqType === reqApprovalsTypeRef.LOSS &&
                (lossCount | async)===0))||
            ((isLoanLoading$ | async)===false &&
              (reqApprovalsType === reqApprovalsTypeRef.Other_Issues &&
                reqType === reqApprovalsTypeRef.LOAN &&
                (loanCount | async)===0)) ||
            ((isExhLoading$ | async)===false &&
              (reqApprovalsType === reqApprovalsTypeRef.Other_Issues &&
                reqType === reqApprovalsTypeRef.EXH &&
              (exhCount | async)===0)) ||
            ((isPsvLoading$ | async)===false &&
              (reqApprovalsType === reqApprovalsTypeRef.Other_Issues &&
                reqType === reqApprovalsTypeRef.PSV &&
                (psvCount | async)===0))
          "
          class="pw-success-color pw-message pw-text-center mg-t-100"
        >
          <span class="pw-i-16 "></span>
          {{ 'pw.instock.noRequestText' | translate }}
        </div>
        <poss-web-loader
          *ngIf="
            (isLoanLoading$ | async) ||
            (isLossLoading$ | async) ||
            (isIbtLoading$ | async) ||
            (isPsvLoading$ | async) ||
            (isAdjLoading$ | async) ||
            (isFocLoading$ | async) ||
            (isExhLoading$ | async)
          "
        >
        </poss-web-loader>
      </div>
    </div>
  </div>
</div>
