<div class="pw-detail-card">
  <a>
    <div class="row align-items-center">
      <div class="col-3">
        <p class="pw-fourth-color">
          {{ 'pw.CFAProduct.CFAProductCode' | translate }}
        </p>
        <div class="mt-2">
          <b>{{ CFAproductCodeItem.productGroupCode }}</b>
        </div>
      </div>

      <div class="col-lg-8 col-7">
        <p class="pw-fourth-color">
          {{ 'pw.CFAProduct.description' | translate }}
        </p>
        <p class="mt-2">
          <b>{{ CFAproductCodeItem.description }}</b>
        </p>
      </div>
      <div class="col-auto ml-auto align-self-center">
        <a (click)="edit(CFAproductCodeItem.productGroupCode)">
          <span
            class="pw-mont-semibold-14 pw-fourth-color pw-position-text a"
            >{{ 'pw.productCategory.edit' | translate }}</span
          >&nbsp;
          <span class="pw-i-24 pw-edit-icon-24"></span>
        </a>
      </div>
    </div>
  </a>
</div>
