<div class="row">
  <div class="col-9" *ngIf="(itemList$ | async).length !== 0">
    <div
      class="pw-mont-semibold-14"
      *ngIf="requestType === interBoutiqueTransferRequestTypesEnumRef.SENT"
    >
      {{ 'pw.interboutiqueTransfer.requestsSentItemListTitle' | translate }}
    </div>
    <div
      class="pw-mont-semibold-14"
      *ngIf="
        requestType === interBoutiqueTransferRequestTypesEnumRef.RECEIVED &&
        selectedRequestStatus ===
          interBoutiqueTransferStatusTypesEnumRef.REQUESTED
      "
    >
      {{ 'pw.interboutiqueTransfer.requestsReceivedItemListTitle' | translate }}
    </div>
    <div
      class="pw-mont-semibold-14"
      *ngIf="
        requestType === interBoutiqueTransferRequestTypesEnumRef.RECEIVED &&
        selectedRequestStatus !==
          interBoutiqueTransferStatusTypesEnumRef.REQUESTED
      "
    >
      {{ 'pw.interboutiqueTransfer.requestsSentItemListTitle' | translate }}
    </div>
  </div>
</div>

<ng-container *ngIf="(itemList$ | async).length !== 0">
  <ng-container *ngFor="let item of (itemList$ | async)">
    <poss-web-inter-boutique-transfer-item
      [item]="item"
      [selectedRequestStatus]="selectedRequestStatus"
      [selectedItemCodeEvents]="selectedItemCode$.asObservable()"
      (isSelected)="isSelectedChange($event)"
      (isSelectedItem)="isSelectedItemChange($event)"
    >
    </poss-web-inter-boutique-transfer-item>
  </ng-container>
</ng-container>
