//icons
.pw-i-16 {
  width: 16px;
  height: 16px;
  background: url($icon16x16);
}

.pw-i-24 {
  width: 24px;
  height: 24px;
  background: url($icon24x24);
}

.pw-i-32 {
  width: 32px;
  height: 32px;
  background: url($icon32x32);
}

.pw-i-36 {
  width: 36px;
  height: 36px;
  background: url($icon36x36);
}

.pw-i-34 {
  width: 34px;
  height: 34px;
  background: url($icon34x34);
}

.pw-i-64 {
  width: 64px;
  height: 64px;
  background: url($icon64x64);
}

.pw-i-10 {
  width: 10px;
  height: 10px;
  background: url($icon10x10);
}

.pw-i-14 {
  width: 14px;
  height: 14px;
  background: url($icon14x14);
}

.pw-i-12 {
  width: 12px;
  height: 12px;
  background: url($icon12x12);
}

.pw-i-8 {
  width: 8px;
  height: 8px;
  background: url($icon8x8);
}

.pw-i-6 {
  width: 6px;
  height: 6px;
  background: url($icon6x6);
}

.pw-back-arrow-icon-24 {
  background-position: -174px 0;
  display: inline-block;
}

.pw-next-arrow-icon-24 {
  background-position: -192px 0;
  position: absolute;
  margin: -3px;
}

.pw-plus-icon-18 {
  width: 18px;
  height: 18px;
  background: url('./assets/img/plus-icon.svg') 0 0;
  position: relative;
  top: -1px;
  left: -4px;
  display: inline-block;
}

.pw-search-icon-16 {
  background-position: -272px 0;
  position: absolute;
  top: 0;
  right: 0;
}

.pw-success-icon-16 {
  background-position: -320px 0;
  display: inline-block;
  position: relative;
  top: 3px;
}

.pw-warning-icon-16 {
  background-position: -305px 0;
  display: inline-block;
  position: relative;
  top: 4px;
}

.pw-black-tick-icon-14 {
  width: 14px;
  height: 14px;
  background: url('./assets/img/black-tick-icon.svg') 0 0;
  display: inline-block;
}

.pw-filter-icon-16 {
  background-position: -369px 0;
  position: absolute;
  top: 0;
  right: 17px;
}

.pw-user-icon-16 {
  background-position: -449px 0;
}

.pw-lock-icon-16 {
  background-position: -465px 0;
}

.pw-bangle-icon-16 {
  display: inline-block;
  background-position: 0 0;
}

.pw-ring-icon-16 {
  display: inline-block;
  background-position: -128px 0;
}

.pw-necklace-icon-16 {
  display: inline-block;
  background-position: -32px 0;
}

.pw-diamond-icon-16 {
  display: inline-block;
  background-position: -64px 0;
}

.pw-earring-icon-16 {
  display: inline-block;
  background-position: -48px 0;
}

.pw-bracelet-icon-16 {
  display: inline-block;
  background-position: -80px 0;
}

.pw-download-icon-16 {
  display: inline-block;
  background-position: -481px 0;
  position: relative;
  top: 5px;
}

.pw-stage-icon-16 {
  display: inline-block;
  background-position: -545px 0;
}

.pw-dotlink-icon-16 {
  display: inline-block;
  background-position: -561px 0;
}

.pw-close-icon-16 {
  display: inline-block;
  background-position: 0 0;
  position: relative;
  top: -2px;
}

.pw-stock-icon-8 {
  display: inline-block;
  background-position: 0 0;
}

.pw-specimen-icon-8 {
  display: inline-block;
  background-position: -21px 0;
  position: relative;
  top: 1px;
}

.pw-receivestock-icon-16 {
  display: inline-block;
  background-position: -513px 0;
  position: relative;
  top: -3px;
}

.pw-instock-icon-16 {
  display: inline-block;
  background-position: -529px 0;
  position: relative;
  top: -3px;
}

.pw-issuestock-icon-16 {
  display: inline-block;
  background-position: -497px 0;
  position: relative;
  top: -3px;
}

.pw-previous-icon-16 {
  display: inline-block;
  background-position: -577px 0;
  position: relative;
  top: 5px;
}

.pw-instock-icon-36 {
  background-position: -108px 0;
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.pw-receive-stock-icon-36 {
  background-position: -72px 0;
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.pw-issue-stock-icon-36 {
  background-position: -142px 0;
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.pw-logo-icon-64 {
  background-position: 0 0;
  display: block;
}

.pw-logo-icon-32 {
  background-position: 0 0;
  display: block;
}

.pw-menu-icon-24 {
  display: block;
  background-position: 0 0;
}

.pw-dashboard-icon-24 {
  background-position: -24px 0;
  display: block;
}

.pw-notification-icon-24 {
  background-position: -48px 0;
  display: block;
}

.pw-signout-icon-24 {
  background-position: -216px 0;
  display: block;
}

.pw-play-icon-101 {
  width: 101px;
  height: 101px;
  background: url('./assets/img/play-icon.svg') 0 0;
  display: block;
}

.pw-receive-stock-icon-64 {
  background-position: -64px 0;
  display: block;
}

.pw-instock-icon-64 {
  background-position: -128px 0;
  display: block;
}

.pw-issue-stock-icon-64 {
  background-position: -192px 0;
  display: block;
}

.pw-quick-link-icon-24 {
  margin: 30px 0;
  position: absolute;
  background-position: -144px 0;
}

.pw-conversion-icon-32 {
  background-position: -391px 0;
  display: block;
  margin: auto;
}

.pw-ibt-icon-32 {
  background-position: -211px 0;
  display: block;
  width: 92px;
  margin: auto;
}

.pw-bbt-icon-32 {
  background-position: -31px 0;
  display: block;
  width: 92px;
  margin: auto;
}

.pw-plus-icon-23 {
  position: absolute;
  top: -8px;
  font-size: 22px;
}

.pw-close-icon-36 {
  display: inline-block;
  background-position: -37px 0;
}

.pw-exclamation-icon-14 {
  display: inline-block;
  position: relative;
  top: 3px;
}

.pw-receivestock-icon-12 {
  display: inline-block;
  background-position: 0 0;
}

.pw-instock-icon-12 {
  display: inline-block;
  background-position: -12px 0;
}

.pw-dashboard-icon-12 {
  display: inline-block;
  background-position: -24px 0;
}

.pw-report-icon-12 {
  display: inline-block;
  background-position: -36px 0;
}

.pw-faq-icon-12 {
  display: inline-block;
  background-position: -48px 0;
}

.pw-customer-transaction-icon-12 {
  display: inline-block;
  background-position: -60px 0;
}

.pw-bin-icon-32 {
  display: inline-block;
  background-position: -121px 0;
}

.pw-close-icon-24 {
  display: block;
  background-position: -240px 0;
}

.pw-plus-icon-24 {
  display: block;
  background-position: -264px 0;
}

.pw-logout-icon-14 {
  display: inline-block;
  background-position: -14px 0;
  position: relative;
  top: 3px;
}

.pw-user-icon-34 {
  display: inline-block;
  background-position: 0 0;
  position: relative;
}

.pw-close-icon-white-16 {
  display: inline-block;
  background-position: -10px 0;
  position: relative;
  top: -2px;
}

.pw-calender-icon-12 {
  display: inline-block;
  background-position: -72px 0;
  position: relative;
  top: 2px;
}

.pw-tick-icon-6 {
  display: inline-block;
  background-position: -27px 0;
  position: relative;
  top: -4px;
  left: 1px;
}

.pw-tick-icon-bg {
  display: inline-block;
  position: relative;
  background: $success-color;
  width: 10px;
  height: 10px;
  top: 3px;
  border-radius: 50%;
}

.pw-tick-icon-bg1 {
  top: 3px;
  line-height: 14px;
}

.pw-other-issue-icon-32 {
  background-position: -742px 0;
  display: block;
  margin: auto;
  width: 68px;
}

.pw-loss-icon-32 {
  background-position: -584px 0;
  display: block;
  margin: auto;
}

.pw-arrow-icon-down-24 {
  background-position: -120px 0;
  display: inline-block;
  position: relative;
}

.pw-sort-icon-16 {
  background-position: -592px 0;
  position: absolute;
  top: 0;
  right: 17px;
}

.pw-bin-icon-16 {
  background-position: -608px 2px;
  display: inline-block;
}

.pw-coin-icon-16 {
  background-position: -96px 0;
  display: inline-block;
}

.pw-nose-icon-16 {
  background-position: -242px 0;
  display: inline-block;
}

.pw-neck-set-icon-16 {
  background-position: -176px 0;
  display: inline-block;
}

.pw-pendent-earing-icon-16 {
  background-position: -192px 0;
  display: inline-block;
}

.pw-chain-icon-16 {
  background-position: -208px 0;
  display: inline-block;
}

.pw-pendant-icon-16 {
  background-position: -16px 0;
  display: inline-block;
}

.pw-product-icon-64 {
  background-position: -320px 0;
  display: inline-block;
}

.pw-location-icon-64 {
  background-position: -384px 0;
  display: inline-block;
}

.pw-customer-icon-64 {
  background-position: -448px 0;
  display: inline-block;
}

.pw-company-icon-64 {
  background-position: -512px 0;
  display: inline-block;
}

.pw-discount-icon-64 {
  background-position: -576px 0;
  display: inline-block;
}

.pw-location-icon-36 {
  background-position: -217px 1px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.pw-clear-icon-16 {
  background-position: -624px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 4px;
}

.pw-remove-icon-16 {
  background-position: -640px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 4px;
}

.pw-location-icon-16 {
  background-position: -656px 0;
  display: inline-block;
}

.pw-copy-icon-24 {
  display: inline-block;
  background-position: -288px 2px;
}

.pw-company-icon-36 {
  background-position: -252px 0;
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.pw-edit-icon-24 {
  background-position: -312px 0;
  display: inline-block;
}

.pw-approved-icon-12 {
  background-position: -84px 0;
  display: inline-block;
  position: relative;
  top: 2px;
}

.pw-rejected-icon-12 {
  background-position: -96px 0;
  display: inline-block;
  position: relative;
  top: 2px;
}

.pw-expand-icon-24 {
  background-position: -360px 2px;
  display: inline-block;
}

.pw-collapse-icon-24 {
  background-position: -384px 2px;
  display: inline-block;
}

.pw-delete-icon-24 {
  background-position: -336px 0;
  display: inline-block;
}

.pw-plus-icon-12 {
  background-position: -120px 0;
  display: inline-block;
}

.pw-minus-icon-12 {
  background-position: -108px 0;
  display: inline-block;
}

.pw-dots-icon-14 {
  background-position: -84px 0;
  display: inline-block;
}

.pw-lock-icon-32 {
  background-position: -711px 4px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.pw-unlock-icon-32 {
  background-position: -680px 4px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.pw-switch-on-icon-32 {
  background-position: -617px 8px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.pw-switch-off-icon-32 {
  background-position: -649px 8px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.pw-lov-icon-36 {
  background-position: -324px 0;
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.pw-lov-icon-64 {
  background-position: -640px 0;
  display: inline-block;
}

.pw-filter-icon-24 {
  background-position: -408px 0;
  position: absolute;
  top: -10px;
}

.pw-filter-icon-color-24 {
  background-position: -433px 0;
  position: absolute;
  top: -10px;
}

.pw-sort-icon-24 {
  background-position: -459px 0;
  position: absolute;
  top: -10px;
}

.pw-tep-plain-icon-64 {
  display: block;
  background-position: -704px 0;
  margin: auto;
}

.pw-tep-studded-icon-64 {
  display: block;
  background-position: -780px 0;
  margin: auto;
  width: 106px;
}

.pw-gep-icon-64 {
  display: block;
  background-position: -912px 0;
  margin: auto;
  width: 106px;
}

.pw-issue-cfa-icon-64 {
  display: block;
  background-position: -1105px 0;
  margin: auto;
  width: 100px;
}

.pw-upload-icon-64 {
  background-position: -1024px 0;
  display: block;
}

.pw-upload-icon-36 {
  background-position: -828px 0;
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.pw-product-master-icon-36 {
  background-position: -864px 0;
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.pw-customere-transaction-icon-36 {
  background-position: -900px 0;
  position: relative;
  top: 6px;
  margin-right: 5px;
}
