
<div class="pw-list-card px-3 pw-cursor"  (click)="emitBrandcode()">
  <div class="row">
    <div class="col-lg-4 col-6" >
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.brandMaster.brandCode' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.brandCode }}</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.brandMaster.description' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.description }}</b>
          </p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.brandMaster.orgCode' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.orgCode }}</b>
          </p>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">State code</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
            <b>{{ listItem.stateCode }}</b>
          </p>
        </div>
      </div> -->
    </div>

    <!-- <div class="col-lg-4 col-6">
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">Location Type</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.locationTypeCode }}</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">Sub Region</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
            <b>{{ listItem.regionCode }}</b>
          </p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">Legal Entity</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
            <b>{{ listItem.legalEntity }}</b>
          </p>
        </div>
      </div> -->


    <!-- <div class="col-auto ml-auto align-self-center">
      <a class="mr-2" (click)="openDialog();$event.stopPropagation()">
        <span class="pw-mont-semibold-14 pw-fourth-color pw-position-text">Copy Details</span>
        <span class="pw-i-24 pw-copy-icon-24"></span>
      </a>
      <a> -->



      <!-- </a>
    </div> -->
      <div class="col-auto ml-auto align-self-center">
        <!-- <a >
          <span
            class="pw-mont-semibold-14 pw-fourth-color pw-position-text a">{{'pw.subBrand.edit' | translate}}</span>
          <span class="pw-i-24 pw-edit-icon-24"></span>
        </a> -->
        <mat-slide-toggle  [checked]="listItem.isActive" (change)="change($event);"(click)='$event.stopPropagation()' > </mat-slide-toggle>
        <!-- <mat-slide-toggle (change)="change($event);$event.preventDefault()" [checked]='checked'> </mat-slide-toggle> -->
      </div>
  </div>

  </div>

