$poss-dark-primary: mat-palette($mat-grey, 900);
$poss-dark-accent: mat-palette($mat-grey, 800);
// The warn palette is optional (defaults to red).
$poss-dark-warn: mat-palette($mat-grey, 700);
// Create the theme object (a Sass map containing all of the palettes).
$poss-dark-theme: mat-dark-theme(
  $poss-dark-primary,
  $poss-dark-accent,
  $poss-dark-warn
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

$poss-light-primary: mat-palette($mat-grey, 900);
$poss-light-accent: mat-palette($mat-grey, 800);
// The warn palette is optional (defaults to red).
$poss-light-warn: mat-palette($mat-grey, 700);
// Create the theme object (a Sass map containing all of the palettes).
$poss-dark-theme: mat-dark-theme(
  $poss-light-primary,
  $poss-light-accent,
  $poss-light-warn
);

@include angular-material-theme($poss-dark-theme);
