* {
  &:active,
  :focus {
    outline: none !important;
  }
}

a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not(.nav-link):not([mat-list-item]) {
  color: inherit; // 2
}
