@import '../../../node_modules/@angular/material/theming';
$link-hover-decoration: none;
$label-margin-bottom: 0;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$icon24x24: "./assets/img/icons24x24.svg";
$icon16x16: "./assets/img/icons16x16.svg";
$icon32x32: "./assets/img/icons32x32.svg";
$icon36x36: "./assets/img/icons36x36.svg";
$icon34x34: "./assets/img/icons34x34.svg";
$icon64x64: "./assets/img/icons64x64.svg";
$icon10x10: "./assets/img/icon10x10.svg";
$icon12x12: "./assets/img/icons12x12.svg";
$icon14x14: "./assets/img/icons14x14.svg";
$icon8x8: "./assets/img/icons8x8.svg";
$icon6x6: "./assets/img/icons6x6.svg";
