<div (click)="editWeightTolerance()" class="pw-detail-card pw-cursor">
  <div class="row align-items-center">
    <div class="col-2">
      <p class="pw-fourth-color">Config ID</p>
      <div class="mt-2">
        <b>{{ configDetailsItem.configId }}</b>
      </div>
    </div>
    <div class="col-8">
      <p class="pw-fourth-color">Description</p>
      <div class="mt-2">{{ configDetailsItem.description }}</div>
    </div>
    <div class="col-auto ml-auto">
      <mat-slide-toggle [checked]="configDetailsItem.isActive" (change)="change($event.checked)"
        (click)="$event.stopPropagation()">
      </mat-slide-toggle>
    </div>

  </div>
</div>