<div class="container-fluid">
  <div class="row">
    <div class="col-12 ">
      <div class="row pw-slider">
        <div class="col-auto ml-auto">
          <ul class="row align-items-center justify-content-end pw-width-300 pw-text-right">
            <li class="pw-slider-btn active">
              <button class="pw-rounded-btn" [routerLink]="[getLocationDetailsRouteUrl(locationCode, '1')]">
                1
              </button>
            </li>
            <li class="pw-slider-btn" [ngClass]="page == '2' || page == '3' ? 'active' : isNew?'pw-disabled':''">
              <button [disabled]="isNew" class="pw-rounded-btn"
                [routerLink]="[getLocationDetailsRouteUrl(locationCode, '2')]">
                2
              </button>
            </li>
            <li class="pw-slider-btn " [ngClass]="page == '3' ? 'active' : isNew?'pw-disabled':''">
              <button [disabled]="isNew" class="pw-rounded-btn"
                [routerLink]="[getLocationDetailsRouteUrl(locationCode, '3')]">
                3
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div [ngSwitch]="page">
            <div *ngSwitchCase="1">
              <poss-web-location-stepone *ngIf="(locationTypes$ | async) &&
                (ownerInfo$ | async) &&
                (locationStates$ | async) &&
                (locationTowns$ | async) &&
                (regions$ | async) &&
                (locationFormat$ | async) &&
                (locationDetails$ | async) &&
                (brandName$ | async) &&
                (country$|async)&&
                (subBrandName$ | async)" [country$]='country$' [locationTypes$]="locationTypes$"
                [ownerInfo$]="ownerInfo$" [locationStates$]="locationStates$" [locationTowns$]="locationTowns$"
                [locationDetails$]="locationDetails$" [locationFormat$]="locationFormat$" [regions$]="regions$"
                [brandName$]="brandName$" [subBrandName$]="subBrandName$" (tabOne)="addButton($event)">
              </poss-web-location-stepone>
            </div>
            <div *ngSwitchCase="2">
              <poss-web-location-steptwo
                *ngIf="(locationDetails$ | async) && (locationSize$ | async)&&(marketCode$|async)"
                [locationConfigDetails$]="locationDetails$" [locationSize$]="locationSize$" [marketCode$]="marketCode$"
                (tabTwo)="updateLocationTwo($event)"></poss-web-location-steptwo>
            </div>
            <div *ngSwitchCase="3">
              <poss-web-location-stepthree *ngIf="(locationDetails$ | async) && (paymentModeForRefund$ | async)"
                [locationConfigDetails$]="locationDetails$" [paymentModeForRefund$]="paymentModeForRefund$"
                (tabThree)="updateLocationThree($event)"></poss-web-location-stepthree>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>