<div class="container-fluid">
  <div class="row ">
    <div class="col-12 ">
      <div class="row pw-slider">
        <div class="col-auto ml-auto">
          <ul class="row align-items-center justify-content-end pw-width-300 pw-text-right">
            <li class="pw-slider-btn active">
              <button class="pw-rounded-btn" [routerLink]="[getLoyalityDetailsRouteUrl('1')]">
                1
              </button>
            </li>
            <li class="pw-slider-btn " [ngClass]="page == '2' || page == '3' ? 'active' : ''">
              <button class="pw-rounded-btn" [routerLink]="[getLoyalityDetailsRouteUrl('2')]">
                2
              </button>
            </li>
            <li class="pw-slider-btn " [ngClass]="page == '3' ? 'active' : ''">
              <button class="pw-rounded-btn" [routerLink]="[getLoyalityDetailsRouteUrl('3')]">
                3
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div [ngSwitch]="page">
            <div *ngSwitchCase="1">
              <poss-web-loyality-step-one *ngIf="(loyalityDetails$ | async)" [loyalityDetails$]="loyalityDetails$"
                [locationDetails$]="locationDetails$" (tabOne)="updateLoyalityOne($event)"></poss-web-loyality-step-one>
            </div>
            <div *ngSwitchCase="2">
              <poss-web-loyality-step-two *ngIf="(loyalityDetails$ | async)" [loyalityDetails$]="loyalityDetails$"
                (tabTwo)="updateLoyalityTwo($event)"></poss-web-loyality-step-two>
            </div>
            <div *ngSwitchCase="3">
              <poss-web-loyality-step-three *ngIf="(loyalityDetails$ | async)" [loyalityDetails$]="loyalityDetails$"
                (tabThree)="updateLoyalityThree($event)"></poss-web-loyality-step-three>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>