<div class="pw-form-card">
  <div class="row">
    <div class="col-auto">
      <mat-form-field>
        <mat-label class="pw-fourth-color">ROLE</mat-label>
        <mat-select
          (selectionChange)="loadModules.emit($event.value)"
          class="pw-single-bordered-input"
          [formControl]="role"
        >
          <mat-option *ngFor="let role of rolesList" [value]="role.roleCode">
            {{ role.roleName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div
  *ngIf="modulesList ? modulesList.length > 0 : false"
  class="pw-bordered-card row"
>
  <div class="col-4 pw-bordered-card__list">
    <div class="pw-bordered-card__list-header">
      <div class="pw-fourth-color">Modules</div>
    </div>
    <ul>
      <li
        *ngFor="let module of modulesList"
        class="pw-bordered-card__list-item"
        [class.active]="selectedmodule === module.code"
      >
        <a
          (click)="
            selectedmodule = module.code; loadSubModules.emit(module.code)
          "
        >
          {{ module.description }}
        </a>
      </li>
    </ul>
  </div>

  <ng-container
    *ngIf="
      subModulesList ? subModulesList.length > 0 : false;
      else subModuleLabel
    "
  >
    <div class="col-3 pw-bordered-card__list">
      <div class="pw-bordered-card__list-header">
        <div class="pw-fourth-color">Access Details</div>
      </div>
      <ul>
        <li
          *ngFor="let subModule of subModulesList"
          class="pw-bordered-card__sub-list-item"
          [class.active]="selectedsubmodule === subModule.code"
        >
          <a (click)="loadSubModulesevent(subModule.code)">
            {{ subModule.description }}
          </a>
        </li>
      </ul>
    </div>

    <div
      class="col pw-bordered-card__list"
      *ngIf="aclList ? aclList.length > 0 : false"
    >
      <div class="pw-bordered-card__list-header row">
        <div class="cola-auto">
          <div class="pw-fourth-color">Details</div>
        </div>
        <div class="col-auto pw-bordered-card__right-content">
          <mat-checkbox
            [checked]="isAllACLSelected()"
            class="pw-checkbox__input col-4"
            (change)="updateACL($event)"
          >
            <span class="pw-checkbox__label pw-message">
              Select All</span
            ></mat-checkbox
          >
        </div>
      </div>
      <ul>
        <li class="pw-bordered-card__sub-list-item">
          <mat-checkbox
            *ngFor="let acl of aclList"
            [checked]="acl.isAssigned"
            class="pw-checkbox__input col-4"
            (change)="updateACL($event, acl.aclCode)"
          >
            <span class="pw-checkbox__label pw-message">{{
              acl.description
            }}</span></mat-checkbox
          >
        </li>
      </ul>
    </div>
  </ng-container>

  <ng-template #subModuleLabel>
    <div class="pw-text-center pw-fourth-color">
      <div class="pw-font-23"><b>SELECT A MODULE!</b></div>
    </div>
  </ng-template>
</div>
