<div class="row">
  <div class="col-12 ">
    <div class="row">
      <div class="col-12">
        <div [ngSwitch]="page">
          <div *ngSwitchCase="1">
            <poss-web-pancard-stepone-configuration
            *ngIf='(panCardDetails$|async)'

             [panCardDetails$]=" panCardDetails$"
              (tabOne)="addButton($event)"
            >
            </poss-web-pancard-stepone-configuration>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
