@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:
    url('./assets/fonts/ibm-plex/IBMPlexSansCondensed-Regular.ttf'),
    url('./assets/fonts/ibm-plex/IBMPlexSansCondensed-Medium.ttf'),
    url('./assets/fonts/ibm-plex/IBMPlexSansCondensed-Bold.ttf'),
    url('./assets/fonts/ibm-plex/IBMPlexSansCondensed-SemiBold.ttf');
}

@font-face {
  $montserrat: 'Montserrat';

  src:

    url('./assets/fonts/montserrat/Montserrat-Regular.ttf'),
    url('./assets/fonts/montserrat/Montserrat-Black.ttf'),
    url('./assets/fonts/montserrat/Montserrat-Bold.ttf');
}

// // body font size
$whole-body-font: 16;

// // function to convert px to em
@function em($pixels, $context: $whole-body-font) {
  @return #{$pixels/$context}em;
}

$poss-typography1: mat-typography-config(
  $font-family: '"IBM Plex Sans Condensed", sans-serif',
  $body-1: mat-typography-level(1em, 1.3, 400),
  $body-2: mat-typography-level(1em, 24px, 600),
  $subheading-1: mat-typography-level(1.06em, 1.3, 600),
  $caption: mat-typography-level(0.8em, 1.3, 300),
  $input: mat-typography-level(1em, 1.3, 500)
);

$poss-typography2: mat-typography-config(
  $font-family: 'Montserrat',
  $headline: mat-typography-level(3em, 1.3, 900)
);

//@include mat-core($poss-typography1);
@include angular-material-typography($poss-typography1);

$custom-palette: (
  50: #f6f4ee,
  100: #b0a16e,
  200: #7e6e38,
  300: #ed5b6b,
  400: #1eb496,
  500: #000,
  600: #ffff,
  700: #5e5d56,
  800: #ede9de;,
  900: #f8f8f8,
  A100: #efebe1,
  contrast: (
    100:#000,
    700:#000
  )
);

$poss-primary: mat-palette($custom-palette, 100, 50);

$poss-accent: mat-palette($custom-palette, 400);

$poss-warn: mat-palette($custom-palette, 300);

$poss-background: mat-palette($custom-palette, 50);

$poss-foreground: mat-palette($custom-palette, 500);

// Background palette for light themes.
$poss-light-theme-background: (
  status-bar: map-get($poss-background, default),
  app-bar: transparent,
  background: map-get($poss-background, default),
  hover: rgba(black, 0.04),
  // TODO(kara): check style with Material Design UX,
  card: map-get($custom-palette, 600),
  dialog: map-get($custom-palette, 600),
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map-get($custom-palette, 100),
  disabled-list-option: map_get($mat-grey, 200)
);

// Foreground palette for light themes.
$poss-light-theme-foreground: (
  base: map-get($poss-foreground, default),
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: default,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38)
);

// Creates a container object for a light theme to be given to individual component theme mixins.
@function mat-poss-light-theme($poss-primary, $poss-accent, $poss-warn) {
  @return (
    primary: $poss-primary,
    accent: $poss-accent,
    warn: $poss-warn,
    //return new variables
    background: $poss-light-theme-background,
    foreground: $poss-light-theme-foreground
  );
}
$poss-theme: mat-poss-light-theme($poss-primary, $poss-accent, $poss-warn);

//include theme
@include angular-material-theme($poss-theme);

// Customization

/** color **/
$primary-color: #f6f4ee;
$secondary-color: #000;
$fourth-color: #b0a16e;
$fifth-color: #5e5d56;
$sixth-color: #fff;
$seventh-color: #7e6e38;
$eigth-color: #ede9de;
$ninth-color: #f8f8f8;
$tenth-color: #efebe1;
$success-color: #1eb496;
$error-color: #ed5b6b;
$warning-color: #e89418;

:root {
  --secondary-color: #000;
  --fourth-color: #b0a16e;
  --sixth-color: #fff;
  --eigth-color: #ede9de;
}

$montserrat: 'Montserrat', sans-serif;
$ibm-plex-condensed: 'IBM Plex Sans Condensed', sans-serif;

a {
  color: map-get($poss-foreground, default);
}

.mat-drawer {
  background-color: map-get($poss-primary, 50);
}

.mat-toolbar {
  font-size: em(12.5);
}
