<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a (click)="back()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>{{ 'pw.weighttolerance.inventoryLable' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.weighttolerance.configurationLable' | translate }}
                </h5>
              </div>
            </div>
          </div>
          <div class="col-auto pw-top-heading-container__right-content">
            <button class="pw-btn pw-accent-btn" (click)="addNew()">
              {{ 'pw.weighttolerance.addNewLable' | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="row align-items-flex-end">
        <div class="col-auto">
          <div class="pw-mont-semibold-14">
            {{ 'pw.weighttolerance.weightTolerance' | translate }}
          </div>
        </div>

        <mat-form-field class="col-3 ml-auto pw-search-bar pw-form-field-padding-bottom-0" [formGroup]="searchForm">
          <input #searchBox matInput type="text" placeholder="    {{ 'pw.weighttolerance.searchLable' | translate }} "
            class="single-bordered-input" formControlName="searchValue" (keypress)="omit_special_char($event)" />
          <mat-icon matSuffix>
            <span class="pw-i-16 pw-search-icon-16" *ngIf="!searchForm.value.searchValue"></span>
          </mat-icon>
          <mat-icon matSuffix (click)="clearSearch()">
            <span *ngIf="searchForm.value.searchValue" class="pw-i-10 pw-close-icon-16"></span></mat-icon>
        </mat-form-field>
      </div>

      <poss-web-weight-tolerance-listing-items [configDetails]="configDetails$ | async"
        [totalCount]="totalCount$ | async" [pageEvent]="configDetailsListingPageEvent" (paginator)="paginate($event)"
        (loadSelectedConfigId)="loadSelectedWeightTolerance($event)" (toggleValue)='updateIsActive($event)'
        [pageSize]="pageSize"></poss-web-weight-tolerance-listing-items>
      <div *ngIf="(isLoading$ | async)">
        <poss-web-loader></poss-web-loader>
      </div>
      <div *ngIf="(hasError$ | async)?.code === searchErrorCode && !(configDetails$ | async)?.length"
        class="pw-message pw-text-center mg-t-100">
        <h3 class="m-auto">{{'pw.weighttolerance.noSearchResultText' | translate}}</h3>
      </div>
    </div>
  </div>
</div>