<ng-container>
  <ng-container *ngFor="let item of itemList">
    <poss-web-adjsutment-issue-item
      [tab]="tab"
      [item]="item"
      (updateItem)="updateItems($event)"
      (remove)="remove($event)"
      (selection)="selectionEmit($event)"
      [selectionEvents]="selectionAllSubject.asObservable()"
    >
    </poss-web-adjsutment-issue-item>
  </ng-container>
</ng-container>
