<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <!-- <div class="row m-0">
        <div class="pw-search-box">
          <span class="pw-i-16 pw-search-icon-16"></span>
          <input
            type="text"
            placeholder="Search Masters"
            class="pw-search-box__input"
          />
        </div>
      </div> -->
      <div class="row pt-5 pb-2">
        <div class="col-auto pr-0">
          <a (click)="back()">
            <span class="pw-i-24 pw-back-arrow-icon-24"></span>
          </a>
        </div>
        <div class="col-auto pl-0">
          <h4>
            {{'pw.inventoryMasters.product' | translate}} {{'pw.inventoryMasters.masters' | translate}}
          </h4>
        </div>
      </div>
      <div class="pw-bordered-list pw-no-border">
        <div class="d-flex flex-wrap mt-4 align-content-center">

          <a [routerLink]="[brandListUrl]" class="pw-bordered-list__card active">
            <div class="pw-bordered-list__item">
              {{'pw.inventoryMasters.brand' | translate}}
            </div>
          </a>

          <a [routerLink]="[subBrandListUrl]" class="pw-bordered-list__card active">
            <div class="pw-bordered-list__item">
              {{'pw.inventoryMasters.subBrand' | translate}}
            </div>
          </a>
          <a [routerLink]="[productCategoryListUrl]" class="pw-bordered-list__card active">
            <div class="pw-bordered-list__item">
              {{'pw.inventoryMasters.productCategory' | translate}}
            </div>
          </a>
          <a [routerLink]="[cfaProductListUrl]" class="pw-bordered-list__card active">
            <div class="pw-bordered-list__item">
              {{'pw.inventoryMasters.CFAProductCode' | translate}}
            </div>
          </a>
          <a [routerLink]="[itemMasterListUrl]" class="pw-bordered-list__card active">
            <div class="pw-bordered-list__item">
              {{'pw.inventoryMasters.itemMaster' | translate}}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>