
.pw-bg-input-box {
  margin-top: 5px;
  width: 115px;
  padding: 0 5px;
  font-size: 12px;
}

.mat-select {
  padding: 9px 9px;
}

@media (max-width: 767px) {
  .pw-btn {
    margin-top: 15px;
  }
}
