<div class="pw-form-card">
  <div class="row">
    <mat-form-field class="col-lg-3 col-4">
      <div class="pw-sub-heading pw-fourth-color">
        {{ 'pw.weighttolerance.configID' | translate }}
      </div>
      <input
        matInput
        type="text"
        class="pw-single-bordered-input"
        value="{{ configDetails.configId }}"
        readonly
      />
    </mat-form-field>

    <mat-form-field class="col-lg-3 col-4">
      <div class="pw-sub-heading pw-fourth-color">
        {{ 'pw.weighttolerance.configtype' | translate }}
      </div>
      <input
        matInput
        type="text"
        value="{{ configDetails.configType }}"
        class="pw-single-bordered-input"
        readonly
      />
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-4">
      <div class="pw-sub-heading pw-fourth-color">
        {{ 'pw.weighttolerance.productCategoryCode' | translate }}
      </div>
      <input
        matInput
        type="text"
        value="{{productCategoryValue }}"
        class="pw-single-bordered-input"
        readonly
      />
    </mat-form-field>


    <div class="col-auto ml-auto">
      <mat-slide-toggle
      [checked]="configDetails.isActive"
        (change)="change($event.checked)"
        (click)="$event.stopPropagation()"
      >
      </mat-slide-toggle>
    <!-- <mat-form-field class="col-2">
      <div class="pw-sub-heading pw-fourth-color">
        {{ 'pw.weighttolerance.organisationCodes' | translate }}
      </div>
      <input
        matInput
        type="text"
        class="pw-single-bordered-input"
        value="{{ configDetails.orgCode }}"
        readonly
      />
    </mat-form-field> -->
  </div>
  </div>

  <div class="row">
    <mat-form-field class="col-lg-9 col-12">
      <div class="pw-sub-heading pw-fourth-color">
        {{ 'pw.weighttolerance.description' | translate }}
      </div>
      <input
        matInput
        type="text"
        value="{{ configDetails.description }}"
        readonly
        class="pw-single-bordered-input"
      />
    </mat-form-field>
  </div>
  <div class="row align-items-center" [formGroup]="formData">
    <div class="col-md-8">
      <div class="row no-gutters pw-input-group">
        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.weighttolerance.CFAProductcode' | translate }}
          </div>
          <mat-select
            disableOptionCentering
            placeholder="Product Code"
            class="mat-select-cls pw-bg-input-box border-right"
            formControlName="productGroupCode"
            (selectionChange)="selctionChange($event)"
          >
            <mat-option
              *ngFor="let productGroupCode of productGroupCode"
              [value]="productGroupCode.productGroupCode"
            >
              {{ productGroupCode.productGroupCode }}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.weighttolerance.description' | translate }}
          </div>
          <input
            matInput
            type="text"
            class="pw-bg-input-box border-right"
            placeholder="Description"
            formControlName="descrption"
            readonly
            value="{{ description }}"
          />
        </div>
        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.weighttolerance.rangeWeight' | translate }}
          </div>
          <mat-select
            disableOptionCentering
            placeholder="Range Weight "
            class="mat-select-cls pw-bg-input-box border-right"
            formControlName="rangeWeight"
          >
            <mat-option
              *ngFor="let rangeWeight of rangeWeight"
              [value]="rangeWeight.id"
            >
              {{ rangeWeight.fromRange }}-{{ rangeWeight.toRange }}
            </mat-option>
            <h1>{{ rangeWeight.id }}</h1>
          </mat-select>
        </div>

        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.weighttolerance.toleranceLable' | translate }}
          </div>
          <input
            type="text"
            class="pw-bg-input-box pw-border-radius-right"
            formControlName="toleranceValue"
          />
        </div>
        <div class="col-auto ml-auto align-self-center">
          <mat-error
            class="error-color"
            *ngIf="formData.get('toleranceValue').hasError('pattern')"
          >
            {{
              'pw.weighttolerance_validations.tolaranceValidation' | translate
            }}
          </mat-error>
        </div>
      </div>
    </div>

    <div class="col-auto ml-auto">
      <button
        class="pw-btn pw-primary-btn"
        (click)="cancel()"
        [disabled]="formData.invalid"
      >
      {{ 'pw.weighttolerance.cancelLable' | translate }}
      </button>
    </div>
    <div class="col-auto">
      <button
        class="pw-btn pw-accent-btn"
        (click)="saveWeightTolerances()"
        [disabled]="formData.invalid"
      >
        {{ 'pw.weighttolerance.addButton' | translate }}
      </button>
    </div>
  </div>
</div>

<poss-web-weight-tolerance-line-item
  *ngFor="let toleranceItem of toleranceItem"
  [toleranceItem]="toleranceItem"
  [configDetails]="configDetails"
  [productGroupCode]="productGroupCode"
  [rangeWeight]="rangeWeight"
  (isEditEnable)="enableEdit($event)"
  (updateToleranceValue)="updateToleranceItem($event)"
></poss-web-weight-tolerance-line-item>
