<ng-container *ngIf="totalItemsCount !== 0">
  <ng-container *ngFor="let item of (items | async)">
    <poss-web-stock-issue-tep-gep-item
      [item]="item"
      [selectionEvents]="selectionAllSubject.asObservable()"
      (selection)="onSelectionEmit($event)"
    >
    </poss-web-stock-issue-tep-gep-item>
  </ng-container>

  <mat-paginator
    *ngIf="(items | async).length !== 0 && totalItemsCount > pageSize"
    [length]="totalItemsCount"
    [pageSize]="pageEvent.pageSize"
    [pageIndex]="pageEvent.pageIndex"
    showFirstLastButtons
    [pageSizeOptions]="pageSizeOptions"
    (page)="paginate($event)"
    class="pw-paginator"
  >
  </mat-paginator>
</ng-container>
