<ng-container *ngIf="count != 0">
  <ng-container *ngFor="let item of itemList">
    <poss-web-exhibition-issue-create-item
      [item]="item"
      [selectionEvents]="selectionAllSubject.asObservable()"
      (selection)="selectionEmit($event)"
      [SelectedTab]="SelectedTab"
      (quantity)="quantityChange($event)"
    >
    </poss-web-exhibition-issue-create-item>
  </ng-container>
  <mat-paginator
    class="pw-paginator"
    *ngIf="itemList?.length != 0 && count > pageSize"
    [length]="count"
    [pageSize]="pageEvent.pageSize"
    [pageIndex]="pageEvent.pageIndex"
    showFirstLastButtons
    [pageSizeOptions]="pageSizeOptions"
    (page)="paginate($event)"
  >
  </mat-paginator>
</ng-container>
