<div
  class="row pw-list-card"
  [formGroup]="itemForm"
  [ngClass]="disabled === true ? 'pw-disabled' : ''"
>
  <div
    class="col-auto px-2 align-self-center"
    *ngIf="
      requestType == interBoutiqueTransferRequestTypesEnumRef.RECEIVED &&
      selectedRequestStatus == interBoutiqueTransferStatusTypesEnumRef.REQUESTED
    "
  >
    <mat-checkbox
      (change)="isSelectedChange()"
      formControlName="isSelected"
    ></mat-checkbox>
  </div>
  <div class="col-auto pw-list-card__item pw-thumbnail-img">
    <poss-web-thumbnail
      [thumbnailSrc]="item.imageURL"
      [imageSrc]="item.imageURL"
      [alt]="item.productCategory"
    >
      <p class="pt-3">
        <b>{{ item.productCategory }}</b>
      </p>
      <p>
        {{ 'pw.interboutiqueTransfer.variantCodeThumbnailText' | translate }} -
        {{ item.itemCode }}
      </p>
    </poss-web-thumbnail>
  </div>
  <div class="col-auto pw-list-card__item pw-width-120">
    <div class="pw-sub-heading">
      {{ item.itemCode }}
    </div>
    <p>
      {{ item.lotNumber }}
    </p>
    <p>{{ item.mfgDate.format(dateFormat$ | async) }}</p>
    <p>{{ item.stdValue | currency: item.currencyCode }}</p>
  </div>
  <div class="pw-list-card__item col-1">
    <p>{{ item.productGroup }}</p>
    <p>
      {{ item.productCategory }}
    </p>
  </div>

  <div class="col-auto pw-list-card__item">
    <div class="row">
      <div class="col-auto pw-list-card__item">
        <div class="pw-sub-heading">
          <span
            *ngIf="
              requestType === interBoutiqueTransferRequestTypesEnumRef.SENT
            "
            >{{ 'pw.interboutiqueTransfer.itemListInlineText1' | translate }}
          </span>
          <span
            *ngIf="
              requestType === interBoutiqueTransferRequestTypesEnumRef.RECEIVED
            "
            >{{ 'pw.interboutiqueTransfer.itemListInlineText7' | translate }}
          </span>
          <span
            *ngIf="
              requestType === interBoutiqueTransferRequestTypesEnumRef.RECEIVED
            "
            >{{ 'pw.interboutiqueTransfer.itemListInlineText8' | translate }}
            {{ item.availableQuantity }}
          </span>
          <span
            *ngIf="
              requestType === interBoutiqueTransferRequestTypesEnumRef.RECEIVED
            "
          >
            {{ 'pw.interboutiqueTransfer.itemListInlineText9' | translate }}
            {{ item.requestedQuantity }}</span
          >
        </div>
        <input
          *ngIf="requestType === interBoutiqueTransferRequestTypesEnumRef.SENT"
          type="number"
          class="pw-bg-input-box"
          value="{{ item.requestedQuantity }}"
          placeholder="{{
            'pw.interboutiqueTransfer.itemListInlineText7' | translate
          }}"
          readonly
        />
        <input
          *ngIf="
            requestType === interBoutiqueTransferRequestTypesEnumRef.RECEIVED
          "
          type="number"
          class="pw-bg-input-box"
          formControlName="requestedQuantity"
          placeholder="{{
            'pw.interboutiqueTransfer.itemListInlineText7' | translate
          }}"
          readonly
        />
      </div>
      <div class="col-auto pw-list-card__item">
        <div class="pw-sub-heading">
          {{ 'pw.interboutiqueTransfer.itemListInlineText2' | translate }}
          ({{ item.weightUnit }})
        </div>
        <input
          type="text"
          class="pw-bg-input-box"
          value="{{ weightToDisplay }}"
          placeholder="{{
            'pw.interboutiqueTransfer.itemListInlineText2' | translate
          }}"
          readonly
        />
      </div>
      <div class="col-auto pw-list-card__item">
        <div class="pw-sub-heading">
          {{ 'pw.interboutiqueTransfer.itemListInlineText10' | translate }}
        </div>
        <input
          type="text"
          class="pw-bg-input-box"
          value="{{ item.binCode }}"
          placeholder="{{
            'pw.interboutiqueTransfer.itemListInlineText10' | translate
          }}"
          readonly
        />
      </div>
    </div>
  </div>
  <!-- status message -->
  <div
    class="col-auto pw-list-card__item pw-list-card__right-container pl-2 pr-2 text-right"
  >
    <div [ngClass]="getStatus(item.status)">
      <span class="pw-i-16" [ngClass]="getStatus(item.status)"></span>
      {{ status | titlecase }}
    </div>
  </div>
  <!-- out of stock message -->
  <div
    class="col-auto pw-list-card__item pw-list-card__right-container pl-2 pr-2 text-right"
    *ngIf="item.availableQuantity === 0"
  >
    <div class="pw-error-color pw-sub-heading">
      <span class="pw-i-16 pw-warning-icon-16"></span>
      {{ 'pw.interboutiqueTransfer.itemListInlineText5' | translate }}
    </div>
  </div>
</div>
