<div class="container-fluid">
  <div class="row">
    <div class="col-12 ">
      <ul class="row pw-slider align-items-center justify-content-end pw-width-300 pw-text-right">
        <li class="pw-slider-btn active">
          <button class="pw-rounded-btn" [routerLink]="[getAdvanceDetailsRouteUrl('1')]">
            1
          </button>
        </li>
        <li class="pw-slider-btn " [ngClass]="page == '2' || page == '3' ? 'active' : ''">
          <button class="pw-rounded-btn" [routerLink]="[getAdvanceDetailsRouteUrl('2')]">
            2
          </button>
        </li>
        <li class="pw-slider-btn " [ngClass]="page == '3' ? 'active' : ''">
          <button class="pw-rounded-btn" [routerLink]="[getAdvanceDetailsRouteUrl('3')]">
            3
          </button>
        </li>
      </ul>
      <div class="row">
        <div class="col-12">
          <div [ngSwitch]="page">
            <div *ngSwitchCase="1">
              <poss-web-advance-custom-orders-foc-configuration-stepone *ngIf="(advanceCustomOrderDetails$ | async)"
                [advanceAndCustomOrderFoc$]="advanceCustomOrderDetails$" [locationDetails$]="locationDetails$"
                (tabOne)="updateAdvanceCustomOrderTabOne($event)">

              </poss-web-advance-custom-orders-foc-configuration-stepone>
            </div>
            <div *ngSwitchCase="2">
              <poss-web-advance-custom-orders-foc-steptwo *ngIf="(advanceCustomOrderDetails$ | async)"
                [advanceAndCustomOrderFoc$]="advanceCustomOrderDetails$" [locationDetails$]="locationDetails$"
                (tabTwo)="updateAdvanceCustomOrderTabTwo($event)"></poss-web-advance-custom-orders-foc-steptwo>
            </div>
            <div *ngSwitchCase="3">
              <poss-web-advance-custom-orders-foc-stepthree
                *ngIf="(advanceCustomOrderDetails$ | async)&&(priceGroupCode$|async)"
                [advanceAndCustomOrderFoc$]="advanceCustomOrderDetails$" [priceGroupCode$]='priceGroupCode$'
                (tabThree)="updateAdvanceCustomOrderTabThree($event)"></poss-web-advance-custom-orders-foc-stepthree>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>