<div class="row">
  <div class="col-12 ">
    <div class="row">
      <div class="col-12">
        <div [ngSwitch]="page">
          <div *ngSwitchCase="1">
            <poss-web-brand-step-one *ngIf='(brandDetails$|async)' [brandDetails$]="brandDetails$"
              (tabOne)="addButton($event)">
            </poss-web-brand-step-one>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>