<div class="container-fluid pw-overlay-notification-gutter" [class.pw-overlay-notification-gutter]="hasNotification">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a>
              <span (click)="back()" class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-issue-stock-icon-36"></span>
              <div>
                <h2>{{ 'pw.returnInvoiceCFA.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.returnInvoiceCFA.subTitle' | translate }}
                  <span class="pw-fourth-color"></span>
                </h5>
              </div>
            </div>
          </div>

          <!-- <mat-form-field
            appearance="outline"
            floatLabel="never"
            class="col-lg-2 col-md-4 col-6 ml-auto pw-selectable-dropdown"
          >
            <mat-select
              panelClass="pw-panel-primary"
              disableOptionCentering
              placeholder="Select CFA"
              (selectionChange)="change($event)"
            >
              <mat-option
                *ngFor="let cfaMasterDetails of cfaMasterDetails"
                [value]="cfaMasterDetails.CFAName"
                >{{ cfaMasterDetails.CFAName }}</mat-option
              >
            </mat-select>
          </mat-form-field> -->
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-6 pw-grid-card">
            <div class="pw-grid-card__item pw-is-active-bar">
              <h4>To:</h4>
              <p>
                {{ CFAddress?.description }} ({{ CFAddress?.locationCode }})
              </p>
              <p>{{ CFAddress?.address }}</p>
            </div>
          </div>
        </div>
      </div>

        <poss-web-search-list placeholder="{{ 'pw.returnInvoiceCFA.searchLabel' | translate }}" [itemList]="
            (searchedItems$ | async).length > 1 ? (searchedItems$ | async) : []
          " [multipleSelection]="true" (search)="onSearch($event)" (selected)="addToCart($event)" [hasResults]="
            !(
              (hasSearchedItems$ | async) &&
              (searchedItems$ | async).length === 0
            )
          " >
          <ng-template let-item="data">
            <poss-web-return-invoice-cfa-item [cart]="false" [item]="item" (selection)="selectionEmit($event)"
              [selectionEvents]="selectionAllSubject.asObservable()">
            </poss-web-return-invoice-cfa-item>
          </ng-template>
        </poss-web-search-list>

      <div class="row align-items-flex-end pw-filter-box">
        <div class="col-lg-7">
          <div class="row" [formGroup]="selectForm">
            <mat-radio-group aria-label="Select an option" class="col-auto" (change)="selectChange()"
              formControlName="selectRadioButton">
              <mat-radio-button value="1" class="mr-3">
                <p>
                  {{ 'pw.returnInvoiceCFA.selectAllProdcutsLabel' | translate }}
                </p>
              </mat-radio-button>
              <mat-radio-button value="2">
                <p>
                  {{ 'pw.returnInvoiceCFA.selectPageWiseLabel' | translate }}
                </p>
              </mat-radio-button>
            </mat-radio-group>
            <div class="col-auto ml-auto ml-lg-0">
              <a (click)="clearAll()">
                <p>
                  <span class="pw-i-16 pw-clear-icon-16"></span>
                  {{ 'pw.returnInvoiceCFA.clearAllLabel' | translate }}
                </p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-5 mt-lg-0">
          <div class="row pw-filter-box__right-content">
            <div class="col-auto">
              <a (click)="openFilter()">
                <p>
                  <span class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"></span>
                  {{ 'pw.returnInvoiceCFA.filterLabel' | translate }}
                </p>
              </a>
            </div>
            <div class="col-auto">
              <a (click)="openSortDailog()">
                <p>
                  <span class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"></span>
                  {{ 'pw.returnInvoiceCFA.sortLabel' | translate }}
                </p>
              </a>
            </div>
            <poss-web-search class="col-lg-6 col-4 ml-auto ml-lg-0" placeholder="{{
                'pw.binToBinTransfer.searchByVariantCodePlaceholderText'
                  | translate
              }}" (search)="search($event)" (clear)="onSearchClear()">
            </poss-web-search>
          </div>
        </div>
      </div>
      <poss-web-return-invoice-cfa-itemlist [count]="
          selectedProductsSearchCount != null
            ? selectedProductsSearchCount
            : totalItemsCount
        " [itemList]="CFAItems$ | async" [haspaginator]="true" (updateItem)="updateItem($event)"
        (removeItem)="removeItem($event)" [pageSizeOptions]="pageSizeOptions" [pageEvent]="issuedItemsPageEvent"
        [minPageSize]="minPageSize" (paginator)="CFAPaginatedItems($event)" (selection)="selectionEmit($event)"
        [selectionEvents]="selectionAllSubject.asObservable()" [resetPagination]="resetPagination.asObservable()">
      </poss-web-return-invoice-cfa-itemlist>

      <poss-web-loader *ngIf="(isSearchingItems$ | async)"> </poss-web-loader>
      <!-- <div
        *ngIf="
          searchCount === 0 ||
          ((hasSearchedItems$ | async) === false ||
            (hasSearchedItems$ | async) === undefined)
        "
        class="pw-success-color pw-message pw-text-center mg-t-100"
      >
        No Search Result
      </div> -->

      <poss-web-loader *ngIf="(isLoading$ | async)"> </poss-web-loader>
      <div *ngIf="
          (CFAItems$ | async)?.length == 0 &&
          selectedProductsSearchCount == null && CFAddress!==null
        " class="pw-success-color pw-message pw-text-center mg-t-100">
        {{ 'pw.returnInvoiceCFA.noProductAddedLabel' | translate }}
      </div>
      <div *ngIf="CFAddress==null" class="pw-success-color pw-message pw-text-center mg-t-100">
        No CFA configured
      </div>
      <div *ngIf="
          selectedProductsSearchCount == 0 ||
          ((hasSelectedProductsSearchedItems$ | async) === false ||
            (hasSelectedProductsSearchedItems$ | async) === undefined)
        " class="pw-success-color pw-message pw-text-center mg-t-100">
        {{ 'pw.returnInvoiceCFA.noSearchResultLabel' | translate }}
      </div>
    </div>
  </div>
</div>
<ng-template #confirmSuccessNotificationTemplate>
  <div class="pw-text-center">
    <h3 class="pw-success-color">
      Successfully Issued
    </h3>
    <div class="pt-2">
      <!-- Check this Bin status in In-Stock management section -->
    </div>
    <h5 class="pw-success-color pt-2">The invoice number generated is {{invoiceNumber}}</h5>
    <h6 class="pw-success-color pt-2"><span class="pw-i-16 pw-download-icon-16"></span> Download Report</h6>
  </div>
</ng-template>
