// .pw-close-icon-16 {
//   position: absolute;
//   top: 3px;
//   right: 18px;
// }

a {
  cursor: pointer;
}

// .pw-search-icon-16 {
//   top: 10px;
//   left: 2px;
// }
.pw-search-icon-16 {
  top: 10px;
  right: 6px;
}

.pw-close-icon-16 {
  cursor: pointer;
}
