.role-form-fields {
  width: 100%;
}

.pw-confirmation-box {
  &__icon-btn {
    width: 25px;
    height: 25px;
    line-height: 30px;
  }

  &__body {
    padding: 15px 25px;
  }

  &__input {
    margin: 15px 0;

    .single-bordered-input {
      padding-left: 0;
    }
  }

  &__footer {
    justify-content: flex-end;
    margin-top: 0;
  }
}

textarea {
  resize: none !important;
}
