<form [formGroup]="roleForm">
  <div class="pw-confirmation-box">
    <div class="row pw-confirmation-box__header">
      <div class="col-auto">
        {{
          (data
            ? 'pw.rolemanagementform.editroleTitle'
            : 'pw.rolemanagementform.createnewroleTitle') | translate
        }}
      </div>
      <div class="col pw-text-right">
        <button
          mat-icon-button
          mat-dialog-close="close"
          class="pw-confirmation-box__icon-btn"
        >
          <mat-icon class="pw-sub-heading">
            <span class="pw-i-10 pw-close-icon-16"></span>
          </mat-icon>
        </button>
      </div>
    </div>

    <div mat-dialog-content class="pw-confirmation-box__body">
      <div
        *ngIf="!roleForm.get('roleType').disabled; else roleTypeLabel"
        class="pw-confirmation-box__input"
      >
        <div class="pw-fourth-color">
          {{ 'pw.rolemanagementform.roleforlabeltext' | translate }}
        </div>
        <mat-radio-group formControlName="roleType" class="row">
          <div class="col-auto">
            <mat-radio-button value="CORP">{{
              'pw.rolemanagementform.corporate' | translate
            }}</mat-radio-button>
          </div>
          <div class="col-auto">
            <mat-radio-button value="REG">{{
              'pw.rolemanagementform.regional' | translate
            }}</mat-radio-button>
          </div>
          <div class="col-auto">
            <mat-radio-button value="BTQ">{{
              'pw.rolemanagementform.boutique' | translate
            }}</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <ng-template #roleTypeLabel>
        <div class="pw-confirmation-box__body-item ">
          <p class="pw-fourth-color">
            {{ 'pw.rolemanagementform.roleforlabeltext' | translate }}*
          </p>
          <div>
            {{
              (roleForm.controls['roleType'].value == 'BTQ'
                ? 'pw.rolemanagementform.boutique'
                : roleForm.controls['roleType'].value == 'CORP'
                ? 'pw.rolemanagementform.corporate'
                : 'pw.rolemanagementform.regional') | translate
            }}
          </div>
        </div>
      </ng-template>

      <div
        *ngIf="!roleForm.get('roleCode').disabled; else roleCodeLabel"
        class="pw-confirmation-box__input"
      >
        <div class="row">
          <mat-form-field class="col-12">
            <input
              matInput
              required
              maxlength="100"
              placeholder="{{
                'pw.rolemanagementform.rolecodePlaceholderText' | translate
              }}"
              formControlName="roleCode"
            />

            <mat-error *ngIf="roleForm.get('roleCode').hasError('required')"
              >{{
                'pw.rolemanagementform.rolecodeRequiredErrorMessage' | translate
              }}
            </mat-error>
            <mat-error *ngIf="roleForm.get('roleCode').hasError('maxlength')"
              >{{
                'pw.rolemanagementform.rolecodeMaxlengthErrorMessage'
                  | translate
              }}
            </mat-error>
            <mat-error *ngIf="roleForm.get('roleCode').hasError('pattern')"
              >{{
                'pw.rolemanagementform.rolecodeInvalidErrorMessage' | translate
              }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <ng-template #roleCodeLabel>
        <div class="pw-confirmation-box__body-item">
          <p class="pw-fourth-color">
            {{ 'pw.rolemanagementform.rolecodePlaceholderText' | translate }}*
          </p>
          <div>{{ roleForm.controls['roleCode'].value }}</div>
        </div>
      </ng-template>

      <div class="pw-confirmation-box__input">
        <div class="row">
          <mat-form-field class="col-12">
            <input
              matInput
              required
              maxlength="100"
              placeholder="{{
                'pw.rolemanagementform.rolenamePlaceholderText' | translate
              }}"
              formControlName="roleName"
            />

            <mat-error *ngIf="roleForm.get('roleName').hasError('required')"
              >{{
                'pw.rolemanagementform.rolenameRequiredErrorMessage' | translate
              }}
            </mat-error>
            <mat-error *ngIf="roleForm.get('roleName').hasError('maxlength')"
              >{{
                'pw.rolemanagementform.rolenameMaxlengthErrorMessage'
                  | translate
              }}
            </mat-error>
            <mat-error *ngIf="roleForm.get('roleName').hasError('pattern')"
              >{{
                'pw.rolemanagementform.rolenameInvalidErrorMessage' | translate
              }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="pw-confirmation-box__input">
        <div class="row">
          <mat-form-field class="col-12">
            <textarea
              matInput
              required
              maxlength="250"
              placeholder="{{
                'pw.rolemanagementform.descriptionPlaceholderText' | translate
              }}"
              formControlName="description"
            ></textarea>

            <mat-error *ngIf="roleForm.get('description').hasError('required')"
              >{{
                'pw.rolemanagementform.descriptionRequiredErrorMessage'
                  | translate
              }}
            </mat-error>
            <mat-error *ngIf="roleForm.get('description').hasError('maxlength')"
              >{{
                'pw.rolemanagementform.descriptionMaxlengthErrorMessage'
                  | translate
              }}
            </mat-error>
            <mat-error *ngIf="roleForm.get('description').hasError('pattern')"
              >{{
                'pw.rolemanagementform.descriptionInvalidErrorMessage'
                  | translate
              }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div
        class="pw-confirmation-box__input"
        *ngIf="
          data && data.corpAccess && roleForm.get('roleType').value === 'BTQ'
        "
      >
        <mat-checkbox disabled="true" class="pw-checkbox__input">
          <span class="pw-checkbox__label">{{
            'pw.rolemanagementform.corpAccessCheckboxText' | translate
          }}</span></mat-checkbox
        >
      </div>
    </div>

    <div class="pw-confirmation-box__footer row">
      <div class="col-auto">
        <button
          type="button"
          class="pw-btn pw-primary-btn"
          mat-raised-button
          (click)="createRoleForm(data)"
        >
          {{
            (data
              ? 'pw.rolemanagementform.resetButtonText'
              : 'pw.rolemanagementform.clearButtonText') | translate
          }}
        </button>
      </div>
      <div class="col-auto">
        <button
          class="pw-btn pw-accent-btn"
          mat-raised-button
          (click)="submitForm()"
        >
          {{ 'pw.rolemanagementform.saveButtonText' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
