<div class="pw-detail-card" *ngIf="editenable">
  <div class="row " [formGroup]="formData">
    <div class="col-md-8">
      <div class="row no-gutters pw-input-group">
        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.weighttolerance.CFAProductcode' | translate }}
          </div>
          <mat-select
            disableOptionCentering
            placeholder="Product Code"
            class="mat-select-cls pw-bg-input-box border-right"
            formControlName="productGroupCode"
            (selectionChange)="change($event)"
            [(ngModel)]="selected1"
          >
            <mat-option
              *ngFor="let productGroupCode of productGroupCode"
              [value]="productGroupCode.productGroupCode"
            >
              {{ productGroupCode.productGroupCode }}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.weighttolerance.description' | translate }}
          </div>
          <input
            matInput
            type="text"
            class="pw-bg-input-box border-right"
            placeholder="Description"
            value="{{ description}}"
            readonly
          />
        </div>
        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.weighttolerance.rangeWeight' | translate }}
          </div>
          <mat-select
            disableOptionCentering
            placeholder="Range Weight"
            class="mat-select-cls pw-bg-input-box border-right"
            formControlName="rangeWeightValue"
            [(ngModel)]="selected2"
          >
            <mat-option
              *ngFor="let rangeWeight of rangeWeight"
              [value]="rangeWeight.id"
            >
              {{ rangeWeight?.fromRange }}-{{ rangeWeight?.toRange }}
            </mat-option>

          </mat-select>
        </div>

        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.weighttolerance.toleranceLable' | translate }}
          </div>
          <input
            type="text"
            class="pw-bg-input-box pw-border-radius-right"
            formControlName="toleranceValue"
            value="{{ toleranceItem.value }}"
          />
        </div>
        <div class="col-auto ml-auto align-self-center">
          <mat-error
            class="error-color"
            *ngIf="formData.get('toleranceValue').hasError('pattern')"
          >
            {{
              'pw.weighttolerance_validations.tolaranceValidation' | translate
            }}
          </mat-error>
        </div>
      </div>
    </div>
    <div class="col-auto ml-auto align-self-center">
      <button
        class="pw-btn pw-accent-btn"
        [disabled]="formData.invalid"
        (click)="updateTolerance()"
      >
        {{ 'pw.weighttolerance.saveLable' | translate }}
      </button>
    </div>
  </div>
</div>

<div class="pw-detail-card" *ngIf="!editenable">
  <div class="row">
    <div class="col-auto pw-detail-card__detail-header">
      <p>CFA Product Code</p>
    </div>
    <div class="col-auto pw-detail-card__detail-header">
      <p>Description</p>
    </div>
    <div class="col-auto pw-detail-card__detail-header">
      <p>Range Weight</p>
    </div>

    <div class="col-auto pw-detail-card__detail-header">
      <p>Tolerance (in Gms)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-auto pw-detail-card__detail-body">
      <div>{{ toleranceItem.productGroupCode }}</div>
    </div>
    <div class="col-auto pw-detail-card__detail-body">
      <div>{{ productGroupCodedescription }}</div>
    </div>
    <div class="col-auto pw-detail-card__detail-body">
      <div>{{ rangeData?.fromRange }}-{{ rangeData?.toRange }}</div>
    </div>
    <!-- <div class="col-auto pw-detail-card__detail-body">
      <div>{{ toleranceItem.percentage }}</div>
    </div> -->
    <div class="col-auto pw-detail-card__detail-body">
      <div>{{ toleranceItem.value }}</div>
    </div>
    <div class="col-auto ml-auto align-self-center">
      <a (click)="edit()">
        <span class="pw-mont-semibold-14 pw-fourth-color pw-position-text">
          Edit &nbsp;</span
        >
        <span class="pw-i-24 pw-edit-icon-24"></span>
      </a>
    </div>
  </div>
</div>
