<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)="backArrow()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>{{ 'pw.locationMaster.mainLocationlabel' | translate}}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.locationMaster.mainSetuplabel' | translate}} <span class="seventh-color"></span>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-auto pw-top-heading-container__right-content">
            <button (click)="getCorporateTownCode('NEW')"
              class="pw-btn pw-accent-btn">
                {{'pw.corporateTown.addNewLabel' | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="pw-mont-semibold-14">
            {{'pw.corporateTown.corporateTown' | translate}}
          </div>
        </div>
      <mat-form-field
      class="col-3 ml-auto pw-search-bar pw-form-field-padding-bottom-0"
        [formGroup]="searchForm">
      <input
        #searchBox
        matInput
        type="text"
        placeholder=" {{'pw.corporateTown.searchLabel' | translate}}"
        class="single-bordered-input"
        formControlName="searchValue"
        (keypress)="omit_special_char($event)"
      />
      <mat-icon matSuffix>
        <span class="pw-i-16 pw-search-icon-16" *ngIf="!searchForm.value.searchValue"></span>
      </mat-icon>
      <mat-icon matSuffix (click)="clearSearch()">
        <span *ngIf="searchForm.value.searchValue" class="pw-i-10 pw-close-icon-16"></span
      ></mat-icon>
    </mat-form-field>
      </div>

      <poss-web-corporate-town-list-items
      *ngIf="this.searchElement.length === 0 && !noSearchFound"
      [corporateTownDetailsList]="corporateTownDetailsList$ | async"
      [count]="corporateTownCount$ | async"
      [pageEvent]="corporateTownPageEvent"
      (paginator)="paginate($event)"
      (corporateTownCode)="getCorporateTownCode($event)"
    >
    </poss-web-corporate-town-list-items>

        <poss-web-corporate-town-list-items
        *ngIf="this.searchElement.length > 0 && !noSearchFound"
        [corporateTownDetailsList]="searchElement"
       (corporateTownCode)="getCorporateTownCode($event)"
       >
       </poss-web-corporate-town-list-items>




    <div *ngIf="noSearchFound" class="row">
      <h3 class="m-auto">{{'pw.corporateTown.searchNotFount' | translate}}</h3>
    </div>
      </div>

      <poss-web-loader *ngIf="(isLoading$|async)"> </poss-web-loader>
    </div>
  </div>

