<!-- <router-outlet *ngIf="(loginStatus$ | async)"></router-outlet> -->
<mat-sidenav-container class="sidenav-container" role="main">
  <mat-toolbar *ngIf="(loginStatus$ | async) === 'LOGGED_IN'">
    <mat-toolbar-row>
      <span class="top-navbar__logo">
        <a [routerLink]="['inventory']" class="pw-i-64 pw-logo-icon-64"> </a>
      </span>
      <button
        *ngIf="(isHandset$ | async)"
        (click)="sidenav.toggle()"
        class="hamberger"
        mat-icon-button
        title="Sub Menu"
      >
        <mat-icon>
          <span class="pw-i-24 pw-menu-icon-24"></span>
        </mat-icon>
      </button>
      <poss-web-top-menu></poss-web-top-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <img src="./assets/img/bg-top.svg" class="pw-bg-img" alt="background_img" />

  <mat-sidenav #sidenav class="pw-sidenav">
    <poss-web-navbar
      (logout)="logOut()"
      (sideNavToggle)="sidenav.toggle()"
      [ACLMap]="ACLMap$ | async"
      [username]="username$ | async"
      [sidenav]="sidenav$ | async"
    ></poss-web-navbar>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
