.sidenav-container {
  height: 100%;
}

.sidenav-content {
  height: calc(100vh - 84px);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  // position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 84px;
}

.top-navbar {
  &__logo {
    margin: 10px 12px;
  }
}

.hamberger {
  margin-right: 40px;
}

.text-right {
  text-align: right !important;
}

@media (max-width: 991px) {
  .top-navbar {
    &__logo {
      position: absolute;
      margin: 0;
      left: 45%;
    }
  }
}

a {
  cursor: pointer;
}
