// TODO : Add in global
.pw-search-icon-16 {
  top: 10px;
  right: 10px;
}

.pw-clickable {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.pw-search-container {
  padding-top: 15px;
  padding-bottom: 15px;
}
