<div
  class="container-fluid pw-overlay-notification-gutter"
  [class.pw-overlay-notification-gutter]="hasNotification"
  [formGroup]="binToBinTransferForm"
>
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a [routerLink]="['/', 'inventory', 'instock']">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-instock-icon-36"></span>
              <div>
                <h2>{{ 'pw.binToBinTransfer.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.binToBinTransfer.subTitle' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
        <h3>
          {{ 'pw.binToBinTransfer.heading' | translate }}
        </h3>
      </div>
      <div class="pw-search-container">
        <div class="row align-items-baseline mt-2">
          <mat-form-field class="col-lg-2 pw-selectable-dropdown">
            <mat-select
              #transferByDropdown
              disableOptionCentering
              placeholder="{{
                'pw.binToBinTransfer.selectByPlaceholderText' | translate
              }}"
              formControlName="transferBy"
            >
              <mat-option
                *ngFor="let option of selectByOptions"
                [value]="option.code"
                >{{ option.translationKey | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <poss-web-search-list
            class="col-lg-10"
            [itemList]="isSearchByVariantCode() ? searchedItemList : []"
            [multipleSelection]="true"
            [placeholder]="
              isSearchByVariantCode()
                ? ('pw.binToBinTransfer.searchByvariantCodePlaceholder'
                  | translate)
                : 'Search ' +
                  (selectByKeyMap.get(
                    binToBinTransferForm.get('transferBy').value
                  ) | translate)
            "
            [hasResults]="
              !(
                isSearchByVariantCode() &&
                (hasSearchedItems$ | async) &&
                searchedItemList.length == 0 &&
                !isAddedToCart
              )
            "
            (search)="search($event)"
            (clear)="onSearchClear()"
            (selected)="onSearchItemsSelected($event)"
          >
            <ng-template let-item="data">
              <poss-web-bin-to-bin-transfer-item
                [canSelect]="false"
                [item]="item"
                [showSourceBin]="true"
              ></poss-web-bin-to-bin-transfer-item>
            </ng-template>
          </poss-web-search-list>
        </div>
      </div>
      <ng-container *ngIf="!isSearchByVariantCode()">
        <div class="pw-message mb-3">
          Select
          {{
            selectByKeyMap.get(binToBinTransferForm.get('transferBy').value)
              | translate
          }}
        </div>

        <poss-web-card-list
          [count]="itemGroupsTotalCount$ | async"
          [dataList]="itemGroups$ | async"
          [pageSize]="pageSize"
          (loadMore)="loadList($event)"
          (selected)="onSelected($event)"
        >
          <ng-template let-info="data">
            <poss-web-card-title> {{ info.name }} </poss-web-card-title>
            <poss-web-card-subtitle>
              {{ info.products }}
              {{ 'pw.binToBinTransfer.porductsLableText' | translate }}
            </poss-web-card-subtitle>
            <poss-web-card-content>
              <div class="mt-3">
                <p>{{ info.totalValue | currency: info.currencyCode }}</p>
                <p>{{ info.totalWeight }} {{ info.weightUnit }}</p>
              </div>
            </poss-web-card-content>
          </ng-template>
        </poss-web-card-list>
        <h3
          class="pw-text-center m-5"
          *ngIf="
            (isLoadingItemListGroup$ | async) === false &&
            (itemGroups$ | async).length == 0
          "
        >
          {{ 'pw.binToBinTransfer.noResultsFoundMessage' | translate }}
        </h3>
      </ng-container>

      <ng-container *ngIf="isSearchByVariantCode() && allItemList.length != 0">
        <div class="row align-items-center">
          <div class="col-auto pw-message ">
            {{ 'pw.binToBinTransfer.productListLable' | translate }}
          </div>

          <div class="col-lg-4 col-md-4 col-6 ml-auto pb-3 pw-text-right">
            <p class="pb-1">
              {{
                'pw.binToBinTransfer.selectDestinationBinLableText' | translate
              }}
            </p>
            <button
              mat-flat-button
              class="pw-btn pw-cta-btn"
              (click)="openBinSelectionPopup()"
            >
              <div class="row no-gutters">
                <div class="col-auto">
                  <p>
                    <ng-container *ngIf="selectedBin; else showSelectBin">
                      {{ selectedBin.binCode }}
                    </ng-container>
                    <ng-template #showSelectBin>
                      {{
                        'pw.binToBinTransfer.selectDestinationBinLableText'
                          | translate
                      }}
                    </ng-template>
                  </p>
                </div>
                <div class="col-auto ml-auto">
                  <span class="pw-i-16 pw-bin-icon-16"></span>
                </div>
              </div>
            </button>
          </div>
        </div>

        <div class="row align-items-flex-end pw-filter-box">
          <div class="col-lg-7">
            <div class="row align-items-baseline">
              <mat-radio-group formControlName="selectItems" class="col-auto">
                <mat-radio-button value="selectAll">
                  <p>
                    {{
                      'pw.binToBinTransfer.selectAllCheckBoxLable' | translate
                    }}
                  </p>
                </mat-radio-button>
              </mat-radio-group>
              <div
                *ngIf="selectedItems.length > 0 && itemList.length > 1"
                class="col-auto ml-auto ml-lg-0"
              >
                <a (click)="resetSelection()" class="pw-clickable">
                  <p>
                    <span class="pw-i-16 pw-clear-icon-16"></span>
                    {{ 'pw.binToBinTransfer.clearAllLable' | translate }}
                  </p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="row pw-filter-box__right-content align-items-flex-end">
              <div class="col-auto">
                <a (click)="openFilter()">
                  <p>
                    <span
                      class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"
                    ></span>
                    {{ 'pw.binToBinTransfer.filterLable' | translate }}
                  </p>
                </a>
              </div>
              <div class="col-auto">
                <a (click)="openSortDailog()">
                  <p>
                    <span
                      class="pw-i-16 pw-sort-icon-16 pw-filter-box__icon"
                    ></span>

                    {{ 'pw.binToBinTransfer.sortLable' | translate }}
                  </p>
                </a>
              </div>
              <poss-web-search
                class="col-lg-6 col-4 ml-auto ml-lg-0"
                placeholder="{{
                  'pw.binToBinTransfer.searchByVariantCodePlaceholderText'
                    | translate
                }}"
                (search)="searchInCart($event)"
                (clear)="clearSearchofCart()"
              >
              </poss-web-search>
            </div>
          </div>
        </div>

        <poss-web-bin-to-bin-transfer-item-list
          [itemList]="itemList"
          [canDelete]="true"
          [showSourceBin]="true"
          [showDestinationBin]="true"
          [bins]="bins"
          [canSelect]="true"
          (delete)="onDelete($event)"
          (updateItem)="onUpdateItem($event)"
        ></poss-web-bin-to-bin-transfer-item-list>

        <h3 class="pw-text-center m-5" *ngIf="itemList.length == 0">
          {{ 'pw.binToBinTransfer.noResultsFoundMessage' | translate }}
        </h3>
      </ng-container>

      <poss-web-loader
        *ngIf="(isSearchingItems$ | async) || (isLoadingItemListGroup$ | async)"
      >
      </poss-web-loader>
    </div>
  </div>
</div>
