<div [formGroup]="itemForm" class="row pw-list-card">
  <div class="col-auto pw-list-card__item   pw-thumbnail-img">
    <poss-web-thumbnail
      [thumbnailSrc]="item.imageURL"
      [imageSrc]="item.imageURL"
      [alt]="item.productCategory"
    >
      <p class="pt-3">
        <b>{{ item.productCategory }}</b>
      </p>
      <p>
        {{ 'pw.stockReceive.variantCodeLableText' | translate }} -
        {{ item.itemCode }}
      </p>
    </poss-web-thumbnail>
  </div>
  <div class="col-auto pw-list-card__item pw-width-120">
    <div class="pw-sub-heading">
      {{ item.itemCode }}
    </div>
    <p>{{ item.lotNumber }}</p>
    <p *ngIf="item.mfgDate">{{ item.mfgDate.format('DD-MMM-YYYY') }}</p>
    <p>
      {{ item.stdValue | currency: 'INR' }}
    </p>
  </div>
  <div class=" col-1 pw-list-card__item">
    <div class="pw-sub-heading">{{ item.orderType }}</div>
    <p>{{ item.productGroup }}</p>
    <p>{{ item.productCategory }}</p>
  </div>
  <div class="col-auto pw-list-card__item">
    <div class="row no-gutters pw-input-group">
      <div class="col-auto">
        <div class="pw-sub-heading">
          {{ 'pw.stockReceive.itemQuantityLableText' | translate }}
          {{ item.availableQuantity }}
        </div>
        <input
          type="number"
          class="pw-bg-input-box border-right
        pw-border-radius-left pw-width-65"
          placeholder="{{
            'pw.stockReceive.measuredQuantityPlaceholderText' | translate
          }}"
          formControlName="measuredQuantity"
          readonly
        />
      </div>
      <div class=" col-auto">
        <div class="pw-sub-heading">
          {{ 'pw.stockReceive.itemWeightLableText' | translate }}
          <span>{{ item.availableWeight }} ({{ item.weightUnit }}) </span>
        </div>
        <input
          type="number"
          step="0.001"
          class="pw-bg-input-box border-right"
          [ngClass]="{
            'pw-error-bg':
              (itemForm.get('measuredWeight').dirty &&
                itemForm.get('measuredWeight').invalid) ||
              isWeightMismatch,
            'pw-success-bg': itemForm.get('measuredWeight').valid
          }"
          placeholder="{{
            'pw.stockReceive.measuredWeightPlaceholderText' | translate
          }}
          "
          formControlName="measuredWeight"
          (blur)="measuredWeightChange()"
        />
      </div>

      <div class="col-auto">
        <div class="pw-sub-heading">
          {{ 'pw.stockReceive.assginedBinLableText' | translate }}
        </div>

        <mat-select
          disableOptionCentering
          [ngClass]="{
            'pw-error-bg': itemForm.get('binGroupCode').value != binGroupCode,
            'pw-success-bg': itemForm.get('binGroupCode').value == binGroupCode
          }"
          class="mat-select-cls pw-bg-input-box pw-border-radius-right"
          formControlName="binGroupCode"
          placeholder="{{
            'pw.stockReceive.selectPlaceholderText' | translate
          }}"
        >
          <mat-option
            *ngFor="let bin of binGroupCodes"
            [value]="bin"
            [hidden]="
              (itemForm.get('measuredWeight').value == null &&
                bin == stockItemBinGroupCodeEnumRef.DISPUTE) ||
              (!isWeightMismatch &&
                bin == stockItemBinGroupCodeEnumRef.DISPUTE) ||
              (itemForm.get('measuredWeight').value != null &&
                isWeightMismatch &&
                bin != stockItemBinGroupCodeEnumRef.DISPUTE)
            "
          >
            {{ bin }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div
    class="col-auto pw-list-card__item"
    *ngIf="
      itemForm.get('binGroupCode').value ===
      stockItemBinGroupCodeEnumRef.DEFECTIVE
    "
  >
    <div class="pw-sub-heading">
      {{ 'pw.stockReceive.remarksLableText' | translate }}
    </div>
    <mat-select
      disableOptionCentering
      class="mat-select-cls pw-bg-input-box pw-border-radius-right pw-error-bg"
      formControlName="remarkGroupCode"
      placeholder="{{ 'pw.stockReceive.selectPlaceholderText' | translate }}"
      (selectionChange)="updateItem()"
    >
      <mat-option *ngFor="let remark of remarks" [value]="remark.code">
        {{ remark.value }}</mat-option
      >
    </mat-select>
  </div>

  <div
    class="col-auto pw-width-150 pw-list-card__item "
    *ngIf="isVerified && itemForm.get('binGroupCode').value === binGroupCode"
  >
    <div class="pw-sub-heading">
      {{ 'pw.stockReceive.assginedBinCodeLableText' | translate }}
    </div>
    <button
      mat-flat-button
      class="pw-btn pw-accent-btn pw-w-100"
      (click)="openBinSelectionPopup()"
    >
      <div class="row no-gutters pw-text-left">
        <div class="col pw-text-overflow-ellipisis">
          <p>
            <ng-container *ngIf="selectedBinCode; else showSelectBin">
              {{ selectedBinCode }}
            </ng-container>
            <ng-template #showSelectBin>
              {{ 'pw.stockReceive.selectBinCodeLable' | translate }}
            </ng-template>
          </p>
        </div>
        <div class="col-auto ml-auto">
          <span class="pw-i-16 pw-bin-icon-16"></span>
        </div>
      </div>
    </button>
  </div>
  <div class="flex-fill"></div>
  <div
    class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
    *ngIf="
      isWeightMismatch && !itemForm.get('measuredWeight').hasError('minZero')
    "
  >
    <span class="pw-i-16 pw-warning-icon-16"></span>
    {{ 'pw.stockReceive.weightMismatchErrorMessage' | translate }}
  </div>

  <div
    class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
    *ngIf="
      itemForm.get('measuredQuantity').hasError('min') ||
      itemForm.get('measuredQuantity').hasError('max')
    "
  >
    <span class="pw-i-16 pw-warning-icon-16"></span>
    {{ 'pw.stockReceive.quantityMismatchErrorMessage' | translate }}
  </div>

  <div
    class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
    *ngIf="
      itemForm.get('measuredQuantity').dirty &&
      itemForm.get('measuredQuantity').hasError('required')
    "
  >
    <span class="pw-i-16 pw-warning-icon-16"></span>
    {{ 'pw.stockReceive.quantiyRequiredErrorMessage' | translate }}
  </div>

  <div
    class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
    *ngIf="
      itemForm.get('measuredWeight').dirty &&
      itemForm.get('measuredWeight').hasError('required')
    "
  >
    <span class="pw-i-16 pw-warning-icon-16"></span>
    {{ 'pw.stockReceive.weightRequiredErrorMessage' | translate }}
  </div>

  <div
    class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
    *ngIf="
      itemForm.get('measuredWeight').dirty &&
      !itemForm.get('measuredWeight').hasError('required') &&
      itemForm.get('measuredWeight').hasError('minZero')
    "
  >
    <span class="pw-i-16 pw-warning-icon-16"></span>
    {{ itemForm.get('measuredWeight').getError('minZero') | translate }}
  </div>

  <div
    class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
    *ngIf="itemForm.hasError('remarkGroupCode')"
  >
    <span class="pw-i-16 pw-warning-icon-16"></span>
    {{ itemForm.getError('remarkGroupCode') | translate }}
  </div>

  <div
    class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
    *ngIf="!isVerified && item.isUpdatingSuccess == false"
  >
    <span class="pw-i-16 pw-warning-icon-16"></span>
    {{ 'pw.stockReceive.verifyFailedMessage' | translate }}
  </div>

  <div
    class="col-auto pw-list-card__item pw-list-card__right-container"
    *ngIf="
      !isVerified ||
      (isVerified &&
        showUpdateStatus &&
        (item.isUpdating || item.isUpdatingSuccess == false))
    "
  >
    <ng-container *ngIf="!isVerified">
      <button
        *ngIf="!(item.isUpdating || item.isValidating)"
        mat-button
        class="pw-btn pw-primary-btn"
        [disabled]="itemForm.invalid"
        (click)="verifyItem()"
      >
        {{ 'pw.stockReceive.verifyButtonText' | translate }}
      </button>
      <button
        *ngIf="item.isUpdating || item.isValidating"
        mat-button
        class="pw-primary-btn"
      >
        ...
      </button>
    </ng-container>

    <ng-container *ngIf="isVerified && showUpdateStatus">
      <span class="pw-success-color" *ngIf="item.isUpdating">
        {{ 'pw.stockReceive.savingInfoMessge' | translate }} ...
      </span>

      <span
        class="pw-error-color pw-sub-heading "
        *ngIf="item.isUpdatingSuccess == false"
      >
        <span class="pw-i-16 pw-warning-icon-16"></span>
        {{ 'pw.stockReceive.updateFailedMessage' | translate }}
      </span>
    </ng-container>
  </div>
</div>
