<div class="pw-confirmation-box">
  <div class="row pw-confirmation-box__header">
    <div class="col-auto" *ngIf="!dialogData.lovName">
     {{ 'pw.lovmaster.addNew' | translate }}
    </div>
    <div class="col-auto" *ngIf="dialogData.lovName">
      {{ 'pw.lovmaster.edit' | translate }}
    </div>
    <div class="col pw-text-right">
      <a class="sub-heading">
        <span (click)="onClose()" class="pw-i-10 pw-close-icon-16"> </span>
      </a>
    </div>
  </div>
  <div class="pw-confirmation-box__body">

    <poss-web-dynamic-form *ngIf="formFields" [style]="currentStyle" [formFields]="formFields" [disabled]="false"
      [enableSubmitOnInvalid]="true" [buttonNames]="['Cancel','Save']" (deleteForm)="deleteButton($event)"
      (addForm)="addButton($event)" (formGroupCreated)="formGroupCreated($event)" >
    </poss-web-dynamic-form>
  </div>
</div>