<div class="pw-top-menu">
  <div class="pw-top-menu__left-menu d-flex flex-row justify-content-start">
    <ul role="navigation" class="d-flex flex-row">
      <!---->
      <li>
        <a
          class="nav-link"
          title="inventory"
          [routerLink]="['inventory']"
          routerLinkActive="is-active"
          ><span class="nav-link-inner">Inventory</span></a
        >
      </li>
    </ul>
  </div>
  <div class="pw-top-menu__right-menu d-flex flex-row justify-content-end">
    <button mat-icon-button>
      <mat-icon>
        <span class="pw-i-24 pw-dashboard-icon-24"></span>
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>
        <span class="pw-i-24 pw-notification-icon-24"></span>
      </mat-icon>
    </button>
  </div>
</div>
