// TOP MENU
.pw-top-menu {
  display: flex;
  height: 84px;
  line-height: 84px;

  .pw-top-menu__left-menu {
    align-items: center;
    width: 70%;
    font-weight: bold;
    text-transform: uppercase;

    ul {
      align-items: center;
      list-style-position: inside;
      padding: 0;
      margin: 0;

      li {
        a {
          span {
            margin: 0 40px 0 0;
            opacity: 0.4;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
          }

          &:hover {
            span {
              opacity: 1;
              color: var(--secondary-color);

              &::before {
                position: absolute;
                content: '';
                bottom: -8px;
                border: 2px solid #b0a16e;
                width: 47px;
              }
            }
          }

          &.is-active {
            span {
              opacity: 1;
              color: var(--secondary-color);

              &::before {
                position: absolute;
                content: '';
                bottom: -10px;
                border: 2px solid #b0a16e;
                width: 47px;
              }
            }
          }
        }
      }
    }
  }

  .pw-top-menu__right-menu {
    align-items: center;
    width: 30%;
    height: 100%;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .pw-top-menu {
    &__left-menu {
      display: none !important;
    }
  }
}
