
<div [formGroup]="itemForm"
[ngClass]="disabled === true ? 'pw-disabled' : ''">
  <div class="row pw-list-card">
    <div class="col-auto pw-list-card__item"></div>
    <div class="col-auto pw-list-card__item pw-thumbnail-img">
      <poss-web-thumbnail
        [thumbnailSrc]="item.imageURL"
        [imageSrc]="item.imageURL"
        [alt]="item.productCategory"
      >
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>Variant Code - {{ item.itemCode }}</p>
      </poss-web-thumbnail>
    </div>
    <div class="col-auto pw-list-card__item pw-width-120">
      <div class="pw-sub-heading">
        {{ item.itemCode }}
      </div>
      <p>{{ item.lotNumber }}</p>
      <p>{{ item.mfgDate.format('DD-MMM-YYYY') }}</p>
      <p>{{ item.totalValue | currency: 'INR' }}</p>
    </div>
    <div class="col-1 pw-list-card__item">
      <div class="pw-sub-heading">
        {{ item.orderType }}
      </div>
      <p>{{ item.productGroup }}</p>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        Requested Qty : {{ item.availableQuantity }}
      </div>
      <input
        type="number"
        class="pw-bg-input-box"
        placeholder="Qty."
        formControlName="issueQuantity"
        [readonly]="true"
      />
      <ng-template #nonEditable>
        <input
          type="number"
          class="pw-bg-input-box"
          placeholder="Qty."
          formControlName="issueQuantity"
          readonly
        />
      </ng-template>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        Available Wt:{{ weightToDisplay }} ({{ item.weightUnit }})
      </div>
      <input
        type="text"
        class="pw-bg-input-box"
        placeholder="Total Wt."
        formControlName="weight"
        readonly
      />
    </div>
    <div
      class="col-auto pw-text-right pw-list-card__item ml-auto pw-sub-heading"
    >
      <span
        *ngIf="
          (itemForm.get('issueQuantity').dirty ||
            itemForm.get('issueQuantity').touched) &&
          itemForm.get('issueQuantity').hasError('required')
        "
        class="pw-error-color"
      >
        Quantity is required
      </span>
      <span
        *ngIf="
          (itemForm.get('issueQuantity').dirty ||
            itemForm.get('issueQuantity').touched) &&
          itemForm.get('issueQuantity').hasError('min')
        "
        class="pw-error-color"
      >
        Quantit cannot be less than 1
      </span>
      <span
        *ngIf="
          (itemForm.get('issueQuantity').dirty ||
            itemForm.get('issueQuantity').touched) &&
          itemForm.get('issueQuantity').hasError('max')
        "
        class="pw-error-color"
      >
        Quantity cannot be greater than approved Quantity
      </span>
      <div
      class="col-auto pw-list-card__item pw-list-card__right-container pw-text-right"
      *ngIf="item.availableQuantity === 0"
    >
      <div class="pw-error-color">
        <span class="pw-i-16 pw-warning-icon-16"></span>
        {{ 'pw.otherReceiptsIssues.outOfStockErrorMessage' | translate }}
      </div>
    </div>
      <ng-container *ngIf="showUpdateStatus">
        <!-- <span class="pw-success-color" *ngIf="item.isUpdatingSuccess">
          Save Successfull
        </span> -->
        <span class="pw-error-color" *ngIf="item.isUpdatingSuccess == false">
          Save Failed
        </span>
        <span class="pw-success-color" *ngIf="item.isUpdating">
          Saving...
        </span>
      </ng-container>
    </div>
  </div>
</div>
