<div class="pw-list-card row">
  <div class="col-2">
    <p class="pw-fourth-color">
      {{ 'pw.rolemanagementlist.rolecodeColumnTitle' | translate }}
    </p>
    <div>{{ role.roleCode }}</div>
  </div>
  <div class="col-2">
    <p class="pw-fourth-color">
      {{ 'pw.rolemanagementlist.rolenameColumnTitle' | translate }}
    </p>
    <div>{{ role.roleName }}</div>
  </div>
  <div class="col-4">
    <p class="pw-fourth-color">
      {{ 'pw.rolemanagementlist.descriptionColumnTitle' | translate }}
    </p>
    <div>
      {{
        role.description.length > 35
          ? role.description.slice(0, 32) + '...'
          : role.description
      }}
    </div>
  </div>

  <div class="col-auto pw-list-card__right-container pointer">
    <div
      class="pw-edit-icon pw-fourth-color"
      (click)="updateRole.emit(role.roleCode)"
    >
      <span class="pw-edit-text">
        <b>{{ 'pw.rolemanagementlist.editQuickAction' | translate }}</b></span
      >

      <span class="pw-i-24 pw-edit-icon-24"></span>
    </div>
    <div class="pw-right-icons pw-position-text pw-fourth-color">
      <mat-slide-toggle
        class="pw-right-icons"
        [id]="role.roleCode ? role.roleCode : -1"
        [name]="role.roleName ? role.roleName : -1"
        (change)="toggleRole.emit($event)"
        [checked]="
          role.roleCode ? (role.isActive ? role.isActive : false) : false
        "
        labelPosition="before"
      >
        <b
          >{{
            (role.isActive
              ? 'pw.rolemanagementlist.activeQuickAction'
              : 'pw.rolemanagementlist.inactiveQuickAction') | translate
          }}
        </b>
      </mat-slide-toggle>
    </div>
  </div>
</div>
