<div class="pw-search-box">
  <span class="pw-i-16 pw-search-icon-16"></span>
  <input
    #searchBox
    type="text"
    placeholder="{{
      'pw.usermanagementlist.searchBoxPlaceholderText' | translate
    }}"
    class="pw-search-box__input"
  />
</div>

<div class="col-auto pw-top-heading-container__right-content">
  <button class="pw-btn pw-accent-btn" (click)="navigate.emit('create')">
    {{ 'pw.usermanagementlist.addnewuserButtonText' | translate }}
  </button>
</div>

<div class="row pw-list-header">
  <div class="col-auto">
    <h5 class="pw-list-header__left-content">
      {{
        'pw.usermanagementlist.userslistTabText'
          | translate: { count: userListSize }
      }}
    </h5>
  </div>
  <div class="col-auto pw-list-header__right-content">
    <!-- <span class="pw-i-16 pw-filter-icon-16 pw-filter-box__icon"></span> -->
    <button mat-button [matMenuTriggerFor]="filterby">
      {{ 'pw.usermanagementlist.filterButtonText' | translate }}
    </button>

    <mat-menu #filterby="matMenu">
      <button mat-menu-item (click)="filter.emit()">
        {{ 'pw.usermanagementlist.filterrolesOptionText' | translate }}
      </button>
      <button
        mat-menu-item
        *ngIf="!isBTQUser"
        (click)="locationSelection.emit()"
      >
        {{ 'pw.usermanagementlist.filterlocationOptionText' | translate }}
      </button>
    </mat-menu>
  </div>
</div>

<poss-web-user-list-item
  *ngFor="let user of usersList"
  [user]="user"
  (toggleUserLock)="toggleUserLock.emit($event)"
  (navigate)="navigate.emit($event)"
></poss-web-user-list-item>

<div class="pw-text-center" *ngIf="isSearch && userListSize == 0">
  {{ 'pw.usermanagementlist.emptyuserslistMessage' | translate }}
</div>

<mat-paginator
  class="pw-paginator"
  *ngIf="userListSize > minPageSize && usersList.length > 0"
  [length]="userListSize"
  [pageSize]="pageEvent.pageSize"
  [pageIndex]="pageEvent.pageIndex"
  showFirstLastButtons
  [pageSizeOptions]="pageSizeOptions"
  (page)="paginateUsersList.emit($event)"
>
</mat-paginator>
