
<div class="pw-list-card px-3 pw-cursor"  >
  <div class="row">
    <div class="col-lg-4 col-6" >
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.subBrand.subBrandCode' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.brandCode }}</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.brandMaster.description' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.description }}</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">{{'pw.subBrand.parentBrandCode' | translate}}</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
             <b>{{ listItem.parentBrandCode }}</b>
          </p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-4 pr-0">
          <p class="pw-fourth-color">State code</p>
        </div>
        <div class="col-auto px-0"><p class="pw-fourth-color"> : </p></div>
        <div class="col-auto">
          <p>
            <b>{{ listItem.stateCode }}</b>
          </p>
        </div>
      </div> -->
    </div>



    <div class="col-auto ml-auto align-self-center">
      <a (click)="getSubBrandCode(listItem.brandCode)">
        <span
          class="pw-mont-semibold-14 pw-fourth-color pw-position-text a">{{'pw.subBrand.edit' | translate}}</span>&nbsp;
        <span class="pw-i-24 pw-edit-icon-24"></span>
      </a>

    </div>
    <div class="col-auto align-self-center">
      <mat-slide-toggle (click)='$event.stopPropagation()' [checked]="listItem.isActive" (change)="change($event);" > </mat-slide-toggle>
    </div>

  </div>

  </div>

