<poss-web-loader *ngIf="(isLoading$ | async)"></poss-web-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container mb-3">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)='back()'>
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-location-icon-36"></span>
              <div>
                <h2>{{ 'pw.locationMaster.mainLocationlabel' | translate}}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.locationMaster.mainSetuplabel' | translate}}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-3 pw-vertical-tab">
          <ul>
            <li class="mb-4">
              <a [routerLink]="[locationUrl]" routerLinkActive="active"
                class="pw-vertical-tab__item ">{{ 'pw.locationMaster.leftMenuLOCATION' | translate}}</a>
            </li>
            <div>
              <li class="mb-4">
                <div class="pw-disabled" *ngIf="isNew">{{ 'pw.locationMaster.leftMenuGHS' | translate}}</div>
                <a *ngIf="!isNew" [routerLink]="[ghsUrl]" routerLinkActive="active"
                  class="pw-vertical-tab__item">{{ 'pw.locationMaster.leftMenuGHS' | translate}}</a>
              </li>
              <li class="mb-4">
                <div class="pw-disabled" *ngIf="isNew">{{ 'pw.locationMaster.leftMenuPRINT' | translate}}</div>
                <a *ngIf="!isNew" [routerLink]="[printUrl]" routerLinkActive="active"
                  class="pw-vertical-tab__item">{{ 'pw.locationMaster.leftMenuPRINT' | translate}}</a>
              </li>
              <li class="mb-4">
                <div class="pw-disabled" *ngIf="isNew">{{ 'pw.locationMaster.leftMenuGRNIBTINVENTORY' | translate}}
                </div>
                <a *ngIf="!isNew" [routerLink]="[grnUrl]" routerLinkActive="active"
                  class="pw-vertical-tab__item">{{ 'pw.locationMaster.leftMenuGRNIBTINVENTORY' | translate}}</a>
              </li>
              <li class="mb-4">
                <div class="pw-disabled" *ngIf="isNew">{{ 'pw.locationMaster.leftMenuLoyaltyGEPGCTEP' | translate}}
                </div>
                <a *ngIf="!isNew" [routerLink]="[loyalityUrl]" routerLinkActive="active"
                  class="pw-vertical-tab__item">{{ 'pw.locationMaster.leftMenuLoyaltyGEPGCTEP' | translate}}</a>
              </li>
              <li class="mb-4">
                <div class="pw-disabled" *ngIf="isNew">
                  {{ 'pw.locationMaster.leftMenuADVANCECUSTOMORDERSFOC' | translate}}</div>
                <a *ngIf="!isNew" [routerLink]="[advanceUrl]" routerLinkActive="active"
                  class="pw-vertical-tab__item">{{ 'pw.locationMaster.leftMenuADVANCECUSTOMORDERSFOC' | translate}}</a>
              </li>
            </div>
          </ul>
        </div>
        <div class="col-lg-10 col-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>