<div class="row">
  <div class="col-12 ">
    <div class="row">
      <div class="col-12">
          <div [ngSwitch]="page">
              <div *ngSwitchCase="1">
        <poss-web-currency-step-one  *ngIf='(currencyDetails$|async)&&( supportedCurrency$|async)' [currencyDetails$]='currencyDetails$' [supportedCurrency$]='supportedCurrency$' (tabOne)="addButton($event)"> </poss-web-currency-step-one >
   </div>
   </div>

        </div>
    </div>
  </div>
</div>
