<div *ngIf="item.status==='APVL_PENDING'">
  <form [formGroup]="newIbtRequestForm">
  <div class="row pw-list-card">
    <div class="col-auto pw-list-card__item">
      <mat-checkbox formControlName="selected" (change)="updateItem()" [checked]="item.isSelected"> </mat-checkbox>
    </div>
    <div class="col-auto pw-list-card__item   pw-thumbnail-img">
      <poss-web-thumbnail [thumbnailSrc]="item.imageURL" [imageSrc]="item.imageURL" [alt]="item.productCategory">
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>
          {{ 'pw.stockReceive.variantCodeLableText' | translate }} -
          {{ item.itemCode }}
        </p>
      </poss-web-thumbnail>
    </div>
    <div class="col-auto pw-list-card__item pw-width-120">
      <div class="pw-sub-heading">
        {{ item.productCategory }}
      </div>
      <p>
        {{ item.itemCode }}
      </p>
      <p>{{ item.lotNumber }}</p>
      <p>{{ item.stdValue | currency: item.currencyCode }}</p>
    </div>
    <div class="pw-list-card__item col-1">
      <div class="pw-sub-heading">
        <!-- {{ item.orderType }} -->
      </div>
      <!-- TODO : Check the icon List -->

      <p>{{ item.productGroup }}</p>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <p>{{'pw.instock.binListHeader'|translate}}</p>
      </div>
      <input type="text" class="pw-bg-input-box" value="{{ item.binCode }}" placeholder="BinCode" readonly />
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <p>{{'pw.stockIssueNotificationMessages.weightLabel'|translate}}</p>
      </div>
      <input type="text" class="pw-bg-input-box" value="{{ item.stdWeight }}" placeholder="stdWeight" readonly />
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <p>{{'pw.stockIssue.requestedQuantityLabelText'|translate}}</p>
      </div>
      <input
        type="text"
        class="pw-bg-input-box"
        value="{{ item.requestedQuantity }}"
        placeholder="requestedQuantity"
        readonly
      />
    </div>
    <!-- <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <p>{{'pw.statusMessages.ACCEPTED' |translate}}  {{'pw.instock.Quantity' |translate}}</p>
      </div>
      <input
        type="text"
        class="pw-bg-input-box"
        value="{{ item.acceptedQuantity }}"
        placeholder="acceptedQuantity"
        readonly
      />
    </div> -->
    <div class="col-auto pw-list-card__item">
      <div class="pw-sub-heading">
        <p>{{'pw.otherReceiptsIssues.approvedStatus'|translate}}{{'pw.instock.Quantity'|translate}}</p>
      </div>
      <input
        type="number"
        type="text"
        class="pw-bg-input-box"
        value="{{ item.approvedQuantity }}"
        placeholder="approvedQuantity"
        readonly
      />
    </div>
  </div>
</form>
</div>
