<div class="pw-sidenav__header">
  <div class="pw-sidenav__close-icon">
    <button mat-icon-button (click)="sideNavToggle.emit()">
      <span class="pw-i-10 pw-close-icon-16"></span>
    </button>
  </div>

  <div class="pw-sidenav__profile">
    <span class="pw-i-34 pw-user-icon-34"></span>
    <span class="pw-sidenav__header-title">Hello, {{ username }}!</span>
  </div>
  <p class="pw-sidenav__logout">
    <a (click)="logout.emit(); sideNavToggle.emit()">
      <span class="pw-i-14 pw-logout-icon-14"></span>Log Out</a
    >
  </p>
</div>

<div *ngFor="let sidenavitems of sidenav">
  <div class="pw-sidenav__list-header" *ngIf="hasPermission(sidenavitems.key)">
    <a (click)="sideNavToggle.emit()" [routerLink]="[sidenavitems.url]">
      <b class="pw-fourth-color">{{ sidenavitems.name }}</b></a
    >
  </div>
  <!-- <mat-expansion-panel
    class="pw-sidenav__expansion-panel"
    *ngIf="hasPermission(sidenavitems.key)"
  >
    <mat-expansion-panel-header class="pw-sidenav__expansion-header">
      <mat-panel-title class="pw-sidenav__expansion-title">
        <!-- TODO:: To Be fixed <mat-icon><span class="{{ items.icon }}"></span></mat-icon>
        <a (click)="sideNavToggle.emit()" [routerLink]="[sidenavitems.url]">
          <b class="pw-fourth-color">{{ sidenavitems.name }}</b></a
        >
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="pw-sidenav__body" *ngFor="let items of sidenavitems.children">
      <ng-container
        *ngIf="
          items.children && items.children.length;
          then thenTemplate;
          else elseTemplate
        "
      ></ng-container>
      <ng-template #thenTemplate>
        <mat-expansion-panel
          *ngIf="hasPermission(items.key)"
          class="pw-sidenav__expansion-panel pw-sidenav__sub-panel"
        >
          <mat-expansion-panel-header class="pw-sidenav__expansion-header">
            <mat-panel-title class="pw-sidenav__expansion-title">
              <mat-icon><span class="{{ items.icon }}"></span></mat-icon>
              <a (click)="sideNavToggle.emit()" [routerLink]="[items.url]">
                {{ items.name }}</a
              >
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul *ngFor="let child of items.children">
            <li *ngIf="hasPermission(child.key)" class="pw-sidenav__sub-list">
              <a (click)="sideNavToggle.emit()" [routerLink]="[child.url]">
                {{ child.name }}</a
              >
            </li>
          </ul>
        </mat-expansion-panel>
      </ng-template>
      <ng-template #elseTemplate>
        <ul *ngIf="hasPermission(items.key)" class="mb-0">
          <li class="pw-sidenav__list">
            <mat-icon><span class="{{ items.icon }}"></span></mat-icon>

            <a (click)="sideNavToggle.emit()" [routerLink]="[items.url]">
              {{ items.name }}</a
            >
          </li>
        </ul>
      </ng-template>
    </div>
  </mat-expansion-panel> -->
</div>
