<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item">
          <div class="col-auto pr-0">
            <a [routerLink]="['/inventory/instock/conversion/requests']">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-instock-icon-36"></span>
              <div>
                <h2>In Stock</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  Management
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h3 class="mb-3">{{ 'pw.conversion.title' | translate }}</h3>
      <div class="mb-2"><b>{{ 'pw.conversion.requestSentTabText' | translate }}</b></div>
      <div class="pw-grid-card">
        <div class="row align-items-end">
          <div class="col-lg-3 col-md-4 col-6">
            <div class="pw-grid-card__item pw-is-active-bar">
              <h4>{{selectedRequest?.srcDocNo}}</h4>
              <!-- <div>Variant Code</div> -->
              <div class="mt-3">
                <p [ngClass]="getStatus(selectedRequest?.status)">
                  {{ 'pw.conversion.statusText' | translate }}: {{status}}</p>
                <p>
                  <p>{{selectedRequest?.createdDate.format('DD-MM-YYYY')}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="parentItem!==null">
        <div><b>{{ 'pw.conversion.yourProductIsHereText' | translate }}</b></div>
        <p class="pt-2">{{ 'pw.conversion.parentVariantText' | translate }}</p>
        <poss-web-conversion-item [item]="parentItem" [tab]="1" [hasForm]=0> </poss-web-conversion-item>

        <ng-container *ngIf="childItems!==[]">
          <div class="pt-4">
            <b>{{ 'pw.conversion.availableSplitOptionsText' | translate }}</b>
          </div>
          <ng-container *ngFor="let item of childItems">
            <poss-web-conversion-item [item]="item" [tab]="1" [parentForm]="parentForm" [hasForm]=1>
            </poss-web-conversion-item>

          </ng-container>
          <div class="row">
            <mat-form-field class="col-4" [formGroup]="rsoForm">
              <mat-select required [placeholder]=" ('pw.conversion.selectRsoText' | translate)"
                formControlName="rsoName">
                <mat-option *ngFor="let rso of rsoNames" [value]="rso">{{ rso }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </div>
  <poss-web-loader
    *ngIf="(isLoadingSelectedRequest$ |async) || (isLoadingSelectedRequestData$ |async) || (isLoadingCount$ | async) || (isLoadingRsoDetails$ |async)">
  </poss-web-loader>
</div>
<ng-template #confirmSuccessNotificationTemplate>
  <div class="pw-text-center">
    <h3 class="pw-success-color">
      {{ 'pw.conversion.convertNowSuccessOverlayMessage1' | translate }}
    </h3>
    <div class="pt-2">
      {{ 'pw.conversion.convertNowSuccessOverlayMessage2' | translate }}
    </div>
    <h5 class="pw-success-color pt-2">{{ 'pw.conversion.convertNowSuccessOverlayMessage3' | translate }}
      {{conversionDocNo}}</h5>
    <!-- <h6 class="pw-success-color pt-2"><span class="pw-i-16 pw-download-icon-16"></span> Download Report</h6> -->
  </div>
</ng-template>

<br><br><br><br>
