<ng-container>
  <ng-container *ngFor="let item of itemList">
    <poss-web-adjustment-receipts-item
      [item]="item"
      (selection)="selectionEmit($event)"
      (updateItem)="updateItems($event)"
      (remove)="remove($event)"
      [hasRemove]="hasRemove"
      [selectionEvents]="selectionAllSubject.asObservable()"
      [binGroupCode]="binGroupCode"
      [binCodes]="binCodes"
    >
    </poss-web-adjustment-receipts-item></ng-container
></ng-container>
