<ng-container *ngIf="count != 0">
  <ng-container *ngFor="let item of itemList">

    <!-- <poss-web-stock-issue-item [item]="item" (update)="updateItem($event)" (selection)="selectionEmit($event)"> -->
    <poss-web-exhibition-issue-item
    [item]="item"
    >
    </poss-web-exhibition-issue-item>
  </ng-container>

  <mat-paginator *ngIf="itemList?.length != 0 && count > pageSize" [length]="count" [pageSize]="pageEvent.pageSize"
    [pageIndex]="pageEvent.pageIndex" showFirstLastButtons [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)">
  </mat-paginator>
</ng-container>
