<poss-web-loader *ngIf="(isLoading$ | async)"></poss-web-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container mb-3">
        <div class="row pw-top-heading-container__item align-items-center">
          <div class="col-auto pr-0">
            <a (click)='back()'>
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-product-master-icon-36"></span>
              <div>
                <h2>{{'pw.brandMaster.product' | translate}}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{'pw.brandMaster.masters' | translate}} <span class="seventh-color">(5)</span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-3 pw-vertical-tab" (click)="change()">
          <ul>
            <li class="mb-4">
              <a [routerLink]="[brandMasterBrandRouterLink]" routerLinkActive="active"
                class="pw-vertical-tab__item ">{{ 'pw.brandMaster.brand' | translate}}</a>
            </li>
            <div>
              <li class="mb-4">
                <div class="pw-disabled" *ngIf="isNew">{{ 'pw.brandMaster.panCardConfigurations' | translate}}</div>
                <a *ngIf="!isNew" [routerLink]="[brandMasterPancardRouterLink]" routerLinkActive="active"
                  class="pw-vertical-tab__item">Pan card Configurations</a>
              </li>
              <li class="mb-4">
                <div class="pw-disabled" *ngIf="isNew">{{ 'pw.brandMaster.residualamount' | translate}}</div>
                <a *ngIf="!isNew" [routerLink]="[brandMasterResidualamountdRouterLink]" routerLinkActive="active"
                  class="pw-vertical-tab__item">{{ 'pw.brandMaster.residualamount' | translate}}</a>
              </li>
              <li class="mb-4">
                <div class="pw-disabled" *ngIf=" isNew">{{ 'pw.brandMaster.smsConfig' | translate}}</div>
                <a *ngIf="!isNew" [routerLink]="[brandMasterSMSConfigRouterLink]" routerLinkActive="active"
                  class="pw-vertical-tab__item">{{ 'pw.brandMaster.smsConfig' | translate}}</a>
              </li>
              <li class="mb-4">
                <div class="pw-disabled" *ngIf="isNew">{{ 'pw.brandMaster.currency' | translate}}</div>
                <a *ngIf="!isNew" [routerLink]="[brandMasterCurrencyRouterLink]" routerLinkActive="active"
                  class="pw-vertical-tab__item">{{ 'pw.brandMaster.currency' | translate}}</a>
              </li>

            </div>
          </ul>
        </div>
        <div class="col-lg-10 col-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>