<div class="pw-confirmation-box">
  <div class="row pw-confirmation-box__header">
    <div class="col-auto">
      <b>{{'pw.locationMaster.confirmationHeading' | translate}}</b>
    </div>

    <div class="col pw-text-right">
      <a class="sub-heading">

      </a>
    </div>
  </div>
  <div class="pw-confirmation-box__body" *ngIf="dialogData !== null">
    <b> {{ dialogData | translate}}</b>
  </div>
  <div class="pw-confirmation-box__body" *ngIf="dialogData === null">
    <b> {{'pw.locationMaster.locationConfirmation' | translate}}</b>
  </div>
  <div class="pw-confirmation-box__footer pw-text-right">
    <div class="row justify-content-end">

      <div class="col-auto" (click)="dialogResponse(false)">
        <button mat-flat-button class="pw-btn pw-primary-btn"> {{'pw.locationMaster.cancelButton' | translate}}
        </button>
      </div>


      <div class="col-auto" (click)="dialogResponse(true)">
        <button mat-flat-button class="pw-btn pw-accent-btn"> {{'pw.locationMaster.OKButton' | translate}}</button>
      </div>
    </div>
  </div>
</div>
