<div [formGroup]="itemForm" class="row pw-list-card">
    <div class="col-auto pw-list-card__item pw-thumbnail-img">
      <poss-web-thumbnail
        [thumbnailSrc]="item.imageURL"
        [imageSrc]="item.imageURL"
        [alt]="item.productCategory"
      >
        <p class="pt-3">
          <b>{{ item.productCategory }}</b>
        </p>
        <p>Variant Code - {{ item.itemCode }}</p>
      </poss-web-thumbnail>
    </div>
    <div class="col-auto pw-list-card__item pw-width-120">
      <div class="pw-sub-heading">
        {{ item.itemCode }}
      </div>
      <p>{{ item.lotNumber }}</p>
      <p>{{ item.mfgDate.format('DD-MMM-YYYY') }}</p>
      <p>
        {{ item.stdValue | currency: 'INR' }}
      </p>
    </div>
    <div class=" col-1 pw-list-card__item">
      <div class="pw-sub-heading">{{ item.orderType }}</div>
      <p>{{ item.productGroup }}</p>
      <p>{{ item.productCategory }}</p>
    </div>
    <div class="col-auto pw-list-card__item">
      <div class="row no-gutters pw-input-group">
        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.otherReceiptsIssues.itemQuantityLableText' | translate }}
            {{ item.availableQuantity }}
          </div>
          <input
            type="number"
            class="pw-bg-input-box border-right
          pw-border-radius-left pw-width-65"
            placeholder="{{
              'pw.otherReceiptsIssues.measuredQuantityPlaceholderText' | translate
            }}"
            formControlName="measuredQuantity"
            readonly
          />
        </div>
        <div class=" col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.otherReceiptsIssues.itemWeightLableText' | translate }}
            <span>{{ item.availableWeight }} {{ item.weightUnit}}
            </span>
          </div>
          <input
            type="number"
            step="0.001"
            class="pw-bg-input-box border-right"
            [ngClass]="{
              'pw-error-bg':
                (itemForm.get('measuredWeight').dirty &&
                  itemForm.get('measuredWeight').invalid) ||
                isWeightMismatch(),
              'pw-success-bg': itemForm.get('measuredWeight').valid
            }"
            placeholder="{{
              'pw.otherReceiptsIssues.measuredWeightPlaceholderText' | translate
            }}
            "
            formControlName="measuredWeight"
          />
        </div>

        <div class="col-auto">
          <div class="pw-sub-heading">
            {{ 'pw.otherReceiptsIssues.assginedBinLableText' | translate }}
          </div>

          <mat-select
            disableOptionCentering
            [ngClass]="{
              'pw-error-bg': itemForm.get('binGroupCode').value != binGroupCode,
              'pw-success-bg': itemForm.get('binGroupCode').value == binGroupCode
            }"
            class="mat-select-cls pw-bg-input-box pw-border-radius-right"
            formControlName="binGroupCode"
            placeholder="{{
              'pw.otherReceiptsIssues.selectPlaceholderText' | translate
            }}"
          >
          <mat-option
            *ngFor="let bin of binGroupCodes"
            [value]="bin"
            [hidden]="
              (itemForm.get('measuredWeight').value == null && bin == otherReceiptsStockItemBinGroupCodeEnumRef.DISPUTE) ||
              (!isWeightMismatch() && bin == otherReceiptsStockItemBinGroupCodeEnumRef.DISPUTE) ||
              (itemForm.get('measuredWeight').value != null &&
                isWeightMismatch() &&
                bin != otherReceiptsStockItemBinGroupCodeEnumRef.DISPUTE)
            "
          >
            {{ bin }}
          </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div
      class="col-auto pw-list-card__item"
      *ngIf="itemForm.get('binGroupCode').value === otherReceiptsStockItemBinGroupCodeEnumRef.DEFECTIVE"
    >
      <div class="pw-sub-heading">
        {{ 'pw.otherReceiptsIssues.remarksLableText' | translate }}
      </div>
      <mat-select
        disableOptionCentering
        class="mat-select-cls pw-bg-input-box pw-border-radius-right pw-error-bg"
        formControlName="remarkGroupCode"
        placeholder="{{ 'pw.otherReceiptsIssues.selectPlaceholderText' | translate }}"
      >
        <mat-option *ngFor="let remark of remarks" [value]="remark.code">
          {{ remark.value }}</mat-option
        >
      </mat-select>
    </div>

    <div
      class="col-auto pw-list-card__item"
      *ngIf="isVerified && itemForm.get('binGroupCode').value === binGroupCode"
    >
      <div class="pw-sub-heading">
        {{ 'pw.otherReceiptsIssues.assginedBinCodeLableText' | translate }}
      </div>

      <mat-select
        disableOptionCentering
        class="mat-select-cls pw-bg-input-box pw-border-radius-right"
        formControlName="binCode"
        placeholder="{{ 'pw.otherReceiptsIssues.selectPlaceholderText' | translate }}"
      >
      <mat-option *ngFor="let binCode of binCodes" [value]="binCode.binCode"> {{ binCode.binCode }}</mat-option>
      </mat-select>
    </div>
    <div
      class="col-auto ml-lg-auto pw-list-card__item pw-error-color  pw-sub-heading"
      *ngIf="
        isWeightMismatch() && !itemForm.get('measuredWeight').hasError('minZero')
      "
    >
      <span class="pw-i-16 pw-warning-icon-16"></span>
      {{ 'pw.otherReceiptsIssues.weightMismatchErrorMessage' | translate }}
    </div>

    <div
      class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
      *ngIf="
        itemForm.get('measuredQuantity').hasError('min') ||
        itemForm.get('measuredQuantity').hasError('max')
      "
    >
      <span class="pw-i-16 pw-warning-icon-16"></span>
      {{ 'pw.otherReceiptsIssues.quantityMismatchErrorMessage' | translate }}
    </div>

    <div
      class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
      *ngIf="
        itemForm.get('measuredQuantity').dirty &&
        itemForm.get('measuredQuantity').hasError('required')
      "
    >
      <span class="pw-i-16 pw-warning-icon-16"></span>
      {{ 'pw.otherReceiptsIssues.quantiyRequiredErrorMessage' | translate }}
    </div>

    <div
      class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
      *ngIf="
        itemForm.get('measuredWeight').dirty &&
        itemForm.get('measuredWeight').hasError('required')
      "
    >
      <span class="pw-i-16 pw-warning-icon-16"></span>
      {{ 'pw.otherReceiptsIssues.weightRequiredErrorMessage' | translate }}
    </div>

    <div
      class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
      *ngIf="
        itemForm.get('measuredWeight').dirty &&
        !itemForm.get('measuredWeight').hasError('required') &&
        itemForm.get('measuredWeight').hasError('minZero')
      "
    >
      <span class="pw-i-16 pw-warning-icon-16"></span>
      {{ itemForm.get('measuredWeight').getError('minZero') | translate }}
    </div>

    <div
      class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
      *ngIf="itemForm.hasError('remarkGroupCode')"
    >
      <span class="pw-i-16 pw-warning-icon-16"></span>
      {{ itemForm.getError('remarkGroupCode') | translate }}
    </div>

    <div
      class="col-auto ml-lg-auto pw-list-card__item pw-error-color pw-sub-heading"
      *ngIf="!isVerified && item.isUpdatingSuccess == false"
    >
      <span class="pw-i-16 pw-warning-icon-16"></span>
      {{ 'pw.otherReceiptsIssues.verifyFailedMessage' | translate }}
    </div>

    <div class="col-auto pw-list-card__item pw-list-card__right-container"
         *ngIf="!isVerified || (isVerified && showUpdateStatus && (item.isUpdating || item.isUpdatingSuccess == false))"
     >
      <ng-container *ngIf="!isVerified">
        <button
          *ngIf="!item.isUpdating"
          mat-button
          class="pw-btn pw-primary-btn"
          [disabled]="itemForm.invalid"
          (click)="verifyItem()"
        >
          {{ 'pw.otherReceiptsIssues.verifyButtonText' | translate }}
        </button>
        <button *ngIf="item.isUpdating" mat-button class="pw-primary-btn">
          ...
        </button>
      </ng-container>

      <ng-container *ngIf="isVerified && showUpdateStatus">
        <span class="pw-success-color" *ngIf="item.isUpdating">
          {{ 'pw.otherReceiptsIssues.savingInfoMessge' | translate }} ...
        </span>
        <span class="pw-error-color" *ngIf="item.isUpdatingSuccess == false">
          {{ 'pw.otherReceiptsIssues.updateFailedMessage' | translate }}
        </span>
      </ng-container>
    </div>
  </div>
