<ng-container *ngIf="count != 0">
  <ng-container *ngFor="let item of itemList">

    <poss-web-stock-issue-item [tab]="tab" [item]="item" [parentForm]="parentForm"
      [selectionEvents]="selectionAllSubject.asObservable()" (update)="updateItem($event)"
      (selection)="selectionEmit($event)">
    </poss-web-stock-issue-item>
  </ng-container>

  <mat-paginator class="pw-paginator" *ngIf="itemList.length != 0 && count > pageSize" [length]="count"
    [pageSize]="pageEvent.pageSize" [pageIndex]="pageEvent.pageIndex" showFirstLastButtons
    [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)">
  </mat-paginator>
</ng-container>