<div class="pw-dialog-box ">
  <div class="row">
    <div class="col-auto pw-message">
      {{ 'pw.instock.successPopup1' | translate }}
    </div>
    <div class="pw-text-right pb-4 col-auto ml-auto">
      <a>
        <span class="pw-i-10 pw-close-icon-16" (click)="onClose()"></span>
      </a>
    </div>
  </div>
  <div class="pw-text-center mv-65">
    <span class="pw-i-16 pw-success-icon-16"></span>

    <div mat-dialog-content>
      <div class="pb-2 pt-2">{{ 'pw.instock.successPopup2' | translate }}</div>
      <p>
        {{ 'pw.instock.successPopup3' | translate }} <br />
        {{ 'pw.instock.successPopup4' | translate }}
      </p>
      <p class="pw-dialog-box__border-top">
        {{ 'pw.instock.successPopup5' | translate }}
        <span class="pw-fourth-color"
          ><b>{{ data.reqDocNo }}</b></span
        >
      </p>
    </div>
  </div>
</div>
