.pw-dialog-box {
  &__body {
    margin-top: 15px;
  }
}

.pw-dialog-box__border-top {
  display: inline-block;
  border-top: 1px solid #b0a16e;
  padding-top: 15px;
  padding-bottom: 75px;
  margin-top: 15px;
}

a {
  cursor: pointer;
}
