<div
  class="expansion-panel "
  [class.pw-bg-set]="!isExpanded"
  (click)="isExpanded = !isExpanded"
>
  <ng-container *ngIf="!isExpanded; else showContent">
    <ng-content select="poss-web-expansion-panel-summary"> </ng-content>
  </ng-container>

  <ng-template #showContent>
    <ng-content select="poss-web-expansion-panel-content"> </ng-content>
  </ng-template>
</div>
