.expansion-panel {
  cursor: pointer;
}

.pw-bg-set {
  background: var(--sixth-color);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  border-top: 1px solid #eee;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 999;
}
