<div class="col-12 col-lg-10 m-auto">
  <div class="pw-top-heading-container">
    <div class="row pw-top-heading-container__item">
      <div class="col-auto pr-0">
        <a (click)="back()">
          <span class="pw-i-24 pw-back-arrow-icon-24"></span>
        </a>
      </div>
      <div class="col-auto pl-0">
        <div class="pw-top-heading-container__main-head">
          <span class="pw-i-36 pw-instock-icon-36"></span>
          <div>
            <h2>{{'pw.instock.request'|translate}}  {{'pw.requestApprovalsNotificationMessages.subheader'|translate}}</h2>
            <h5 class="pw-top-heading-container__sub-heading">
              {{'pw.stockIssue.otherIssuesTabText'|translate}}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="mb-3">
    {{ header }}
  </h3>

  <!-- grid-card-list  -->

  <!-- grid-card -->

  <div class="row">
    <div class="col-lg-3 col-md-4 col-6">
      <mat-form-field>
        <input matInput placeholder="Approved Code" value="{{ item?.otherDetails?.data?.approvalCode }}" readonly />
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <mat-form-field>
        <input matInput placeholder="Approved By" value="{{ item?.otherDetails?.data?.approvedBy }}" readonly />
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-4 col-6" *ngIf="header === requestApprovalRef.LOAN">
      <mat-form-field>
        <input matInput placeholder="Employee Email Id" value="{{ item?.carrierDetails?.data?.emailId }}" readonly />
      </mat-form-field>
    </div>
  </div>

  <!-- list-card -->
  <div class="row mt-3" *ngIf="(items.length)" [formGroup]="approvalsTransferForm">
    <div class="col-lg-3">
      <mat-radio-group class="col-auto" (change)="selectChange()" formControlName="selectItems">
        <mat-radio-button class="mr-3" value="1">
          <p>{{'pw.stockIssue.selectAllText'|translate}}</p>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-auto ml-auto ml-lg-0" *ngIf="isSelectAll || isSelectedArray.length !== 0">
      <a (click)="clearAll()">
        <p>
          <span class="pw-i-16 pw-clear-icon-16"></span>
          {{ 'pw.stockIssue.clearAllButtonText' | translate }}
        </p>
      </a>
    </div>
  </div>

  <div [class.pw-overlay-notification-gutter]="hasNotification">
    <poss-web-other-issue-approvals-item-list
      [count]=" ibtRequestApprovalsItemsCount$|async"
      [selectionEvents]="selectionAllSubject.asObservable()"
      [requestId]="requestId"
      [itemList]="Items$ | async"
      (isSelected)="isSelect($event)"
      [pageEvent]="itemsPageEvent"
      (paginator)="paginateItems($event)"
    ></poss-web-other-issue-approvals-item-list>

    <div *ngIf="(ibtRequestApprovalsItemsCount$|async) === 0" class="pw-success-color pw-message pw-text-center mg-t-100">
      <span class="pw-i-16 "></span>
      {{ 'pw.instock.noRequestText' | translate }}
    </div>

    <poss-web-loader *ngIf="isItemsLoading || (loading$ | async)"> </poss-web-loader>
  </div>
</div>
