<div
  class="container-fluid"
  [class.overlay-notifiaction-gutter]="hasNotification"
>
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="pw-top-heading-container">
        <div class="row pw-top-heading-container__item align-items-center mb-3">
          <div class="col-auto pr-0">
            <a (click)="back()">
              <span class="pw-i-24 pw-back-arrow-icon-24"></span>
            </a>
          </div>
          <div class="col-auto pl-0">
            <div class="pw-top-heading-container__main-head">
              <span class="pw-i-36 pw-instock-icon-36"></span>
              <div>
                <h2>{{ 'pw.instock.title' | translate }}</h2>
                <h5 class="pw-top-heading-container__sub-heading">
                  {{ 'pw.instock.titlehead' | translate }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mb-3">
        {{ 'pw.instock.interBoutiqueTransferHeaderText' | translate }}
      </h3>
      <p>
        {{ 'pw.interboutiqueTransfer.checkAvailabilityInfoText' | translate }}
      </p>
      <form [formGroup]="searchForm">
        <div class="row mt-3">
          <mat-form-field class="col-12 pw-search-bar pr-3">
            <input
              #searchBox
              matInput
              type="text"
              class="pw-input-box"
              placeholder="{{
                'pw.stockIssue.searchWithVariantCodeText' | translate
              }}"
              formControlName="searchValue"
            />
            <mat-icon matSuffix>
              <span
                class="pw-i-16 pw-search-icon-16"
                *ngIf="!searchForm.get('searchValue').value"
              ></span
            ></mat-icon>
            <mat-icon matSuffix *ngIf="searchForm.get('searchValue').value">
              <span
                (click)="clearSearch()"
                class="pw-i-10 pw-close-icon-16"
              ></span>
            </mat-icon>
          </mat-form-field>
          <div
            *ngFor="let valid of validationMessages.searchValue"
            class="col-12 pw-error-color"
          >
            <div
              *ngIf="
                searchForm.controls['searchValue'].hasError(valid.type) &&
                (searchForm.controls['searchValue'].dirty ||
                  searchForm.controls['searchValue'].touched)
              "
            >
              {{ valid.message }}
            </div>
          </div>
        </div>
      </form>

      <mat-accordion [formGroup]="itemForm">
        <mat-expansion-panel
          class="pw-accordion"
          [expanded]="allExpandState"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          [disabled]="itemList.controls.length === 0"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'pw.interboutiqueTransfer.variantCodesPanelText' | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row">
            <div
              class="col-lg-3 col-4"
              formArrayName="searchItem"
              *ngFor="let item of itemList.controls; let i = index"
            >
              <div class="pw-card" [formGroupName]="i">
                <div class="row pw-card__header">
                  <div class="col-auto">
                    {{ item.value.itemCode }}
                  </div>
                  <div class="col-auto ml-auto">
                    <span
                      class="pw-i-10 pw-close-icon-16"
                      (click)="removeSearchedItem(i)"
                    ></span>
                  </div>
                </div>
                <div class="row pw-card__body align-items-center">
                  <div class="col-auto">
                    <p>
                      {{
                        'pw.interboutiqueTransfer.itemListInlineText7'
                          | translate
                      }}
                    </p>
                  </div>
                  <div class="col">
                    <div class="row no-gutters pw-input-group">
                      <div class="col-6">
                        <input
                          type="number"
                          #quantity
                          class="pw-bg-input-box border-right pw-border-radius-left"
                          (keypress)="numberOnly($event)"
                          min="1"
                          formControlName="quantity"
                        />
                      </div>
                      <div class="col-3">
                        <button
                          class="pw-bg-input-box border-right"
                          (click)="increaseQuantity(i)"
                        >
                          <span class="pw-i-12 pw-plus-icon-12"></span>
                        </button>
                      </div>
                      <div class="col-3">
                        <button
                          (click)="decreaseQuantity(i)"
                          class="pw-bg-input-box pw-border-radius-right"
                        >
                          <span class="pw-i-12 pw-minus-icon-12"></span>
                        </button>
                      </div>
                    </div>
                    <div
                      *ngFor="let valid of validationMessages.quantity"
                      class="col-12 pw-error-color"
                    >
                      <div
                        *ngIf="
                          (item.get('quantity').dirty ||
                            item.get('quantity').touched) &&
                          item.get('quantity').hasError(valid.type)
                        "
                      >
                        {{ valid.message }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 pw-text-right">
            <button
              *ngIf="
                itemList.controls.length !== 0 && itemList.status === 'VALID'
              "
              (click)="checkAvailability()"
              class="pw-btn pw-accent-btn"
            >
              {{ 'pw.instock.checkAvailablityButtonText' | translate }}
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <p *ngIf="boutiqueListCount !== 0" class="pt-4 pb-2">
        {{ 'pw.interboutiqueTransfer.availableBoutiquesInfoText' | translate }}
      </p>
      <!-- TODO: all details need to be added when masters is ready, pagination need to be removed when filter is added -->
      <!-- boutique list -->
      <poss-web-card-list
        *ngIf="boutiqueList"
        [count]="boutiqueListCount"
        [dataList]="boutiqueList"
        [pageSize]="pageSize"
        (selected)="onSelectedBoutique($event)"
        (loadMore)="loadBoutiques($event)"
      >
        <ng-template let-item="data">
          <poss-web-card-title> {{ item.locationCode }}</poss-web-card-title>
          <poss-web-card-subtitle>{{ item.address }}</poss-web-card-subtitle>
          <poss-web-card-content>
            <p>
              {{ item.contactNumber }}
            </p>
          </poss-web-card-content>
        </ng-template>
      </poss-web-card-list>
      <!-- loader -->
      <poss-web-loader *ngIf="isLoading"> </poss-web-loader>
    </div>
  </div>
</div>
