<div class="pw-detail-card" (click)="getItemCode(itemDetailsList.itemCode)">
  <a>
    <div class="row align-items-center">
      <div class="col-3">
        <p class="pw-fourth-color">{{'pw.itemMaster.itemMasterCode' | translate}}</p>
        <div class="mt-2">
          <b>{{ itemDetailsList.itemCode }}</b>
        </div>
      </div>

      <div class="col-lg-8 col-7">
        <p class="pw-fourth-color">{{'pw.itemMaster.itemMasterDescription' | translate}}</p>
        <p class="mt-2">
          <b>{{ itemDetailsList.description }}</b>
        </p>
      </div>
    </div>
  </a>
</div>
